[tool.poetry]
name = "notional"
version = "0.4.3"
description = "A high-level interface for the Notion SDK."
license = "MIT"
authors = ["Jason Heddings <jheddings@gmail.com>"]
repository = "https://github.com/jheddings/notional/"
documentation = "https://jheddings.github.io/notional/"
readme = "README.md"
classifiers=[
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Libraries :: Python Modules"
]


[tool.poetry.dependencies]
python = "^3.8"
notion-client = "^1.0.0"
pydantic = "^1.9.1"
html5lib = "^1.1"
urllib3 = "^1.26.10"
emoji = "^2.0"

[tool.poetry.dev-dependencies]
GitPython = "^3"
pre-commit = "^2.19"
pytest = "^7.1"
coverage = "^6.4"
pytest-vcr = "^1.0"
click = "^8.1.3"
black = "^22.6.0"
isort = "^5.10.1"
flake8 = "^4.0.1"
mkdocs = "^1.3.1"
mkdocstrings = "^0.19.0"
mkdocs-material = "^8.3.9"
mkdocstrings-python = "^0.7.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
