interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_icon (setup)",
      "text": {"content": "tests/test_orm.py::test_orm_icon (setup)"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Index": {"type": "number", "number":
      {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text": {}}, "Complete":
      {"type": "checkbox", "checkbox": {}}, "Due Date": {"type": "date", "date": {}},
      "Tags": {"type": "multi_select", "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"15bbf791-ead5-43c2-aeff-dbe370a78ab5","cover":null,"icon":null,"created_time":"2022-12-14T04:25:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-14T04:25:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_icon
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_icon
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"%3BRA%5E","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Complete":{"id":"LDzi","name":"Complete","type":"checkbox","checkbox":{}},"Due
      Date":{"id":"icOR","name":"Due Date","type":"date","date":{}},"Index":{"id":"nNi%5B","name":"Index","type":"number","number":{"format":"number"}},"Notes":{"id":"oWXm","name":"Notes","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/15bbf791ead543c2aeffdbe370a78ab5","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "15bbf791-ead5-43c2-aeff-dbe370a78ab5"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"87290761-a966-4374-987a-ca90c20de8b6","created_time":"2022-12-14T04:25:00.000Z","last_edited_time":"2022-12-14T04:25:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"15bbf791-ead5-43c2-aeff-dbe370a78ab5"},"archived":false,"properties":{"Tags":{"id":"%3BRA%5E","type":"multi_select","multi_select":[]},"Complete":{"id":"LDzi","type":"checkbox","checkbox":false},"Due
      Date":{"id":"icOR","type":"date","date":null},"Index":{"id":"nNi%5B","type":"number","number":null},"Notes":{"id":"oWXm","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/87290761a9664374987aca90c20de8b6"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83c\udf54"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/87290761a9664374987aca90c20de8b6
  response:
    content: "{\"object\":\"page\",\"id\":\"87290761-a966-4374-987a-ca90c20de8b6\",\"created_time\":\"2022-12-14T04:25:00.000Z\",\"last_edited_time\":\"2022-12-14T04:25:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F354\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"15bbf791-ead5-43c2-aeff-dbe370a78ab5\"},\"archived\":false,\"properties\":{\"Tags\":{\"id\":\"%3BRA%5E\",\"type\":\"multi_select\",\"multi_select\":[]},\"Complete\":{\"id\":\"LDzi\",\"type\":\"checkbox\",\"checkbox\":false},\"Due
      Date\":{\"id\":\"icOR\",\"type\":\"date\",\"date\":null},\"Index\":{\"id\":\"nNi%5B\",\"type\":\"number\",\"number\":null},\"Notes\":{\"id\":\"oWXm\",\"type\":\"rich_text\",\"rich_text\":[]},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[]}},\"url\":\"https://www.notion.so/87290761a9664374987aca90c20de8b6\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/15bbf791ead543c2aeffdbe370a78ab5
  response:
    content: '{"object":"block","id":"15bbf791-ead5-43c2-aeff-dbe370a78ab5","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-14T04:25:00.000Z","last_edited_time":"2022-12-14T04:26:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_icon
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
