interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_change_model_title
      (setup)", "text": {"content": "tests/test_orm.py::test_change_model_title (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"bde23aa5-8c66-4975-9d67-f2fda5de3335","cover":null,"icon":null,"created_time":"2022-12-23T02:05:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-23T02:05:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_change_model_title
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_change_model_title
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"%3BZS%7C","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Notes":{"id":"CV%3B~","name":"Notes","type":"rich_text","rich_text":{}},"Index":{"id":"N%60e%40","name":"Index","type":"number","number":{"format":"number"}},"Complete":{"id":"OaKy","name":"Complete","type":"checkbox","checkbox":{}},"Due
      Date":{"id":"rJXN","name":"Due Date","type":"date","date":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/bde23aa58c6649759d67f2fda5de3335","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "bde23aa5-8c66-4975-9d67-f2fda5de3335"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"d10d5663-fdd2-47f7-9764-8e208a5765f9","created_time":"2022-12-23T02:05:00.000Z","last_edited_time":"2022-12-23T02:05:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"bde23aa5-8c66-4975-9d67-f2fda5de3335"},"archived":false,"properties":{"Tags":{"id":"%3BZS%7C","type":"multi_select","multi_select":[]},"Notes":{"id":"CV%3B~","type":"rich_text","rich_text":[]},"Index":{"id":"N%60e%40","type":"number","number":null},"Complete":{"id":"OaKy","type":"checkbox","checkbox":false},"Due
      Date":{"id":"rJXN","type":"date","date":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/d10d5663fdd247f797648e208a5765f9"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/d10d5663fdd247f797648e208a5765f9
  response:
    content: '{"object":"page","id":"d10d5663-fdd2-47f7-9764-8e208a5765f9","created_time":"2022-12-23[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/bde23aa58c6649759d67f2fda5de3335
  response:
    content: '{"object":"block","id":"bde23aa5-8c66-4975-9d67-f2fda5de3335","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-23T02:05:00.000Z","last_edited_time":"2022-12-23T02:05:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_change_model_title
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
