interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "tests/test_records.py::test_create_simple_page (call)", "text": {"content":
      "tests/test_records.py::test_create_simple_page (call)"}}]}}, "children": [{"type":
      "heading_1", "object": "block", "has_children": false, "archived": false, "heading_1":
      {"rich_text": [{"type": "text", "plain_text": "Welcome to the Matrix", "text":
      {"content": "Welcome to the Matrix"}}], "color": "default"}}, {"type": "divider",
      "object": "block", "has_children": false, "archived": false, "divider": {}},
      {"type": "paragraph", "object": "block", "has_children": false, "archived":
      false, "paragraph": {"rich_text": [{"type": "text", "plain_text": "There is
      no spoon...", "text": {"content": "There is no spoon..."}}], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"135ecebc-ed70-4100-9cb3-f8daf0cb8fda","created_time":"2022-04-26T02:11:00.000Z","last_edited_time":"2022-04-26T02:11:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_records.py::test_create_simple_page
      (call)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_records.py::test_create_simple_page
      (call)","href":null}]}},"url":"https://www.notion.so/tests-test_records-py-test_create_simple_page-call-135ecebced7041009cb3f8daf0cb8fda"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: GET
    uri: https://api.notion.com/v1/blocks/135ecebced7041009cb3f8daf0cb8fda/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"c9ba19a6-61df-4ffc-a3e0-a30208260c79","created_time":"2022-04-26T02:11:00.000Z","last_edited_time":"2022-04-26T02:11:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"Welcome
      to the Matrix","link":null},"annotations":{"bold":false,"italic"[...]
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: PATCH
    uri: https://api.notion.com/v1/pages/135ecebced7041009cb3f8daf0cb8fda
  response:
    content: '{"object":"page","id":"135ecebc-ed70-4100-9cb3-f8daf0cb8fda","created_time":"2022-04-26T02:11:00.000Z","last_edited_time":"2022-04-26T02:11:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_records.py::test_create_simple_page
      (call)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_records.py::test_create_simple_page
      (call)","href":null}]}},"url":"https://www.notion.so/tests-test_records-py-test_create_simple_page-call-135ecebced7041009cb3f8daf0cb8fda"}'
    headers: {}
    status_code: 200
version: 1
