interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/4b6de8fd-dec5-472e-b630-f328f809944c
  response:
    content: '{"object":"block","id":"4b6de8fd-dec5-472e-b630-f328f809944c","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-03-23T04:40:00.000Z","last_edited_time":"2022-12-23T00:17:00.000Z","created_by":{"object":"user","id":"ea74294e-d4c7-41f0-8929-805c80ea0d7f"},"last_edited_by":{"object":"user","id":"ea74294e-d4c7-41f0-8929-805c80ea0d7f"},"has_children":false,"archived":false,"type":"bookmark","bookmark":{"caption":[],"url":"https://www.cs.cmu.edu/~rgs/alice-VII.html"}}'
    headers: {}
    status_code: 200
version: 1
