interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/aadef1ce443c474b9211f196fb2a893c
  response:
    content: '{"object":"block","id":"aadef1ce-443c-474b-9211-f196fb2a893c","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-01-31T03:42:00.000Z","last_edited_time":"2022-12-23T00:17:00.000Z","created_by":{"object":"user","id":"ea74294e-d4c7-41f0-8929-805c80ea0d7f"},"last_edited_by":{"object":"user","id":"ea74294e-d4c7-41f0-8929-805c80ea0d7f"},"has_children":false,"archived":false,"type":"table_of_contents","table_of_contents":{"color":"gray"}}'
    headers: {}
    status_code: 200
version: 1
