interactions:
- request:
    body: '{"children": [{"type": "divider", "object": "block", "has_children": false,
      "archived": false, "divider": {}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/250662d9-783d-483c-b131-341ed479f96c/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"9bdf1362-4e89-428e-bb9e-6de2c2755a56","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-04-07T02:00:00.000Z","last_edited_time":"2024-04-07T02:00:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"in_trash":false,"type":"divider","divider":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"c1488024-fa24-49cf-b6f9-9a5ffb421e89"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/9bdf1362-4e89-428e-bb9e-6de2c2755a56
  response:
    content: '{"object":"block","id":"9bdf1362-4e89-428e-bb9e-6de2c2755a56","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-04-07T02:00:00.000Z","last_edited_time":"2024-04-07T02:00:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"in_trash":false,"type":"divider","divider":{},"request_id":"6f810435-ee1d-4865-b79d-ffac5bcb3d6a"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/9bdf1362-4e89-428e-bb9e-6de2c2755a56
  response:
    content: '{"object":"block","id":"9bdf1362-4e89-428e-bb9e-6de2c2755a56","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-04-07T02:00:00.000Z","last_edited_time":"2024-04-07T02:00:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"in_trash":true,"type":"divider","divider":{},"request_id":"01ee316d-94c4-4287-ba95-1ae657cdfe73"}'
    headers: {}
    status_code: 200
version: 1
