interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/250662d9-783d-483c-b131-341ed479f96c
  response:
    content: '{"object":"page","id":"250662d9-783d-483c-b131-341ed479f96c","created_time":"2021-08-03T13:21:00.000Z","last_edited_time":"2024-04-07T02:01:00.000Z","created_by":{"object":"user","id":"ea74294e-d4c7-41f0-8929-805c80ea0d7f"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":{"type":"external","external":{"url":"https://images.unsplash.com/photo-1562380156-9a99cd92484c?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb"}},"icon":null,"parent":{"type":"page_id","page_id":"931a3b8b-875e-462d-a31d-29b49475d922"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Notional","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Notional","href":null}]}},"url":"https://www.notion.so/Notional-250662d9783d483cb131341ed479f96c","public_url":null,"request_id":"f78ea043-b993-40e8-8a3f-1d2ff64eed43"}'
    headers: {}
    status_code: 200
- request:
    body: '{"children": [{"type": "breadcrumb", "object": "block", "has_children":
      false, "archived": false, "breadcrumb": {}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/250662d9-783d-483c-b131-341ed479f96c/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"02bbf673-677a-417f-a5e1-34568aa22623","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-04-07T02:01:00.000Z","last_edited_time":"2024-04-07T02:01:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"in_trash":false,"type":"breadcrumb","breadcrumb":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"e41fec10-a935-4168-96cf-6d48ceae677e"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/02bbf673-677a-417f-a5e1-34568aa22623
  response:
    content: '{"object":"block","id":"02bbf673-677a-417f-a5e1-34568aa22623","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-04-07T02:01:00.000Z","last_edited_time":"2024-04-07T02:01:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"in_trash":false,"type":"breadcrumb","breadcrumb":{},"request_id":"5a78fc7c-6ab9-44f6-87d9-e8bbf9457180"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/02bbf673-677a-417f-a5e1-34568aa22623
  response:
    content: '{"object":"block","id":"02bbf673-677a-417f-a5e1-34568aa22623","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-04-07T02:01:00.000Z","last_edited_time":"2024-04-07T02:01:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"in_trash":true,"type":"breadcrumb","breadcrumb":{},"request_id":"467c7715-aeed-4d15-b9f8-c9b9cb895563"}'
    headers: {}
    status_code: 200
version: 1
