interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/250662d9-783d-483c-b131-341ed479f96c
  response:
    content: '{"object":"page","id":"250662d9-783d-483c-b131-341ed479f96c","created_time":"2021-08-03T13:21:00.000Z","last_edited_time":"2024-05-04T14:07:00.000Z","created_by":{"object":"user","id":"ea74294e-d4c7-41f0-8929-805c80ea0d7f"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":{"type":"external","external":{"url":"https://images.unsplash.com/photo-1562380156-9a99cd92484c?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb"}},"icon":null,"parent":{"type":"page_id","page_id":"931a3b8b-875e-462d-a31d-29b49475d922"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Notional","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Notional","href":null}]}},"url":"https://www.notion.so/Notional-250662d9783d483cb131341ed479f96c","public_url":null,"request_id":"68c01632-3058-449f-b292-a001b38e30fc"}'
    headers: {}
    status_code: 200
- request:
    body: '{"children": [{"type": "callout", "object": "block", "has_children": false,
      "archived": false, "callout": {"rich_text": [{"type": "text", "plain_text":
      "Attention!", "text": {"content": "Attention!"}}], "icon": {"type": "emoji",
      "emoji": "\u26a0\ufe0f"}, "color": "gray_background"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/250662d9-783d-483c-b131-341ed479f96c/children
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"ec4e5dc3-2cc9-4322-b523-5cdd33dba1d4\"\
      ,\"parent\":{\"type\":\"page_id\",\"page_id\":\"250662d9-783d-483c-b131-341ed479f96c\"\
      },\"created_time\":\"2024-05-04T14:07:00.000Z\",\"last_edited_time\":\"2024-05-04T14:07:00.000Z\"\
      ,\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"\
      },\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"\
      },\"has_children\":false,\"archived\":false,\"in_trash\":false,\"type\":\"callout\"\
      ,\"callout\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Attention!\"\
      ,\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\"\
      :false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\"\
      :\"Attention!\",\"href\":null}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u26A0\
      \uFE0F\"},\"color\":\"gray_background\"}}],\"next_cursor\":null,\"has_more\"\
      :false,\"type\":\"block\",\"block\":{},\"request_id\":\"859f86cf-b44a-4a1b-b869-e1f4500a61f5\"\
      }"
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/ec4e5dc3-2cc9-4322-b523-5cdd33dba1d4
  response:
    content: "{\"object\":\"block\",\"id\":\"ec4e5dc3-2cc9-4322-b523-5cdd33dba1d4\"\
      ,\"parent\":{\"type\":\"page_id\",\"page_id\":\"250662d9-783d-483c-b131-341ed479f96c\"\
      },\"created_time\":\"2024-05-04T14:07:00.000Z\",\"last_edited_time\":\"2024-05-04T14:07:00.000Z\"\
      ,\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"\
      },\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"\
      },\"has_children\":false,\"archived\":false,\"in_trash\":false,\"type\":\"callout\"\
      ,\"callout\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Attention!\"\
      ,\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\"\
      :false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\"\
      :\"Attention!\",\"href\":null}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u26A0\
      \uFE0F\"},\"color\":\"gray_background\"},\"request_id\":\"028bafc0-e3a4-4fb1-84d2-3476a6fe3029\"\
      }"
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/ec4e5dc3-2cc9-4322-b523-5cdd33dba1d4
  response:
    content: "{\"object\":\"block\",\"id\":\"ec4e5dc3-2cc9-4322-b523-5cdd33dba1d4\"\
      ,\"parent\":{\"type\":\"page_id\",\"page_id\":\"250662d9-783d-483c-b131-341ed479f96c\"\
      },\"created_time\":\"2024-05-04T14:07:00.000Z\",\"last_edited_time\":\"2024-05-04T14:07:00.000Z\"\
      ,\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"\
      },\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"\
      },\"has_children\":false,\"archived\":true,\"in_trash\":true,\"type\":\"callout\"\
      ,\"callout\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Attention!\"\
      ,\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\"\
      :false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\"\
      :\"Attention!\",\"href\":null}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u26A0\
      \uFE0F\"},\"color\":\"gray_background\"},\"request_id\":\"0dda3b1e-5f18-410a-9b3a-46d833f1082a\"\
      }"
    headers: {}
    status_code: 200
version: 1
