interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "42faa3d6-2b2e-46e8-8565-481c52fcd553"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_icon (setup)",
      "text": {"content": "tests/test_orm.py::test_orm_icon (setup)"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Index": {"type": "number", "number":
      {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text": {}}, "Complete":
      {"type": "checkbox", "checkbox": {}}, "Due Date": {"type": "date", "date": {}},
      "Tags": {"type": "multi_select", "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"5de9abfb-fcaa-4ebf-94ac-f959fb963817","cover":null,"icon":null,"created_time":"2022-12-16T04:44:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-16T04:44:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_icon
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_icon
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"%3DsL~","name":"Notes","type":"rich_text","rich_text":{}},"Complete":{"id":"RbGe","name":"Complete","type":"checkbox","checkbox":{}},"Tags":{"id":"%5CNTj","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Due
      Date":{"id":"oedV","name":"Due Date","type":"date","date":{}},"Index":{"id":"~%7Bqx","name":"Index","type":"number","number":{"format":"number"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"url":"https://www.notion.so/5de9abfbfcaa4ebf94acf959fb963817","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "5de9abfb-fcaa-4ebf-94ac-f959fb963817"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"8fa05e22-02c9-4db8-a721-24990a8ad207","created_time":"2022-12-16T04:44:00.000Z","last_edited_time":"2022-12-16T04:44:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"5de9abfb-fcaa-4ebf-94ac-f959fb963817"},"archived":false,"properties":{"Notes":{"id":"%3DsL~","type":"rich_text","rich_text":[]},"Complete":{"id":"RbGe","type":"checkbox","checkbox":false},"Tags":{"id":"%5CNTj","type":"multi_select","multi_select":[]},"Due
      Date":{"id":"oedV","type":"date","date":null},"Index":{"id":"~%7Bqx","type":"number","number":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/8fa05e2202c94db8a72124990a8ad207"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83c\udf54"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/8fa05e2202c94db8a72124990a8ad207
  response:
    content: "{\"object\":\"page\",\"id\":\"8fa05e22-02c9-4db8-a721-24990a8ad207\",\"created_time\":\"2022-12-16T04:44:00.000Z\",\"last_edited_time\":\"2022-12-16T04:44:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F354\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"5de9abfb-fcaa-4ebf-94ac-f959fb963817\"},\"archived\":false,\"properties\":{\"Notes\":{\"id\":\"%3DsL~\",\"type\":\"rich_text\",\"rich_text\":[]},\"Complete\":{\"id\":\"RbGe\",\"type\":\"checkbox\",\"checkbox\":false},\"Tags\":{\"id\":\"%5CNTj\",\"type\":\"multi_select\",\"multi_select\":[]},\"Due
      Date\":{\"id\":\"oedV\",\"type\":\"date\",\"date\":null},\"Index\":{\"id\":\"~%7Bqx\",\"type\":\"number\",\"number\":null},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[]}},\"url\":\"https://www.notion.so/8fa05e2202c94db8a72124990a8ad207\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/5de9abfbfcaa4ebf94acf959fb963817
  response:
    content: '{"object":"block","id":"5de9abfb-fcaa-4ebf-94ac-f959fb963817","parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"created_time":"2022-12-16T04:44:00.000Z","last_edited_time":"2022-12-16T04:44:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_icon
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
