interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_simple_model
      (setup)", "text": {"content": "tests/test_orm.py::test_simple_model (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"40722c76-a72f-4e51-982c-127065b825bc","cover":null,"icon":null,"created_time":"2024-04-07T02:01:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2024-04-07T02:01:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_simple_model
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_simple_model
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"EZ~Z","name":"Notes","type":"rich_text","rich_text":{}},"Due
      Date":{"id":"KtSQ","name":"Due Date","type":"date","date":{}},"Tags":{"id":"bntL","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Complete":{"id":"t%7DT%5E","name":"Complete","type":"checkbox","checkbox":{}},"Index":{"id":"vBCK","name":"Index","type":"number","number":{"format":"number"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/40722c76a72f4e51982c127065b825bc","public_url":null,"archived":false,"in_trash":false,"request_id":"fcc9fb74-4904-4e1e-bc10-a90fd5d465f4"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "40722c76-a72f-4e51-982c-127065b825bc"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"cffa08ef-e809-476f-a1fc-5e650457927b","created_time":"2024-04-07T02:01:00.000Z","last_edited_time":"2024-04-07T02:01:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"40722c76-a72f-4e51-982c-127065b825bc"},"archived":false,"in_trash":false,"properties":{"Notes":{"id":"EZ~Z","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"KtSQ","type":"date","date":null},"Tags":{"id":"bntL","type":"multi_select","multi_select":[]},"Complete":{"id":"t%7DT%5E","type":"checkbox","checkbox":false},"Index":{"id":"vBCK","type":"number","number":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/cffa08efe809476fa1fc5e650457927b","public_url":null,"request_id":"64df41d3-f026-44b2-a248-5ed336381427"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "One&Only", "text": {"content": "One&Only"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/cffa08efe809476fa1fc5e650457927b
  response:
    content: '{"object":"page","id":"cffa08ef-e809-476f-a1fc-5e650457927b","created_time":"2024[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/40722c76-a72f-4e51-982c-127065b825bc
  response:
    content: '{"object":"block","id":"40722c76-a72f-4e51-982c-127065b825bc","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-04-07T02:01:00.000Z","last_edited_time":"2024-04-07T02:01:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_simple_model
      (setup)"},"request_id":"3473dac6-17b1-44e0-aeb4-9a438416ae77"}'
    headers: {}
    status_code: 200
version: 1
