interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_query.py::test_query_database
      (setup)", "text": {"content": "tests/test_query.py::test_query_database (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"f1c9e20a-8267-4ee9-9742-9277c31f4f62","cover":null,"icon":null,"created_time":"2024-04-07T02:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2024-04-07T02:02:00.000Z","title":[{"type":"text","text":{"content":"tests/test_query.py::test_query_database
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_query.py::test_query_database
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Index":{"id":"%40oIF","name":"Index","type":"number","number":{"format":"number"}},"Complete":{"id":"EcqM","name":"Complete","type":"checkbox","checkbox":{}},"Notes":{"id":"J%7BcN","name":"Notes","type":"rich_text","rich_text":{}},"Due
      Date":{"id":"%60pKQ","name":"Due Date","type":"date","date":{}},"Tags":{"id":"k%7BQT","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/f1c9e20a82674ee997429277c31f4f62","public_url":null,"archived":false,"in_trash":false,"request_id":"f29caa03-7a63-4225-951b-9986421f981b"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "f1c9e20a-8267-4ee9-9742-9277c31f4f62"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Find Me!", "text": {"content": "Find Me!"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"7a1f17ba-5de0-49d7-bf36-24bd7cbb5072","created_time":"2024-04-07T0[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/f1c9e20a-8267-4ee9-9742-9277c31f4f62/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"7a1f17ba-5de0-49d7-bf36-24bd7cbb5072","created_time":"2024-04-07T02:02:00.000Z","last_edited_time":"2024-04-07T02:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"f1c9e20a-8267-4ee9-9742-9277c31f4f62"},"archived":false,"in_trash":false,"properties":{"Index":{"id":"%40oIF","type":"number","number":null},"Complete":{"id":"EcqM","type":"checkbox","checkbox":false},"Notes":{"id":"J%7BcN","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"%60pKQ","type":"date","date":null},"Tags":{"id":"k%7BQT","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Find
      Me!","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Find
      Me!","href":null}]}},"url":"https://www.notion.so/Find-Me-7a1f17ba5de049d7bf3624bd7cbb5072","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"24e0ca3c-1898-4844-aa24-c9258505720a"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/f1c9e20a-8267-4ee9-9742-9277c31f4f62
  response:
    content: '{"object":"block","id":"f1c9e20a-8267-4ee9-9742-9277c31f4f62","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-04-07T02:02:00.000Z","last_edited_time":"2024-04-07T02:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"tests/test_query.py::test_query_database
      (setup)"},"request_id":"e7a72618-3269-4de9-b97e-1070c86fc9f6"}'
    headers: {}
    status_code: 200
version: 1
