interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_simple_model_with_children
      (setup)", "text": {"content": "tests/test_orm.py::test_simple_model_with_children
      (setup)"}}], "properties": {"Name": {"type": "title", "title": {}}, "Index":
      {"type": "number", "number": {"format": "number"}}, "Notes": {"type": "rich_text",
      "rich_text": {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date":
      {"type": "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a0460125-fab4-4112-a195-236c1da355af","cover":null,"icon":null,"created_time":"2024-04-07T02:01:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2024-04-07T02:01:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_simple_model_with_children
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_simple_model_with_children
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Complete":{"id":"Fuuq","name":"Complete","type":"checkbox","checkbox":{}},"Due
      Date":{"id":"F~B%3D","name":"Due Date","type":"date","date":{}},"Index":{"id":"_LNd","name":"Index","type":"number","number":{"format":"number"}},"Tags":{"id":"efiK","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Notes":{"id":"tHcI","name":"Notes","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/a0460125fab44112a195236c1da355af","public_url":null,"archived":false,"in_trash":false,"request_id":"c8c0f36a-0870-4016-b288-9c4d5e1f724c"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "a0460125-fab4-4112-a195-236c1da355af"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"f8278925-005f-47fc-8418-d73fba8e611f","created_time":"2024-04-07T02:01:00.000Z","last_edited_time":"2024-04-07T02:01:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"a0460125-fab4-4112-a195-236c1da355af"},"archived":false,"in_trash":false,"properties":{"Complete":{"id":"Fuuq","type":"checkbox","checkbox":false},"Due
      Date":{"id":"F~B%3D","type":"date","date":null},"Index":{"id":"_LNd","type":"number","number":null},"Tags":{"id":"efiK","type":"multi_select","multi_select":[]},"Notes":{"id":"tHcI","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/f8278925005f47fc8418d73fba8e611f","public_url":null,"request_id":"89cfdfd3-f16b-44fa-992a-6f1f99968109"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/f8278925005f47fc8418d73fba8e611f
  response:
    content: '{"object":"page","id":"f8278925-005f-47fc-8418-d73fba8e611f","created_time":"2024-04-07[...]
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "archived": false, "heading_1": {"rich_text": [{"type": "text", "plain_text":
      "New Business", "text": {"content": "New Business"}}], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/f8278925-005f-47fc-8418-d73fba8e611f/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"78b32008-bdcb-4538-90fb-871032362c96","parent":{"type":"page_id","page_id":"f8278925-005f-47fc-8418-d73fba8e611f"},"created_time":"2024-04-07T02:01:00.000Z","last_edited_time":"2024-04-07T02:01:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"New
      Business","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      Business","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"c104f81d-33b3-446e-a0f9-29bd1c22cb12"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/f8278925-005f-47fc-8418-d73fba8e611f/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"78b32008-bdcb-4538-90fb-871032362c96","parent":{"type":"page_id","page_id":"f8278925-005f-47fc-8418-d73fba8e611f"},"created_time":"2024-04-07T02:01:00.000Z","last_edited_time":"2024-04-07T02:01:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"New
      Business","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      Business","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"a912e192-b94d-4c61-8f2e-ade0b6198ab6"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/a0460125-fab4-4112-a195-236c1da355af
  response:
    content: '{"object":"block","id":"a0460125-fab4-4112-a195-236c1da355af","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-04-07T02:01:00.000Z","last_edited_time":"2024-04-07T02:01:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_simple_model_with_children
      (setup)"},"request_id":"4e0d8006-f97b-4c78-8d6c-be138bb219c3"}'
    headers: {}
    status_code: 200
version: 1
