interactions:
- request:
    body: '{"children": [{"type": "callout", "object": "block", "has_children": false,
      "archived": false, "callout": {"text": [{"type": "text", "plain_text": "Reppearing
      blocks!", "text": {"content": "Reppearing blocks!"}}], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2021-08-16'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/250662d9783d483cb131341ed479f96c/children
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"97af9032-20f5-497f-b941-98985599aa55\",\"created_time\":\"2022-04-25T02:40:00.000Z\",\"last_edited_time\":\"2022-04-25T02:40:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"has_children\":false,\"archived\":false,\"type\":\"callout\",\"callout\":{\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F4A1\"},\"color\":\"default\",\"text\":[{\"type\":\"text\",\"text\":{\"content\":\"Reppearing
      blocks!\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Reppearing
      blocks!\",\"href\":null}]}}],\"next_cursor\":null,\"has_more\":false}"
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2021-08-16'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/97af903220f5497fb94198985599aa55
  response:
    content: "{\"object\":\"block\",\"id\":\"97af9032-20f5-497f-b941-98985599aa55\",\"created_time\":\"2022-04-25T02:40:00.000Z\",\"last_edited_time\":\"2022-04-25T02:40:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"has_children\":false,\"archived\":true,\"type\":\"callout\",\"callout\":{\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F4A1\"},\"color\":\"default\",\"text\":[{\"type\":\"text\",\"text\":{\"content\":\"Reppearing
      blocks!\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Reppearing
      blocks!\",\"href\":null}]}}"
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2021-08-16'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/97af903220f5497fb94198985599aa55
  response:
    content: "{\"object\":\"block\",\"id\":\"97af9032-20f5-497f-b941-98985599aa55\",\"created_time\":\"2022-04-25T02:40:00.000Z\",\"last_edited_time\":\"2022-04-25T02:40:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"has_children\":false,\"archived\":true,\"type\":\"callout\",\"callout\":{\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F4A1\"},\"color\":\"default\",\"text\":[{\"type\":\"text\",\"text\":{\"content\":\"Reppearing
      blocks!\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Reppearing
      blocks!\",\"href\":null}]}}"
    headers: {}
    status_code: 200
version: 1
