interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_missing_property
      (setup)", "text": {"content": "tests/test_orm.py::test_missing_property (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"f4a2830d-567b-404a-afc2-e3adbecefe23","cover":null,"icon":null,"created_time":"2022-12-31T19:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-31T19:19:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_missing_property
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_missing_property
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Due
      Date":{"id":"MzP%5C","name":"Due Date","type":"date","date":{}},"Tags":{"id":"QM%40%3D","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Complete":{"id":"dhUq","name":"Complete","type":"checkbox","checkbox":{}},"Index":{"id":"iQIC","name":"Index","type":"number","number":{"format":"number"}},"Notes":{"id":"mjel","name":"Notes","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/f4a2830d567b404aafc2e3adbecefe23","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "f4a2830d-567b-404a-afc2-e3adbecefe23"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"ef523e74-555e-4b57-b3f0-0e33f6e5bd41","created_time":"2022-12-31T19:19:00.000Z","last_edited_time":"2022-12-31T19:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"f4a2830d-567b-404a-afc2-e3adbecefe23"},"archived":false,"properties":{"Due
      Date":{"id":"MzP%5C","type":"date","date":null},"Tags":{"id":"QM%40%3D","type":"multi_select","multi_select":[]},"Complete":{"id":"dhUq","type":"checkbox","checkbox":false},"Index":{"id":"iQIC","type":"number","number":null},"Notes":{"id":"mjel","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/ef523e74555e4b57b3f00e33f6e5bd41"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "MissingProp", "text": {"content": "MissingProp"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/ef523e74555e4b57b3f00e33f6e5bd41
  response:
    content: '{"object":"page","id":"ef523e74-555e-4b57-b3f0-0e33f6e5bd41","created_time"[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/f4a2830d-567b-404a-afc2-e3adbecefe23
  response:
    content: '{"object":"block","id":"f4a2830d-567b-404a-afc2-e3adbecefe23","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-31T19:19:00.000Z","last_edited_time":"2022-12-31T19:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_missing_property
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
