interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "tests/test_pages.py::test_create_empty_page (setup)", "text": {"content": "tests/test_pages.py::test_create_empty_page
      (setup)"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"0cabdc2f-f3d8-44d1-ba68-78c1d3de621d","created_time":"2023-01-26T05:34:00.000Z","last_edited_time":"2023-01-26T05:34:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_pages.py::test_create_empty_page
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_pages.py::test_create_empty_page
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_pages-py-test_create_empty_page-setup-0cabdc2ff3d844d1ba6878c1d3de621d"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/0cabdc2f-f3d8-44d1-ba68-78c1d3de621d
  response:
    content: '{"object":"page","id":"0cabdc2f-f3d8-44d1-ba68-78c1d3de621d","created_time":"2023-01-26T05:34:00.000Z","last_edited_time":"2023-01-26T05:34:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_pages.py::test_create_empty_page
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_pages.py::test_create_empty_page
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_pages-py-test_create_empty_page-setup-0cabdc2ff3d844d1ba6878c1d3de621d"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/0cabdc2f-f3d8-44d1-ba68-78c1d3de621d/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/0cabdc2ff3d844d1ba6878c1d3de621d
  response:
    content: '{"object":"page","id":"0cabdc2f-f3d8-44d1-ba68-78c1d3de621d","created_time":"2023-01-26T05:34:00.000Z","last_edited_time":"2023-01-26T05:34:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_pages.py::test_create_empty_page
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_pages.py::test_create_empty_page
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_pages-py-test_create_empty_page-setup-0cabdc2ff3d844d1ba6878c1d3de621d"}'
    headers: {}
    status_code: 200
version: 1
