interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_query.py::test_query_database
      (setup)", "text": {"content": "tests/test_query.py::test_query_database (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"e3fa8a16-d127-426a-9438-bcedf0aa5e49","cover":null,"icon":null,"created_time":"2024-05-04T14:08:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2024-05-04T14:08:00.000Z","title":[{"type":"text","text":{"content":"tests/test_query.py::test_query_database
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_query.py::test_query_database
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"WRLi","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Due
      Date":{"id":"Y%3B%3Ei","name":"Due Date","type":"date","date":{}},"Index":{"id":"%5CLzc","name":"Index","type":"number","number":{"format":"number"}},"Notes":{"id":"rIZG","name":"Notes","type":"rich_text","rich_text":{}},"Complete":{"id":"zDcB","name":"Complete","type":"checkbox","checkbox":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/e3fa8a16d127426a9438bcedf0aa5e49","public_url":null,"archived":false,"in_trash":false,"request_id":"8bc0034d-5025-44b9-b587-633e85e5617a"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "e3fa8a16-d127-426a-9438-bcedf0aa5e49"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Find Me!", "text": {"content": "Find Me!"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"43cb758a-8b8c-472c-b9c2-fdc8187e1996","created_time":"2024-05-04T1[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/e3fa8a16-d127-426a-9438-bcedf0aa5e49/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"43cb758a-8b8c-472c-b9c2-fdc8187e1996","created_time":"2024-05-04T14:08:00.000Z","last_edited_time":"2024-05-04T14:08:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"e3fa8a16-d127-426a-9438-bcedf0aa5e49"},"archived":false,"in_trash":false,"properties":{"Tags":{"id":"WRLi","type":"multi_select","multi_select":[]},"Due
      Date":{"id":"Y%3B%3Ei","type":"date","date":null},"Index":{"id":"%5CLzc","type":"number","number":null},"Notes":{"id":"rIZG","type":"rich_text","rich_text":[]},"Complete":{"id":"zDcB","type":"checkbox","checkbox":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Find
      Me!","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Find
      Me!","href":null}]}},"url":"https://www.notion.so/Find-Me-43cb758a8b8c472cb9c2fdc8187e1996","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"c7fe95c3-c890-4f75-911c-d0d29bb17222"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/e3fa8a16-d127-426a-9438-bcedf0aa5e49
  response:
    content: '{"object":"block","id":"e3fa8a16-d127-426a-9438-bcedf0aa5e49","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-05-04T14:08:00.000Z","last_edited_time":"2024-05-04T14:08:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"tests/test_query.py::test_query_database
      (setup)"},"request_id":"13b031d3-de55-4847-bc19-14f0e6aac95b"}'
    headers: {}
    status_code: 200
version: 1
