interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_icon (setup)",
      "text": {"content": "tests/test_orm.py::test_orm_icon (setup)"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Index": {"type": "number", "number":
      {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text": {}}, "Complete":
      {"type": "checkbox", "checkbox": {}}, "Due Date": {"type": "date", "date": {}},
      "Tags": {"type": "multi_select", "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"40d3d76b-afbc-4210-95e5-59552a757440","cover":null,"icon":null,"created_time":"2023-01-26T05:33:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-01-26T05:33:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_icon
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_icon
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"NDfg","name":"Notes","type":"rich_text","rich_text":{}},"Tags":{"id":"R%5EIM","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Due
      Date":{"id":"SDCX","name":"Due Date","type":"date","date":{}},"Index":{"id":"Tew%5C","name":"Index","type":"number","number":{"format":"number"}},"Complete":{"id":"vPYu","name":"Complete","type":"checkbox","checkbox":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/40d3d76bafbc421095e559552a757440","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "40d3d76b-afbc-4210-95e5-59552a757440"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"572abda7-2423-4901-b808-9f1367ad1151","created_time":"2023-01-26T05:33:00.000Z","last_edited_time":"2023-01-26T05:33:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"40d3d76b-afbc-4210-95e5-59552a757440"},"archived":false,"properties":{"Notes":{"id":"NDfg","type":"rich_text","rich_text":[]},"Tags":{"id":"R%5EIM","type":"multi_select","multi_select":[]},"Due
      Date":{"id":"SDCX","type":"date","date":null},"Index":{"id":"Tew%5C","type":"number","number":null},"Complete":{"id":"vPYu","type":"checkbox","checkbox":false},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/572abda724234901b8089f1367ad1151"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83c\udf54"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/572abda724234901b8089f1367ad1151
  response:
    content: "{\"object\":\"page\",\"id\":\"572abda7-2423-4901-b808-9f1367ad1151\",\"created_time\":\"2023-01-26T05:33:00.000Z\",\"last_edited_time\":\"2023-01-26T05:33:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F354\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"40d3d76b-afbc-4210-95e5-59552a757440\"},\"archived\":false,\"properties\":{\"Notes\":{\"id\":\"NDfg\",\"type\":\"rich_text\",\"rich_text\":[]},\"Tags\":{\"id\":\"R%5EIM\",\"type\":\"multi_select\",\"multi_select\":[]},\"Due
      Date\":{\"id\":\"SDCX\",\"type\":\"date\",\"date\":null},\"Index\":{\"id\":\"Tew%5C\",\"type\":\"number\",\"number\":null},\"Complete\":{\"id\":\"vPYu\",\"type\":\"checkbox\",\"checkbox\":false},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[]}},\"url\":\"https://www.notion.so/572abda724234901b8089f1367ad1151\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/40d3d76b-afbc-4210-95e5-59552a757440
  response:
    content: '{"object":"block","id":"40d3d76b-afbc-4210-95e5-59552a757440","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-01-26T05:33:00.000Z","last_edited_time":"2023-01-26T05:33:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_icon
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
