interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_query.py::test_compound_filter
      (setup)", "text": {"content": "tests/test_query.py::test_compound_filter (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a673450f-a96f-4bb4-a232-d59687a05023","cover":null,"icon":null,"created_time":"2023-01-19T00:59:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-01-19T00:59:00.000Z","title":[{"type":"text","text":{"content":"tests/test_query.py::test_compound_filter
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_query.py::test_compound_filter
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Due
      Date":{"id":"A%3EGa","name":"Due Date","type":"date","date":{}},"Tags":{"id":"BI%7B~","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Index":{"id":"Gtog","name":"Index","type":"number","number":{"format":"number"}},"Notes":{"id":"O%3DFN","name":"Notes","type":"rich_text","rich_text":{}},"Complete":{"id":"%5B%3FGc","name":"Complete","type":"checkbox","checkbox":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/a673450fa96f4bb4a232d59687a05023","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "a673450f-a96f-4bb4-a232-d59687a05023"},
      "properties": {"Index": {"type": "number", "number": 0.0}, "title": {"type":
      "title", "title": [{"type": "text", "plain_text": "Item 0", "text": {"content":
      "Item 0"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3161369b-4575-495d-a[...]
[...]
- request:
    body: '{"filter": {"and": [{"property": "Index", "number": {"greater_than": 3.0}},
      {"property": "Index", "number": {"less_than_or_equal_to": 8.0}}, {"property":
      "Name", "rich_text": {"contains": "Item"}}]}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/a673450f-a96f-4bb4-a232-d59687a05023/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"24fed06a-2435-440d-be11-f4fc31b2b903","created_time":"2023-01-19T00:59:00.000Z","last_edited_time":"2023-01-19T00:59:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"a673450f-a96f-4bb4-a232-d59687a05023"},"archived":false,"properties":{"Due
      Date":{"id":"A%3EGa","type":"date","date":nu[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/a673450f-a96f-4bb4-a232-d59687a05023
  response:
    content: '{"object":"block","id":"a673450f-a96f-4bb4-a232-d59687a05023","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-01-19T00:59:00.000Z","last_edited_time":"2023-01-19T00:59:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_query.py::test_compound_filter
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
