interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_simple_model
      (setup)", "text": {"content": "tests/test_orm.py::test_simple_model (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"1aa6c7c0-6106-417e-a7be-4b5e6e3cffa1","cover":null,"icon":null,"created_time":"2023-01-19T01:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-01-19T01:19:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_simple_model
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_simple_model
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"%3AQVz","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Index":{"id":"%3BaDK","name":"Index","type":"number","number":{"format":"number"}},"Due
      Date":{"id":"AVPY","name":"Due Date","type":"date","date":{}},"Complete":{"id":"%60urF","name":"Complete","type":"checkbox","checkbox":{}},"Notes":{"id":"k%3DF%3E","name":"Notes","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/1aa6c7c06106417ea7be4b5e6e3cffa1","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "1aa6c7c0-6106-417e-a7be-4b5e6e3cffa1"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"b7df34e5-4c13-41c1-a830-4d5e799fec89","created_time":"2023-01-19T01:19:00.000Z","last_edited_time":"2023-01-19T01:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"1aa6c7c0-6106-417e-a7be-4b5e6e3cffa1"},"archived":false,"properties":{"Tags":{"id":"%3AQVz","type":"multi_select","multi_select":[]},"Index":{"id":"%3BaDK","type":"number","number":null},"Due
      Date":{"id":"AVPY","type":"date","date":null},"Complete":{"id":"%60urF","type":"checkbox","checkbox":false},"Notes":{"id":"k%3DF%3E","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/b7df34e54c1341c1a8304d5e799fec89"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "One&Only", "text": {"content": "One&Only"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/b7df34e54c1341c1a8304d5e799fec89
  response:
    content: '{"object":"page","id":"b7df34e5-4c13-41c1-a830-4d5e799fec89","created_time":"2023[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/1aa6c7c0-6106-417e-a7be-4b5e6e3cffa1
  response:
    content: '{"object":"block","id":"1aa6c7c0-6106-417e-a7be-4b5e6e3cffa1","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-01-19T01:19:00.000Z","last_edited_time":"2023-01-19T01:20:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_simple_model
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
