interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_query
      (setup)", "text": {"content": "tests/test_orm.py::test_orm_query (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"ea2126a3-1800-45e2-85ee-405cf28bd216","cover":null,"icon":null,"created_time":"2023-08-02T04:40:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-08-02T04:40:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_query
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_query
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Index":{"id":"T_t%5D","name":"Index","type":"number","number":{"format":"number"}},"Tags":{"id":"XnCD","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Due
      Date":{"id":"Y%3FFS","name":"Due Date","type":"date","date":{}},"Complete":{"id":"bbZr","name":"Complete","type":"checkbox","checkbox":{}},"Notes":{"id":"j%3AaK","name":"Notes","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/ea2126a3180045e285ee405cf28bd216","public_url":null,"archived":false}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/ea2126a3-1800-45e2-85ee-405cf28bd216
  response:
    content: '{"object":"block","id":"ea2126a3-1800-45e2-85ee-405cf28bd216","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-08-02T04:40:00.000Z","last_edited_time":"2023-08-02T04:40:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_query
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
