interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_query
      (setup)", "text": {"content": "tests/test_orm.py::test_orm_query (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"74a6ab05-799e-47df-b2fc-1efa0f33be57","cover":null,"icon":null,"created_time":"2022-12-31T19:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-31T19:19:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_query
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_query
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"L%40gC","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Complete":{"id":"RqFF","name":"Complete","type":"checkbox","checkbox":{}},"Notes":{"id":"eiU%5C","name":"Notes","type":"rich_text","rich_text":{}},"Index":{"id":"kf~%5E","name":"Index","type":"number","number":{"format":"number"}},"Due
      Date":{"id":"vTP%3A","name":"Due Date","type":"date","date":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/74a6ab05799e47dfb2fc1efa0f33be57","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "74a6ab05-799e-47df-b2fc-1efa0f33be57"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"b9d79243-40a3-4b01-b516-06a7f29f8eea","created_time":"2022-12-31T19:19:00.000Z","last_edited_time":"2022-12-31T19:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"74a6ab05-799e-47df-b2fc-1efa0f33be57"},"archived":false,"properties":{"Tags":{"id":"L%40gC","type":"multi_select","multi_select":[]},"Complete":{"id":"RqFF","type":"checkbox","checkbox":false},"Notes":{"id":"eiU%5C","type":"rich_text","rich_text":[]},"Index":{"id":"kf~%5E","type":"number","number":null},"Due
      Date":{"id":"vTP%3A","type":"date","date":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/b9d7924340a34b01b51606a7f29f8eea"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Needle", "text": {"content": "Needle"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/b9d7924340a34b01b51606a7f29f8eea
  response:
    content: '{"object":"page","id":"b9d79243-40a3-4b01-b516-06a7f29f8eea","created_time":"2022-12-[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/74a6ab05-799e-47df-b2fc-1efa0f33be57/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"b9d79243-40a3-4b01-b516-06a7f29f8eea","created_time":"2022-12-31T19:19:00.000Z","last_edited_time":"2022-12-31T19:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"74a6ab05-799e-47df-b2fc-1efa0f33be57"},"archived":false,"properties":{"Tags":{"id":"L%40gC","type":"multi_select","multi_select":[]},"Complete":{"id":"RqFF","type":"checkbox","checkbox":false},"Notes":{"id":"eiU%5C","type":"rich_text","rich_text":[]},"Index":{"id":"kf~%5E","type":"number","number":null},"Due
      Date":{"id":"vTP%3A","type":"date","date":null},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Needle","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Needle","href":null}]}},"url":"https://www.notion.so/Needle-b9d7924340a34b01b51606a7f29f8eea"}],"next_cursor":null,"has_more":false,"type":"page","page":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/74a6ab05-799e-47df-b2fc-1efa0f33be57
  response:
    content: '{"object":"block","id":"74a6ab05-799e-47df-b2fc-1efa0f33be57","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-31T19:19:00.000Z","last_edited_time":"2022-12-31T19:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_query
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
