interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_icon (setup)",
      "text": {"content": "tests/test_orm.py::test_orm_icon (setup)"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Index": {"type": "number", "number":
      {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text": {}}, "Complete":
      {"type": "checkbox", "checkbox": {}}, "Due Date": {"type": "date", "date": {}},
      "Tags": {"type": "multi_select", "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"1a9d766b-8066-489f-93d7-0a408b58b069","cover":null,"icon":null,"created_time":"2023-03-21T19:32:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-03-21T19:32:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_icon
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_icon
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Index":{"id":"T%5DjJ","name":"Index","type":"number","number":{"format":"number"}},"Due
      Date":{"id":"et%5DA","name":"Due Date","type":"date","date":{}},"Complete":{"id":"h%5Eyl","name":"Complete","type":"checkbox","checkbox":{}},"Tags":{"id":"vBwK","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Notes":{"id":"%7DW%5Bd","name":"Notes","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/1a9d766b8066489f93d70a408b58b069","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "1a9d766b-8066-489f-93d7-0a408b58b069"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"9397f792-5047-47de-acc7-2c8994d37c62","created_time":"2023-03-21T19:32:00.000Z","last_edited_time":"2023-03-21T19:32:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"1a9d766b-8066-489f-93d7-0a408b58b069"},"archived":false,"properties":{"Index":{"id":"T%5DjJ","type":"number","number":null},"Due
      Date":{"id":"et%5DA","type":"date","date":null},"Complete":{"id":"h%5Eyl","type":"checkbox","checkbox":false},"Tags":{"id":"vBwK","type":"multi_select","multi_select":[]},"Notes":{"id":"%7DW%5Bd","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/9397f792504747deacc72c8994d37c62"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83c\udf54"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/9397f792504747deacc72c8994d37c62
  response:
    content: "{\"object\":\"page\",\"id\":\"9397f792-5047-47de-acc7-2c8994d37c62\",\"created_time\":\"2023-03-21T19:32:00.000Z\",\"last_edited_time\":\"2023-03-21T19:32:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F354\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"1a9d766b-8066-489f-93d7-0a408b58b069\"},\"archived\":false,\"properties\":{\"Index\":{\"id\":\"T%5DjJ\",\"type\":\"number\",\"number\":null},\"Due
      Date\":{\"id\":\"et%5DA\",\"type\":\"date\",\"date\":null},\"Complete\":{\"id\":\"h%5Eyl\",\"type\":\"checkbox\",\"checkbox\":false},\"Tags\":{\"id\":\"vBwK\",\"type\":\"multi_select\",\"multi_select\":[]},\"Notes\":{\"id\":\"%7DW%5Bd\",\"type\":\"rich_text\",\"rich_text\":[]},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[]}},\"url\":\"https://www.notion.so/9397f792504747deacc72c8994d37c62\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/1a9d766b-8066-489f-93d7-0a408b58b069
  response:
    content: '{"object":"block","id":"1a9d766b-8066-489f-93d7-0a408b58b069","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-03-21T19:32:00.000Z","last_edited_time":"2023-03-21T19:33:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_icon
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
