interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_simple_model
      (setup)", "text": {"content": "tests/test_orm.py::test_simple_model (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2021-08-16'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"bbe82ad6-aa4f-43c6-8412-a5ba0d23d90e","cover":null,"icon":null,"created_time":"2022-04-15T15:38:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-04-15T15:38:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_simple_model
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_simple_model
      (setup)","href":null}],"properties":{"Tags":{"id":"%3C%3A%3C_","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Notes":{"id":"%3DYTe","name":"Notes","type":"rich_text","rich_text":{}},"Due
      Date":{"id":"%40%3D_a","name":"Due Date","type":"date","date":{}},"Index":{"id":"Q%5Bta","name":"Index","type":"number","number":{"format":"number"}},"Complete":{"id":"f%7DSd","name":"Complete","type":"checkbox","checkbox":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/bbe82ad6aa4f43c68412a5ba0d23d90e","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "bbe82ad6-aa4f-43c6-8412-a5ba0d23d90e"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2021-08-16'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"42df7fbf-d4b3-4439-9659-c572f5b06a7b","created_time":"2022-04-15T15:39:00.000Z","last_edited_time":"2022-04-15T15:39:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"bbe82ad6-aa4f-43c6-8412-a5ba0d23d90e"},"archived":false,"properties":{"Tags":{"id":"%3C%3A%3C_","type":"multi_select","multi_select":[]},"Notes":{"id":"%3DYTe","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"%40%3D_a","type":"date","date":null},"Index":{"id":"Q%5Bta","type":"number","number":null},"Complete":{"id":"f%7DSd","type":"checkbox","checkbox":false},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/42df7fbfd4b344399659c572f5b06a7b"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "One&Only", "text": {"content": "One&Only"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2021-08-16'
    method: PATCH
    uri: https://api.notion.com/v1/pages/42df7fbfd4b344399659c572f5b06a7b
  response:
    content: '{"object":"page","id":"42df7fbf-d4b3-4439-9659-c572f5b06a7b","created_time":"2022[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2021-08-16'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/bbe82ad6aa4f43c68412a5ba0d23d90e
  response:
    content: '{"object":"block","id":"bbe82ad6-aa4f-43c6-8412-a5ba0d23d90e","created_time":"2022-04-15T15:38:00.000Z","last_edited_time":"2022-04-15T15:39:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_simple_model
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
