interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_simple_model_with_children
      (setup)", "text": {"content": "tests/test_orm.py::test_simple_model_with_children
      (setup)"}}], "properties": {"Name": {"type": "title", "title": {}}, "Index":
      {"type": "number", "number": {"format": "number"}}, "Notes": {"type": "rich_text",
      "rich_text": {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date":
      {"type": "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"5bfba834-6f45-498d-be33-00974d0f72b5","cover":null,"icon":null,"created_time":"2023-03-21T19:32:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-03-21T19:32:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_simple_model_with_children
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_simple_model_with_children
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"%3AT%5Cg","name":"Notes","type":"rich_text","rich_text":{}},"Complete":{"id":"Uloq","name":"Complete","type":"checkbox","checkbox":{}},"Due
      Date":{"id":"%5Bld%60","name":"Due Date","type":"date","date":{}},"Index":{"id":"tkxQ","name":"Index","type":"number","number":{"format":"number"}},"Tags":{"id":"%7C%60%3D%7B","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/5bfba8346f45498dbe3300974d0f72b5","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "5bfba834-6f45-498d-be33-00974d0f72b5"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"f217ef7e-e8f0-4bd5-a05f-fd7b61a609c0","created_time":"2023-03-21T19:32:00.000Z","last_edited_time":"2023-03-21T19:32:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"5bfba834-6f45-498d-be33-00974d0f72b5"},"archived":false,"properties":{"Notes":{"id":"%3AT%5Cg","type":"rich_text","rich_text":[]},"Complete":{"id":"Uloq","type":"checkbox","checkbox":false},"Due
      Date":{"id":"%5Bld%60","type":"date","date":null},"Index":{"id":"tkxQ","type":"number","number":null},"Tags":{"id":"%7C%60%3D%7B","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/f217ef7ee8f04bd5a05ffd7b61a609c0"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/f217ef7ee8f04bd5a05ffd7b61a609c0
  response:
    content: '{"object":"page","id":"f217ef7e-e8f0-4bd5-a05f-fd7b61a609c0","created_time":"2023-03-21[...]
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "archived": false, "heading_1": {"rich_text": [{"type": "text", "plain_text":
      "New Business", "text": {"content": "New Business"}}], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/f217ef7e-e8f0-4bd5-a05f-fd7b61a609c0/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"d41485a8-7ad1-454b-b8cc-03a98d78a4ff","parent":{"type":"page_id","page_id":"f217ef7e-e8f0-4bd5-a05f-fd7b61a609c0"},"created_time":"2023-03-21T19:32:00.000Z","last_edited_time":"2023-03-21T19:32:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"New
      Business","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      Business","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/f217ef7e-e8f0-4bd5-a05f-fd7b61a609c0/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"d41485a8-7ad1-454b-b8cc-03a98d78a4ff","parent":{"type":"page_id","page_id":"f217ef7e-e8f0-4bd5-a05f-fd7b61a609c0"},"created_time":"2023-03-21T19:32:00.000Z","last_edited_time":"2023-03-21T19:32:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"New
      Business","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      Business","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/5bfba834-6f45-498d-be33-00974d0f72b5
  response:
    content: '{"object":"block","id":"5bfba834-6f45-498d-be33-00974d0f72b5","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-03-21T19:32:00.000Z","last_edited_time":"2023-03-21T19:32:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_simple_model_with_children
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
