interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_query
      (setup)", "text": {"content": "tests/test_orm.py::test_orm_query (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"46cbf669-1cf1-4250-af6b-68651abdb2e7","cover":null,"icon":null,"created_time":"2022-12-31T16:49:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-31T16:49:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_query
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_query
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"FfuY","name":"Notes","type":"rich_text","rich_text":{}},"Due
      Date":{"id":"Hfgk","name":"Due Date","type":"date","date":{}},"Complete":{"id":"OFBv","name":"Complete","type":"checkbox","checkbox":{}},"Index":{"id":"_VlV","name":"Index","type":"number","number":{"format":"number"}},"Tags":{"id":"z%5E_%7C","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/46cbf6691cf14250af6b68651abdb2e7","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "46cbf669-1cf1-4250-af6b-68651abdb2e7"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"1280c4f9-3e20-40d7-9aef-955dc896673f","created_time":"2022-12-31T16:49:00.000Z","last_edited_time":"2022-12-31T16:49:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"46cbf669-1cf1-4250-af6b-68651abdb2e7"},"archived":false,"properties":{"Notes":{"id":"FfuY","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"Hfgk","type":"date","date":null},"Complete":{"id":"OFBv","type":"checkbox","checkbox":false},"Index":{"id":"_VlV","type":"number","number":null},"Tags":{"id":"z%5E_%7C","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/1280c4f93e2040d79aef955dc896673f"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Needle", "text": {"content": "Needle"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/1280c4f93e2040d79aef955dc896673f
  response:
    content: '{"object":"page","id":"1280c4f9-3e20-40d7-9aef-955dc896673f","created_time":"2022-12-[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/46cbf669-1cf1-4250-af6b-68651abdb2e7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"1280c4f9-3e20-40d7-9aef-955dc896673f","created_time":"2022-12-31T16:49:00.000Z","last_edited_time":"2022-12-31T16:49:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"46cbf669-1cf1-4250-af6b-68651abdb2e7"},"archived":false,"properties":{"Notes":{"id":"FfuY","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"Hfgk","type":"date","date":null},"Complete":{"id":"OFBv","type":"checkbox","checkbox":false},"Index":{"id":"_VlV","type":"number","number":null},"Tags":{"id":"z%5E_%7C","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Needle","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Needle","href":null}]}},"url":"https://www.notion.so/Needle-1280c4f93e2040d79aef955dc896673f"}],"next_cursor":null,"has_more":false,"type":"page","page":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/46cbf669-1cf1-4250-af6b-68651abdb2e7
  response:
    content: '{"object":"block","id":"46cbf669-1cf1-4250-af6b-68651abdb2e7","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-31T16:49:00.000Z","last_edited_time":"2022-12-31T16:49:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_query
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
