interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "tests/test_pages.py::test_page_icon (setup)", "text": {"content": "tests/test_pages.py::test_page_icon
      (setup)"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"bae4d921-e43c-4181-989f-e593ba7a2e2d","created_time":"2024-04-07T02:02:00.000Z","last_edited_time":"2024-04-07T02:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_pages.py::test_page_icon
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_pages.py::test_page_icon
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_pages-py-test_page_icon-setup-bae4d921e43c4181989fe593ba7a2e2d","public_url":null,"request_id":"1a21a2b3-e362-456d-a0bb-83b797d5f174"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\u2603\ufe0f"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/bae4d921e43c4181989fe593ba7a2e2d
  response:
    content: "{\"object\":\"page\",\"id\":\"bae4d921-e43c-4181-989f-e593ba7a2e2d\",\"created_time\":\"2024-04-07T02:02:00.000Z\",\"last_edited_time\":\"2024-04-07T02:02:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2603\uFE0F\"},\"parent\":{\"type\":\"page_id\",\"page_id\":\"250662d9-783d-483c-b131-341ed479f96c\"},\"archived\":false,\"in_trash\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"tests/test_pages.py::test_page_icon
      (setup)\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"tests/test_pages.py::test_page_icon
      (setup)\",\"href\":null}]}},\"url\":\"https://www.notion.so/tests-test_pages-py-test_page_icon-setup-bae4d921e43c4181989fe593ba7a2e2d\",\"public_url\":null,\"request_id\":\"912c28ef-58b5-44d4-b2a6-33ac11dbcad9\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/bae4d921e43c4181989fe593ba7a2e2d
  response:
    content: "{\"object\":\"page\",\"id\":\"bae4d921-e43c-4181-989f-e593ba7a2e2d\",\"created_time\":\"2024-04-07T02:02:00.000Z\",\"last_edited_time\":\"2024-04-07T02:02:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2603\uFE0F\"},\"parent\":{\"type\":\"page_id\",\"page_id\":\"250662d9-783d-483c-b131-341ed479f96c\"},\"archived\":true,\"in_trash\":true,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"tests/test_pages.py::test_page_icon
      (setup)\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"tests/test_pages.py::test_page_icon
      (setup)\",\"href\":null}]}},\"url\":\"https://www.notion.so/tests-test_pages-py-test_page_icon-setup-bae4d921e43c4181989fe593ba7a2e2d\",\"public_url\":null,\"request_id\":\"5f79596f-0fdf-4383-8c7c-27ba1292b549\"}"
    headers: {}
    status_code: 200
version: 1
