interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_query
      (setup)", "text": {"content": "tests/test_orm.py::test_orm_query (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"72fa24ad-6aed-4ece-8884-8596df02bcb4","cover":null,"icon":null,"created_time":"2022-12-30T21:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-30T21:50:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_query
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_query
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"EWmj","name":"Notes","type":"rich_text","rich_text":{}},"Complete":{"id":"Z%3CcA","name":"Complete","type":"checkbox","checkbox":{}},"Tags":{"id":"%5CKa%7B","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Index":{"id":"ctU%3A","name":"Index","type":"number","number":{"format":"number"}},"Due
      Date":{"id":"qO%7B%7B","name":"Due Date","type":"date","date":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/72fa24ad6aed4ece88848596df02bcb4","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "72fa24ad-6aed-4ece-8884-8596df02bcb4"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"9597fcd6-d0d7-4d64-baa8-10d2cbed748d","created_time":"2022-12-30T21:50:00.000Z","last_edited_time":"2022-12-30T21:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"72fa24ad-6aed-4ece-8884-8596df02bcb4"},"archived":false,"properties":{"Notes":{"id":"EWmj","type":"rich_text","rich_text":[]},"Complete":{"id":"Z%3CcA","type":"checkbox","checkbox":false},"Tags":{"id":"%5CKa%7B","type":"multi_select","multi_select":[]},"Index":{"id":"ctU%3A","type":"number","number":null},"Due
      Date":{"id":"qO%7B%7B","type":"date","date":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/9597fcd6d0d74d64baa810d2cbed748d"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Needle", "text": {"content": "Needle"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/9597fcd6d0d74d64baa810d2cbed748d
  response:
    content: '{"object":"page","id":"9597fcd6-d0d7-4d64-baa8-10d2cbed748d","created_time":"2022-12-[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/72fa24ad-6aed-4ece-8884-8596df02bcb4/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"9597fcd6-d0d7-4d64-baa8-10d2cbed748d","created_time":"2022-12-30T21:50:00.000Z","last_edited_time":"2022-12-30T21:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"72fa24ad-6aed-4ece-8884-8596df02bcb4"},"archived":false,"properties":{"Notes":{"id":"EWmj","type":"rich_text","rich_text":[]},"Complete":{"id":"Z%3CcA","type":"checkbox","checkbox":false},"Tags":{"id":"%5CKa%7B","type":"multi_select","multi_select":[]},"Index":{"id":"ctU%3A","type":"number","number":null},"Due
      Date":{"id":"qO%7B%7B","type":"date","date":null},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Needle","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Needle","href":null}]}},"url":"https://www.notion.so/Needle-9597fcd6d0d74d64baa810d2cbed748d"}],"next_cursor":null,"has_more":false,"type":"page","page":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/72fa24ad-6aed-4ece-8884-8596df02bcb4
  response:
    content: '{"object":"block","id":"72fa24ad-6aed-4ece-8884-8596df02bcb4","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-30T21:50:00.000Z","last_edited_time":"2022-12-30T21:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_query
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
