interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_missing_property
      (setup)", "text": {"content": "tests/test_orm.py::test_missing_property (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"f6e01264-5c86-4dc4-b359-85d0822544a3","cover":null,"icon":null,"created_time":"2022-12-30T22:45:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-30T22:45:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_missing_property
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_missing_property
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"%3Fd%3AZ","name":"Notes","type":"rich_text","rich_text":{}},"Index":{"id":"LKfA","name":"Index","type":"number","number":{"format":"number"}},"Due
      Date":{"id":"%5DInh","name":"Due Date","type":"date","date":{}},"Tags":{"id":"y%3C%3AD","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Complete":{"id":"yowX","name":"Complete","type":"checkbox","checkbox":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/f6e012645c864dc4b35985d0822544a3","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "f6e01264-5c86-4dc4-b359-85d0822544a3"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3dcb9556-461e-436b-abf1-9bfb129bdeca","created_time":"2022-12-30T22:45:00.000Z","last_edited_time":"2022-12-30T22:45:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"f6e01264-5c86-4dc4-b359-85d0822544a3"},"archived":false,"properties":{"Notes":{"id":"%3Fd%3AZ","type":"rich_text","rich_text":[]},"Index":{"id":"LKfA","type":"number","number":null},"Due
      Date":{"id":"%5DInh","type":"date","date":null},"Tags":{"id":"y%3C%3AD","type":"multi_select","multi_select":[]},"Complete":{"id":"yowX","type":"checkbox","checkbox":false},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/3dcb9556461e436babf19bfb129bdeca"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "MissingProp", "text": {"content": "MissingProp"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/3dcb9556461e436babf19bfb129bdeca
  response:
    content: '{"object":"page","id":"3dcb9556-461e-436b-abf1-9bfb129bdeca","created_time"[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/f6e01264-5c86-4dc4-b359-85d0822544a3
  response:
    content: '{"object":"block","id":"f6e01264-5c86-4dc4-b359-85d0822544a3","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-30T22:45:00.000Z","last_edited_time":"2022-12-30T22:45:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_missing_property
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
