interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "tests/test_records.py::test_create_simple_page (call)", "text": {"content":
      "tests/test_records.py::test_create_simple_page (call)"}}]}}, "children": [{"type":
      "heading_1", "object": "block", "has_children": false, "archived": false, "heading_1":
      {"rich_text": [{"type": "text", "plain_text": "Welcome to the Matrix", "text":
      {"content": "Welcome to the Matrix"}}], "color": "default"}}, {"type": "divider",
      "object": "block", "has_children": false, "archived": false, "divider": {}},
      {"type": "paragraph", "object": "block", "has_children": false, "archived":
      false, "paragraph": {"rich_text": [{"type": "text", "plain_text": "There is
      no spoon...", "text": {"content": "There is no spoon..."}}], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"7937660f-624e-4c55-a09d-d6cafe6207d1","created_time":"2022-11-08T22:58:00.000Z","last_edited_time":"2022-11-08T22:58:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_records.py::test_create_simple_page
      (call)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_records.py::test_create_simple_page
      (call)","href":null}]}},"url":"https://www.notion.so/tests-test_records-py-test_create_simple_page-call-7937660f624e4c55a09dd6cafe6207d1"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: GET
    uri: https://api.notion.com/v1/blocks/7937660f624e4c55a09dd6cafe6207d1/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"82f9744e-379d-4369-b865-ac6a0e575ba1","parent":{"type":"page_id","page_id":"7937660f-624e-4c55-a09d-d6cafe6207d1"},"created_time":"2022-11-08T22:58:00.000Z","last_edited_time":"2022-11-08T22:58:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"Welcome
      to the Matrix","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Welcome
      to the Matrix","href":null}],"is_toggleable":false,"color":"default"}},{"object":"block","id":"f65c8a5e-241b-4301-82dc-cf581d6faadd","parent":{"type":"page_id","page_id":"7937660f-624e-4c55-a09d-d6cafe6207d1"},"created_time":"2022-11-08T22:58:00.000Z","last_edited_time":"2022-11-08T22:58:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"divider","divider":{}},{"object":"block","id":"66056971-c1f2-4967-ae51-28bd166f04e5","parent":{"type":"page_id","page_id":"7937660f-624e-4c55-a09d-d6cafe6207d1"},"created_time":"2022-11-08T22:58:00.000Z","last_edited_time":"2022-11-08T22:58:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"There
      is no spoon...","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"There
      is no spoon...","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: PATCH
    uri: https://api.notion.com/v1/pages/7937660f624e4c55a09dd6cafe6207d1
  response:
    content: '{"object":"page","id":"7937660f-624e-4c55-a09d-d6cafe6207d1","created_time":"2022-11-08T22:58:00.000Z","last_edited_time":"2022-11-08T22:58:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_records.py::test_create_simple_page
      (call)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_records.py::test_create_simple_page
      (call)","href":null}]}},"url":"https://www.notion.so/tests-test_records-py-test_create_simple_page-call-7937660f624e4c55a09dd6cafe6207d1"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: PATCH
    uri: https://api.notion.com/v1/pages/19b37c153a77445e87e2dbc1ea24a0d1
  response:
    content: '{"object":"page","id":"19b37c15-3a77-445e-87e2-dbc1ea24a0d1","created_time":"2022-11-29T21:39:00.000Z","last_edited_time":"2022-11-29T21:39:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_records.py::test_create_simple_page
      (call)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_records.py::test_create_simple_page
      (call)","href":null}]}},"url":"https://www.notion.so/tests-test_records-py-test_create_simple_page-call-19b37c153a77445e87e2dbc1ea24a0d1"}'
    headers: {}
    status_code: 200
version: 1
