interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "42faa3d6-2b2e-46e8-8565-481c52fcd553"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_simple_model
      (setup)", "text": {"content": "tests/test_orm.py::test_simple_model (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"5a6b63fb-f07a-4834-8bf9-48f83282f972","cover":null,"icon":null,"created_time":"2022-12-16T04:44:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-16T04:44:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_simple_model
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_simple_model
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Index":{"id":"%3DPVc","name":"Index","type":"number","number":{"format":"number"}},"Notes":{"id":"GahB","name":"Notes","type":"rich_text","rich_text":{}},"Due
      Date":{"id":"LfVF","name":"Due Date","type":"date","date":{}},"Complete":{"id":"%5DeWB","name":"Complete","type":"checkbox","checkbox":{}},"Tags":{"id":"l%3DKi","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"url":"https://www.notion.so/5a6b63fbf07a48348bf948f83282f972","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "5a6b63fb-f07a-4834-8bf9-48f83282f972"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"b51372e4-ab9d-4a6c-9f73-954768f28037","created_time":"2022-12-16T04:44:00.000Z","last_edited_time":"2022-12-16T04:44:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"5a6b63fb-f07a-4834-8bf9-48f83282f972"},"archived":false,"properties":{"Index":{"id":"%3DPVc","type":"number","number":null},"Notes":{"id":"GahB","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"LfVF","type":"date","date":null},"Complete":{"id":"%5DeWB","type":"checkbox","checkbox":false},"Tags":{"id":"l%3DKi","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/b51372e4ab9d4a6c9f73954768f28037"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "One&Only", "text": {"content": "One&Only"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/b51372e4ab9d4a6c9f73954768f28037
  response:
    content: '{"object":"page","id":"b51372e4-ab9d-4a6c-9f73-954768f28037","created_time":"2022[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/5a6b63fbf07a48348bf948f83282f972
  response:
    content: '{"object":"block","id":"5a6b63fb-f07a-4834-8bf9-48f83282f972","parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"created_time":"2022-12-16T04:44:00.000Z","last_edited_time":"2022-12-16T04:44:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_simple_model
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
