interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_icon (setup)",
      "text": {"content": "tests/test_orm.py::test_orm_icon (setup)"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Index": {"type": "number", "number":
      {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text": {}}, "Complete":
      {"type": "checkbox", "checkbox": {}}, "Due Date": {"type": "date", "date": {}},
      "Tags": {"type": "multi_select", "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"c5fc907e-618d-4346-b9ea-34c81ccca181","cover":null,"icon":null,"created_time":"2023-01-19T01:20:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-01-19T01:20:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_icon
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_icon
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Index":{"id":"%40tgl","name":"Index","type":"number","number":{"format":"number"}},"Due
      Date":{"id":"FMGd","name":"Due Date","type":"date","date":{}},"Complete":{"id":"aLs%40","name":"Complete","type":"checkbox","checkbox":{}},"Tags":{"id":"hJD%60","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Notes":{"id":"w%3DN%5D","name":"Notes","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/c5fc907e618d4346b9ea34c81ccca181","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "c5fc907e-618d-4346-b9ea-34c81ccca181"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"0a9e74a5-e8ce-4d34-8773-a0cbb8c6987c","created_time":"2023-01-19T01:20:00.000Z","last_edited_time":"2023-01-19T01:20:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"c5fc907e-618d-4346-b9ea-34c81ccca181"},"archived":false,"properties":{"Index":{"id":"%40tgl","type":"number","number":null},"Due
      Date":{"id":"FMGd","type":"date","date":null},"Complete":{"id":"aLs%40","type":"checkbox","checkbox":false},"Tags":{"id":"hJD%60","type":"multi_select","multi_select":[]},"Notes":{"id":"w%3DN%5D","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/0a9e74a5e8ce4d348773a0cbb8c6987c"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83c\udf54"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/0a9e74a5e8ce4d348773a0cbb8c6987c
  response:
    content: "{\"object\":\"page\",\"id\":\"0a9e74a5-e8ce-4d34-8773-a0cbb8c6987c\",\"created_time\":\"2023-01-19T01:20:00.000Z\",\"last_edited_time\":\"2023-01-19T01:20:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F354\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"c5fc907e-618d-4346-b9ea-34c81ccca181\"},\"archived\":false,\"properties\":{\"Index\":{\"id\":\"%40tgl\",\"type\":\"number\",\"number\":null},\"Due
      Date\":{\"id\":\"FMGd\",\"type\":\"date\",\"date\":null},\"Complete\":{\"id\":\"aLs%40\",\"type\":\"checkbox\",\"checkbox\":false},\"Tags\":{\"id\":\"hJD%60\",\"type\":\"multi_select\",\"multi_select\":[]},\"Notes\":{\"id\":\"w%3DN%5D\",\"type\":\"rich_text\",\"rich_text\":[]},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[]}},\"url\":\"https://www.notion.so/0a9e74a5e8ce4d348773a0cbb8c6987c\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/c5fc907e-618d-4346-b9ea-34c81ccca181
  response:
    content: '{"object":"block","id":"c5fc907e-618d-4346-b9ea-34c81ccca181","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-01-19T01:20:00.000Z","last_edited_time":"2023-01-19T01:20:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_icon
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
