interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_missing_property
      (setup)", "text": {"content": "tests/test_orm.py::test_missing_property (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2021-08-16'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"18a08a29-0881-43a1-a096-d3a9facb2ede","cover":null,"icon":null,"created_time":"2022-04-25T02:41:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-04-25T02:41:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_missing_property
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_missing_property
      (setup)","href":null}],"properties":{"Notes":{"id":"HH%60K","name":"Notes","type":"rich_text","rich_text":{}},"Complete":{"id":"RN%3A%7B","name":"Complete","type":"checkbox","checkbox":{}},"Tags":{"id":"SAau","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Due
      Date":{"id":"o%5BSk","name":"Due Date","type":"date","date":{}},"Index":{"id":"yf%60Y","name":"Index","type":"number","number":{"format":"number"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/18a08a29088143a1a096d3a9facb2ede","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "18a08a29-0881-43a1-a096-d3a9facb2ede"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2021-08-16'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"2dd70bc2-f41e-47b0-b382-3299d267544d","created_time":"2022-04-25T02:41:00.000Z","last_edited_time":"2022-04-25T02:41:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"18a08a29-0881-43a1-a096-d3a9facb2ede"},"archived":false,"properties":{"Notes":{"id":"HH%60K","type":"rich_text","rich_text":[]},"Complete":{"id":"RN%3A%7B","type":"checkbox","checkbox":false},"Tags":{"id":"SAau","type":"multi_select","multi_select":[]},"Due
      Date":{"id":"o%5BSk","type":"date","date":null},"Index":{"id":"yf%60Y","type":"number","number":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/2dd70bc2f41e47b0b3823299d267544d"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "MissingProp", "text": {"content": "MissingProp"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2021-08-16'
    method: PATCH
    uri: https://api.notion.com/v1/pages/2dd70bc2f41e47b0b3823299d267544d
  response:
    content: '{"object":"page","id":"2dd70bc2-f41e-47b0-b382-3299d267544d","created_time"[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2021-08-16'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/18a08a29088143a1a096d3a9facb2ede
  response:
    content: '{"object":"block","id":"18a08a29-0881-43a1-a096-d3a9facb2ede","created_time":"2022-04-25T02:41:00.000Z","last_edited_time":"2022-04-25T02:41:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_missing_property
      (setup)"}}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2021-08-16'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/02e37716a63d46a6999dcd4462dfc1cf
  response:
    content: '{"object":"block","id":"02e37716-a63d-46a6-999d-cd4462dfc1cf","created_time":"2022-04-23T22:50:00.000Z","last_edited_time":"2022-04-23T22:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_missing_property
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
