interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "tests/test_blocks.py::test_append_block_after (setup)", "text": {"content":
      "tests/test_blocks.py::test_append_block_after (setup)"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"5e95243a-d6a5-408b-bfd2-bd99270cc2bb","created_time":"2024-05-04T14:07:00.000Z","last_edited_time":"2024-05-04T14:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_blocks.py::test_append_block_after
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_blocks.py::test_append_block_after
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_blocks-py-test_append_block_after-setup-5e95243ad6a5408bbfd2bd99270cc2bb","public_url":null,"request_id":"cf055090-c37b-4949-b7e4-27571890849d"}'
    headers: {}
    status_code: 200
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "archived": false, "paragraph": {"rich_text": [{"type": "text", "plain_text":
      "first", "text": {"content": "first"}}], "color": "default"}}, {"type": "paragraph",
      "object": "block", "has_children": false, "archived": false, "paragraph": {"rich_text":
      [{"type": "text", "plain_text": "second", "text": {"content": "second"}}], "color":
      "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/5e95243a-d6a5-408b-bfd2-bd99270cc2bb/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"b6213662-0f6c-42c2-96b9-0066ab29457b","parent":{"type":"page_id","page_id":"5e95243a-d6a5-408b-bfd2-bd99270cc2bb"},"created_time":"2024-05-04T14:07:00.000Z","last_edited_time":"2024-05-04T14:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"first","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"first","href":null}],"color":"default"}},{"object":"block","id":"9d8e39be-1b8b-4f47-9c6e-8553bcfbd7b9","parent":{"type":"page_id","page_id":"5e95243a-d6a5-408b-bfd2-bd99270cc2bb"},"created_time":"2024-05-04T14:07:00.000Z","last_edited_time":"2024-05-04T14:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"second","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"second","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"1505c984-38e7-4858-91f1-afea041baf64"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/5e95243a-d6a5-408b-bfd2-bd99270cc2bb/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"b6213662-0f6c-42c2-96b9-0066ab29457b","parent":{"type":"page_id","page_id":"5e95243a-d6a5-408b-bfd2-bd99270cc2bb"},"created_time":"2024-05-04T14:07:00.000Z","last_edited_time":"2024-05-[...]
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "archived": false, "paragraph": {"rich_text": [{"type": "text", "plain_text":
      "inserted", "text": {"content": "inserted"}}], "color": "default"}}], "after":
      "b6213662-0f6c-42c2-96b9-0066ab29457b"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/5e95243a-d6a5-408b-bfd2-bd99270cc2bb/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"5ebefe43-d4e2-4a9e-a726-eb6abd469379","parent":{"type":"page_id","page_id":"5e95243a-d6a5-408b-bfd2-bd99270cc2bb"},"created_time[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/b6213662-0f6c-42c2-96b9-0066ab29457b
  response:
    content: '{"object":"block","id":"b6213662-0f6c-42c2-96b9-0066ab29457b","parent":{"type":"page_id","page_id":"5e95243a-d6a5-408b-bfd2-bd99270cc2bb"},"created_time":"2024-05-04T14:07:00.000Z","last_edited_time":"2024-05-04T14:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"in_trash":true,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"first","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"first","href":null}],"color":"default"},"request_id":"f02ad27f-9b69-4481-9806-3c1347ce7267"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/5e95243ad6a5408bbfd2bd99270cc2bb
  response:
    content: '{"object":"page","id":"5e95243a-d6a5-408b-bfd2-bd99270cc2bb","created_time":"2024-05-04T14:07:00.000Z","last_edited_time":"2024-05-04T14:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":true,"in_trash":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_blocks.py::test_append_block_after
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_blocks.py::test_append_block_after
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_blocks-py-test_append_block_after-setup-5e95243ad6a5408bbfd2bd99270cc2bb","public_url":null,"request_id":"2d5e02ed-c729-403c-b84e-e74d84e692a3"}'
    headers: {}
    status_code: 200
version: 1
