interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_records.py::test_restore_database
      (setup)", "text": {"content": "tests/test_records.py::test_restore_database
      (setup)"}}], "properties": {"Name": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"55a8a624-cb35-44af-a894-03957a3b63b6","cover":null,"icon":null,"created_time":"2022-11-29T22:40:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-11-29T22:40:00.000Z","title":[{"type":"text","text":{"content":"tests/test_records.py::test_restore_database
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_records.py::test_restore_database
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/55a8a624cb3544afa89403957a3b63b6","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/55a8a624cb3544afa89403957a3b63b6
  response:
    content: '{"object":"block","id":"55a8a624-cb35-44af-a894-03957a3b63b6","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-11-29T22:40:00.000Z","last_edited_time":"2022-11-29T22:40:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_records.py::test_restore_database
      (setup)"}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: GET
    uri: https://api.notion.com/v1/databases/55a8a624-cb35-44af-a894-03957a3b63b6
  response:
    content: '{"object":"database","id":"55a8a624-cb35-44af-a894-03957a3b63b6","cover":null,"icon":null,"created_time":"2022-11-29T22:40:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-11-29T22:40:00.000Z","title":[{"type":"text","text":{"content":"tests/test_records.py::test_restore_database
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_records.py::test_restore_database
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/55a8a624cb3544afa89403957a3b63b6","archived":true}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/48a57050646645dab7770f5542417d06
  response:
    content: '{"object":"block","id":"48a57050-6466-45da-b777-0f5542417d06","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-10T20:57:00.000Z","last_edited_time":"2022-12-10T20:57:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_records.py::test_restore_database
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
