interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "42faa3d6-2b2e-46e8-8565-481c52fcd553"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "tests/test_pages.py::test_page_cover (setup)", "text": {"content": "tests/test_pages.py::test_page_cover
      (setup)"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"cb54cb24-16b2-4782-8562-9bbcf8420652","created_time":"2022-12-16T04:44:00.000Z","last_edited_time":"2022-12-16T04:44:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_pages.py::test_page_cover
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_pages.py::test_page_cover
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_pages-py-test_page_cover-setup-cb54cb2416b2478285629bbcf8420652"}'
    headers: {}
    status_code: 200
- request:
    body: '{"cover": {"type": "external", "external": {"url": "https://raw.githubusercontent.com/jheddings/notional/main/tests/data/loved.png"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/cb54cb2416b2478285629bbcf8420652
  response:
    content: '{"object":"page","id":"cb54cb24-16b2-4782-8562-9bbcf8420652","created_time":"2022-12-16T04:44:00.000Z","last_edited_time":"2022-12-16T04:44:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":{"type":"external","external":{"url":"https://raw.githubusercontent.com/jheddings/notional/main/tests/data/loved.png"}},"icon":null,"parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_pages.py::test_page_cover
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_pages.py::test_page_cover
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_pages-py-test_page_cover-setup-cb54cb2416b2478285629bbcf8420652"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/cb54cb24-16b2-4782-8562-9bbcf8420652
  response:
    content: '{"object":"page","id":"cb54cb24-16b2-4782-8562-9bbcf8420652","created_time":"2022-12-16T04:44:00.000Z","last_edited_time":"2022-12-16T04:44:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":{"type":"external","external":{"url":"https://raw.githubusercontent.com/jheddings/notional/main/tests/data/loved.png"}},"icon":null,"parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_pages.py::test_page_cover
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_pages.py::test_page_cover
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_pages-py-test_page_cover-setup-cb54cb2416b2478285629bbcf8420652"}'
    headers: {}
    status_code: 200
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/cb54cb2416b2478285629bbcf8420652
  response:
    content: '{"object":"page","id":"cb54cb24-16b2-4782-8562-9bbcf8420652","created_time":"2022-12-16T04:44:00.000Z","last_edited_time":"2022-12-16T04:44:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":{"type":"external","external":{"url":"https://raw.githubusercontent.com/jheddings/notional/main/tests/data/loved.png"}},"icon":null,"parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"archived":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_pages.py::test_page_cover
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_pages.py::test_page_cover
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_pages-py-test_page_cover-setup-cb54cb2416b2478285629bbcf8420652"}'
    headers: {}
    status_code: 200
version: 1
