interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_missing_property
      (setup)", "text": {"content": "tests/test_orm.py::test_missing_property (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a66d9ec4-30a2-4ab2-8314-5d08d49185d3","cover":null,"icon":null,"created_time":"2023-03-21T19:32:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-03-21T19:32:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_missing_property
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_missing_property
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Due
      Date":{"id":"%3BzZY","name":"Due Date","type":"date","date":{}},"Tags":{"id":"RpIG","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Notes":{"id":"WgYc","name":"Notes","type":"rich_text","rich_text":{}},"Complete":{"id":"eUl%7C","name":"Complete","type":"checkbox","checkbox":{}},"Index":{"id":"xSBx","name":"Index","type":"number","number":{"format":"number"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/a66d9ec430a24ab283145d08d49185d3","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "a66d9ec4-30a2-4ab2-8314-5d08d49185d3"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"6bb3ff81-8457-4cca-b059-a9ff8ffb31bc","created_time":"2023-03-21T19:32:00.000Z","last_edited_time":"2023-03-21T19:32:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"a66d9ec4-30a2-4ab2-8314-5d08d49185d3"},"archived":false,"properties":{"Due
      Date":{"id":"%3BzZY","type":"date","date":null},"Tags":{"id":"RpIG","type":"multi_select","multi_select":[]},"Notes":{"id":"WgYc","type":"rich_text","rich_text":[]},"Complete":{"id":"eUl%7C","type":"checkbox","checkbox":false},"Index":{"id":"xSBx","type":"number","number":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/6bb3ff8184574ccab059a9ff8ffb31bc"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "MissingProp", "text": {"content": "MissingProp"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/6bb3ff8184574ccab059a9ff8ffb31bc
  response:
    content: '{"object":"page","id":"6bb3ff81-8457-4cca-b059-a9ff8ffb31bc","created_time"[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/a66d9ec4-30a2-4ab2-8314-5d08d49185d3
  response:
    content: '{"object":"block","id":"a66d9ec4-30a2-4ab2-8314-5d08d49185d3","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-03-21T19:32:00.000Z","last_edited_time":"2023-03-21T19:32:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_missing_property
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
