interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_missing_property
      (setup)", "text": {"content": "tests/test_orm.py::test_missing_property (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"57b18367-0fe7-425c-9d2d-76e6480f4364","cover":null,"icon":null,"created_time":"2022-12-13T22:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-13T22:02:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_missing_property
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_missing_property
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"%3AVh%7D","name":"Notes","type":"rich_text","rich_text":{}},"Complete":{"id":"DJ%3E%7D","name":"Complete","type":"checkbox","checkbox":{}},"Due
      Date":{"id":"YhHW","name":"Due Date","type":"date","date":{}},"Tags":{"id":"_bev","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Index":{"id":"jMmL","name":"Index","type":"number","number":{"format":"number"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/57b183670fe7425c9d2d76e6480f4364","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "57b18367-0fe7-425c-9d2d-76e6480f4364"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"12c7a893-633c-4da2-8d05-41af3eb59471","created_time":"2022-12-13T22:02:00.000Z","last_edited_time":"2022-12-13T22:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"57b18367-0fe7-425c-9d2d-76e6480f4364"},"archived":false,"properties":{"Notes":{"id":"%3AVh%7D","type":"rich_text","rich_text":[]},"Complete":{"id":"DJ%3E%7D","type":"checkbox","checkbox":false},"Due
      Date":{"id":"YhHW","type":"date","date":null},"Tags":{"id":"_bev","type":"multi_select","multi_select":[]},"Index":{"id":"jMmL","type":"number","number":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/12c7a893633c4da28d0541af3eb59471"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "MissingProp", "text": {"content": "MissingProp"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/12c7a893633c4da28d0541af3eb59471
  response:
    content: '{"object":"page","id":"12c7a893-633c-4da2-8d05-41af3eb59471","created_time"[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/57b183670fe7425c9d2d76e6480f4364
  response:
    content: '{"object":"block","id":"57b18367-0fe7-425c-9d2d-76e6480f4364","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-13T22:02:00.000Z","last_edited_time":"2022-12-13T22:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_missing_property
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
