interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_change_model_title
      (setup)", "text": {"content": "tests/test_orm.py::test_change_model_title (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2021-08-16'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"5fa7c1ac-78b5-47c2-b318-901ff44dcf4a","cover":null,"icon":null,"created_time":"2022-04-25T02:40:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-04-25T02:40:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_change_model_title
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_change_model_title
      (setup)","href":null}],"properties":{"Complete":{"id":"Ebbj","name":"Complete","type":"checkbox","checkbox":{}},"Tags":{"id":"%5C%7DhY","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Notes":{"id":"%5Ds%3A_","name":"Notes","type":"rich_text","rich_text":{}},"Due
      Date":{"id":"p%5Dfx","name":"Due Date","type":"date","date":{}},"Index":{"id":"uHd%7B","name":"Index","type":"number","number":{"format":"number"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/5fa7c1ac78b547c2b318901ff44dcf4a","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "5fa7c1ac-78b5-47c2-b318-901ff44dcf4a"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2021-08-16'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"051396c5-ab2e-4edb-8a3c-f5a8c94097c5","created_time":"2022-04-25T02:40:00.000Z","last_edited_time":"2022-04-25T02:40:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"5fa7c1ac-78b5-47c2-b318-901ff44dcf4a"},"archived":false,"properties":{"Complete":{"id":"Ebbj","type":"checkbox","checkbox":false},"Tags":{"id":"%5C%7DhY","type":"multi_select","multi_select":[]},"Notes":{"id":"%5Ds%3A_","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"p%5Dfx","type":"date","date":null},"Index":{"id":"uHd%7B","type":"number","number":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/051396c5ab2e4edb8a3cf5a8c94097c5"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2021-08-16'
    method: PATCH
    uri: https://api.notion.com/v1/pages/051396c5ab2e4edb8a3cf5a8c94097c5
  response:
    content: '{"object":"page","id":"051396c5-ab2e-4edb-8a3c-f5a8c94097c5","created_time":"2022-04-25[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2021-08-16'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/5fa7c1ac78b547c2b318901ff44dcf4a
  response:
    content: '{"object":"block","id":"5fa7c1ac-78b5-47c2-b318-901ff44dcf4a","created_time":"2022-04-25T02:40:00.000Z","last_edited_time":"2022-04-25T02:41:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_change_model_title
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
