interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_query.py::test_query_database
      (setup)", "text": {"content": "tests/test_query.py::test_query_database (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"46f7a4b0-4336-467a-b2df-7268ed9d5b25","cover":null,"icon":null,"created_time":"2023-01-26T05:34:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-01-26T05:34:00.000Z","title":[{"type":"text","text":{"content":"tests/test_query.py::test_query_database
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_query.py::test_query_database
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Complete":{"id":"%3FEIb","name":"Complete","type":"checkbox","checkbox":{}},"Tags":{"id":"NglT","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Index":{"id":"W%7DPf","name":"Index","type":"number","number":{"format":"number"}},"Notes":{"id":"xw%60O","name":"Notes","type":"rich_text","rich_text":{}},"Due
      Date":{"id":"%7B%3FGT","name":"Due Date","type":"date","date":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/46f7a4b04336467ab2df7268ed9d5b25","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "46f7a4b0-4336-467a-b2df-7268ed9d5b25"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Find Me!", "text": {"content": "Find Me!"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"6353b1f6-4b88-482e-8f5c-9dc6e40beda6","created_time":"2023-01-26T0[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/46f7a4b0-4336-467a-b2df-7268ed9d5b25/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"6353b1f6-4b88-482e-8f5c-9dc6e40beda6","created_time":"2023-01-26T05:34:00.000Z","last_edited_time":"2023-01-26T05:34:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"46f7a4b0-4336-467a-b2df-7268ed9d5b25"},"archived":false,"properties":{"Complete":{"id":"%3FEIb","type":"checkbox","checkbox":false},"Tags":{"id":"NglT","type":"multi_select","multi_select":[]},"Index":{"id":"W%7DPf","type":"number","number":null},"Notes":{"id":"xw%60O","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"%7B%3FGT","type":"date","date":null},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Find
      Me!","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Find
      Me!","href":null}]}},"url":"https://www.notion.so/Find-Me-6353b1f64b88482e8f5c9dc6e40beda6"}],"next_cursor":null,"has_more":false,"type":"page","page":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/46f7a4b0-4336-467a-b2df-7268ed9d5b25
  response:
    content: '{"object":"block","id":"46f7a4b0-4336-467a-b2df-7268ed9d5b25","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-01-26T05:34:00.000Z","last_edited_time":"2023-01-26T05:34:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_query.py::test_query_database
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
