interactions:
- request:
    body: '{"children": [{"type": "to_do", "object": "block", "has_children": false,
      "archived": false, "to_do": {"rich_text": [{"type": "text", "plain_text": "Important
      Task", "text": {"content": "Important Task"}}], "checked": false, "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/250662d9783d483cb131341ed479f96c/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"20d2ab74-563f-472c-8e51-41c898a882ac","created_time":"2022-04-26T02:10:00.000Z","last_edited_time":"2022-04-26T02:10:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"to_do","to_do":{"rich_text":[{"type":"text","text":{"content":"Important
      Task","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Important
      Task","href":null}],"checked":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: '{"type": "to_do", "archived": false, "to_do": {"rich_text": [{"type": "text",
      "plain_text": "Important Task", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Important Task"}}], "checked": true, "color": "default"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/20d2ab74563f472c8e5141c898a882ac
  response:
    content: '{"object":"block","id":"20d2ab74-563f-472c-8e51-41c898a882ac","created_time":"2022-04-26T02:10:00.000Z","last_edited_time":"2022-04-26T02:10:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"to_do","to_do":{"rich_text":[{"type":"text","text":{"content":"Important
      Task","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Important
      Task","href":null}],"checked":true,"color":"default"}}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/20d2ab74563f472c8e5141c898a882ac
  response:
    content: '{"object":"block","id":"20d2ab74-563f-472c-8e51-41c898a882ac","created_time":"2022-04-26T02:10:00.000Z","last_edited_time":"2022-04-26T02:10:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"to_do","to_do":{"rich_text":[{"type":"text","text":{"content":"Important
      Task","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Important
      Task","href":null}],"checked":true,"color":"default"}}'
    headers: {}
    status_code: 200
version: 1
