interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_multiple_databases
      (setup)", "text": {"content": "tests/test_orm.py::test_multiple_databases (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2021-08-16'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"85b29f4d-06a0-499a-b30a-cb4d33dd95f6","cover":null,"icon":null,"created_time":"2022-04-25T02:41:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-04-25T02:41:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_multiple_databases
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_multiple_databases
      (setup)","href":null}],"properties":{"Due Date":{"id":"%3CM%3DR","name":"Due
      Date","type":"date","date":{}},"Notes":{"id":"E%5EHi","name":"Notes","type":"rich_text","rich_text":{}},"Index":{"id":"KMEb","name":"Index","type":"number","number":{"format":"number"}},"Complete":{"id":"UKTs","name":"Complete","type":"checkbox","checkbox":{}},"Tags":{"id":"hzfE","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/85b29f4d06a0499ab30acb4d33dd95f6","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2021-08-16'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/85b29f4d06a0499ab30acb4d33dd95f6
  response:
    content: '{"object":"block","id":"85b29f4d-06a0-499a-b30a-cb4d33dd95f6","created_time":"2022-04-25T02:41:00.000Z","last_edited_time":"2022-04-25T02:41:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_multiple_databases
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
