interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_change_model_title
      (setup)", "text": {"content": "tests/test_orm.py::test_change_model_title (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"b6aae78b-ee5c-446b-b173-93915badc07a","cover":null,"icon":null,"created_time":"2023-01-19T01:20:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-01-19T01:20:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_change_model_title
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_change_model_title
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"CGIC","name":"Notes","type":"rich_text","rich_text":{}},"Index":{"id":"Law%3D","name":"Index","type":"number","number":{"format":"number"}},"Due
      Date":{"id":"%5CIGX","name":"Due Date","type":"date","date":{}},"Complete":{"id":"%60%5DUX","name":"Complete","type":"checkbox","checkbox":{}},"Tags":{"id":"aOyA","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/b6aae78bee5c446bb17393915badc07a","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "b6aae78b-ee5c-446b-b173-93915badc07a"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"6630021b-911c-48aa-9e64-35cb67c6fad5","created_time":"2023-01-19T01:20:00.000Z","last_edited_time":"2023-01-19T01:20:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"b6aae78b-ee5c-446b-b173-93915badc07a"},"archived":false,"properties":{"Notes":{"id":"CGIC","type":"rich_text","rich_text":[]},"Index":{"id":"Law%3D","type":"number","number":null},"Due
      Date":{"id":"%5CIGX","type":"date","date":null},"Complete":{"id":"%60%5DUX","type":"checkbox","checkbox":false},"Tags":{"id":"aOyA","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/6630021b911c48aa9e6435cb67c6fad5"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/6630021b911c48aa9e6435cb67c6fad5
  response:
    content: '{"object":"page","id":"6630021b-911c-48aa-9e64-35cb67c6fad5","created_time":"2023-01-19[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/b6aae78b-ee5c-446b-b173-93915badc07a
  response:
    content: '{"object":"block","id":"b6aae78b-ee5c-446b-b173-93915badc07a","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-01-19T01:20:00.000Z","last_edited_time":"2023-01-19T01:20:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_change_model_title
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
