interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_change_model_title
      (setup)", "text": {"content": "tests/test_orm.py::test_change_model_title (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"b9d22cbb-ced5-4eb0-8f4d-30d0ddd47857","cover":null,"icon":null,"created_time":"2022-12-14T04:25:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-14T04:25:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_change_model_title
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_change_model_title
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"%3B%3Dun","name":"Notes","type":"rich_text","rich_text":{}},"Index":{"id":"%3FjvO","name":"Index","type":"number","number":{"format":"number"}},"Complete":{"id":"Am%3EY","name":"Complete","type":"checkbox","checkbox":{}},"Tags":{"id":"Op%3C%5B","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Due
      Date":{"id":"toJ%3B","name":"Due Date","type":"date","date":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/b9d22cbbced54eb08f4d30d0ddd47857","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "b9d22cbb-ced5-4eb0-8f4d-30d0ddd47857"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"56a0cb2b-78ce-4af1-981e-9e5ac9ed2256","created_time":"2022-12-14T04:25:00.000Z","last_edited_time":"2022-12-14T04:25:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"b9d22cbb-ced5-4eb0-8f4d-30d0ddd47857"},"archived":false,"properties":{"Notes":{"id":"%3B%3Dun","type":"rich_text","rich_text":[]},"Index":{"id":"%3FjvO","type":"number","number":null},"Complete":{"id":"Am%3EY","type":"checkbox","checkbox":false},"Tags":{"id":"Op%3C%5B","type":"multi_select","multi_select":[]},"Due
      Date":{"id":"toJ%3B","type":"date","date":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/56a0cb2b78ce4af1981e9e5ac9ed2256"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/56a0cb2b78ce4af1981e9e5ac9ed2256
  response:
    content: '{"object":"page","id":"56a0cb2b-78ce-4af1-981e-9e5ac9ed2256","created_time":"2022-12-14[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/b9d22cbbced54eb08f4d30d0ddd47857
  response:
    content: '{"object":"block","id":"b9d22cbb-ced5-4eb0-8f4d-30d0ddd47857","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-14T04:25:00.000Z","last_edited_time":"2022-12-14T04:25:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_change_model_title
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
