interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "tests/test_records.py::test_create_empty_page (setup)", "text": {"content":
      "tests/test_records.py::test_create_empty_page (setup)"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"9a90ac70-946f-4298-8291-e2da05a7d1bc","created_time":"2022-11-08T22:58:00.000Z","last_edited_time":"2022-11-08T22:58:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_records.py::test_create_empty_page
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_records.py::test_create_empty_page
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_records-py-test_create_empty_page-setup-9a90ac70946f42988291e2da05a7d1bc"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: GET
    uri: https://api.notion.com/v1/pages/9a90ac70-946f-4298-8291-e2da05a7d1bc
  response:
    content: '{"object":"page","id":"9a90ac70-946f-4298-8291-e2da05a7d1bc","created_time":"2022-11-08T22:58:00.000Z","last_edited_time":"2022-11-08T22:58:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_records.py::test_create_empty_page
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_records.py::test_create_empty_page
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_records-py-test_create_empty_page-setup-9a90ac70946f42988291e2da05a7d1bc"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: GET
    uri: https://api.notion.com/v1/blocks/9a90ac70946f42988291e2da05a7d1bc/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: PATCH
    uri: https://api.notion.com/v1/pages/9a90ac70946f42988291e2da05a7d1bc
  response:
    content: '{"object":"page","id":"9a90ac70-946f-4298-8291-e2da05a7d1bc","created_time":"2022-11-08T22:58:00.000Z","last_edited_time":"2022-11-08T22:58:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_records.py::test_create_empty_page
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_records.py::test_create_empty_page
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_records-py-test_create_empty_page-setup-9a90ac70946f42988291e2da05a7d1bc"}'
    headers: {}
    status_code: 200
version: 1
