interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_change_model_title
      (setup)", "text": {"content": "tests/test_orm.py::test_change_model_title (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"583f9681-85fb-4275-8385-fe69a5b27c86","cover":null,"icon":null,"created_time":"2024-05-04T14:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2024-05-04T14:07:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_change_model_title
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_change_model_title
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Due
      Date":{"id":"LgcE","name":"Due Date","type":"date","date":{}},"Complete":{"id":"MZhR","name":"Complete","type":"checkbox","checkbox":{}},"Index":{"id":"Rs%7Dh","name":"Index","type":"number","number":{"format":"number"}},"Notes":{"id":"%5C%7Bcv","name":"Notes","type":"rich_text","rich_text":{}},"Tags":{"id":"wjva","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/583f968185fb42758385fe69a5b27c86","public_url":null,"archived":false,"in_trash":false,"request_id":"81e1f79d-dbe6-4dc0-83b0-325bc4a48d0f"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "583f9681-85fb-4275-8385-fe69a5b27c86"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"5f639a3e-fb08-4689-a816-c7e3d3fe4d20","created_time":"2024-05-04T14:07:00.000Z","last_edited_time":"2024-05-04T14:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"583f9681-85fb-4275-8385-fe69a5b27c86"},"archived":false,"in_trash":false,"properties":{"Due
      Date":{"id":"LgcE","type":"date","date":null},"Complete":{"id":"MZhR","type":"checkbox","checkbox":false},"Index":{"id":"Rs%7Dh","type":"number","number":null},"Notes":{"id":"%5C%7Bcv","type":"rich_text","rich_text":[]},"Tags":{"id":"wjva","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/5f639a3efb084689a816c7e3d3fe4d20","public_url":null,"request_id":"feb06e05-8c4d-4231-96be-44eab1b4d9cd"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/5f639a3efb084689a816c7e3d3fe4d20
  response:
    content: '{"object":"page","id":"5f639a3e-fb08-4689-a816-c7e3d3fe4d20","created_time":"2024-05-04[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/583f9681-85fb-4275-8385-fe69a5b27c86
  response:
    content: '{"object":"block","id":"583f9681-85fb-4275-8385-fe69a5b27c86","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-05-04T14:07:00.000Z","last_edited_time":"2024-05-04T14:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_change_model_title
      (setup)"},"request_id":"c8333480-ea49-4488-8a64-8c0a27d92106"}'
    headers: {}
    status_code: 200
version: 1
