interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_multiple_databases
      (setup)", "text": {"content": "tests/test_orm.py::test_multiple_databases (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2021-08-16'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"ec783fad-a261-495f-97e9-67aa9797464e","cover":null,"icon":null,"created_time":"2022-04-15T20:01:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-04-15T20:01:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_multiple_databases
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_multiple_databases
      (setup)","href":null}],"properties":{"Notes":{"id":"AX%40a","name":"Notes","type":"rich_text","rich_text":{}},"Tags":{"id":"GBF%5C","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Due
      Date":{"id":"_hFZ","name":"Due Date","type":"date","date":{}},"Complete":{"id":"eW%7Di","name":"Complete","type":"checkbox","checkbox":{}},"Index":{"id":"%7Bf%3Dq","name":"Index","type":"number","number":{"format":"number"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/ec783fada261495f97e967aa9797464e","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2021-08-16'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/ec783fada261495f97e967aa9797464e
  response:
    content: '{"object":"block","id":"ec783fad-a261-495f-97e9-67aa9797464e","created_time":"2022-04-15T20:01:00.000Z","last_edited_time":"2022-04-15T20:01:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_multiple_databases
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
