interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_missing_property
      (setup)", "text": {"content": "tests/test_orm.py::test_missing_property (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"d080b3a9-38a0-44bb-89ef-e7af24ec882d","cover":null,"icon":null,"created_time":"2022-12-14T04:32:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-14T04:32:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_missing_property
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_missing_property
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Complete":{"id":"FRLS","name":"Complete","type":"checkbox","checkbox":{}},"Tags":{"id":"F%7CEp","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Notes":{"id":"Glu%3F","name":"Notes","type":"rich_text","rich_text":{}},"Index":{"id":"v_ml","name":"Index","type":"number","number":{"format":"number"}},"Due
      Date":{"id":"w~Sd","name":"Due Date","type":"date","date":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/d080b3a938a044bb89efe7af24ec882d","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "d080b3a9-38a0-44bb-89ef-e7af24ec882d"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"be44fcd9-db9d-4090-87ee-e9a7c29ed348","created_time":"2022-12-14T04:32:00.000Z","last_edited_time":"2022-12-14T04:32:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"d080b3a9-38a0-44bb-89ef-e7af24ec882d"},"archived":false,"properties":{"Complete":{"id":"FRLS","type":"checkbox","checkbox":false},"Tags":{"id":"F%7CEp","type":"multi_select","multi_select":[]},"Notes":{"id":"Glu%3F","type":"rich_text","rich_text":[]},"Index":{"id":"v_ml","type":"number","number":null},"Due
      Date":{"id":"w~Sd","type":"date","date":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/be44fcd9db9d409087eee9a7c29ed348"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "MissingProp", "text": {"content": "MissingProp"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/be44fcd9db9d409087eee9a7c29ed348
  response:
    content: '{"object":"page","id":"be44fcd9-db9d-4090-87ee-e9a7c29ed348","created_time"[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/d080b3a938a044bb89efe7af24ec882d
  response:
    content: '{"object":"block","id":"d080b3a9-38a0-44bb-89ef-e7af24ec882d","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-14T04:32:00.000Z","last_edited_time":"2022-12-14T04:32:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_missing_property
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
