interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "tests/test_pages.py::test_page_icon (setup)"}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"error","status":400,"code":"validation_error","message":"body
      failed validation. Fix one:\nbody.properties.title.title[0].text should be defined,
      instead was `undefined`.\nbody.properties.title.title[0].mention should be defined,
      instead was `undefined`.\nbody.properties.title.title[0].equation should be
      defined, instead was `undefined`."}'
    headers: {}
    status_code: 400
version: 1
