interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_database.py::test_restore_database
      (setup)", "text": {"content": "tests/test_database.py::test_restore_database
      (setup)"}}], "properties": {"Name": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"67a18ad4-6679-45b1-baea-cc06cf62fe10","cover":null,"icon":null,"created_time":"2023-08-08T15:05:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-08-08T15:05:00.000Z","title":[{"type":"text","text":{"content":"tests/test_database.py::test_restore_database
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_database.py::test_restore_database
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/67a18ad4667945b1baeacc06cf62fe10","public_url":null,"archived":false}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/67a18ad4-6679-45b1-baea-cc06cf62fe10
  response:
    content: '{"object":"block","id":"67a18ad4-6679-45b1-baea-cc06cf62fe10","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-08-08T15:05:00.000Z","last_edited_time":"2023-08-08T15:05:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_database.py::test_restore_database
      (setup)"}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/67a18ad4-6679-45b1-baea-cc06cf62fe10
  response:
    content: '{"object":"database","id":"67a18ad4-6679-45b1-baea-cc06cf62fe10","cover":null,"icon":null,"created_time":"2023-08-08T15:05:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-08-08T15:05:00.000Z","title":[{"type":"text","text":{"content":"tests/test_database.py::test_restore_database
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_database.py::test_restore_database
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/67a18ad4667945b1baeacc06cf62fe10","public_url":null,"archived":true}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/67a18ad4-6679-45b1-baea-cc06cf62fe10
  response:
    content: '{"object":"block","id":"67a18ad4-6679-45b1-baea-cc06cf62fe10","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-08-08T15:05:00.000Z","last_edited_time":"2023-08-08T15:05:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_database.py::test_restore_database
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
