interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_simple_model_with_children
      (setup)", "text": {"content": "tests/test_orm.py::test_simple_model_with_children
      (setup)"}}], "properties": {"Name": {"type": "title", "title": {}}, "Index":
      {"type": "number", "number": {"format": "number"}}, "Notes": {"type": "rich_text",
      "rich_text": {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date":
      {"type": "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"3d62ab3d-9efa-46f9-b380-27dfc2f6d01e","cover":null,"icon":null,"created_time":"2022-12-31T16:49:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-31T16:49:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_simple_model_with_children
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_simple_model_with_children
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Index":{"id":"Gar%3C","name":"Index","type":"number","number":{"format":"number"}},"Complete":{"id":"%5DSfT","name":"Complete","type":"checkbox","checkbox":{}},"Due
      Date":{"id":"_%3ETv","name":"Due Date","type":"date","date":{}},"Notes":{"id":"iIFi","name":"Notes","type":"rich_text","rich_text":{}},"Tags":{"id":"wuI%3E","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/3d62ab3d9efa46f9b38027dfc2f6d01e","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "3d62ab3d-9efa-46f9-b380-27dfc2f6d01e"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"7a0e7360-bcbf-4051-b83c-16c1a7889038","created_time":"2022-12-31T16:49:00.000Z","last_edited_time":"2022-12-31T16:49:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"3d62ab3d-9efa-46f9-b380-27dfc2f6d01e"},"archived":false,"properties":{"Index":{"id":"Gar%3C","type":"number","number":null},"Complete":{"id":"%5DSfT","type":"checkbox","checkbox":false},"Due
      Date":{"id":"_%3ETv","type":"date","date":null},"Notes":{"id":"iIFi","type":"rich_text","rich_text":[]},"Tags":{"id":"wuI%3E","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/7a0e7360bcbf4051b83c16c1a7889038"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/7a0e7360bcbf4051b83c16c1a7889038
  response:
    content: '{"object":"page","id":"7a0e7360-bcbf-4051-b83c-16c1a7889038","created_time":"2022-12-31[...]
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "archived": false, "heading_1": {"rich_text": [{"type": "text", "plain_text":
      "New Business", "text": {"content": "New Business"}}], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/7a0e7360-bcbf-4051-b83c-16c1a7889038/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"29f0de35-7e2b-4721-aeb8-30f55cf3ab1b","parent":{"type":"page_id","page_id":"7a0e7360-bcbf-4051-b83c-16c1a7889038"},"created_time":"2022-12-31T16:49:00.000Z","last_edited_time":"2022-12-31T16:49:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"New
      Business","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      Business","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/7a0e7360-bcbf-4051-b83c-16c1a7889038/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"29f0de35-7e2b-4721-aeb8-30f55cf3ab1b","parent":{"type":"page_id","page_id":"7a0e7360-bcbf-4051-b83c-16c1a7889038"},"created_time":"2022-12-31T16:49:00.000Z","last_edited_time":"2022-12-31T16:49:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"New
      Business","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      Business","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/3d62ab3d-9efa-46f9-b380-27dfc2f6d01e
  response:
    content: '{"object":"block","id":"3d62ab3d-9efa-46f9-b380-27dfc2f6d01e","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-31T16:49:00.000Z","last_edited_time":"2022-12-31T16:49:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_simple_model_with_children
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
