interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_database.py::test_update_schema
      (setup)", "text": {"content": "tests/test_database.py::test_update_schema (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"27bdb217-85cf-4090-b141-145a51b4cdc9","cover":null,"icon":null,"created_time":"2023-08-04T16:53:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-08-04T16:53:00.000Z","title":[{"type":"text","text":{"content":"tests/test_database.py::test_update_schema
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_database.py::test_update_schema
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/27bdb21785cf4090b141145a51b4cdc9","public_url":null,"archived":false}'
    headers: {}
    status_code: 200
version: 1
