interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_query.py::test_query_database
      (setup)", "text": {"content": "tests/test_query.py::test_query_database (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a7d79637-4ba6-4ecb-af89-49558e6bb807","cover":null,"icon":null,"created_time":"2023-08-02T04:40:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-08-02T04:40:00.000Z","title":[{"type":"text","text":{"content":"tests/test_query.py::test_query_database
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_query.py::test_query_database
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Due
      Date":{"id":"CZD~","name":"Due Date","type":"date","date":{}},"Tags":{"id":"KGuK","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Complete":{"id":"Y%5EzE","name":"Complete","type":"checkbox","checkbox":{}},"Index":{"id":"_XAS","name":"Index","type":"number","number":{"format":"number"}},"Notes":{"id":"jZ%5D%60","name":"Notes","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/a7d796374ba64ecbaf8949558e6bb807","public_url":null,"archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "a7d79637-4ba6-4ecb-af89-49558e6bb807"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Find Me!"}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"error","status":400,"code":"validation_error","message":"body
      failed validation. Fix one:\nbody.properties.title.title[0].text should be defined,
      instead was `undefined`.\nbody.properties.title.title[0].mention should be defined,
      instead was `undefined`.\nbody.properties.title.title[0].equation should be
      defined, instead was `undefined`."}'
    headers: {}
    status_code: 400
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/a7d79637-4ba6-4ecb-af89-49558e6bb807
  response:
    content: '{"object":"block","id":"a7d79637-4ba6-4ecb-af89-49558e6bb807","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-08-02T04:40:00.000Z","last_edited_time":"2023-08-02T04:40:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_query.py::test_query_database
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
