interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_simple_model
      (setup)", "text": {"content": "tests/test_orm.py::test_simple_model (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"28bcc28d-302a-43a9-9501-34bb08549b0d","cover":null,"icon":null,"created_time":"2023-08-02T04:39:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-08-02T04:39:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_simple_model
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_simple_model
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"%3ADD%7D","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Complete":{"id":"IWLo","name":"Complete","type":"checkbox","checkbox":{}},"Index":{"id":"%5BC_%3C","name":"Index","type":"number","number":{"format":"number"}},"Due
      Date":{"id":"_SIp","name":"Due Date","type":"date","date":{}},"Notes":{"id":"tgGi","name":"Notes","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/28bcc28d302a43a9950134bb08549b0d","public_url":null,"archived":false}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/28bcc28d-302a-43a9-9501-34bb08549b0d
  response:
    content: '{"object":"block","id":"28bcc28d-302a-43a9-9501-34bb08549b0d","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-08-02T04:39:00.000Z","last_edited_time":"2023-08-02T04:39:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_simple_model
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
