interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_query
      (setup)", "text": {"content": "tests/test_orm.py::test_orm_query (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"e9af5a89-7ca8-44cf-9322-7ef817296a48","cover":null,"icon":null,"created_time":"2022-11-08T22:58:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-11-08T22:58:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_query
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_query
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Due
      Date":{"id":"HaNr","name":"Due Date","type":"date","date":{}},"Tags":{"id":"R%7BpY","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Notes":{"id":"fkER","name":"Notes","type":"rich_text","rich_text":{}},"Index":{"id":"n%3DlZ","name":"Index","type":"number","number":{"format":"number"}},"Complete":{"id":"sM%5ED","name":"Complete","type":"checkbox","checkbox":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/e9af5a897ca844cf93227ef817296a48","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "e9af5a89-7ca8-44cf-9322-7ef817296a48"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3768b978-c248-47ab-9d0a-02c7fbc1bf19","created_time":"2022-11-08T22:58:00.000Z","last_edited_time":"2022-11-08T22:58:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"e9af5a89-7ca8-44cf-9322-7ef817296a48"},"archived":false,"properties":{"Due
      Date":{"id":"HaNr","type":"date","date":null},"Tags":{"id":"R%7BpY","type":"multi_select","multi_select":[]},"Notes":{"id":"fkER","type":"rich_text","rich_text":[]},"Index":{"id":"n%3DlZ","type":"number","number":null},"Complete":{"id":"sM%5ED","type":"checkbox","checkbox":false},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/3768b978c24847ab9d0a02c7fbc1bf19"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Needle", "text": {"content": "Needle"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: PATCH
    uri: https://api.notion.com/v1/pages/3768b978c24847ab9d0a02c7fbc1bf19
  response:
    content: '{"object":"page","id":"3768b978-c248-47ab-9d0a-02c7fbc1bf19","created_time":"2022-11-[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/databases/e9af5a89-7ca8-44cf-9322-7ef817296a48/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3768b978-c248-47ab-9d0a-02c7fbc1bf19","created_time":"2022-11-08T22:58:00.000Z","last_edited_time":"2022-11-08T22:58:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"e9af5a89-7ca8-44cf-9322-7ef817296a48"},"archived":false,"properties":{"Due
      Date":{"id":"HaNr","type":"date","date":null},"Tags":{"id":"R%7BpY","type":"multi_select","multi_select":[]},"Notes":{"id":"fkER","type":"rich_text","rich_text":[]},"Index":{"id":"n%3DlZ","type":"number","number":null},"Complete":{"id":"sM%5ED","type":"checkbox","checkbox":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Needle","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Needle","href":null}]}},"url":"https://www.notion.so/Needle-3768b978c24847ab9d0a02c7fbc1bf19"}],"next_cursor":null,"has_more":false,"type":"page","page":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/e9af5a897ca844cf93227ef817296a48
  response:
    content: '{"object":"block","id":"e9af5a89-7ca8-44cf-9322-7ef817296a48","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-11-08T22:58:00.000Z","last_edited_time":"2022-11-08T22:58:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_query
      (setup)"}}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/e01d0300ef7e41de8d2ca90966f42c9b
  response:
    content: '{"object":"block","id":"e01d0300-ef7e-41de-8d2c-a90966f42c9b","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-11-29T21:39:00.000Z","last_edited_time":"2022-11-29T21:39:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_query
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
