interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "tests/test_pages.py::test_page_icon (setup)", "text": {"content": "tests/test_pages.py::test_page_icon
      (setup)"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"e8dfe4f1-013f-4d7e-b53d-8f3085235f7d","created_time":"2024-05-04T14:08:00.000Z","last_edited_time":"2024-05-04T14:08:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_pages.py::test_page_icon
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_pages.py::test_page_icon
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_pages-py-test_page_icon-setup-e8dfe4f1013f4d7eb53d8f3085235f7d","public_url":null,"request_id":"e98302d7-721d-4f2a-84ba-8078933df01e"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\u2603\ufe0f"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/e8dfe4f1013f4d7eb53d8f3085235f7d
  response:
    content: "{\"object\":\"page\",\"id\":\"e8dfe4f1-013f-4d7e-b53d-8f3085235f7d\"\
      ,\"created_time\":\"2024-05-04T14:08:00.000Z\",\"last_edited_time\":\"2024-05-04T14:08:00.000Z\"\
      ,\"created_by\":{\"object\":\"user\",\"id\"[...]
[...]
