interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_icon (setup)",
      "text": {"content": "tests/test_orm.py::test_orm_icon (setup)"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Index": {"type": "number", "number":
      {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text": {}}, "Complete":
      {"type": "checkbox", "checkbox": {}}, "Due Date": {"type": "date", "date": {}},
      "Tags": {"type": "multi_select", "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"94482987-6032-495f-8432-fe7c0b23d515","cover":null,"icon":null,"created_time":"2022-12-31T05:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-31T05:19:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_icon
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_icon
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"%3CdxS","name":"Notes","type":"rich_text","rich_text":{}},"Due
      Date":{"id":"B%3Fu%3B","name":"Due Date","type":"date","date":{}},"Index":{"id":"TgP%5C","name":"Index","type":"number","number":{"format":"number"}},"Complete":{"id":"tDOX","name":"Complete","type":"checkbox","checkbox":{}},"Tags":{"id":"uvtK","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/944829876032495f8432fe7c0b23d515","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "94482987-6032-495f-8432-fe7c0b23d515"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"a10e3bcc-c069-457a-951f-f613085ea88b","created_time":"2022-12-31T05:19:00.000Z","last_edited_time":"2022-12-31T05:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"94482987-6032-495f-8432-fe7c0b23d515"},"archived":false,"properties":{"Notes":{"id":"%3CdxS","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"B%3Fu%3B","type":"date","date":null},"Index":{"id":"TgP%5C","type":"number","number":null},"Complete":{"id":"tDOX","type":"checkbox","checkbox":false},"Tags":{"id":"uvtK","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/a10e3bccc069457a951ff613085ea88b"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83c\udf54"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/a10e3bccc069457a951ff613085ea88b
  response:
    content: "{\"object\":\"page\",\"id\":\"a10e3bcc-c069-457a-951f-f613085ea88b\",\"created_time\":\"2022-12-31T05:19:00.000Z\",\"last_edited_time\":\"2022-12-31T05:19:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F354\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"94482987-6032-495f-8432-fe7c0b23d515\"},\"archived\":false,\"properties\":{\"Notes\":{\"id\":\"%3CdxS\",\"type\":\"rich_text\",\"rich_text\":[]},\"Due
      Date\":{\"id\":\"B%3Fu%3B\",\"type\":\"date\",\"date\":null},\"Index\":{\"id\":\"TgP%5C\",\"type\":\"number\",\"number\":null},\"Complete\":{\"id\":\"tDOX\",\"type\":\"checkbox\",\"checkbox\":false},\"Tags\":{\"id\":\"uvtK\",\"type\":\"multi_select\",\"multi_select\":[]},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[]}},\"url\":\"https://www.notion.so/a10e3bccc069457a951ff613085ea88b\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/94482987-6032-495f-8432-fe7c0b23d515
  response:
    content: '{"object":"block","id":"94482987-6032-495f-8432-fe7c0b23d515","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-31T05:19:00.000Z","last_edited_time":"2022-12-31T05:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_icon
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
