interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_simple_model_with_children
      (setup)", "text": {"content": "tests/test_orm.py::test_simple_model_with_children
      (setup)"}}], "properties": {"Name": {"type": "title", "title": {}}, "Index":
      {"type": "number", "number": {"format": "number"}}, "Notes": {"type": "rich_text",
      "rich_text": {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date":
      {"type": "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"6f1c8eec-016f-483e-b878-fed9d20cf697","cover":null,"icon":null,"created_time":"2022-12-13T22:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-13T22:02:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_simple_model_with_children
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_simple_model_with_children
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Due
      Date":{"id":"GE%7BX","name":"Due Date","type":"date","date":{}},"Index":{"id":"Mv%3AG","name":"Index","type":"number","number":{"format":"number"}},"Notes":{"id":"QD%3EU","name":"Notes","type":"rich_text","rich_text":{}},"Tags":{"id":"Qcd_","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Complete":{"id":"sFX%3C","name":"Complete","type":"checkbox","checkbox":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/6f1c8eec016f483eb878fed9d20cf697","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "6f1c8eec-016f-483e-b878-fed9d20cf697"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"4285f18e-cb38-43e6-8a92-7e1d2a20bef7","created_time":"2022-12-13T22:02:00.000Z","last_edited_time":"2022-12-13T22:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"6f1c8eec-016f-483e-b878-fed9d20cf697"},"archived":false,"properties":{"Due
      Date":{"id":"GE%7BX","type":"date","date":null},"Index":{"id":"Mv%3AG","type":"number","number":null},"Notes":{"id":"QD%3EU","type":"rich_text","rich_text":[]},"Tags":{"id":"Qcd_","type":"multi_select","multi_select":[]},"Complete":{"id":"sFX%3C","type":"checkbox","checkbox":false},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/4285f18ecb3843e68a927e1d2a20bef7"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/4285f18ecb3843e68a927e1d2a20bef7
  response:
    content: '{"object":"page","id":"4285f18e-cb38-43e6-8a92-7e1d2a20bef7","created_time":"2022-12-13[...]
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "archived": false, "heading_1": {"rich_text": [{"type": "text", "plain_text":
      "New Business", "text": {"content": "New Business"}}], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/4285f18ecb3843e68a927e1d2a20bef7/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3a346797-ca47-41cf-aff4-94a754fd2b06","parent":{"type":"page_id","page_id":"4285f18e-cb38-43e6-8a92-7e1d2a20bef7"},"created_time":"2022-12-13T22:02:00.000Z","last_edited_time":"2022-12-13T22:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"New
      Business","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      Business","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/4285f18ecb3843e68a927e1d2a20bef7/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3a346797-ca47-41cf-aff4-94a754fd2b06","parent":{"type":"page_id","page_id":"4285f18e-cb38-43e6-8a92-7e1d2a20bef7"},"created_time":"2022-12-13T22:02:00.000Z","last_edited_time":"2022-12-13T22:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"New
      Business","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      Business","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/6f1c8eec016f483eb878fed9d20cf697
  response:
    content: '{"object":"block","id":"6f1c8eec-016f-483e-b878-fed9d20cf697","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-13T22:02:00.000Z","last_edited_time":"2022-12-13T22:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_simple_model_with_children
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
