interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_simple_model
      (setup)", "text": {"content": "tests/test_orm.py::test_simple_model (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a3780589-7ca9-4c4d-860e-7eedc3936384","cover":null,"icon":null,"created_time":"2022-12-30T22:45:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-30T22:45:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_simple_model
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_simple_model
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Due
      Date":{"id":"%3ALBi","name":"Due Date","type":"date","date":{}},"Index":{"id":"Oaoq","name":"Index","type":"number","number":{"format":"number"}},"Tags":{"id":"%5Ct%3EW","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Notes":{"id":"%7BiA~","name":"Notes","type":"rich_text","rich_text":{}},"Complete":{"id":"~~%3CW","name":"Complete","type":"checkbox","checkbox":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/a37805897ca94c4d860e7eedc3936384","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "a3780589-7ca9-4c4d-860e-7eedc3936384"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"1b71ca3e-667a-4f28-b4ca-07a453831eb1","created_time":"2022-12-30T22:45:00.000Z","last_edited_time":"2022-12-30T22:45:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"a3780589-7ca9-4c4d-860e-7eedc3936384"},"archived":false,"properties":{"Due
      Date":{"id":"%3ALBi","type":"date","date":null},"Index":{"id":"Oaoq","type":"number","number":null},"Tags":{"id":"%5Ct%3EW","type":"multi_select","multi_select":[]},"Notes":{"id":"%7BiA~","type":"rich_text","rich_text":[]},"Complete":{"id":"~~%3CW","type":"checkbox","checkbox":false},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/1b71ca3e667a4f28b4ca07a453831eb1"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "One&Only", "text": {"content": "One&Only"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/1b71ca3e667a4f28b4ca07a453831eb1
  response:
    content: '{"object":"page","id":"1b71ca3e-667a-4f28-b4ca-07a453831eb1","created_time":"2022[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/a3780589-7ca9-4c4d-860e-7eedc3936384
  response:
    content: '{"object":"block","id":"a3780589-7ca9-4c4d-860e-7eedc3936384","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-30T22:45:00.000Z","last_edited_time":"2022-12-30T22:45:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_simple_model
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
