interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_simple_model
      (setup)", "text": {"content": "tests/test_orm.py::test_simple_model (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a43f36a0-eada-4140-8d7f-23f7a18f7183","cover":null,"icon":null,"created_time":"2022-12-30T21:49:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-30T21:49:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_simple_model
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_simple_model
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"%3EwBI","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Notes":{"id":"VYDP","name":"Notes","type":"rich_text","rich_text":{}},"Due
      Date":{"id":"%5B%3Eo%5D","name":"Due Date","type":"date","date":{}},"Index":{"id":"byYr","name":"Index","type":"number","number":{"format":"number"}},"Complete":{"id":"fT%3FM","name":"Complete","type":"checkbox","checkbox":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/a43f36a0eada41408d7f23f7a18f7183","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "a43f36a0-eada-4140-8d7f-23f7a18f7183"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"0ea048d3-e6e4-486e-ae3a-28a896ef13ee","created_time":"2022-12-30T21:50:00.000Z","last_edited_time":"2022-12-30T21:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"a43f36a0-eada-4140-8d7f-23f7a18f7183"},"archived":false,"properties":{"Tags":{"id":"%3EwBI","type":"multi_select","multi_select":[]},"Notes":{"id":"VYDP","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"%5B%3Eo%5D","type":"date","date":null},"Index":{"id":"byYr","type":"number","number":null},"Complete":{"id":"fT%3FM","type":"checkbox","checkbox":false},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/0ea048d3e6e4486eae3a28a896ef13ee"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "One&Only", "text": {"content": "One&Only"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/0ea048d3e6e4486eae3a28a896ef13ee
  response:
    content: '{"object":"page","id":"0ea048d3-e6e4-486e-ae3a-28a896ef13ee","created_time":"2022[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/a43f36a0-eada-4140-8d7f-23f7a18f7183
  response:
    content: '{"object":"block","id":"a43f36a0-eada-4140-8d7f-23f7a18f7183","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-30T21:49:00.000Z","last_edited_time":"2022-12-30T21:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_simple_model
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
