interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/250662d9-783d-483c-b131-341ed479f96c
  response:
    content: '{"object":"page","id":"250662d9-783d-483c-b131-341ed479f96c","created_time":"2021-08-03T13:21:00.000Z","last_edited_time":"2022-12-31T19:31:00.000Z","created_by":{"object":"user","id":"ea74294e-d4c7-41f0-8929-805c80ea0d7f"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":{"type":"external","external":{"url":"https://images.unsplash.com/photo-1562380156-9a99cd92484c?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb"}},"icon":null,"parent":{"type":"page_id","page_id":"931a3b8b-875e-462d-a31d-29b49475d922"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Notional","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Notional","href":null}]}},"url":"https://www.notion.so/Notional-250662d9783d483cb131341ed479f96c"}'
    headers: {}
    status_code: 200
- request:
    body: '{"children": [{"type": "link_preview", "object": "block", "has_children":
      false, "archived": false, "link_preview": {"url": "https://www.youtube.com/"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/250662d9-783d-483c-b131-341ed479f96c/children
  response:
    content: '{"object":"error","status":400,"code":"validation_error","message":"body
      failed validation. Fix one:\nbody.children[0].embed should be defined, instead
      was `undefined`.\nbody.children[0].bookmark should be defined, instead was `undefined`.\nbody.children[0].image
      should be defined, instead was `undefined`.\nbody.children[0].video should be
      defined, instead was `undefined`.\nbody.children[0].pdf should be defined, instead
      was `undefined`.\nbody.children[0].file should be defined, instead was `undefined`.\nbody.children[0].audio
    [...]
