interactions:
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"250662d9-783d-483c-b131-341ed479f96c\",\"created_time\":\"2021-08-03T13:21:00.000Z\",\"last_edited_time\":\"2023-01-19T00:59:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"ea74294e-d4c7-41f0-8929-805c80ea0d7f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"cover\":{\"type\":\"external\",\"external\":{\"url\":\"https://images.unsplash.com/photo-1562380156-9a99cd92484c?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb\"}},\"icon\":null,\"parent\":{\"type\":\"page_id\",\"page_id\":\"931a3b8b-875e-462d-a31d-29b49475d922\"},\"archived\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Notional\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Notional\",\"href\":null}]}},\"url\":\"https://www.notion.so/Notional-250662d9783d483cb131341ed479f96c\"},{\"object\":\"page\",\"id\":\"0136c04f-1077-4c21-aec6-46f93140dd7e\",\"created_time\":\"2021-06-03T22:46:00.000Z\",\"last_edited_time\":\"2023-01-03T17:05:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"ea74294e-d4c7-41f0-8929-805c80ea0d7f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"ea74294e-d4c7-41f0-8929-805c80ea0d7f\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"database_id\",\"database_id\":\"e469c062-0e6b-4c7d-9335-550954dca09f\"},\"archived\":false,\"properties\":{\"Summary\":{\"id\":\"%3AT%3Cz\",\"type\":\"rich_text\",\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Commit
      me\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Commit
      me\",\"href\":null}]},\"Date Range\":{\"id\":\"%3C%7C%3Bg\",\"type\":\"date\",\"date\":null},\"Related\":{\"id\":\"%3Em%3By\",\"type\":\"relation\",\"relation\":[],\"has_more\":false},\"Created
      By\":{\"id\":\"%40yUe\",\"type\":\"created_by\",\"created_by\":{\"object\":\"user\",\"id\":\"ea74294e-d4c7-41f0-8929-805c80ea0d7f\",\"name\":\"Jason
      Heddings\",\"avatar_url\":\"https://s3-us-west-2.amazonaws.com/public.notion-static.com/663cfc75-1d86-4663-9baa-8920c428971a/jheddings.jpg\",\"type\":\"person\",\"person\":{\"email\":\"jason@heddings.com\"}}},\"Last
      Update\":{\"id\":\"HdA%3E\",\"type\":\"last_edited_time\",\"last_edited_time\":\"2023-01-03T17:05:00.000Z\"},\"Status\":{\"id\":\"Iwrd\",\"type\":\"status\",\"status\":{\"id\":\"8c55ae9f-1720-4144-8fa3-ddaa591a08e9\",\"name\":\"Done\",\"color\":\"green\"}},\"Maxed
      Out\":{\"id\":\"Mu%3FO\",\"type\":\"rollup\",\"rollup\":{\"type\":\"date\",\"date\":null,\"function\":\"latest_date\"}},\"Attachments\":{\"id\":\"NNT%7B\",\"type\":\"files\",\"files\":[]},\"Counted\":{\"id\":\"Ob%3Ab\",\"type\":\"rollup\",\"rollup\":{\"type\":\"number\",\"number\":0,\"function\":\"sum\"}},\"Contact
      Email\":{\"id\":\"QU%7Cp\",\"type\":\"email\",\"email\":null},\"Tags\":{\"id\":\"W%3Akr\",\"type\":\"multi_select\",\"multi_select\":[{\"id\":\"c643b349-4577-4a85-86ff-74ff3fee1cba\",\"name\":\"Draft\",\"color\":\"green\"}]},\"Index\":{\"id\":\"XQOP\",\"type\":\"number\",\"number\":null},\"Due
      Date\":{\"id\":\"%5BWkE\",\"type\":\"date\",\"date\":null},\"Cost\":{\"id\":\"%5Esjd\",\"type\":\"number\",\"number\":1468.25},\"Timestamp\":{\"id\":\"_mGp\",\"type\":\"date\",\"date\":{\"start\":\"2021-06-03T14:15:00.000-06:00\",\"end\":null,\"time_zone\":null}},\"Next
      Time\":{\"id\":\"ab%40%5D\",\"type\":\"formula\",\"formula\":{\"type\":\"date\",\"date\":null}},\"Complete\":{\"id\":\"ax%7BO\",\"type\":\"checkbox\",\"checkbox\":false},\"Mixed\":{\"id\":\"bXNJ\",\"type\":\"rollup\",\"rollup\":{\"type\":\"array\",\"array\":[],\"function\":\"show_original\"}},\"Priority\":{\"id\":\"c%3A%3Aa\",\"type\":\"select\",\"select\":{\"id\":\"56b8e2ea-fc79-4470-878d-a21cd352c9e9\",\"name\":\"Urgent\",\"color\":\"purple\"}},\"Updated
      By\":{\"id\":\"dxcT\",\"type\":\"last_edited_by\",\"last_edited_by\":{\"object\":\"user\",\"id\":\"ea74294e-d4c7-41f0-8929-805c80ea0d7f\",\"name\":\"Jason
      Heddings\",\"avatar_url\":\"https://s3-us-west-2.amazonaws.com/public.notion-static.com/663cfc75-1d86-4663-9baa-8920c428971a/jheddings.jpg\",\"type\":\"person\",\"person\":{\"email\":\"jason@heddings.com\"}}},\"Year\":{\"id\":\"mGPh\",\"type\":\"formula\",\"formula\":{\"type\":\"number\",\"number\":null}},\"Owner\":{\"id\":\"nQ%3CY\",\"type\":\"people\",\"people\":[{\"object\":\"user\",\"id\":\"b670ea6f-809d-4b4a-8421-37fce3fdff98\"}]},\"Reference\":{\"id\":\"rNKf\",\"type\":\"url\",\"url\":null},\"Display
      Title\":{\"id\":\"s%7C%3ET\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"The
      Final Frontier [Anonymous]\"}},\"Contact Phone\":{\"id\":\"tLo%5E\",\"type\":\"phone_number\",\"phone_number\":null},\"Created
      On\":{\"id\":\"v%7D%7BN\",\"type\":\"created_time\",\"created_time\":\"2021-06-03T22:46:00.000Z\"},\"Title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"The
      Final Frontier\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"The
      Final Frontier\",\"href\":null}]},\"Countdown\":{\"id\":\"36b48abc-53ce-4236-b5ec-b06bfc03961e\",\"type\":\"date\",\"date\":null},\"Progress\":{\"id\":\"66fe1aed-bfff-4e71-ae59-f7c9b1ababf1\",\"type\":\"number\",\"number\":27},\"Release
      Date\":{\"id\":\"fdfc07e1-1123-4afa-8aac-a6c55ec50eab\",\"type\":\"date\",\"date\":null}},\"url\":\"https://www.notion.so/The-Final-Frontier-0136c04f10774c21aec646f93140dd7e\"},{\"object\":\"page\",\"id\":\"3197ff04-79b4-4636-9f84-f2428f6ba7ff\",\"created_time\":\"2021-06-05T14:23:00.000Z\",\"last_edited_time\":\"2023-01-03T17:05:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"ea74294e-d4c7[...]
- request:
    body: '{"start_cursor": "ee0bbfd2-6ada-4212-8314-186b14394eb2", "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"ee0bbfd2-6ada-4212-8314-186b14394eb2","created_time":"2022-12-27T21:58:00.000Z","last_edited_time":"2022-12-27T21:58:00.000Z","created_by":{"object":"user","id":"ea74294e-d4c7-41f0-8929-805c80ea0d7f"},"last_edited_by":{"object":"user","id":"ea74294e-d4c7-41f0-8929-805c80ea0d7f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"71548f34-ae7a-4f89-8309-2f3971d0d56e"},"archived":false,"properties":{"Project":{"id":"LYKl","type":"relation","relation":[],"has_more":false},"Last
      Name":{"id":"PEzP","type":"formula","formula":{"type":"string","string":"Murphy"}},"First
      Name":{"id":"Zc%40%5D","type":"formula","formula":{"type":"string","string":"Curtis"}},"Target":{"id":"%5Emxi","type":"date","date":{"start":"2033-10-24","end":null,"time_zone":null}},"Count":{"id":"wf%3Au","type":"number","number":302},"Last
      Update":{"id":"%7CWbA","type":"last_edited_time","last_edited_time":"2022-12-27T21:58:00.000Z"},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Curtis
      Murphy","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Curtis
      Murphy","href":null}]}},"url":"https://www.notion.so/Curtis-Murphy-ee0bbfd26ada42128314186b14394eb2"},{"object":"page","id":"ef19f559-63ac-43be-b7f1-6b6dd6acec75","created_time":"2022-12-27T21:58:00.000Z","last_edited_time":"2022-12-27T21:58:00.000Z","[...]
