interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "42faa3d6-2b2e-46e8-8565-481c52fcd553"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_missing_property
      (setup)", "text": {"content": "tests/test_orm.py::test_missing_property (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"9d8bc3ec-907e-449a-92ef-b7d7143cec07","cover":null,"icon":null,"created_time":"2022-12-16T04:44:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-16T04:44:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_missing_property
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_missing_property
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"%3AQ%7Bi","name":"Notes","type":"rich_text","rich_text":{}},"Due
      Date":{"id":"Ae%7BJ","name":"Due Date","type":"date","date":{}},"Index":{"id":"S%40JX","name":"Index","type":"number","number":{"format":"number"}},"Tags":{"id":"YPFs","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Complete":{"id":"r%5Ejo","name":"Complete","type":"checkbox","checkbox":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"url":"https://www.notion.so/9d8bc3ec907e449a92efb7d7143cec07","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "9d8bc3ec-907e-449a-92ef-b7d7143cec07"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3e7941e3-3bee-4192-a0de-916331259be7","created_time":"2022-12-16T04:44:00.000Z","last_edited_time":"2022-12-16T04:44:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"9d8bc3ec-907e-449a-92ef-b7d7143cec07"},"archived":false,"properties":{"Notes":{"id":"%3AQ%7Bi","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"Ae%7BJ","type":"date","date":null},"Index":{"id":"S%40JX","type":"number","number":null},"Tags":{"id":"YPFs","type":"multi_select","multi_select":[]},"Complete":{"id":"r%5Ejo","type":"checkbox","checkbox":false},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/3e7941e33bee4192a0de916331259be7"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "MissingProp", "text": {"content": "MissingProp"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/3e7941e33bee4192a0de916331259be7
  response:
    content: '{"object":"page","id":"3e7941e3-3bee-4192-a0de-916331259be7","created_time"[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/9d8bc3ec907e449a92efb7d7143cec07
  response:
    content: '{"object":"block","id":"9d8bc3ec-907e-449a-92ef-b7d7143cec07","parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"created_time":"2022-12-16T04:44:00.000Z","last_edited_time":"2022-12-16T04:44:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_missing_property
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
