interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/00ade642ce834f6dacb12e2ab0434020
  response:
    content: "{\"object\":\"block\",\"id\":\"00ade642-ce83-4f6d-acb1-2e2ab0434020\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"250662d9-783d-483c-b131-341ed479f96c\"},\"created_time\":\"2022-12-16T14:04:00.000Z\",\"last_edited_time\":\"2022-12-23T00:17:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"ea74294e-d4c7-41f0-8929-805c80ea0d7f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"ea74294e-d4c7-41f0-8929-805c80ea0d7f\"},\"has_children\":false,\"archived\":false,\"type\":\"callout\",\"callout\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"This
      page contains blocks that are specifically used in unit tests.  Changes to these
      blocks may result in failed test cases.\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"This
      page contains blocks that are specifically used in unit tests.  Changes to these
      blocks may result in failed test cases.\",\"href\":null}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u26A0\uFE0F\"},\"color\":\"gray_background\"}}"
    headers: {}
    status_code: 200
version: 1
