interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "tests/test_pages.py::test_create_empty_page (setup)", "text": {"content": "tests/test_pages.py::test_create_empty_page
      (setup)"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"82de4ad6-f5ed-47a7-a6b8-8e12b7ab48f5","created_time":"2024-04-07T02:02:00.000Z","last_edited_time":"2024-04-07T02:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_pages.py::test_create_empty_page
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_pages.py::test_create_empty_page
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_pages-py-test_create_empty_page-setup-82de4ad6f5ed47a7a6b88e12b7ab48f5","public_url":null,"request_id":"ec0a59e1-7551-439c-a1c6-d0c6d34fae90"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/82de4ad6-f5ed-47a7-a6b8-8e12b7ab48f5
  response:
    content: '{"object":"page","id":"82de4ad6-f5ed-47a7-a6b8-8e12b7ab48f5","created_time":"2024-04-07T02:02:00.000Z","last_edited_time":"2024-04-07T02:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_pages.py::test_create_empty_page
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_pages.py::test_create_empty_page
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_pages-py-test_create_empty_page-setup-82de4ad6f5ed47a7a6b88e12b7ab48f5","public_url":null,"request_id":"879dfac1-1276-4ce6-9baa-37543d567378"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/82de4ad6-f5ed-47a7-a6b8-8e12b7ab48f5/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"bfc866ae-cd54-46c4-a78e-ee702fb17b70"}'
    headers: {}
    status_code: 200
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/82de4ad6f5ed47a7a6b88e12b7ab48f5
  response:
    content: '{"object":"page","id":"82de4ad6-f5ed-47a7-a6b8-8e12b7ab48f5","created_time":"2024-04-07T02:02:00.000Z","last_edited_time":"2024-04-07T02:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":true,"in_trash":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_pages.py::test_create_empty_page
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_pages.py::test_create_empty_page
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_pages-py-test_create_empty_page-setup-82de4ad6f5ed47a7a6b88e12b7ab48f5","public_url":null,"request_id":"5ed6f643-326d-45ba-bb65-023dc94bcc02"}'
    headers: {}
    status_code: 200
version: 1
