interactions:
- request:
    body: '{"children": [{"type": "callout", "object": "block", "has_children": false,
      "archived": false, "callout": {"rich_text": [{"type": "text", "plain_text":
      "Reappearing blocks!", "text": {"content": "Reappearing blocks!"}}], "color":
      "gray_background"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/250662d9-783d-483c-b131-341ed479f96c/children
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"3959d73a-29af-4871-87d3-7d07eb39db90\"\
      ,\"parent\":{\"type\":\"page_id\",\"page_id\":\"250662d9-783d-483c-b131-341ed479f96c\"\
      },\"created_time\":\"2024-05-04T14:06:00.000Z\",\"last_edited_time\":\"2024-05-04T14:06:00.000Z\"\
      ,\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"\
      },\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"\
      },\"has_children\":false,\"archived\":false,\"in_trash\":false,\"type\":\"callout\"\
      ,\"callout\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Reappearing\
      \ blocks!\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"\
      strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"\
      },\"plain_text\":\"Reappearing blocks!\",\"href\":null}],\"icon\":{\"type\"\
      :\"emoji\",\"emoji\":\"\U0001F4A1\"},\"color\":\"gray_background\"}}],\"next_cursor\"\
      :null,\"has_more\":false,\"type\":\"block\",\"block\":{},\"request_id\":\"97ece5b7-50ae-48c0-a54a-50ce5f50295c\"\
      }"
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/3959d73a-29af-4871-87d3-7d07eb39db90
  response:
    content: "{\"object\":\"block\",\"id\":\"3959d73a-29af-4871-87d3-7d07eb39db90\"\
      ,\"parent\":{\"type\":\"page_id\",\"page_id\":\"250662d9-783d-483c-b131-341ed479f96c\"\
      },\"created_time\":\"2024-05-04T14:06:00.000Z\",\"last_edited_time\":\"2024-05-04T14:06:00.000Z\"\
      ,\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"\
      },\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"\
      },\"has_children\":false,\"archived\":true,\"in_trash\":true,\"type\":\"callout\"\
      ,\"callout\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Reappearing\
      \ blocks!\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"\
      strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"\
      },\"plain_text\":\"Reappearing blocks!\",\"href\":null}],\"icon\":{\"type\"\
      :\"emoji\",\"emoji\":\"\U0001F4A1\"},\"color\":\"gray_background\"},\"request_id\"\
      :\"d3c47414-4936-4d86-9f00-a1b744e20ec4\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/3959d73a-29af-4871-87d3-7d07eb39db90
  response:
    content: "{\"object\":\"block\",\"id\":\"3959d73a-29af-4871-87d3-7d07eb39db90\"\
      ,\"parent\":{\"type\":\"page_id\",\"page_id\":\"250662d9-783d-483c-b131-341ed479f96c\"\
      },\"created_time\":\"2024-05-04T14:06:00.000Z\",\"last_edited_time\":\"2024-05-04T14:06:00.000Z\"\
      ,\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"\
      },\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"\
      },\"has_children\":false,\"archived\":true,\"in_trash\":true,\"type\":\"callout\"\
      ,\"callout\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Reappearing\
      \ blocks!\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"\
      strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"\
      },\"plain_text\":\"Reappearing blocks!\",\"href\":null}],\"icon\":{\"type\"\
      :\"emoji\",\"emoji\":\"\U0001F4A1\"},\"color\":\"gray_background\"},\"request_id\"\
      :\"de465d55-b1ed-44fb-8d87-a632a4d49edc\"}"
    headers: {}
    status_code: 200
version: 1
