interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_icon (setup)",
      "text": {"content": "tests/test_orm.py::test_orm_icon (setup)"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Index": {"type": "number", "number":
      {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text": {}}, "Complete":
      {"type": "checkbox", "checkbox": {}}, "Due Date": {"type": "date", "date": {}},
      "Tags": {"type": "multi_select", "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"ea8e3773-dccf-441c-8cf1-ec686662c297","cover":null,"icon":null,"created_time":"2022-12-13T22:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-13T22:02:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_icon
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_icon
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"T%3EmJ","name":"Notes","type":"rich_text","rich_text":{}},"Tags":{"id":"WjuK","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Complete":{"id":"%5D%7Bsc","name":"Complete","type":"checkbox","checkbox":{}},"Index":{"id":"rw%7Bm","name":"Index","type":"number","number":{"format":"number"}},"Due
      Date":{"id":"vf~m","name":"Due Date","type":"date","date":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/ea8e3773dccf441c8cf1ec686662c297","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "ea8e3773-dccf-441c-8cf1-ec686662c297"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"6243c489-e80f-4c28-bee0-8bf7486c2b84","created_time":"2022-12-13T22:02:00.000Z","last_edited_time":"2022-12-13T22:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"ea8e3773-dccf-441c-8cf1-ec686662c297"},"archived":false,"properties":{"Notes":{"id":"T%3EmJ","type":"rich_text","rich_text":[]},"Tags":{"id":"WjuK","type":"multi_select","multi_select":[]},"Complete":{"id":"%5D%7Bsc","type":"checkbox","checkbox":false},"Index":{"id":"rw%7Bm","type":"number","number":null},"Due
      Date":{"id":"vf~m","type":"date","date":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/6243c489e80f4c28bee08bf7486c2b84"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83c\udf54"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/6243c489e80f4c28bee08bf7486c2b84
  response:
    content: "{\"object\":\"page\",\"id\":\"6243c489-e80f-4c28-bee0-8bf7486c2b84\",\"created_time\":\"2022-12-13T22:02:00.000Z\",\"last_edited_time\":\"2022-12-13T22:02:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F354\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"ea8e3773-dccf-441c-8cf1-ec686662c297\"},\"archived\":false,\"properties\":{\"Notes\":{\"id\":\"T%3EmJ\",\"type\":\"rich_text\",\"rich_text\":[]},\"Tags\":{\"id\":\"WjuK\",\"type\":\"multi_select\",\"multi_select\":[]},\"Complete\":{\"id\":\"%5D%7Bsc\",\"type\":\"checkbox\",\"checkbox\":false},\"Index\":{\"id\":\"rw%7Bm\",\"type\":\"number\",\"number\":null},\"Due
      Date\":{\"id\":\"vf~m\",\"type\":\"date\",\"date\":null},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[]}},\"url\":\"https://www.notion.so/6243c489e80f4c28bee08bf7486c2b84\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/ea8e3773dccf441c8cf1ec686662c297
  response:
    content: '{"object":"block","id":"ea8e3773-dccf-441c-8cf1-ec686662c297","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-13T22:02:00.000Z","last_edited_time":"2022-12-13T22:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_icon
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
