interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_query.py::test_basic_number_constraint
      (setup)", "text": {"content": "tests/test_query.py::test_basic_number_constraint
      (setup)"}}], "properties": {"Name": {"type": "title", "title": {}}, "Index":
      {"type": "number", "number": {"format": "number"}}, "Notes": {"type": "rich_text",
      "rich_text": {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date":
      {"type": "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"eb26d55b-1d27-4359-b31c-520f04750f60","cover":null,"icon":null,"created_time":"2022-12-31T19:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-31T19:19:00.000Z","title":[{"type":"text","text":{"content":"tests/test_query.py::test_basic_number_constraint
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_query.py::test_basic_number_constraint
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"C%60Z%3F","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Complete":{"id":"CrT%5D","name":"Complete","type":"checkbox","checkbox":{}},"Due
      Date":{"id":"X%60%3Fb","name":"Due Date","type":"date","date":{}},"Notes":{"id":"i%5BcL","name":"Notes","type":"rich_text","rich_text":{}},"Index":{"id":"%7D%7DgX","name":"Index","type":"number","number":{"format":"number"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/eb26d55b1d274359b31c520f04750f60","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "eb26d55b-1d27-4359-b31c-520f04750f60"},
      "properties": {"Index": {"type": "number", "number": 0.0}, "title": {"type":
      "title", "title": [{"type": "text", "plain_text": "Item 0", "text": {"content":
      "Item 0"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"ec127ace-6ddb-475d-b[...]
[...]
- request:
    body: '{"filter": {"property": "Index", "number": {"equals": 7.0}}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/eb26d55b-1d27-4359-b31c-520f04750f60/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3573d6bd-56f3-4d4e-b849-389bbdfcf03f","created_time":"2022-12-31T19:20:00.000Z","last_edited_time":"2022-12-31T19:20:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"eb26d55b-1d27-4359-b31c-520f04750f60"},"archived":false,"properties":{"Tags":{"id":"C%60Z%3F","type":"multi_select","multi_select":[]},"Complete":{"id":"CrT%5D","type":"checkbox","checkbox":false},"Due
      Date":{"id":"X%60%3Fb","type":"date","date":null},"Notes":{"id":"i%5BcL","type":"rich_text","rich_text":[]},"Index":{"id":"%7D%7DgX","type":"number","number":7},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      7","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      7","href":null}]}},"url":"https://www.notion.so/Item-7-3573d6bd56f34d4eb849389bbdfcf03f"}],"next_cursor":null,"has_more":false,"type":"page","page":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/eb26d55b-1d27-4359-b31c-520f04750f60
  response:
    content: '{"object":"block","id":"eb26d55b-1d27-4359-b31c-520f04750f60","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-31T19:19:00.000Z","last_edited_time":"2022-12-31T19:20:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_query.py::test_basic_number_constraint
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
