interactions:
- request:
    body: '{"children": [{"type": "table", "object": "block", "has_children": false,
      "archived": false, "table": {"table_width": 2, "has_column_header": false, "has_row_header":
      false, "children": [{"type": "table_row", "object": "block", "has_children":
      false, "archived": false, "table_row": {"cells": [[{"type": "text", "plain_text":
      "1", "text": {"content": "1"}}], [{"type": "text", "plain_text": "test", "text":
      {"content": "test"}}]]}}, {"type": "table_row", "object": "block", "has_children":
      false, "archived": false, "table_row": {"cells": [[{"type": "text", "plain_text":
      "1", "text": {"content": "1"}}], [{"type": "text", "plain_text": "test", "text":
      {"content": "test"}}]]}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/42faa3d62b2e46e88565481c52fcd553/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"66e6855c-f2d5-4dcc-ac73-2c5e3110988b","parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"created_time":"2022-12-19T22:12:00.000Z","last_edited_time":"2022-12-19T22:12:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":true,"archived":false,"type":"table","table":{"table_width":2,"has_column_header":false,"has_row_header":false}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/66e6855c-f2d5-4dcc-ac73-2c5e3110988b
  response:
    content: '{"object":"block","id":"66e6855c-f2d5-4dcc-ac73-2c5e3110988b","parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"created_time":"2022-12-19T22:12:00.000Z","last_edited_time":"2022-12-19T22:12:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":true,"archived":false,"type":"table","table":{"table_width":2,"has_column_header":false,"has_row_header":false}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/66e6855cf2d54dccac732c5e3110988b
  response:
    content: '{"object":"block","id":"66e6855c-f2d5-4dcc-ac73-2c5e3110988b","parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"created_time":"2022-12-19T22:12:00.000Z","last_edited_time":"2022-12-19T22:12:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":true,"archived":true,"type":"table","table":{"table_width":2,"has_column_header":false,"has_row_header":false}}'
    headers: {}
    status_code: 200
version: 1
