interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "tests/test_records.py::test_restore_page (setup)", "text": {"content": "tests/test_records.py::test_restore_page
      (setup)"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"eb30c087-1744-4331-86fd-35c4178fe9bf","created_time":"2022-11-08T22:58:00.000Z","last_edited_time":"2022-11-08T22:58:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_records.py::test_restore_page
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_records.py::test_restore_page
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_records-py-test_restore_page-setup-eb30c0871744433186fd35c4178fe9bf"}'
    headers: {}
    status_code: 200
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: PATCH
    uri: https://api.notion.com/v1/pages/eb30c0871744433186fd35c4178fe9bf
  response:
    content: '{"object":"page","id":"eb30c087-1744-4331-86fd-35c4178fe9bf","created_time":"2022-11-08T22:58:00.000Z","last_edited_time":"2022-11-08T22:58:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_records.py::test_restore_page
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_records.py::test_restore_page
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_records-py-test_restore_page-setup-eb30c0871744433186fd35c4178fe9bf"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: PATCH
    uri: https://api.notion.com/v1/pages/dc3b0ee1930d4d2f8da0945284ab6db3
  response:
    content: '{"object":"page","id":"dc3b0ee1-930d-4d2f-8da0-945284ab6db3","created_time":"2022-11-29T21:39:00.000Z","last_edited_time":"2022-11-29T21:39:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_records.py::test_restore_page
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_records.py::test_restore_page
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_records-py-test_restore_page-setup-dc3b0ee1930d4d2f8da0945284ab6db3"}'
    headers: {}
    status_code: 200
version: 1
