interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "tests/test_records.py::test_page_icon (setup)", "text": {"content": "tests/test_records.py::test_page_icon
      (setup)"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"ae0887c0-065a-4eeb-bb4c-800d5af67c18","created_time":"2022-11-29T22:40:00.000Z","last_edited_time":"2022-11-29T22:40:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_records.py::test_page_icon
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_records.py::test_page_icon
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_records-py-test_page_icon-setup-ae0887c0065a4eebbb4c800d5af67c18"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\u2603\ufe0f"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: PATCH
    uri: https://api.notion.com/v1/pages/ae0887c0065a4eebbb4c800d5af67c18
  response:
    content: "{\"object\":\"page\",\"id\":\"ae0887c0-065a-4eeb-bb4c-800d5af67c18\",\"created_time\":\"2022-11-29T22:40:00.000Z\",\"last_edited_time\":\"2022-11-29T22:40:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2603\uFE0F\"},\"parent\":{\"type\":\"page_id\",\"page_id\":\"250662d9-783d-483c-b131-341ed479f96c\"},\"archived\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"tests/test_records.py::test_page_icon
      (setup)\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"tests/test_records.py::test_page_icon
      (setup)\",\"href\":null}]}},\"url\":\"https://www.notion.so/tests-test_records-py-test_page_icon-setup-ae0887c0065a4eebbb4c800d5af67c18\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/c007f35f9f2541d6aed731afc91ecee5
  response:
    content: "{\"object\":\"page\",\"id\":\"c007f35f-9f25-41d6-aed7-31afc91ecee5\",\"created_time\":\"2022-12-10T20:57:00.000Z\",\"last_edited_time\":\"2022-12-10T20:57:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2603\uFE0F\"},\"parent\":{\"type\":\"page_id\",\"page_id\":\"250662d9-783d-483c-b131-341ed479f96c\"},\"archived\":true,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"tests/test_records.py::test_page_icon
      (setup)\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"tests/test_records.py::test_page_icon
      (setup)\",\"href\":null}]}},\"url\":\"https://www.notion.so/tests-test_records-py-test_page_icon-setup-c007f35f9f2541d6aed731afc91ecee5\"}"
    headers: {}
    status_code: 200
version: 1
