interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_simple_model_with_children
      (setup)", "text": {"content": "tests/test_orm.py::test_simple_model_with_children
      (setup)"}}], "properties": {"Name": {"type": "title", "title": {}}, "Index":
      {"type": "number", "number": {"format": "number"}}, "Notes": {"type": "rich_text",
      "rich_text": {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date":
      {"type": "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"70804e88-0b00-49a0-9dd2-5abfee656c46","cover":null,"icon":null,"created_time":"2022-12-31T05:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-31T05:19:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_simple_model_with_children
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_simple_model_with_children
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"NDJs","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Index":{"id":"d%3Dvj","name":"Index","type":"number","number":{"format":"number"}},"Notes":{"id":"gPLN","name":"Notes","type":"rich_text","rich_text":{}},"Complete":{"id":"khRF","name":"Complete","type":"checkbox","checkbox":{}},"Due
      Date":{"id":"kznY","name":"Due Date","type":"date","date":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/70804e880b0049a09dd25abfee656c46","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "70804e88-0b00-49a0-9dd2-5abfee656c46"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"0b085ace-b445-4403-8889-1c2565c12323","created_time":"2022-12-31T05:19:00.000Z","last_edited_time":"2022-12-31T05:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"70804e88-0b00-49a0-9dd2-5abfee656c46"},"archived":false,"properties":{"Tags":{"id":"NDJs","type":"multi_select","multi_select":[]},"Index":{"id":"d%3Dvj","type":"number","number":null},"Notes":{"id":"gPLN","type":"rich_text","rich_text":[]},"Complete":{"id":"khRF","type":"checkbox","checkbox":false},"Due
      Date":{"id":"kznY","type":"date","date":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/0b085aceb445440388891c2565c12323"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/0b085aceb445440388891c2565c12323
  response:
    content: '{"object":"page","id":"0b085ace-b445-4403-8889-1c2565c12323","created_time":"2022-12-31[...]
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "archived": false, "heading_1": {"rich_text": [{"type": "text", "plain_text":
      "New Business", "text": {"content": "New Business"}}], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/0b085ace-b445-4403-8889-1c2565c12323/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"42797174-95f5-4622-8a6f-2edff2b4686f","parent":{"type":"page_id","page_id":"0b085ace-b445-4403-8889-1c2565c12323"},"created_time":"2022-12-31T05:19:00.000Z","last_edited_time":"2022-12-31T05:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"New
      Business","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      Business","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/0b085ace-b445-4403-8889-1c2565c12323/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"42797174-95f5-4622-8a6f-2edff2b4686f","parent":{"type":"page_id","page_id":"0b085ace-b445-4403-8889-1c2565c12323"},"created_time":"2022-12-31T05:19:00.000Z","last_edited_time":"2022-12-31T05:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"New
      Business","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      Business","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/70804e88-0b00-49a0-9dd2-5abfee656c46
  response:
    content: '{"object":"block","id":"70804e88-0b00-49a0-9dd2-5abfee656c46","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-31T05:19:00.000Z","last_edited_time":"2022-12-31T05:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_simple_model_with_children
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
