interactions:
- request:
    body: '{"children": [{"type": "callout", "object": "block", "has_children": false,
      "archived": false, "callout": {"rich_text": [{"type": "text", "plain_text":
      "Reappearing blocks!"}], "color": "gray_background"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/250662d9-783d-483c-b131-341ed479f96c/children
  response:
    content: '{"object":"error","status":400,"code":"validation_error","message":"body
      failed validation. Fix one:\nbody.children[0].callout.rich_text[0].text should
      be defined, instead was `undefined`.\nbody.children[0].callout.rich_text[0].mention
      should be defined, instead was `undefined`.\nbody.children[0].callout.rich_text[0].equation
      should be defined, instead was `undefined`."}'
    headers: {}
    status_code: 400
version: 1
