interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_icon (setup)",
      "text": {"content": "tests/test_orm.py::test_orm_icon (setup)"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Index": {"type": "number", "number":
      {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text": {}}, "Complete":
      {"type": "checkbox", "checkbox": {}}, "Due Date": {"type": "date", "date": {}},
      "Tags": {"type": "multi_select", "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"dd29cfca-e9ab-4b2d-a23e-1dbc7fcda646","cover":null,"icon":null,"created_time":"2022-12-31T19:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-31T19:19:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_icon
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_icon
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"Nsm%40","name":"Notes","type":"rich_text","rich_text":{}},"Index":{"id":"YqB%40","name":"Index","type":"number","number":{"format":"number"}},"Tags":{"id":"fOti","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Due
      Date":{"id":"lU%7Ct","name":"Due Date","type":"date","date":{}},"Complete":{"id":"z%3CdY","name":"Complete","type":"checkbox","checkbox":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/dd29cfcae9ab4b2da23e1dbc7fcda646","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "dd29cfca-e9ab-4b2d-a23e-1dbc7fcda646"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"4e1e841b-1bf2-4c96-a031-d12453ea710c","created_time":"2022-12-31T19:19:00.000Z","last_edited_time":"2022-12-31T19:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"dd29cfca-e9ab-4b2d-a23e-1dbc7fcda646"},"archived":false,"properties":{"Notes":{"id":"Nsm%40","type":"rich_text","rich_text":[]},"Index":{"id":"YqB%40","type":"number","number":null},"Tags":{"id":"fOti","type":"multi_select","multi_select":[]},"Due
      Date":{"id":"lU%7Ct","type":"date","date":null},"Complete":{"id":"z%3CdY","type":"checkbox","checkbox":false},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/4e1e841b1bf24c96a031d12453ea710c"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83c\udf54"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/4e1e841b1bf24c96a031d12453ea710c
  response:
    content: "{\"object\":\"page\",\"id\":\"4e1e841b-1bf2-4c96-a031-d12453ea710c\",\"created_time\":\"2022-12-31T19:19:00.000Z\",\"last_edited_time\":\"2022-12-31T19:19:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F354\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"dd29cfca-e9ab-4b2d-a23e-1dbc7fcda646\"},\"archived\":false,\"properties\":{\"Notes\":{\"id\":\"Nsm%40\",\"type\":\"rich_text\",\"rich_text\":[]},\"Index\":{\"id\":\"YqB%40\",\"type\":\"number\",\"number\":null},\"Tags\":{\"id\":\"fOti\",\"type\":\"multi_select\",\"multi_select\":[]},\"Due
      Date\":{\"id\":\"lU%7Ct\",\"type\":\"date\",\"date\":null},\"Complete\":{\"id\":\"z%3CdY\",\"type\":\"checkbox\",\"checkbox\":false},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[]}},\"url\":\"https://www.notion.so/4e1e841b1bf24c96a031d12453ea710c\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/dd29cfca-e9ab-4b2d-a23e-1dbc7fcda646
  response:
    content: '{"object":"block","id":"dd29cfca-e9ab-4b2d-a23e-1dbc7fcda646","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-31T19:19:00.000Z","last_edited_time":"2022-12-31T19:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_icon
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
