interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_simple_model_with_children
      (setup)", "text": {"content": "tests/test_orm.py::test_simple_model_with_children
      (setup)"}}], "properties": {"Name": {"type": "title", "title": {}}, "Index":
      {"type": "number", "number": {"format": "number"}}, "Notes": {"type": "rich_text",
      "rich_text": {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date":
      {"type": "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"541033b3-d137-4784-a5c4-e5fbea4cfca3","cover":null,"icon":null,"created_time":"2024-05-04T14:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2024-05-04T14:07:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_simple_model_with_children
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_simple_model_with_children
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Index":{"id":"SdId","name":"Index","type":"number","number":{"format":"number"}},"Tags":{"id":"X_UV","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Notes":{"id":"s%5E~L","name":"Notes","type":"rich_text","rich_text":{}},"Due
      Date":{"id":"uUtW","name":"Due Date","type":"date","date":{}},"Complete":{"id":"uXTi","name":"Complete","type":"checkbox","checkbox":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/541033b3d1374784a5c4e5fbea4cfca3","public_url":null,"archived":false,"in_trash":false,"request_id":"3259220a-9387-45b7-b98f-abfe454f4a19"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "541033b3-d137-4784-a5c4-e5fbea4cfca3"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"90c057c8-0737-4035-a1b4-a484142352c5","created_time":"2024-05-04T14:07:00.000Z","last_edited_time":"2024-05-04T14:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"541033b3-d137-4784-a5c4-e5fbea4cfca3"},"archived":false,"in_trash":false,"properties":{"Index":{"id":"SdId","type":"number","number":null},"Tags":{"id":"X_UV","type":"multi_select","multi_select":[]},"Notes":{"id":"s%5E~L","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"uUtW","type":"date","date":null},"Complete":{"id":"uXTi","type":"checkbox","checkbox":false},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/90c057c807374035a1b4a484142352c5","public_url":null,"request_id":"38045a27-288e-4dbe-b949-22c8482a30f4"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/90c057c807374035a1b4a484142352c5
  response:
    content: '{"object":"page","id":"90c057c8-0737-4035-a1b4-a484142352c5","created_time":"2024-05-04[...]
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "archived": false, "heading_1": {"rich_text": [{"type": "text", "plain_text":
      "New Business", "text": {"content": "New Business"}}], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/90c057c8-0737-4035-a1b4-a484142352c5/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"13e0122e-940c-4ad3-9d6b-d29b74d88b8c","parent":{"type":"page_id","page_id":"90c057c8-0737-4035-a1b4-a484142352c5"},"created_time":"2024-05-04T14:07:00.000Z","last_edited_time":"2024-05-04T14:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"New
      Business","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      Business","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"8b5e1109-21ac-4140-8641-4218c1a2610c"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/90c057c8-0737-4035-a1b4-a484142352c5/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"13e0122e-940c-4ad3-9d6b-d29b74d88b8c","parent":{"type":"page_id","page_id":"90c057c8-0737-4035-a1b4-a484142352c5"},"created_time":"2024-05-04T14:07:00.000Z","last_edited_time":"2024-05-04T14:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"New
      Business","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      Business","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"2d3882eb-2d68-4af2-b974-10da2af56e47"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/541033b3-d137-4784-a5c4-e5fbea4cfca3
  response:
    content: '{"object":"block","id":"541033b3-d137-4784-a5c4-e5fbea4cfca3","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-05-04T14:07:00.000Z","last_edited_time":"2024-05-04T14:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_simple_model_with_children
      (setup)"},"request_id":"7ce8f61e-2ef8-4f84-92ed-53d99b7cf0a2"}'
    headers: {}
    status_code: 200
version: 1
