interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_icon (setup)",
      "text": {"content": "tests/test_orm.py::test_orm_icon (setup)"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Index": {"type": "number", "number":
      {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text": {}}, "Complete":
      {"type": "checkbox", "checkbox": {}}, "Due Date": {"type": "date", "date": {}},
      "Tags": {"type": "multi_select", "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"3b83756f-e9bf-4bd3-85fb-3b64dc55bc67","cover":null,"icon":null,"created_time":"2022-12-12T04:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-12T04:07:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_icon
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_icon
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Index":{"id":"%3AvDM","name":"Index","type":"number","number":{"format":"number"}},"Tags":{"id":"%3D%3Bkg","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Due
      Date":{"id":"Hs%3BT","name":"Due Date","type":"date","date":{}},"Notes":{"id":"T%7DQ%3A","name":"Notes","type":"rich_text","rich_text":{}},"Complete":{"id":"%7CAGT","name":"Complete","type":"checkbox","checkbox":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/3b83756fe9bf4bd385fb3b64dc55bc67","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "3b83756f-e9bf-4bd3-85fb-3b64dc55bc67"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"afba3d54-eddf-4478-8aec-8f778100261c","created_time":"2022-12-12T04:07:00.000Z","last_edited_time":"2022-12-12T04:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"3b83756f-e9bf-4bd3-85fb-3b64dc55bc67"},"archived":false,"properties":{"Index":{"id":"%3AvDM","type":"number","number":null},"Tags":{"id":"%3D%3Bkg","type":"multi_select","multi_select":[]},"Due
      Date":{"id":"Hs%3BT","type":"date","date":null},"Notes":{"id":"T%7DQ%3A","type":"rich_text","rich_text":[]},"Complete":{"id":"%7CAGT","type":"checkbox","checkbox":false},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/afba3d54eddf44788aec8f778100261c"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83c\udf54"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/afba3d54eddf44788aec8f778100261c
  response:
    content: "{\"object\":\"page\",\"id\":\"afba3d54-eddf-4478-8aec-8f778100261c\",\"created_time\":\"2022-12-12T04:07:00.000Z\",\"last_edited_time\":\"2022-12-12T04:07:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F354\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"3b83756f-e9bf-4bd3-85fb-3b64dc55bc67\"},\"archived\":false,\"properties\":{\"Index\":{\"id\":\"%3AvDM\",\"type\":\"number\",\"number\":null},\"Tags\":{\"id\":\"%3D%3Bkg\",\"type\":\"multi_select\",\"multi_select\":[]},\"Due
      Date\":{\"id\":\"Hs%3BT\",\"type\":\"date\",\"date\":null},\"Notes\":{\"id\":\"T%7DQ%3A\",\"type\":\"rich_text\",\"rich_text\":[]},\"Complete\":{\"id\":\"%7CAGT\",\"type\":\"checkbox\",\"checkbox\":false},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[]}},\"url\":\"https://www.notion.so/afba3d54eddf44788aec8f778100261c\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/3b83756fe9bf4bd385fb3b64dc55bc67
  response:
    content: '{"object":"block","id":"3b83756f-e9bf-4bd3-85fb-3b64dc55bc67","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-12T04:07:00.000Z","last_edited_time":"2022-12-12T04:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_icon
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
