interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_query.py::test_basic_number_constraint
      (setup)", "text": {"content": "tests/test_query.py::test_basic_number_constraint
      (setup)"}}], "properties": {"Name": {"type": "title", "title": {}}, "Index":
      {"type": "number", "number": {"format": "number"}}, "Notes": {"type": "rich_text",
      "rich_text": {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date":
      {"type": "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"ca314131-d25e-40fb-9a3d-6cc873054c51","cover":null,"icon":null,"created_time":"2023-03-21T19:33:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-03-21T19:33:00.000Z","title":[{"type":"text","text":{"content":"tests/test_query.py::test_basic_number_constraint
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_query.py::test_basic_number_constraint
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Due
      Date":{"id":"AEur","name":"Due Date","type":"date","date":{}},"Index":{"id":"%5EBl%3B","name":"Index","type":"number","number":{"format":"number"}},"Tags":{"id":"kKdS","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Complete":{"id":"sB~f","name":"Complete","type":"checkbox","checkbox":{}},"Notes":{"id":"u%7Dc%3A","name":"Notes","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/ca314131d25e40fb9a3d6cc873054c51","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "ca314131-d25e-40fb-9a3d-6cc873054c51"},
      "properties": {"Index": {"type": "number", "number": 0.0}, "title": {"type":
      "title", "title": [{"type": "text", "plain_text": "Item 0", "text": {"content":
      "Item 0"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"ddc7ca47-c5ef-4e63-a[...]
[...]
- request:
    body: '{"filter": {"property": "Index", "number": {"equals": 7.0}}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/ca314131-d25e-40fb-9a3d-6cc873054c51/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"b2bca0ef-415e-4c59-b5cc-06a94207eba5","created_time":"2023-03-21T19:33:00.000Z","last_edited_time":"2023-03-21T19:33:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"ca314131-d25e-40fb-9a3d-6cc873054c51"},"archived":false,"properties":{"Due
      Date":{"id":"AEur","type":"date","date":null},"Index":{"id":"%5EBl%3B","type":"number","number":7},"Tags":{"id":"kKdS","type":"multi_select","multi_select":[]},"Complete":{"id":"sB~f","type":"checkbox","checkbox":false},"Notes":{"id":"u%7Dc%3A","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      7","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      7","href":null}]}},"url":"https://www.notion.so/Item-7-b2bca0ef415e4c59b5cc06a94207eba5"}],"next_cursor":null,"has_more":false,"type":"page","page":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/ca314131-d25e-40fb-9a3d-6cc873054c51
  response:
    content: '{"object":"block","id":"ca314131-d25e-40fb-9a3d-6cc873054c51","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-03-21T19:33:00.000Z","last_edited_time":"2023-03-21T19:33:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_query.py::test_basic_number_constraint
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
