interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_simple_model_with_children
      (setup)", "text": {"content": "tests/test_orm.py::test_simple_model_with_children
      (setup)"}}], "properties": {"Name": {"type": "title", "title": {}}, "Index":
      {"type": "number", "number": {"format": "number"}}, "Notes": {"type": "rich_text",
      "rich_text": {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date":
      {"type": "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"1615ac74-4272-4373-be7c-51884d6ccc7b","cover":null,"icon":null,"created_time":"2022-12-12T04:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-12T04:07:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_simple_model_with_children
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_simple_model_with_children
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Complete":{"id":"D~Ah","name":"Complete","type":"checkbox","checkbox":{}},"Notes":{"id":"GeaJ","name":"Notes","type":"rich_text","rich_text":{}},"Tags":{"id":"Krz%5D","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Due
      Date":{"id":"ha%3AE","name":"Due Date","type":"date","date":{}},"Index":{"id":"%7C%3EkT","name":"Index","type":"number","number":{"format":"number"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/1615ac7442724373be7c51884d6ccc7b","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "1615ac74-4272-4373-be7c-51884d6ccc7b"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"ec3d6eb9-4883-4e13-85e3-db5164d912bb","created_time":"2022-12-12T04:07:00.000Z","last_edited_time":"2022-12-12T04:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"1615ac74-4272-4373-be7c-51884d6ccc7b"},"archived":false,"properties":{"Complete":{"id":"D~Ah","type":"checkbox","checkbox":false},"Notes":{"id":"GeaJ","type":"rich_text","rich_text":[]},"Tags":{"id":"Krz%5D","type":"multi_select","multi_select":[]},"Due
      Date":{"id":"ha%3AE","type":"date","date":null},"Index":{"id":"%7C%3EkT","type":"number","number":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/ec3d6eb948834e1385e3db5164d912bb"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/ec3d6eb948834e1385e3db5164d912bb
  response:
    content: '{"object":"page","id":"ec3d6eb9-4883-4e13-85e3-db5164d912bb","created_time":"2022-12-12[...]
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "archived": false, "heading_1": {"rich_text": [{"type": "text", "plain_text":
      "New Business", "text": {"content": "New Business"}}], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/ec3d6eb948834e1385e3db5164d912bb/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"1968ff6a-4189-4bee-b64f-7cbef796c84e","parent":{"type":"page_id","page_id":"ec3d6eb9-4883-4e13-85e3-db5164d912bb"},"created_time":"2022-12-12T04:07:00.000Z","last_edited_time":"2022-12-12T04:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"New
      Business","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      Business","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/ec3d6eb948834e1385e3db5164d912bb/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"1968ff6a-4189-4bee-b64f-7cbef796c84e","parent":{"type":"page_id","page_id":"ec3d6eb9-4883-4e13-85e3-db5164d912bb"},"created_time":"2022-12-12T04:07:00.000Z","last_edited_time":"2022-12-12T04:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"New
      Business","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      Business","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/1615ac7442724373be7c51884d6ccc7b
  response:
    content: '{"object":"block","id":"1615ac74-4272-4373-be7c-51884d6ccc7b","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-12T04:07:00.000Z","last_edited_time":"2022-12-12T04:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_simple_model_with_children
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
