interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_missing_property
      (setup)", "text": {"content": "tests/test_orm.py::test_missing_property (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"d3960a7d-c58d-40cd-bfd6-dbfd0aeef3f9","cover":null,"icon":null,"created_time":"2023-01-26T05:33:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-01-26T05:33:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_missing_property
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_missing_property
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"%3BaR%3D","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Notes":{"id":"_qaW","name":"Notes","type":"rich_text","rich_text":{}},"Index":{"id":"j%60%7BN","name":"Index","type":"number","number":{"format":"number"}},"Complete":{"id":"w%5BlL","name":"Complete","type":"checkbox","checkbox":{}},"Due
      Date":{"id":"%7Bqgj","name":"Due Date","type":"date","date":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/d3960a7dc58d40cdbfd6dbfd0aeef3f9","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "d3960a7d-c58d-40cd-bfd6-dbfd0aeef3f9"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"59fd912c-b7a4-4034-82eb-7db514b8f900","created_time":"2023-01-26T05:33:00.000Z","last_edited_time":"2023-01-26T05:33:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"d3960a7d-c58d-40cd-bfd6-dbfd0aeef3f9"},"archived":false,"properties":{"Tags":{"id":"%3BaR%3D","type":"multi_select","multi_select":[]},"Notes":{"id":"_qaW","type":"rich_text","rich_text":[]},"Index":{"id":"j%60%7BN","type":"number","number":null},"Complete":{"id":"w%5BlL","type":"checkbox","checkbox":false},"Due
      Date":{"id":"%7Bqgj","type":"date","date":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/59fd912cb7a4403482eb7db514b8f900"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "MissingProp", "text": {"content": "MissingProp"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/59fd912cb7a4403482eb7db514b8f900
  response:
    content: '{"object":"page","id":"59fd912c-b7a4-4034-82eb-7db514b8f900","created_time"[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/d3960a7d-c58d-40cd-bfd6-dbfd0aeef3f9
  response:
    content: '{"object":"block","id":"d3960a7d-c58d-40cd-bfd6-dbfd0aeef3f9","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-01-26T05:33:00.000Z","last_edited_time":"2023-01-26T05:33:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_missing_property
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
