interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_query.py::test_compound_filter
      (setup)", "text": {"content": "tests/test_query.py::test_compound_filter (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"bc8653ae-84cc-4df5-b820-732c21a0535f","cover":null,"icon":null,"created_time":"2024-04-07T02:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2024-04-07T02:02:00.000Z","title":[{"type":"text","text":{"content":"tests/test_query.py::test_compound_filter
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_query.py::test_compound_filter
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"%3Cgmm","name":"Notes","type":"rich_text","rich_text":{}},"Complete":{"id":"Ktmy","name":"Complete","type":"checkbox","checkbox":{}},"Index":{"id":"Phxu","name":"Index","type":"number","number":{"format":"number"}},"Due
      Date":{"id":"b%3B%3Eb","name":"Due Date","type":"date","date":{}},"Tags":{"id":"zXZT","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/bc8653ae84cc4df5b820732c21a0535f","public_url":null,"archived":false,"in_trash":false,"request_id":"473b7652-941c-4817-b81c-6309dd01aa68"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "bc8653ae-84cc-4df5-b820-732c21a0535f"},
      "properties": {"Index": {"type": "number", "number": 0.0}, "title": {"type":
      "title", "title": [{"type": "text", "plain_text": "Item 0", "text": {"content":
      "Item 0"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"adcd00f4-d474-483b-a[...]
[...]
- request:
    body: '{"filter": {"and": [{"property": "Index", "number": {"greater_than": 3.0}},
      {"property": "Index", "number": {"less_than_or_equal_to": 8.0}}, {"property":
      "Name", "rich_text": {"contains": "Item"}}]}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/bc8653ae-84cc-4df5-b820-732c21a0535f/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"9350d908-95d7-4b23-b65c-a6957c9fe377","created_time":"2024-04-07T02:02:00.000Z","last_edited_time":"2024-04-07T02:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"bc8653ae-84cc-4df5-b820-732c21a0535f"},"archived":false,"in_trash":false,"properties":{"Notes":{"id":"%3Cgmm","type":"rich_te[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/bc8653ae-84cc-4df5-b820-732c21a0535f
  response:
    content: '{"object":"block","id":"bc8653ae-84cc-4df5-b820-732c21a0535f","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-04-07T02:02:00.000Z","last_edited_time":"2024-04-07T02:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"tests/test_query.py::test_compound_filter
      (setup)"},"request_id":"7e7eee2c-23d3-412f-afd2-54eaefdcf81c"}'
    headers: {}
    status_code: 200
version: 1
