interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/1872fd9c99b64c14a78053c3bc6c0a7a
  response:
    content: '{"object":"block","id":"1872fd9c-99b6-4c14-a780-53c3bc6c0a7a","parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"created_time":"2022-01-31T03:42:00.000Z","last_edited_time":"2022-12-16T04:27:00.000Z","created_by":{"object":"user","id":"ea74294e-d4c7-41f0-8929-805c80ea0d7f"},"last_edited_by":{"object":"user","id":"ea74294e-d4c7-41f0-8929-805c80ea0d7f"},"has_children":false,"archived":false,"type":"code","code":{"caption":[],"rich_text":[{"type":"text","text":{"content":"if
      raven == writing_desk:\n    print(\"Exactly so\")","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"if
      raven == writing_desk:\n    print(\"Exactly so\")","href":null}],"language":"python"}}'
    headers: {}
    status_code: 200
version: 1
