interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "42faa3d6-2b2e-46e8-8565-481c52fcd553"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_query
      (setup)", "text": {"content": "tests/test_orm.py::test_orm_query (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"ed4d3470-02f2-4426-b6d9-16022d3e0eca","cover":null,"icon":null,"created_time":"2022-12-19T22:11:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-19T22:11:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_query
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_query
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"H%3FIz","name":"Notes","type":"rich_text","rich_text":{}},"Complete":{"id":"Ol_t","name":"Complete","type":"checkbox","checkbox":{}},"Index":{"id":"YVfO","name":"Index","type":"number","number":{"format":"number"}},"Due
      Date":{"id":"%5Chkv","name":"Due Date","type":"date","date":{}},"Tags":{"id":"nEd%7C","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"url":"https://www.notion.so/ed4d347002f24426b6d916022d3e0eca","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "ed4d3470-02f2-4426-b6d9-16022d3e0eca"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"1ddd97e1-13ee-4be9-9faa-5ec7a7026e5d","created_time":"2022-12-19T22:11:00.000Z","last_edited_time":"2022-12-19T22:11:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"ed4d3470-02f2-4426-b6d9-16022d3e0eca"},"archived":false,"properties":{"Notes":{"id":"H%3FIz","type":"rich_text","rich_text":[]},"Complete":{"id":"Ol_t","type":"checkbox","checkbox":false},"Index":{"id":"YVfO","type":"number","number":null},"Due
      Date":{"id":"%5Chkv","type":"date","date":null},"Tags":{"id":"nEd%7C","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/1ddd97e113ee4be99faa5ec7a7026e5d"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Needle", "text": {"content": "Needle"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/1ddd97e113ee4be99faa5ec7a7026e5d
  response:
    content: '{"object":"page","id":"1ddd97e1-13ee-4be9-9faa-5ec7a7026e5d","created_time":"2022-12-[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/ed4d3470-02f2-4426-b6d9-16022d3e0eca/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"1ddd97e1-13ee-4be9-9faa-5ec7a7026e5d","created_time":"2022-12-19T22:11:00.000Z","last_edited_time":"2022-12-19T22:11:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"ed4d3470-02f2-4426-b6d9-16022d3e0eca"},"archived":false,"properties":{"Notes":{"id":"H%3FIz","type":"rich_text","rich_text":[]},"Complete":{"id":"Ol_t","type":"checkbox","checkbox":false},"Index":{"id":"YVfO","type":"number","number":null},"Due
      Date":{"id":"%5Chkv","type":"date","date":null},"Tags":{"id":"nEd%7C","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Needle","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Needle","href":null}]}},"url":"https://www.notion.so/Needle-1ddd97e113ee4be99faa5ec7a7026e5d"}],"next_cursor":null,"has_more":false,"type":"page","page":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/ed4d347002f24426b6d916022d3e0eca
  response:
    content: '{"object":"block","id":"ed4d3470-02f2-4426-b6d9-16022d3e0eca","parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"created_time":"2022-12-19T22:11:00.000Z","last_edited_time":"2022-12-19T22:11:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_query
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
