interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_icon (setup)",
      "text": {"content": "tests/test_orm.py::test_orm_icon (setup)"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Index": {"type": "number", "number":
      {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text": {}}, "Complete":
      {"type": "checkbox", "checkbox": {}}, "Due Date": {"type": "date", "date": {}},
      "Tags": {"type": "multi_select", "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"f19ffacd-3425-4029-bbe0-79e41b4d73a2","cover":null,"icon":null,"created_time":"2022-12-23T02:05:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-23T02:05:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_icon
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_icon
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"NUz%3C","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Due
      Date":{"id":"W%3EOS","name":"Due Date","type":"date","date":{}},"Notes":{"id":"ZRga","name":"Notes","type":"rich_text","rich_text":{}},"Complete":{"id":"htqT","name":"Complete","type":"checkbox","checkbox":{}},"Index":{"id":"rAIk","name":"Index","type":"number","number":{"format":"number"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/f19ffacd34254029bbe079e41b4d73a2","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "f19ffacd-3425-4029-bbe0-79e41b4d73a2"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"176f21b7-94cd-4f4b-a6a4-d692b698f7c9","created_time":"2022-12-23T02:05:00.000Z","last_edited_time":"2022-12-23T02:05:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"f19ffacd-3425-4029-bbe0-79e41b4d73a2"},"archived":false,"properties":{"Tags":{"id":"NUz%3C","type":"multi_select","multi_select":[]},"Due
      Date":{"id":"W%3EOS","type":"date","date":null},"Notes":{"id":"ZRga","type":"rich_text","rich_text":[]},"Complete":{"id":"htqT","type":"checkbox","checkbox":false},"Index":{"id":"rAIk","type":"number","number":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/176f21b794cd4f4ba6a4d692b698f7c9"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83c\udf54"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/176f21b794cd4f4ba6a4d692b698f7c9
  response:
    content: "{\"object\":\"page\",\"id\":\"176f21b7-94cd-4f4b-a6a4-d692b698f7c9\",\"created_time\":\"2022-12-23T02:05:00.000Z\",\"last_edited_time\":\"2022-12-23T02:05:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F354\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"f19ffacd-3425-4029-bbe0-79e41b4d73a2\"},\"archived\":false,\"properties\":{\"Tags\":{\"id\":\"NUz%3C\",\"type\":\"multi_select\",\"multi_select\":[]},\"Due
      Date\":{\"id\":\"W%3EOS\",\"type\":\"date\",\"date\":null},\"Notes\":{\"id\":\"ZRga\",\"type\":\"rich_text\",\"rich_text\":[]},\"Complete\":{\"id\":\"htqT\",\"type\":\"checkbox\",\"checkbox\":false},\"Index\":{\"id\":\"rAIk\",\"type\":\"number\",\"number\":null},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[]}},\"url\":\"https://www.notion.so/176f21b794cd4f4ba6a4d692b698f7c9\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/f19ffacd34254029bbe079e41b4d73a2
  response:
    content: '{"object":"block","id":"f19ffacd-3425-4029-bbe0-79e41b4d73a2","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-23T02:05:00.000Z","last_edited_time":"2022-12-23T02:05:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_icon
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
