interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_query
      (setup)", "text": {"content": "tests/test_orm.py::test_orm_query (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"3b8a8e68-511b-4490-8d34-8471aae1f1f2","cover":null,"icon":null,"created_time":"2022-12-14T04:32:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-14T04:32:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_query
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_query
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"HWK%40","name":"Notes","type":"rich_text","rich_text":{}},"Due
      Date":{"id":"N%40%3Fb","name":"Due Date","type":"date","date":{}},"Index":{"id":"TAiP","name":"Index","type":"number","number":{"format":"number"}},"Tags":{"id":"U%3ADM","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Complete":{"id":"%5Es%7Cx","name":"Complete","type":"checkbox","checkbox":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/3b8a8e68511b44908d348471aae1f1f2","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "3b8a8e68-511b-4490-8d34-8471aae1f1f2"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"5703224d-da03-42d8-a2cf-85c96a62ac72","created_time":"2022-12-14T04:32:00.000Z","last_edited_time":"2022-12-14T04:32:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"3b8a8e68-511b-4490-8d34-8471aae1f1f2"},"archived":false,"properties":{"Notes":{"id":"HWK%40","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"N%40%3Fb","type":"date","date":null},"Index":{"id":"TAiP","type":"number","number":null},"Tags":{"id":"U%3ADM","type":"multi_select","multi_select":[]},"Complete":{"id":"%5Es%7Cx","type":"checkbox","checkbox":false},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/5703224dda0342d8a2cf85c96a62ac72"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Needle", "text": {"content": "Needle"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/5703224dda0342d8a2cf85c96a62ac72
  response:
    content: '{"object":"page","id":"5703224d-da03-42d8-a2cf-85c96a62ac72","created_time":"2022-12-[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/3b8a8e68-511b-4490-8d34-8471aae1f1f2/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5703224d-da03-42d8-a2cf-85c96a62ac72","created_time":"2022-12-14T04:32:00.000Z","last_edited_time":"2022-12-14T04:32:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"3b8a8e68-511b-4490-8d34-8471aae1f1f2"},"archived":false,"properties":{"Notes":{"id":"HWK%40","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"N%40%3Fb","type":"date","date":null},"Index":{"id":"TAiP","type":"number","number":null},"Tags":{"id":"U%3ADM","type":"multi_select","multi_select":[]},"Complete":{"id":"%5Es%7Cx","type":"checkbox","checkbox":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Needle","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Needle","href":null}]}},"url":"https://www.notion.so/Needle-5703224dda0342d8a2cf85c96a62ac72"}],"next_cursor":null,"has_more":false,"type":"page","page":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/3b8a8e68511b44908d348471aae1f1f2
  response:
    content: '{"object":"block","id":"3b8a8e68-511b-4490-8d34-8471aae1f1f2","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-14T04:32:00.000Z","last_edited_time":"2022-12-14T04:32:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_query
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
