interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "42faa3d6-2b2e-46e8-8565-481c52fcd553"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_change_model_title
      (setup)", "text": {"content": "tests/test_orm.py::test_change_model_title (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"3ce274e8-8b4d-4597-9ed1-fac0eb2b1933","cover":null,"icon":null,"created_time":"2022-12-19T22:11:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-19T22:11:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_change_model_title
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_change_model_title
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Index":{"id":"NJ%3EQ","name":"Index","type":"number","number":{"format":"number"}},"Notes":{"id":"c%3CsF","name":"Notes","type":"rich_text","rich_text":{}},"Due
      Date":{"id":"l%5En%3B","name":"Due Date","type":"date","date":{}},"Complete":{"id":"q%5BLu","name":"Complete","type":"checkbox","checkbox":{}},"Tags":{"id":"s%40CG","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"url":"https://www.notion.so/3ce274e88b4d45979ed1fac0eb2b1933","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "3ce274e8-8b4d-4597-9ed1-fac0eb2b1933"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"1b739d8c-b513-403d-96fa-d965eeab0c2d","created_time":"2022-12-19T22:11:00.000Z","last_edited_time":"2022-12-19T22:11:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"3ce274e8-8b4d-4597-9ed1-fac0eb2b1933"},"archived":false,"properties":{"Index":{"id":"NJ%3EQ","type":"number","number":null},"Notes":{"id":"c%3CsF","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"l%5En%3B","type":"date","date":null},"Complete":{"id":"q%5BLu","type":"checkbox","checkbox":false},"Tags":{"id":"s%40CG","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/1b739d8cb513403d96fad965eeab0c2d"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/1b739d8cb513403d96fad965eeab0c2d
  response:
    content: '{"object":"page","id":"1b739d8c-b513-403d-96fa-d965eeab0c2d","created_time":"2022-12-19[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/3ce274e88b4d45979ed1fac0eb2b1933
  response:
    content: '{"object":"block","id":"3ce274e8-8b4d-4597-9ed1-fac0eb2b1933","parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"created_time":"2022-12-19T22:11:00.000Z","last_edited_time":"2022-12-19T22:11:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_change_model_title
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
