interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_query
      (setup)", "text": {"content": "tests/test_orm.py::test_orm_query (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"c08699d6-5931-48e6-9e2f-333adae4662d","cover":null,"icon":null,"created_time":"2024-04-07T02:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2024-04-07T02:02:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_query
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_query
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"%3ChHJ","name":"Notes","type":"rich_text","rich_text":{}},"Complete":{"id":"OB_T","name":"Complete","type":"checkbox","checkbox":{}},"Due
      Date":{"id":"%5BD%5D%7C","name":"Due Date","type":"date","date":{}},"Index":{"id":"gVGR","name":"Index","type":"number","number":{"format":"number"}},"Tags":{"id":"j%7CTD","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/c08699d6593148e69e2f333adae4662d","public_url":null,"archived":false,"in_trash":false,"request_id":"143433d5-87f4-442a-b0bb-be943b270494"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "c08699d6-5931-48e6-9e2f-333adae4662d"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"5caebb90-104b-4f23-8aee-1b968cc38ed5","created_time":"2024-04-07T02:02:00.000Z","last_edited_time":"2024-04-07T02:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"c08699d6-5931-48e6-9e2f-333adae4662d"},"archived":false,"in_trash":false,"properties":{"Notes":{"id":"%3ChHJ","type":"rich_text","rich_text":[]},"Complete":{"id":"OB_T","type":"checkbox","checkbox":false},"Due
      Date":{"id":"%5BD%5D%7C","type":"date","date":null},"Index":{"id":"gVGR","type":"number","number":null},"Tags":{"id":"j%7CTD","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/5caebb90104b4f238aee1b968cc38ed5","public_url":null,"request_id":"2e9a8e07-494c-4288-8962-1089af4bec17"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Needle", "text": {"content": "Needle"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/5caebb90104b4f238aee1b968cc38ed5
  response:
    content: '{"object":"page","id":"5caebb90-104b-4f23-8aee-1b968cc38ed5","created_time":"2024-04-[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/c08699d6-5931-48e6-9e2f-333adae4662d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5caebb90-104b-4f23-8aee-1b968cc38ed5","created_time":"2024-04-07T02:02:00.000Z","last_edited_time":"2024-04-07T02:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"c08699d6-5931-48e6-9e2f-333adae4662d"},"archived":false,"in_trash":false,"properties":{"Notes":{"id":"%3ChHJ","type":"rich_text","rich_text":[]},"Complete":{"id":"OB_T","type":"checkbox","checkbox":false},"Due
      Date":{"id":"%5BD%5D%7C","type":"date","date":null},"Index":{"id":"gVGR","type":"number","number":null},"Tags":{"id":"j%7CTD","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Needle","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Needle","href":null}]}},"url":"https://www.notion.so/Needle-5caebb90104b4f238aee1b968cc38ed5","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"44234c09-4f5d-4ec0-a796-6edd2f1259d7"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/c08699d6-5931-48e6-9e2f-333adae4662d
  response:
    content: '{"object":"block","id":"c08699d6-5931-48e6-9e2f-333adae4662d","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-04-07T02:02:00.000Z","last_edited_time":"2024-04-07T02:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_query
      (setup)"},"request_id":"1dea22da-0beb-4207-a6be-c802b075d1f6"}'
    headers: {}
    status_code: 200
version: 1
