interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_missing_property
      (setup)", "text": {"content": "tests/test_orm.py::test_missing_property (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"e6c68584-aa65-4f68-bfab-79ff602b1fcc","cover":null,"icon":null,"created_time":"2022-12-31T16:49:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-31T16:49:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_missing_property
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_missing_property
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Complete":{"id":"FtJ%3D","name":"Complete","type":"checkbox","checkbox":{}},"Tags":{"id":"GNV%7B","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Notes":{"id":"JxWB","name":"Notes","type":"rich_text","rich_text":{}},"Index":{"id":"nrwj","name":"Index","type":"number","number":{"format":"number"}},"Due
      Date":{"id":"~fRV","name":"Due Date","type":"date","date":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/e6c68584aa654f68bfab79ff602b1fcc","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "e6c68584-aa65-4f68-bfab-79ff602b1fcc"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"cca138ca-4dc8-4105-94fe-adddd211efc6","created_time":"2022-12-31T16:49:00.000Z","last_edited_time":"2022-12-31T16:49:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"e6c68584-aa65-4f68-bfab-79ff602b1fcc"},"archived":false,"properties":{"Complete":{"id":"FtJ%3D","type":"checkbox","checkbox":false},"Tags":{"id":"GNV%7B","type":"multi_select","multi_select":[]},"Notes":{"id":"JxWB","type":"rich_text","rich_text":[]},"Index":{"id":"nrwj","type":"number","number":null},"Due
      Date":{"id":"~fRV","type":"date","date":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/cca138ca4dc8410594feadddd211efc6"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "MissingProp", "text": {"content": "MissingProp"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/cca138ca4dc8410594feadddd211efc6
  response:
    content: '{"object":"page","id":"cca138ca-4dc8-4105-94fe-adddd211efc6","created_time"[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/e6c68584-aa65-4f68-bfab-79ff602b1fcc
  response:
    content: '{"object":"block","id":"e6c68584-aa65-4f68-bfab-79ff602b1fcc","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-31T16:49:00.000Z","last_edited_time":"2022-12-31T16:49:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_missing_property
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
