interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_change_model_title
      (setup)", "text": {"content": "tests/test_orm.py::test_change_model_title (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"39671e62-321c-4fb6-839a-88e153d25f29","cover":null,"icon":null,"created_time":"2022-12-13T22:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-13T22:02:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_change_model_title
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_change_model_title
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Complete":{"id":"%3CGfi","name":"Complete","type":"checkbox","checkbox":{}},"Index":{"id":"WtHk","name":"Index","type":"number","number":{"format":"number"}},"Notes":{"id":"%5BYU%3D","name":"Notes","type":"rich_text","rich_text":{}},"Tags":{"id":"jBo%7B","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Due
      Date":{"id":"t%3Bw%7D","name":"Due Date","type":"date","date":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/39671e62321c4fb6839a88e153d25f29","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "39671e62-321c-4fb6-839a-88e153d25f29"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"c3ae1c9a-0904-49b7-b3c0-9803ca499cac","created_time":"2022-12-13T22:02:00.000Z","last_edited_time":"2022-12-13T22:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"39671e62-321c-4fb6-839a-88e153d25f29"},"archived":false,"properties":{"Complete":{"id":"%3CGfi","type":"checkbox","checkbox":false},"Index":{"id":"WtHk","type":"number","number":null},"Notes":{"id":"%5BYU%3D","type":"rich_text","rich_text":[]},"Tags":{"id":"jBo%7B","type":"multi_select","multi_select":[]},"Due
      Date":{"id":"t%3Bw%7D","type":"date","date":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/c3ae1c9a090449b7b3c09803ca499cac"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/c3ae1c9a090449b7b3c09803ca499cac
  response:
    content: '{"object":"page","id":"c3ae1c9a-0904-49b7-b3c0-9803ca499cac","created_time":"2022-12-13[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/39671e62321c4fb6839a88e153d25f29
  response:
    content: '{"object":"block","id":"39671e62-321c-4fb6-839a-88e153d25f29","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-13T22:02:00.000Z","last_edited_time":"2022-12-13T22:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_change_model_title
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
