interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_simple_model_with_children
      (setup)", "text": {"content": "tests/test_orm.py::test_simple_model_with_children
      (setup)"}}], "properties": {"Name": {"type": "title", "title": {}}, "Index":
      {"type": "number", "number": {"format": "number"}}, "Notes": {"type": "rich_text",
      "rich_text": {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date":
      {"type": "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"0a4a7081-cae1-4fd1-a7d2-35f63d3bad4b","cover":null,"icon":null,"created_time":"2022-12-31T19:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-31T19:19:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_simple_model_with_children
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_simple_model_with_children
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"%3Cbq%3B","name":"Notes","type":"rich_text","rich_text":{}},"Complete":{"id":"gL%3DI","name":"Complete","type":"checkbox","checkbox":{}},"Index":{"id":"gv%3Fw","name":"Index","type":"number","number":{"format":"number"}},"Due
      Date":{"id":"tZE%7C","name":"Due Date","type":"date","date":{}},"Tags":{"id":"uXH%3E","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/0a4a7081cae14fd1a7d235f63d3bad4b","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "0a4a7081-cae1-4fd1-a7d2-35f63d3bad4b"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"e85f033b-d65f-4a4f-aa29-0cdf0eb7e369","created_time":"2022-12-31T19:19:00.000Z","last_edited_time":"2022-12-31T19:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"0a4a7081-cae1-4fd1-a7d2-35f63d3bad4b"},"archived":false,"properties":{"Notes":{"id":"%3Cbq%3B","type":"rich_text","rich_text":[]},"Complete":{"id":"gL%3DI","type":"checkbox","checkbox":false},"Index":{"id":"gv%3Fw","type":"number","number":null},"Due
      Date":{"id":"tZE%7C","type":"date","date":null},"Tags":{"id":"uXH%3E","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/e85f033bd65f4a4faa290cdf0eb7e369"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/e85f033bd65f4a4faa290cdf0eb7e369
  response:
    content: '{"object":"page","id":"e85f033b-d65f-4a4f-aa29-0cdf0eb7e369","created_time":"2022-12-31[...]
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "archived": false, "heading_1": {"rich_text": [{"type": "text", "plain_text":
      "New Business", "text": {"content": "New Business"}}], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/e85f033b-d65f-4a4f-aa29-0cdf0eb7e369/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"e17bb8cd-4b76-482c-84c5-44edbbe22d2c","parent":{"type":"page_id","page_id":"e85f033b-d65f-4a4f-aa29-0cdf0eb7e369"},"created_time":"2022-12-31T19:19:00.000Z","last_edited_time":"2022-12-31T19:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"New
      Business","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      Business","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/e85f033b-d65f-4a4f-aa29-0cdf0eb7e369/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"e17bb8cd-4b76-482c-84c5-44edbbe22d2c","parent":{"type":"page_id","page_id":"e85f033b-d65f-4a4f-aa29-0cdf0eb7e369"},"created_time":"2022-12-31T19:19:00.000Z","last_edited_time":"2022-12-31T19:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"New
      Business","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      Business","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/0a4a7081-cae1-4fd1-a7d2-35f63d3bad4b
  response:
    content: '{"object":"block","id":"0a4a7081-cae1-4fd1-a7d2-35f63d3bad4b","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-31T19:19:00.000Z","last_edited_time":"2022-12-31T19:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_simple_model_with_children
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
