interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/c4d5ddc6-29df-458c-a4b8-8f33e5d86857
  response:
    content: '{"object":"block","id":"c4d5ddc6-29df-458c-a4b8-8f33e5d86857","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-03-11T04:02:00.000Z","last_edited_time":"2022-12-23T00:17:00.000Z","created_by":{"object":"user","id":"ea74294e-d4c7-41f0-8929-805c80ea0d7f"},"last_edited_by":{"object":"user","id":"ea74294e-d4c7-41f0-8929-805c80ea0d7f"},"has_children":true,"archived":false,"type":"synced_block","synced_block":{"synced_from":null}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/f8f177e6-fd84-418f-8405-b3e57ca91562
  response:
    content: '{"object":"block","id":"f8f177e6-fd84-418f-8405-b3e57ca91562","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-03-11T04:02:00.000Z","last_edited_time":"2022-12-23T00:17:00.000Z","created_by":{"object":"user","id":"ea74294e-d4c7-41f0-8929-805c80ea0d7f"},"last_edited_by":{"object":"user","id":"ea74294e-d4c7-41f0-8929-805c80ea0d7f"},"has_children":true,"archived":false,"type":"synced_block","synced_block":{"synced_from":{"type":"block_id","block_id":"c4d5ddc6-29df-458c-a4b8-8f33e5d86857"}}}'
    headers: {}
    status_code: 200
version: 1
