interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "tests/test_blocks.py::test_append_block_after (setup)"}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"error","status":400,"code":"validation_error","message":"body
        failed validation. Fix one:\nbody.properties.title.title[0].text should be
        defined, instead was `undefined`.\nbody.properties.title.title[0].mention
        should be defined, instead was `undefined`.\nbody.properties.title.title[0].equation
        should be defined, instead was `undefined`.","request_id":"f52564ef-ecfa-42b2-ad31-06f019b4d4c0"}'
    headers: {}
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "tests/test_blocks.py::test_append_block_after (setup)"}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"error","status":400,"code":"validation_error","message":"body
        failed validation. Fix one:\nbody.properties.title.title[0].text should be
        defined, instead was `undefined`.\nbody.properties.title.title[0].mention
        should be defined, instead was `undefined`.\nbody.properties.title.title[0].equation
        should be defined, instead was `undefined`.","request_id":"b9e4df24-1309-41d1-9745-2511bbf7d47e"}'
    headers: {}
    status:
      code: 400
      message: Bad Request
version: 1
