interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/ebf949622c1a46238fcdc5d7c4fef9bb
  response:
    content: '{"object":"block","id":"ebf94962-2c1a-4623-8fcd-c5d7c4fef9bb","parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"created_time":"2022-01-31T03:42:00.000Z","last_edited_time":"2022-12-16T04:29:00.000Z","created_by":{"object":"user","id":"ea74294e-d4c7-41f0-8929-805c80ea0d7f"},"last_edited_by":{"object":"user","id":"ea74294e-d4c7-41f0-8929-805c80ea0d7f"},"has_children":false,"archived":false,"type":"breadcrumb","breadcrumb":{}}'
    headers: {}
    status_code: 200
version: 1
