interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_icon (setup)",
      "text": {"content": "tests/test_orm.py::test_orm_icon (setup)"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Index": {"type": "number", "number":
      {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text": {}}, "Complete":
      {"type": "checkbox", "checkbox": {}}, "Due Date": {"type": "date", "date": {}},
      "Tags": {"type": "multi_select", "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a424522b-ebfa-441f-8283-db9506b38c4b","cover":null,"icon":null,"created_time":"2024-05-04T14:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2024-05-04T14:07:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_icon
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_icon
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"%3E%7CVu","name":"Notes","type":"rich_text","rich_text":{}},"Tags":{"id":"DW~V","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Index":{"id":"JT_N","name":"Index","type":"number","number":{"format":"number"}},"Due
      Date":{"id":"XREF","name":"Due Date","type":"date","date":{}},"Complete":{"id":"gkIA","name":"Complete","type":"checkbox","checkbox":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/a424522bebfa441f8283db9506b38c4b","public_url":null,"archived":false,"in_trash":false,"request_id":"5c983022-a7ee-4aa3-b950-0ed856159174"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "a424522b-ebfa-441f-8283-db9506b38c4b"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"4ffcc107-d175-43e6-abf2-84c64cbc7138","created_time":"2024-05-04T14:07:00.000Z","last_edited_time":"2024-05-04T14:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"a424522b-ebfa-441f-8283-db9506b38c4b"},"archived":false,"in_trash":false,"properties":{"Notes":{"id":"%3E%7CVu","type":"rich_text","rich_text":[]},"Tags":{"id":"DW~V","type":"multi_select","multi_select":[]},"Index":{"id":"JT_N","type":"number","number":null},"Due
      Date":{"id":"XREF","type":"date","date":null},"Complete":{"id":"gkIA","type":"checkbox","checkbox":false},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/4ffcc107d17543e6abf284c64cbc7138","public_url":null,"request_id":"9bdbbbe6-9654-43c8-a266-8da686a1bf47"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83c\udf54"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/4ffcc107d17543e6abf284c64cbc7138
  response:
    content: "{\"object\":\"page\",\"id\":\"4ffcc107-d175-43e6-abf2-84c64cbc7138\"\
      ,\"created_time\":\"2024-05-04T14:07:00.000Z\",\"last_edited_time\":\"2024-05-04T14:07:00.000Z\"\
      ,\"created_by\":{\"object\":\"user\",\"id\"[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/a424522b-ebfa-441f-8283-db9506b38c4b
  response:
    content: '{"object":"block","id":"a424522b-ebfa-441f-8283-db9506b38c4b","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-05-04T14:07:00.000Z","last_edited_time":"2024-05-04T14:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_icon
      (setup)"},"request_id":"f39f62b2-887c-4805-ae0a-7e68b0efad4c"}'
    headers: {}
    status_code: 200
version: 1
