interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_simple_model
      (setup)", "text": {"content": "tests/test_orm.py::test_simple_model (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"353d9006-36bd-41c6-9472-4228f858da17","cover":null,"icon":null,"created_time":"2022-12-14T04:32:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-14T04:32:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_simple_model
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_simple_model
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Index":{"id":"%3C%3EQR","name":"Index","type":"number","number":{"format":"number"}},"Due
      Date":{"id":"M%3AXn","name":"Due Date","type":"date","date":{}},"Tags":{"id":"P%5Eqs","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Complete":{"id":"tTbJ","name":"Complete","type":"checkbox","checkbox":{}},"Notes":{"id":"xRGk","name":"Notes","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/353d900636bd41c694724228f858da17","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "353d9006-36bd-41c6-9472-4228f858da17"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3392726e-55b2-4be7-ae20-84fad4b427a6","created_time":"2022-12-14T04:32:00.000Z","last_edited_time":"2022-12-14T04:32:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"353d9006-36bd-41c6-9472-4228f858da17"},"archived":false,"properties":{"Index":{"id":"%3C%3EQR","type":"number","number":null},"Due
      Date":{"id":"M%3AXn","type":"date","date":null},"Tags":{"id":"P%5Eqs","type":"multi_select","multi_select":[]},"Complete":{"id":"tTbJ","type":"checkbox","checkbox":false},"Notes":{"id":"xRGk","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/3392726e55b24be7ae2084fad4b427a6"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "One&Only", "text": {"content": "One&Only"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/3392726e55b24be7ae2084fad4b427a6
  response:
    content: '{"object":"page","id":"3392726e-55b2-4be7-ae20-84fad4b427a6","created_time":"2022[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/353d900636bd41c694724228f858da17
  response:
    content: '{"object":"block","id":"353d9006-36bd-41c6-9472-4228f858da17","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-14T04:32:00.000Z","last_edited_time":"2022-12-14T04:32:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_simple_model
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
