interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_simple_model_with_children
      (setup)", "text": {"content": "tests/test_orm.py::test_simple_model_with_children
      (setup)"}}], "properties": {"Name": {"type": "title", "title": {}}, "Index":
      {"type": "number", "number": {"format": "number"}}, "Notes": {"type": "rich_text",
      "rich_text": {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date":
      {"type": "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"e9b4fb53-ac70-4c3b-ac1b-2f131fd0a352","cover":null,"icon":null,"created_time":"2022-12-23T02:05:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-23T02:05:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_simple_model_with_children
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_simple_model_with_children
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Index":{"id":"%3ArnO","name":"Index","type":"number","number":{"format":"number"}},"Tags":{"id":"B%3A_o","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Notes":{"id":"Cgm%3F","name":"Notes","type":"rich_text","rich_text":{}},"Due
      Date":{"id":"QD%7B%7D","name":"Due Date","type":"date","date":{}},"Complete":{"id":"p%5E_a","name":"Complete","type":"checkbox","checkbox":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/e9b4fb53ac704c3bac1b2f131fd0a352","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "e9b4fb53-ac70-4c3b-ac1b-2f131fd0a352"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"f716501c-6468-4740-a9fd-4f64f2ec0021","created_time":"2022-12-23T02:05:00.000Z","last_edited_time":"2022-12-23T02:05:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"e9b4fb53-ac70-4c3b-ac1b-2f131fd0a352"},"archived":false,"properties":{"Index":{"id":"%3ArnO","type":"number","number":null},"Tags":{"id":"B%3A_o","type":"multi_select","multi_select":[]},"Notes":{"id":"Cgm%3F","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"QD%7B%7D","type":"date","date":null},"Complete":{"id":"p%5E_a","type":"checkbox","checkbox":false},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/f716501c64684740a9fd4f64f2ec0021"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/f716501c64684740a9fd4f64f2ec0021
  response:
    content: '{"object":"page","id":"f716501c-6468-4740-a9fd-4f64f2ec0021","created_time":"2022-12-23[...]
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "archived": false, "heading_1": {"rich_text": [{"type": "text", "plain_text":
      "New Business", "text": {"content": "New Business"}}], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/f716501c-6468-4740-a9fd-4f64f2ec0021/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"d044c6ef-9459-4167-bb04-8aa2ca8630b4","parent":{"type":"page_id","page_id":"f716501c-6468-4740-a9fd-4f64f2ec0021"},"created_time":"2022-12-23T02:05:00.000Z","last_edited_time":"2022-12-23T02:05:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"New
      Business","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      Business","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/f716501c-6468-4740-a9fd-4f64f2ec0021/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"d044c6ef-9459-4167-bb04-8aa2ca8630b4","parent":{"type":"page_id","page_id":"f716501c-6468-4740-a9fd-4f64f2ec0021"},"created_time":"2022-12-23T02:05:00.000Z","last_edited_time":"2022-12-23T02:05:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"New
      Business","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      Business","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/e9b4fb53ac704c3bac1b2f131fd0a352
  response:
    content: '{"object":"block","id":"e9b4fb53-ac70-4c3b-ac1b-2f131fd0a352","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-23T02:05:00.000Z","last_edited_time":"2022-12-23T02:05:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_simple_model_with_children
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
