interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_icon (setup)",
      "text": {"content": "tests/test_orm.py::test_orm_icon (setup)"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Index": {"type": "number", "number":
      {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text": {}}, "Complete":
      {"type": "checkbox", "checkbox": {}}, "Due Date": {"type": "date", "date": {}},
      "Tags": {"type": "multi_select", "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a0a9487b-9152-4824-91a4-7d1e6c126333","cover":null,"icon":null,"created_time":"2022-12-14T04:32:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-14T04:32:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_icon
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_icon
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Complete":{"id":"DW%3Fz","name":"Complete","type":"checkbox","checkbox":{}},"Index":{"id":"OKg%3E","name":"Index","type":"number","number":{"format":"number"}},"Tags":{"id":"bjyj","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Due
      Date":{"id":"cHOd","name":"Due Date","type":"date","date":{}},"Notes":{"id":"hitk","name":"Notes","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/a0a9487b9152482491a47d1e6c126333","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "a0a9487b-9152-4824-91a4-7d1e6c126333"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"a4456aa9-006e-48ba-b61a-58c050924921","created_time":"2022-12-14T04:32:00.000Z","last_edited_time":"2022-12-14T04:32:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"a0a9487b-9152-4824-91a4-7d1e6c126333"},"archived":false,"properties":{"Complete":{"id":"DW%3Fz","type":"checkbox","checkbox":false},"Index":{"id":"OKg%3E","type":"number","number":null},"Tags":{"id":"bjyj","type":"multi_select","multi_select":[]},"Due
      Date":{"id":"cHOd","type":"date","date":null},"Notes":{"id":"hitk","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/a4456aa9006e48bab61a58c050924921"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83c\udf54"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/a4456aa9006e48bab61a58c050924921
  response:
    content: "{\"object\":\"page\",\"id\":\"a4456aa9-006e-48ba-b61a-58c050924921\",\"created_time\":\"2022-12-14T04:32:00.000Z\",\"last_edited_time\":\"2022-12-14T04:32:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F354\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"a0a9487b-9152-4824-91a4-7d1e6c126333\"},\"archived\":false,\"properties\":{\"Complete\":{\"id\":\"DW%3Fz\",\"type\":\"checkbox\",\"checkbox\":false},\"Index\":{\"id\":\"OKg%3E\",\"type\":\"number\",\"number\":null},\"Tags\":{\"id\":\"bjyj\",\"type\":\"multi_select\",\"multi_select\":[]},\"Due
      Date\":{\"id\":\"cHOd\",\"type\":\"date\",\"date\":null},\"Notes\":{\"id\":\"hitk\",\"type\":\"rich_text\",\"rich_text\":[]},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[]}},\"url\":\"https://www.notion.so/a4456aa9006e48bab61a58c050924921\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/a0a9487b9152482491a47d1e6c126333
  response:
    content: '{"object":"block","id":"a0a9487b-9152-4824-91a4-7d1e6c126333","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-14T04:32:00.000Z","last_edited_time":"2022-12-14T04:32:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_icon
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
