interactions:
- request:
    body: '{"children": [{"type": "code", "object": "block", "has_children": false,
      "archived": false, "code": {"text": [{"type": "text", "plain_text": "test_delete_block",
      "text": {"content": "test_delete_block"}}], "caption": [], "language": "plain
      text"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2021-08-16'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/250662d9783d483cb131341ed479f96c/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"37881dbe-a7d3-4f10-99a8-d0b2db979482","created_time":"2022-04-25T02:40:00.000Z","last_edited_time":"2022-04-25T02:40:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"code","code":{"caption":[],"language":"plain
      text","text":[{"type":"text","text":{"content":"test_delete_block","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"test_delete_block","href":null}]}}],"next_cursor":null,"has_more":false}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2021-08-16'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/37881dbea7d34f1099a8d0b2db979482
  response:
    content: '{"object":"block","id":"37881dbe-a7d3-4f10-99a8-d0b2db979482","created_time":"2022-04-25T02:40:00.000Z","last_edited_time":"2022-04-25T02:40:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"code","code":{"caption":[],"language":"plain
      text","text":[{"type":"text","text":{"content":"test_delete_block","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"test_delete_block","href":null}]}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2021-08-16'
    method: GET
    uri: https://api.notion.com/v1/blocks/37881dbe-a7d3-4f10-99a8-d0b2db979482
  response:
    content: '{"object":"block","id":"37881dbe-a7d3-4f10-99a8-d0b2db979482","created_time":"2022-04-25T02:40:00.000Z","last_edited_time":"2022-04-25T02:40:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"code","code":{"caption":[],"language":"plain
      text","text":[{"type":"text","text":{"content":"test_delete_block","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"test_delete_block","href":null}]}}'
    headers: {}
    status_code: 200
version: 1
