interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "42faa3d6-2b2e-46e8-8565-481c52fcd553"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "tests/test_pages.py::test_page_icon (setup)", "text": {"content": "tests/test_pages.py::test_page_icon
      (setup)"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"8998a41f-56c8-4f15-b2c1-bda3c59d0ebf","created_time":"2022-12-19T22:12:00.000Z","last_edited_time":"2022-12-19T22:12:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_pages.py::test_page_icon
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_pages.py::test_page_icon
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_pages-py-test_page_icon-setup-8998a41f56c84f15b2c1bda3c59d0ebf"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\u2603\ufe0f"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/8998a41f56c84f15b2c1bda3c59d0ebf
  response:
    content: "{\"object\":\"page\",\"id\":\"8998a41f-56c8-4f15-b2c1-bda3c59d0ebf\",\"created_time\":\"2022-12-19T22:12:00.000Z\",\"last_edited_time\":\"2022-12-19T22:12:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2603\uFE0F\"},\"parent\":{\"type\":\"page_id\",\"page_id\":\"42faa3d6-2b2e-46e8-8565-481c52fcd553\"},\"archived\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"tests/test_pages.py::test_page_icon
      (setup)\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"tests/test_pages.py::test_page_icon
      (setup)\",\"href\":null}]}},\"url\":\"https://www.notion.so/tests-test_pages-py-test_page_icon-setup-8998a41f56c84f15b2c1bda3c59d0ebf\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/8998a41f56c84f15b2c1bda3c59d0ebf
  response:
    content: "{\"object\":\"page\",\"id\":\"8998a41f-56c8-4f15-b2c1-bda3c59d0ebf\",\"created_time\":\"2022-12-19T22:12:00.000Z\",\"last_edited_time\":\"2022-12-19T22:12:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2603\uFE0F\"},\"parent\":{\"type\":\"page_id\",\"page_id\":\"42faa3d6-2b2e-46e8-8565-481c52fcd553\"},\"archived\":true,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"tests/test_pages.py::test_page_icon
      (setup)\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"tests/test_pages.py::test_page_icon
      (setup)\",\"href\":null}]}},\"url\":\"https://www.notion.so/tests-test_pages-py-test_page_icon-setup-8998a41f56c84f15b2c1bda3c59d0ebf\"}"
    headers: {}
    status_code: 200
version: 1
