interactions:
- request:
    body: '{"children": [{"type": "table", "object": "block", "has_children": false,
      "archived": false, "table": {"table_width": 2, "has_column_header": false, "has_row_header":
      false, "children": [{"type": "table_row", "object": "block", "has_children":
      false, "archived": false, "table_row": {"cells": [[{"type": "text", "plain_text":
      "1"}], [{"type": "text", "plain_text": "test"}]]}}, {"type": "table_row", "object":
      "block", "has_children": false, "archived": false, "table_row": {"cells": [[{"type":
      "text", "plain_text": "1"}], [{"type": "text", "plain_text": "test"}]]}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/250662d9-783d-483c-b131-341ed479f96c/children
  response:
    content: '{"object":"error","status":400,"code":"validation_error","message":"body
      failed validation. Fix one:\nbody.children[0].table.children[0].table_row.cells[0][0].text
      should be defined, instead was `undefined`.\nbody.children[0].table.children[0].table_row.cells[0][0].mention
      should be defined, instead was `undefined`.\nbody.children[0].table.children[0].table_row.cells[0][0].equation
      should be defined, instead was `undefined`."}'
    headers: {}
    status_code: 400
version: 1
