interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_query
      (setup)", "text": {"content": "tests/test_orm.py::test_orm_query (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"27058c0b-bf43-413f-8dcc-aa305273be24","cover":null,"icon":null,"created_time":"2022-12-13T22:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-13T22:02:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_query
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_query
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Index":{"id":"J%5ENw","name":"Index","type":"number","number":{"format":"number"}},"Notes":{"id":"TEo%5B","name":"Notes","type":"rich_text","rich_text":{}},"Due
      Date":{"id":"%60uJ%7D","name":"Due Date","type":"date","date":{}},"Complete":{"id":"bsyb","name":"Complete","type":"checkbox","checkbox":{}},"Tags":{"id":"rcSK","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/27058c0bbf43413f8dccaa305273be24","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "27058c0b-bf43-413f-8dcc-aa305273be24"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"4a1fc605-afe2-4f23-bc5d-242dd77b64ee","created_time":"2022-12-13T22:02:00.000Z","last_edited_time":"2022-12-13T22:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"27058c0b-bf43-413f-8dcc-aa305273be24"},"archived":false,"properties":{"Index":{"id":"J%5ENw","type":"number","number":null},"Notes":{"id":"TEo%5B","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"%60uJ%7D","type":"date","date":null},"Complete":{"id":"bsyb","type":"checkbox","checkbox":false},"Tags":{"id":"rcSK","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/4a1fc605afe24f23bc5d242dd77b64ee"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Needle", "text": {"content": "Needle"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/4a1fc605afe24f23bc5d242dd77b64ee
  response:
    content: '{"object":"page","id":"4a1fc605-afe2-4f23-bc5d-242dd77b64ee","created_time":"2022-12-[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/27058c0b-bf43-413f-8dcc-aa305273be24/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"4a1fc605-afe2-4f23-bc5d-242dd77b64ee","created_time":"2022-12-13T22:02:00.000Z","last_edited_time":"2022-12-13T22:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"27058c0b-bf43-413f-8dcc-aa305273be24"},"archived":false,"properties":{"Index":{"id":"J%5ENw","type":"number","number":null},"Notes":{"id":"TEo%5B","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"%60uJ%7D","type":"date","date":null},"Complete":{"id":"bsyb","type":"checkbox","checkbox":false},"Tags":{"id":"rcSK","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Needle","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Needle","href":null}]}},"url":"https://www.notion.so/Needle-4a1fc605afe24f23bc5d242dd77b64ee"}],"next_cursor":null,"has_more":false,"type":"page","page":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/27058c0bbf43413f8dccaa305273be24
  response:
    content: '{"object":"block","id":"27058c0b-bf43-413f-8dcc-aa305273be24","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-13T22:02:00.000Z","last_edited_time":"2022-12-13T22:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_query
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
