interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "tests/test_pages.py::test_page_icon (setup)", "text": {"content": "tests/test_pages.py::test_page_icon
      (setup)"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"0d9293e3-cfa9-48a3-89e4-65d1886479a1","created_time":"2023-03-21T19:33:00.000Z","last_edited_time":"2023-03-21T19:33:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_pages.py::test_page_icon
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_pages.py::test_page_icon
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_pages-py-test_page_icon-setup-0d9293e3cfa948a389e465d1886479a1"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\u2603\ufe0f"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/0d9293e3cfa948a389e465d1886479a1
  response:
    content: "{\"object\":\"page\",\"id\":\"0d9293e3-cfa9-48a3-89e4-65d1886479a1\",\"created_time\":\"2023-03-21T19:33:00.000Z\",\"last_edited_time\":\"2023-03-21T19:33:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2603\uFE0F\"},\"parent\":{\"type\":\"page_id\",\"page_id\":\"250662d9-783d-483c-b131-341ed479f96c\"},\"archived\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"tests/test_pages.py::test_page_icon
      (setup)\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"tests/test_pages.py::test_page_icon
      (setup)\",\"href\":null}]}},\"url\":\"https://www.notion.so/tests-test_pages-py-test_page_icon-setup-0d9293e3cfa948a389e465d1886479a1\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/0d9293e3cfa948a389e465d1886479a1
  response:
    content: "{\"object\":\"page\",\"id\":\"0d9293e3-cfa9-48a3-89e4-65d1886479a1\",\"created_time\":\"2023-03-21T19:33:00.000Z\",\"last_edited_time\":\"2023-03-21T19:33:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2603\uFE0F\"},\"parent\":{\"type\":\"page_id\",\"page_id\":\"250662d9-783d-483c-b131-341ed479f96c\"},\"archived\":true,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"tests/test_pages.py::test_page_icon
      (setup)\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"tests/test_pages.py::test_page_icon
      (setup)\",\"href\":null}]}},\"url\":\"https://www.notion.so/tests-test_pages-py-test_page_icon-setup-0d9293e3cfa948a389e465d1886479a1\"}"
    headers: {}
    status_code: 200
version: 1
