interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_query.py::test_basic_number_constraint
      (setup)", "text": {"content": "tests/test_query.py::test_basic_number_constraint
      (setup)"}}], "properties": {"Name": {"type": "title", "title": {}}, "Index":
      {"type": "number", "number": {"format": "number"}}, "Notes": {"type": "rich_text",
      "rich_text": {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date":
      {"type": "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"cfd1c9a9-8e9f-4842-b7d3-e4c0458dd3b1","cover":null,"icon":null,"created_time":"2024-05-04T14:08:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2024-05-04T14:08:00.000Z","title":[{"type":"text","text":{"content":"tests/test_query.py::test_basic_number_constraint
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_query.py::test_basic_number_constraint
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"%3DimM","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Index":{"id":"HZSj","name":"Index","type":"number","number":{"format":"number"}},"Complete":{"id":"ifl_","name":"Complete","type":"checkbox","checkbox":{}},"Due
      Date":{"id":"u%3EE%5E","name":"Due Date","type":"date","date":{}},"Notes":{"id":"%7BeqG","name":"Notes","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/cfd1c9a98e9f4842b7d3e4c0458dd3b1","public_url":null,"archived":false,"in_trash":false,"request_id":"f0d40076-0ef9-4c3b-98a7-caa9cabe34b2"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "cfd1c9a9-8e9f-4842-b7d3-e4c0458dd3b1"},
      "properties": {"Index": {"type": "number", "number": 0.0}, "title": {"type":
      "title", "title": [{"type": "text", "plain_text": "Item 0", "text": {"content":
      "Item 0"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"0771d8b9-4c6a-49f1-8[...]
[...]
- request:
    body: '{"filter": {"property": "Index", "number": {"equals": 7.0}}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/cfd1c9a9-8e9f-4842-b7d3-e4c0458dd3b1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"215d05cd-c3e0-4998-bbe4-739ba130f400","created_time":"2024-05-04T14:08:00.000Z","last_edited_time":"2024-05-04T14:08:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"cfd1c9a9-8e9f-4842-b7d3-e4c0458dd3b1"},"archived":false,"in_trash":false,"properties":{"Tags":{"id":"%3DimM","type":"multi_select","multi_select":[]},"Index":{"id":"HZSj","type":"number","number":7},"Complete":{"id":"ifl_","type":"checkbox","checkbox":false},"Due
      Date":{"id":"u%3EE%5E","type":"date","date":null},"Notes":{"id":"%7BeqG","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      7","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      7","href":null}]}},"url":"https://www.notion.so/Item-7-215d05cdc3e04998bbe4739ba130f400","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"bc27ceed-7062-447e-b117-15a174d1126a"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/cfd1c9a9-8e9f-4842-b7d3-e4c0458dd3b1
  response:
    content: '{"object":"block","id":"cfd1c9a9-8e9f-4842-b7d3-e4c0458dd3b1","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-05-04T14:08:00.000Z","last_edited_time":"2024-05-04T14:08:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"tests/test_query.py::test_basic_number_constraint
      (setup)"},"request_id":"6b72eecb-48e3-4e31-a267-82df235cb739"}'
    headers: {}
    status_code: 200
version: 1
