interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/c0bdf627-b59c-4cf6-85dd-4b3dad8d4755
  response:
    content: '{"object":"block","id":"c0bdf627-b59c-4cf6-85dd-4b3dad8d4755","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-01-31T03:42:00.000Z","last_edited_time":"2022-12-23T00:17:00.000Z","created_by":{"object":"user","id":"ea74294e-d4c7-41f0-8929-805c80ea0d7f"},"last_edited_by":{"object":"user","id":"ea74294e-d4c7-41f0-8929-805c80ea0d7f"},"has_children":true,"archived":false,"in_trash":false,"type":"table","table":{"table_width":4,"has_column_header":true,"has_row_header":false},"request_id":"9dd9bebc-4a09-42f6-906e-f91b6f26383e"}'
    headers: {}
    status_code: 200
version: 1
