interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_query.py::test_compound_filter
      (setup)", "text": {"content": "tests/test_query.py::test_compound_filter (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"c37ec5b0-6ac8-4ce8-a542-0cf176470bfb","cover":null,"icon":null,"created_time":"2024-05-04T14:08:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2024-05-04T14:08:00.000Z","title":[{"type":"text","text":{"content":"tests/test_query.py::test_compound_filter
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_query.py::test_compound_filter
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"Ki%5ES","name":"Notes","type":"rich_text","rich_text":{}},"Index":{"id":"X%5Chj","name":"Index","type":"number","number":{"format":"number"}},"Due
      Date":{"id":"ZQm%5C","name":"Due Date","type":"date","date":{}},"Complete":{"id":"ob%3Cj","name":"Complete","type":"checkbox","checkbox":{}},"Tags":{"id":"xYtN","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/c37ec5b06ac84ce8a5420cf176470bfb","public_url":null,"archived":false,"in_trash":false,"request_id":"b1a1aa89-5e82-4c2a-b463-44b7e04763b4"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "c37ec5b0-6ac8-4ce8-a542-0cf176470bfb"},
      "properties": {"Index": {"type": "number", "number": 0.0}, "title": {"type":
      "title", "title": [{"type": "text", "plain_text": "Item 0", "text": {"content":
      "Item 0"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"cb717a9c-a6d1-43a4-a[...]
[...]
- request:
    body: '{"filter": {"and": [{"property": "Index", "number": {"greater_than": 3.0}},
      {"property": "Index", "number": {"less_than_or_equal_to": 8.0}}, {"property":
      "Name", "rich_text": {"contains": "Item"}}]}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/c37ec5b0-6ac8-4ce8-a542-0cf176470bfb/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"58ff689f-0ae4-4dd5-b231-423899933218","created_time":"2024-05-04T14:08:00.000Z","last_edited_time":"2024-05-04T14:08:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"c37ec5b0-6ac8-4ce8-a542-0cf176470bfb"},"archived":false,"in_trash":false,"properties":{"Notes":{"id":"Ki%5ES","type":"rich_te[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/c37ec5b0-6ac8-4ce8-a542-0cf176470bfb
  response:
    content: '{"object":"block","id":"c37ec5b0-6ac8-4ce8-a542-0cf176470bfb","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-05-04T14:08:00.000Z","last_edited_time":"2024-05-04T14:08:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"tests/test_query.py::test_compound_filter
      (setup)"},"request_id":"d0707571-e08f-4241-8581-98775ca3cfea"}'
    headers: {}
    status_code: 200
version: 1
