interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_query
      (setup)", "text": {"content": "tests/test_orm.py::test_orm_query (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"3c9db482-c706-48de-aaca-86f4706be924","cover":null,"icon":null,"created_time":"2022-12-23T04:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-23T04:50:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_query
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_query
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"%40V%7BE","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Complete":{"id":"AcvE","name":"Complete","type":"checkbox","checkbox":{}},"Notes":{"id":"D%40UK","name":"Notes","type":"rich_text","rich_text":{}},"Index":{"id":"RLBq","name":"Index","type":"number","number":{"format":"number"}},"Due
      Date":{"id":"V%5B_n","name":"Due Date","type":"date","date":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/3c9db482c70648deaaca86f4706be924","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "3c9db482-c706-48de-aaca-86f4706be924"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"2f87c148-06d0-4f74-be47-e9fc03b8b354","created_time":"2022-12-23T04:50:00.000Z","last_edited_time":"2022-12-23T04:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"3c9db482-c706-48de-aaca-86f4706be924"},"archived":false,"properties":{"Tags":{"id":"%40V%7BE","type":"multi_select","multi_select":[]},"Complete":{"id":"AcvE","type":"checkbox","checkbox":false},"Notes":{"id":"D%40UK","type":"rich_text","rich_text":[]},"Index":{"id":"RLBq","type":"number","number":null},"Due
      Date":{"id":"V%5B_n","type":"date","date":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/2f87c14806d04f74be47e9fc03b8b354"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Needle", "text": {"content": "Needle"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/2f87c14806d04f74be47e9fc03b8b354
  response:
    content: '{"object":"page","id":"2f87c148-06d0-4f74-be47-e9fc03b8b354","created_time":"2022-12-[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/3c9db482-c706-48de-aaca-86f4706be924/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"2f87c148-06d0-4f74-be47-e9fc03b8b354","created_time":"2022-12-23T04:50:00.000Z","last_edited_time":"2022-12-23T04:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"3c9db482-c706-48de-aaca-86f4706be924"},"archived":false,"properties":{"Tags":{"id":"%40V%7BE","type":"multi_select","multi_select":[]},"Complete":{"id":"AcvE","type":"checkbox","checkbox":false},"Notes":{"id":"D%40UK","type":"rich_text","rich_text":[]},"Index":{"id":"RLBq","type":"number","number":null},"Due
      Date":{"id":"V%5B_n","type":"date","date":null},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Needle","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Needle","href":null}]}},"url":"https://www.notion.so/Needle-2f87c14806d04f74be47e9fc03b8b354"}],"next_cursor":null,"has_more":false,"type":"page","page":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/3c9db482-c706-48de-aaca-86f4706be924
  response:
    content: '{"object":"block","id":"3c9db482-c706-48de-aaca-86f4706be924","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-23T04:50:00.000Z","last_edited_time":"2022-12-23T04:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_query
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
