interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "42faa3d6-2b2e-46e8-8565-481c52fcd553"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_simple_model
      (setup)", "text": {"content": "tests/test_orm.py::test_simple_model (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"8e491825-6368-4433-806a-b22419a842f2","cover":null,"icon":null,"created_time":"2022-12-19T22:11:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-19T22:11:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_simple_model
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_simple_model
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"ID%40%7D","name":"Notes","type":"rich_text","rich_text":{}},"Tags":{"id":"K%7BsS","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Index":{"id":"WJsy","name":"Index","type":"number","number":{"format":"number"}},"Complete":{"id":"WakW","name":"Complete","type":"checkbox","checkbox":{}},"Due
      Date":{"id":"%7DBoQ","name":"Due Date","type":"date","date":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"url":"https://www.notion.so/8e49182563684433806ab22419a842f2","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "8e491825-6368-4433-806a-b22419a842f2"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"fb7099c5-c9d1-4ae7-965a-6cd763453b8b","created_time":"2022-12-19T22:11:00.000Z","last_edited_time":"2022-12-19T22:11:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"8e491825-6368-4433-806a-b22419a842f2"},"archived":false,"properties":{"Notes":{"id":"ID%40%7D","type":"rich_text","rich_text":[]},"Tags":{"id":"K%7BsS","type":"multi_select","multi_select":[]},"Index":{"id":"WJsy","type":"number","number":null},"Complete":{"id":"WakW","type":"checkbox","checkbox":false},"Due
      Date":{"id":"%7DBoQ","type":"date","date":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/fb7099c5c9d14ae7965a6cd763453b8b"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "One&Only", "text": {"content": "One&Only"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/fb7099c5c9d14ae7965a6cd763453b8b
  response:
    content: '{"object":"page","id":"fb7099c5-c9d1-4ae7-965a-6cd763453b8b","created_time":"2022[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/8e49182563684433806ab22419a842f2
  response:
    content: '{"object":"block","id":"8e491825-6368-4433-806a-b22419a842f2","parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"created_time":"2022-12-19T22:11:00.000Z","last_edited_time":"2022-12-19T22:11:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_simple_model
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
