interactions:
- request:
    body: '{"children": [{"type": "table", "object": "block", "has_children": false,
      "archived": false, "table": {"table_width": 2, "has_column_header": false, "has_row_header":
      false, "children": [{"type": "table_row", "object": "block", "has_children":
      false, "archived": false, "table_row": {"cells": [[{"type": "text", "plain_text":
      "1", "text": {"content": "1"}}], [{"type": "text", "plain_text": "test", "text":
      {"content": "test"}}]]}}, {"type": "table_row", "object": "block", "has_children":
      false, "archived": false, "table_row": {"cells": [[{"type": "text", "plain_text":
      "1", "text": {"content": "1"}}], [{"type": "text", "plain_text": "test", "text":
      {"content": "test"}}]]}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/250662d9-783d-483c-b131-341ed479f96c/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"820a94b2-7b58-47d7-af4c-b3c573c5e02d","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-04-07T02:02:00.000Z","last_edited_time":"2024-04-07T02:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":true,"archived":false,"in_trash":false,"type":"table","table":{"table_width":2,"has_column_header":false,"has_row_header":false}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"005a8e4a-5db9-4f81-9837-c24f88424f50"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/820a94b2-7b58-47d7-af4c-b3c573c5e02d
  response:
    content: '{"object":"block","id":"820a94b2-7b58-47d7-af4c-b3c573c5e02d","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-04-07T02:02:00.000Z","last_edited_time":"2024-04-07T02:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":true,"archived":false,"in_trash":false,"type":"table","table":{"table_width":2,"has_column_header":false,"has_row_header":false},"request_id":"88df3211-5c74-461e-b572-177289b40ffd"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/820a94b2-7b58-47d7-af4c-b3c573c5e02d
  response:
    content: '{"object":"block","id":"820a94b2-7b58-47d7-af4c-b3c573c5e02d","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-04-07T02:02:00.000Z","last_edited_time":"2024-04-07T02:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":true,"archived":true,"in_trash":true,"type":"table","table":{"table_width":2,"has_column_header":false,"has_row_header":false},"request_id":"f6db4ff9-19a3-4e48-bd13-a1386692b694"}'
    headers: {}
    status_code: 200
version: 1
