interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/250662d9-783d-483c-b131-341ed479f96c
  response:
    content: '{"object":"page","id":"250662d9-783d-483c-b131-341ed479f96c","created_time":"2021-08-03T13:21:00.000Z","last_edited_time":"2024-05-04T14:06:00.000Z","created_by":{"object":"user","id":"ea74294e-d4c7-41f0-8929-805c80ea0d7f"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":{"type":"external","external":{"url":"https://images.unsplash.com/photo-1562380156-9a99cd92484c?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb"}},"icon":null,"parent":{"type":"page_id","page_id":"931a3b8b-875e-462d-a31d-29b49475d922"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Notional","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Notional","href":null}]}},"url":"https://www.notion.so/Notional-250662d9783d483cb131341ed479f96c","public_url":null,"request_id":"c9c77581-e64e-448c-9e03-4d86ef32b0bc"}'
    headers: {}
    status_code: 200
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "archived": false, "heading_1": {"rich_text": [{"type": "text", "plain_text":
      "Introduction", "text": {"content": "Introduction"}}], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/250662d9-783d-483c-b131-341ed479f96c/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3292f4a7-a08a-4daf-b3aa-73a41e5a7d2b","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-05-04T14:06:00.000Z","last_edited_time":"2024-05-04T14:06:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"Introduction","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Introduction","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"a1439bdf-74a1-4bff-8d81-ce6e6559cd2b"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/3292f4a7-a08a-4daf-b3aa-73a41e5a7d2b
  response:
    content: '{"object":"block","id":"3292f4a7-a08a-4daf-b3aa-73a41e5a7d2b","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-05-04T14:06:00.000Z","last_edited_time":"2024-05-04T14:06:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"Introduction","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Introduction","href":null}],"is_toggleable":false,"color":"default"},"request_id":"7658d40a-5ccd-4105-8f64-21dd4cbda684"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/3292f4a7-a08a-4daf-b3aa-73a41e5a7d2b
  response:
    content: '{"object":"block","id":"3292f4a7-a08a-4daf-b3aa-73a41e5a7d2b","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-05-04T14:06:00.000Z","last_edited_time":"2024-05-04T14:06:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"in_trash":true,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"Introduction","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Introduction","href":null}],"is_toggleable":false,"color":"default"},"request_id":"bdee5190-edc2-40d7-ba1d-c6300137a161"}'
    headers: {}
    status_code: 200
version: 1
