interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_icon (setup)",
      "text": {"content": "tests/test_orm.py::test_orm_icon (setup)"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Index": {"type": "number", "number":
      {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text": {}}, "Complete":
      {"type": "checkbox", "checkbox": {}}, "Due Date": {"type": "date", "date": {}},
      "Tags": {"type": "multi_select", "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"c00464a7-c62c-4485-a8e2-bb86ba0bfb71","cover":null,"icon":null,"created_time":"2022-04-26T03:48:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-04-26T03:48:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_icon
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_icon
      (setup)","href":null}],"properties":{"Notes":{"id":"S%3CRu","name":"Notes","type":"rich_text","rich_text":{}},"Tags":{"id":"%5CbMR","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Index":{"id":"l%3DTB","name":"Index","type":"number","number":{"format":"number"}},"Complete":{"id":"sCZv","name":"Complete","type":"checkbox","checkbox":{}},"Due
      Date":{"id":"xXh%7C","name":"Due Date","type":"date","date":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/c00464a7c62c4485a8e2bb86ba0bfb71","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "c00464a7-c62c-4485-a8e2-bb86ba0bfb71"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"7ba349c6-15d1-4cb6-9dc0-37617feb7c71","created_time":"2022-04-26T03:48:00.000Z","last_edited_time":"2022-04-26T03:48:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"c00464a7-c62c-4485-a8e2-bb86ba0bfb71"},"archived":false,"properties":{"Notes":{"id":"S%3CRu","type":"rich_text","rich_text":[]},"Tags":{"id":"%5CbMR","type":"multi_select","multi_select":[]},"Index":{"id":"l%3DTB","type":"number","number":null},"Complete":{"id":"sCZv","type":"checkbox","checkbox":false},"Due
      Date":{"id":"xXh%7C","type":"date","date":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/7ba349c615d14cb69dc037617feb7c71"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83c\udf54"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: PATCH
    uri: https://api.notion.com/v1/pages/7ba349c615d14cb69dc037617feb7c71
  response:
    content: "{\"object\":\"page\",\"id\":\"7ba349c6-15d1-4cb6-9dc0-37617feb7c71\",\"created_time\":\"2022-04-26T03:48:00.000Z\",\"last_edited_time\":\"2022-04-26T03:48:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F354\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"c00464a7-c62c-4485-a8e2-bb86ba0bfb71\"},\"archived\":false,\"properties\":{\"Notes\":{\"id\":\"S%3CRu\",\"type\":\"rich_text\",\"rich_text\":[]},\"Tags\":{\"id\":\"%5CbMR\",\"type\":\"multi_select\",\"multi_select\":[]},\"Index\":{\"id\":\"l%3DTB\",\"type\":\"number\",\"number\":null},\"Complete\":{\"id\":\"sCZv\",\"type\":\"checkbox\",\"checkbox\":false},\"Due
      Date\":{\"id\":\"xXh%7C\",\"type\":\"date\",\"date\":null},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[]}},\"url\":\"https://www.notion.so/7ba349c615d14cb69dc037617feb7c71\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/c00464a7c62c4485a8e2bb86ba0bfb71
  response:
    content: '{"object":"block","id":"c00464a7-c62c-4485-a8e2-bb86ba0bfb71","created_time":"2022-04-26T03:48:00.000Z","last_edited_time":"2022-04-26T03:48:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_icon
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
