interactions:
- request:
    body: '{"children": [{"type": "code", "object": "block", "has_children": false,
      "archived": false, "code": {"rich_text": [{"type": "text", "plain_text": "test_delete_block",
      "text": {"content": "test_delete_block"}}], "caption": [], "language": "plain
      text"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/250662d9-783d-483c-b131-341ed479f96c/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"1419729f-aebf-4910-827f-b45c3ca6399a","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-04-07T02:00:00.000Z","last_edited_time":"2024-04-07T02:00:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"in_trash":false,"type":"code","code":{"caption":[],"rich_text":[{"type":"text","text":{"content":"test_delete_block","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"test_delete_block","href":null}],"language":"plain
      text"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"edd78f69-d227-4e7b-abef-ee9c1fa067f1"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/1419729f-aebf-4910-827f-b45c3ca6399a
  response:
    content: '{"object":"block","id":"1419729f-aebf-4910-827f-b45c3ca6399a","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-04-07T02:00:00.000Z","last_edited_time":"2024-04-07T02:00:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"in_trash":true,"type":"code","code":{"caption":[],"rich_text":[{"type":"text","text":{"content":"test_delete_block","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"test_delete_block","href":null}],"language":"plain
      text"},"request_id":"f9f4b93e-48c9-483c-a928-dce261b0aa9c"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/1419729f-aebf-4910-827f-b45c3ca6399a
  response:
    content: '{"object":"block","id":"1419729f-aebf-4910-827f-b45c3ca6399a","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-04-07T02:00:00.000Z","last_edited_time":"2024-04-07T02:00:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"in_trash":true,"type":"code","code":{"caption":[],"rich_text":[{"type":"text","text":{"content":"test_delete_block","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"test_delete_block","href":null}],"language":"plain
      text"},"request_id":"fb389ae2-ef5f-4160-a260-b68e28e5e0ca"}'
    headers: {}
    status_code: 200
version: 1
