interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_change_model_title
      (setup)", "text": {"content": "tests/test_orm.py::test_change_model_title (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"4917930a-3202-45df-90e4-85fd341887c5","cover":null,"icon":null,"created_time":"2023-03-21T19:32:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-03-21T19:32:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_change_model_title
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_change_model_title
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Due
      Date":{"id":"AxAb","name":"Due Date","type":"date","date":{}},"Notes":{"id":"G%7CmV","name":"Notes","type":"rich_text","rich_text":{}},"Tags":{"id":"L%3B%7Cr","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Index":{"id":"M%5CTa","name":"Index","type":"number","number":{"format":"number"}},"Complete":{"id":"r%7DH%3C","name":"Complete","type":"checkbox","checkbox":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/4917930a320245df90e485fd341887c5","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "4917930a-3202-45df-90e4-85fd341887c5"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"0a4a4d15-6f60-4a19-8e13-f80c453c3950","created_time":"2023-03-21T19:32:00.000Z","last_edited_time":"2023-03-21T19:32:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"4917930a-3202-45df-90e4-85fd341887c5"},"archived":false,"properties":{"Due
      Date":{"id":"AxAb","type":"date","date":null},"Notes":{"id":"G%7CmV","type":"rich_text","rich_text":[]},"Tags":{"id":"L%3B%7Cr","type":"multi_select","multi_select":[]},"Index":{"id":"M%5CTa","type":"number","number":null},"Complete":{"id":"r%7DH%3C","type":"checkbox","checkbox":false},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/0a4a4d156f604a198e13f80c453c3950"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/0a4a4d156f604a198e13f80c453c3950
  response:
    content: '{"object":"page","id":"0a4a4d15-6f60-4a19-8e13-f80c453c3950","created_time":"2023-03-21[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/4917930a-3202-45df-90e4-85fd341887c5
  response:
    content: '{"object":"block","id":"4917930a-3202-45df-90e4-85fd341887c5","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-03-21T19:32:00.000Z","last_edited_time":"2023-03-21T19:32:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_change_model_title
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
