interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "tests/test_pages.py::test_restore_page (setup)", "text": {"content": "tests/test_pages.py::test_restore_page
      (setup)"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"ebf5bd06-2cac-4bca-b607-7485b09683ae","created_time":"2024-05-04T14:08:00.000Z","last_edited_time":"2024-05-04T14:08:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_pages.py::test_restore_page
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_pages.py::test_restore_page
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_pages-py-test_restore_page-setup-ebf5bd062cac4bcab6077485b09683ae","public_url":null,"request_id":"d6ecb161-778a-482f-8b7a-2e62c7e42a0f"}'
    headers: {}
    status_code: 200
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/ebf5bd062cac4bcab6077485b09683ae
  response:
    content: '{"object":"page","id":"ebf5bd06-2cac-4bca-b607-7485b09683ae","created_time":"2024-05-04T14:08:00.000Z","last_edited_time":"2024-05-04T14:08:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":true,"in_trash":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_pages.py::test_restore_page
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_pages.py::test_restore_page
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_pages-py-test_restore_page-setup-ebf5bd062cac4bcab6077485b09683ae","public_url":null,"request_id":"2a426941-a160-4d30-a17b-def11e895d87"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/ebf5bd062cac4bcab6077485b09683ae
  response:
    content: '{"object":"page","id":"ebf5bd06-2cac-4bca-b607-7485b09683ae","created_time":"2024-05-04T14:08:00.000Z","last_edited_time":"2024-05-04T14:08:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":true,"in_trash":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_pages.py::test_restore_page
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_pages.py::test_restore_page
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_pages-py-test_restore_page-setup-ebf5bd062cac4bcab6077485b09683ae","public_url":null,"request_id":"39b5d872-5b19-4db2-ac4d-187a8f8222a5"}'
    headers: {}
    status_code: 200
version: 1
