interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_simple_model_with_children
      (setup)", "text": {"content": "tests/test_orm.py::test_simple_model_with_children
      (setup)"}}], "properties": {"Name": {"type": "title", "title": {}}, "Index":
      {"type": "number", "number": {"format": "number"}}, "Notes": {"type": "rich_text",
      "rich_text": {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date":
      {"type": "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"57df2f37-0f07-44dc-9402-0765618488cb","cover":null,"icon":null,"created_time":"2023-01-26T05:33:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-01-26T05:33:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_simple_model_with_children
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_simple_model_with_children
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Due
      Date":{"id":"IoVz","name":"Due Date","type":"date","date":{}},"Notes":{"id":"LV%5D%40","name":"Notes","type":"rich_text","rich_text":{}},"Complete":{"id":"MK%5CN","name":"Complete","type":"checkbox","checkbox":{}},"Tags":{"id":"g%5By%7B","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Index":{"id":"kwwp","name":"Index","type":"number","number":{"format":"number"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/57df2f370f0744dc94020765618488cb","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "57df2f37-0f07-44dc-9402-0765618488cb"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"0604cfcc-2b68-4c97-bbfb-4c32df36394f","created_time":"2023-01-26T05:33:00.000Z","last_edited_time":"2023-01-26T05:33:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"57df2f37-0f07-44dc-9402-0765618488cb"},"archived":false,"properties":{"Due
      Date":{"id":"IoVz","type":"date","date":null},"Notes":{"id":"LV%5D%40","type":"rich_text","rich_text":[]},"Complete":{"id":"MK%5CN","type":"checkbox","checkbox":false},"Tags":{"id":"g%5By%7B","type":"multi_select","multi_select":[]},"Index":{"id":"kwwp","type":"number","number":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/0604cfcc2b684c97bbfb4c32df36394f"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/0604cfcc2b684c97bbfb4c32df36394f
  response:
    content: '{"object":"page","id":"0604cfcc-2b68-4c97-bbfb-4c32df36394f","created_time":"2023-01-26[...]
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "archived": false, "heading_1": {"rich_text": [{"type": "text", "plain_text":
      "New Business", "text": {"content": "New Business"}}], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/0604cfcc-2b68-4c97-bbfb-4c32df36394f/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"7c1f77e3-0a24-48aa-8dfa-4615d0deefd9","parent":{"type":"page_id","page_id":"0604cfcc-2b68-4c97-bbfb-4c32df36394f"},"created_time":"2023-01-26T05:33:00.000Z","last_edited_time":"2023-01-26T05:33:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"New
      Business","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      Business","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/0604cfcc-2b68-4c97-bbfb-4c32df36394f/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"7c1f77e3-0a24-48aa-8dfa-4615d0deefd9","parent":{"type":"page_id","page_id":"0604cfcc-2b68-4c97-bbfb-4c32df36394f"},"created_time":"2023-01-26T05:33:00.000Z","last_edited_time":"2023-01-26T05:33:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"New
      Business","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      Business","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/57df2f37-0f07-44dc-9402-0765618488cb
  response:
    content: '{"object":"block","id":"57df2f37-0f07-44dc-9402-0765618488cb","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-01-26T05:33:00.000Z","last_edited_time":"2023-01-26T05:33:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_simple_model_with_children
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
