interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_query
      (setup)", "text": {"content": "tests/test_orm.py::test_orm_query (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"6bfc0203-7208-41fe-ae26-8fa7b1ecb7b7","cover":null,"icon":null,"created_time":"2023-01-26T05:33:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-01-26T05:33:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_query
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_query
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Complete":{"id":"BF%40e","name":"Complete","type":"checkbox","checkbox":{}},"Tags":{"id":"Bfi%3E","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Notes":{"id":"oE%3Cg","name":"Notes","type":"rich_text","rich_text":{}},"Index":{"id":"rxZ%3D","name":"Index","type":"number","number":{"format":"number"}},"Due
      Date":{"id":"xNvD","name":"Due Date","type":"date","date":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/6bfc0203720841feae268fa7b1ecb7b7","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "6bfc0203-7208-41fe-ae26-8fa7b1ecb7b7"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"f7f65daf-0cfe-4d56-a7ca-c2b10bcd911b","created_time":"2023-01-26T05:33:00.000Z","last_edited_time":"2023-01-26T05:33:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"6bfc0203-7208-41fe-ae26-8fa7b1ecb7b7"},"archived":false,"properties":{"Complete":{"id":"BF%40e","type":"checkbox","checkbox":false},"Tags":{"id":"Bfi%3E","type":"multi_select","multi_select":[]},"Notes":{"id":"oE%3Cg","type":"rich_text","rich_text":[]},"Index":{"id":"rxZ%3D","type":"number","number":null},"Due
      Date":{"id":"xNvD","type":"date","date":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/f7f65daf0cfe4d56a7cac2b10bcd911b"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Needle", "text": {"content": "Needle"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/f7f65daf0cfe4d56a7cac2b10bcd911b
  response:
    content: '{"object":"page","id":"f7f65daf-0cfe-4d56-a7ca-c2b10bcd911b","created_time":"2023-01-[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/6bfc0203-7208-41fe-ae26-8fa7b1ecb7b7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"f7f65daf-0cfe-4d56-a7ca-c2b10bcd911b","created_time":"2023-01-26T05:33:00.000Z","last_edited_time":"2023-01-26T05:33:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"6bfc0203-7208-41fe-ae26-8fa7b1ecb7b7"},"archived":false,"properties":{"Complete":{"id":"BF%40e","type":"checkbox","checkbox":false},"Tags":{"id":"Bfi%3E","type":"multi_select","multi_select":[]},"Notes":{"id":"oE%3Cg","type":"rich_text","rich_text":[]},"Index":{"id":"rxZ%3D","type":"number","number":null},"Due
      Date":{"id":"xNvD","type":"date","date":null},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Needle","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Needle","href":null}]}},"url":"https://www.notion.so/Needle-f7f65daf0cfe4d56a7cac2b10bcd911b"}],"next_cursor":null,"has_more":false,"type":"page","page":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/6bfc0203-7208-41fe-ae26-8fa7b1ecb7b7
  response:
    content: '{"object":"block","id":"6bfc0203-7208-41fe-ae26-8fa7b1ecb7b7","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-01-26T05:33:00.000Z","last_edited_time":"2023-01-26T05:34:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_query
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
