interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_simple_model
      (setup)", "text": {"content": "tests/test_orm.py::test_simple_model (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"c029d39d-4a41-4f0d-a129-7f2f2fedced9","cover":null,"icon":null,"created_time":"2022-12-14T04:25:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-14T04:25:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_simple_model
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_simple_model
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"DbTd","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Index":{"id":"M%3Ap%7C","name":"Index","type":"number","number":{"format":"number"}},"Complete":{"id":"Q%40~n","name":"Complete","type":"checkbox","checkbox":{}},"Due
      Date":{"id":"Vqz%60","name":"Due Date","type":"date","date":{}},"Notes":{"id":"%60NC%60","name":"Notes","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/c029d39d4a414f0da1297f2f2fedced9","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "c029d39d-4a41-4f0d-a129-7f2f2fedced9"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"dd0097fb-bb39-461b-a8bf-bcf7ff86de28","created_time":"2022-12-14T04:25:00.000Z","last_edited_time":"2022-12-14T04:25:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"c029d39d-4a41-4f0d-a129-7f2f2fedced9"},"archived":false,"properties":{"Tags":{"id":"DbTd","type":"multi_select","multi_select":[]},"Index":{"id":"M%3Ap%7C","type":"number","number":null},"Complete":{"id":"Q%40~n","type":"checkbox","checkbox":false},"Due
      Date":{"id":"Vqz%60","type":"date","date":null},"Notes":{"id":"%60NC%60","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/dd0097fbbb39461ba8bfbcf7ff86de28"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "One&Only", "text": {"content": "One&Only"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/dd0097fbbb39461ba8bfbcf7ff86de28
  response:
    content: '{"object":"page","id":"dd0097fb-bb39-461b-a8bf-bcf7ff86de28","created_time":"2022[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/c029d39d4a414f0da1297f2f2fedced9
  response:
    content: '{"object":"block","id":"c029d39d-4a41-4f0d-a129-7f2f2fedced9","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-14T04:25:00.000Z","last_edited_time":"2022-12-14T04:25:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_simple_model
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
