interactions:
- request:
    body: '{"children": [{"type": "table", "object": "block", "has_children": false,
      "archived": false, "table": {"table_width": 2, "has_column_header": false, "has_row_header":
      false, "children": [{"type": "table_row", "object": "block", "has_children":
      false, "archived": false, "table_row": {"cells": [[{"type": "text", "plain_text":
      "1", "text": {"content": "1"}}], [{"type": "text", "plain_text": "test", "text":
      {"content": "test"}}]]}}, {"type": "table_row", "object": "block", "has_children":
      false, "archived": false, "table_row": {"cells": [[{"type": "text", "plain_text":
      "1", "text": {"content": "1"}}], [{"type": "text", "plain_text": "test", "text":
      {"content": "test"}}]]}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/250662d9-783d-483c-b131-341ed479f96c/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"b5e476be-6327-4efb-a819-f645e94aee62","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-05-04T14:08:00.000Z","last_edited_time":"2024-05-04T14:08:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":true,"archived":false,"in_trash":false,"type":"table","table":{"table_width":2,"has_column_header":false,"has_row_header":false}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"8e2c8d0a-13e8-461c-a5e0-1580bdf58eda"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/b5e476be-6327-4efb-a819-f645e94aee62
  response:
    content: '{"object":"block","id":"b5e476be-6327-4efb-a819-f645e94aee62","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-05-04T14:08:00.000Z","last_edited_time":"2024-05-04T14:08:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":true,"archived":false,"in_trash":false,"type":"table","table":{"table_width":2,"has_column_header":false,"has_row_header":false},"request_id":"41db6340-43b4-4b92-b44e-ace9f91e3db1"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/b5e476be-6327-4efb-a819-f645e94aee62
  response:
    content: '{"object":"block","id":"b5e476be-6327-4efb-a819-f645e94aee62","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-05-04T14:08:00.000Z","last_edited_time":"2024-05-04T14:08:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":true,"archived":true,"in_trash":true,"type":"table","table":{"table_width":2,"has_column_header":false,"has_row_header":false},"request_id":"b6e8c870-2526-46d1-b775-547c14bec8d7"}'
    headers: {}
    status_code: 200
version: 1
