interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "42faa3d6-2b2e-46e8-8565-481c52fcd553"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_change_model_title
      (setup)", "text": {"content": "tests/test_orm.py::test_change_model_title (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"4374ffbc-27de-4f33-83c3-1d3d223af19f","cover":null,"icon":null,"created_time":"2022-12-16T04:44:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-16T04:44:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_change_model_title
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_change_model_title
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"CsM_","name":"Notes","type":"rich_text","rich_text":{}},"Due
      Date":{"id":"R_Gq","name":"Due Date","type":"date","date":{}},"Tags":{"id":"ZczR","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Index":{"id":"tv%7Dk","name":"Index","type":"number","number":{"format":"number"}},"Complete":{"id":"wy%3Dd","name":"Complete","type":"checkbox","checkbox":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"url":"https://www.notion.so/4374ffbc27de4f3383c31d3d223af19f","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "4374ffbc-27de-4f33-83c3-1d3d223af19f"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"7b0ac810-6e41-4afb-824c-e5cda7e68001","created_time":"2022-12-16T04:44:00.000Z","last_edited_time":"2022-12-16T04:44:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"4374ffbc-27de-4f33-83c3-1d3d223af19f"},"archived":false,"properties":{"Notes":{"id":"CsM_","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"R_Gq","type":"date","date":null},"Tags":{"id":"ZczR","type":"multi_select","multi_select":[]},"Index":{"id":"tv%7Dk","type":"number","number":null},"Complete":{"id":"wy%3Dd","type":"checkbox","checkbox":false},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/7b0ac8106e414afb824ce5cda7e68001"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/7b0ac8106e414afb824ce5cda7e68001
  response:
    content: '{"object":"page","id":"7b0ac810-6e41-4afb-824c-e5cda7e68001","created_time":"2022-12-16[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/4374ffbc27de4f3383c31d3d223af19f
  response:
    content: '{"object":"block","id":"4374ffbc-27de-4f33-83c3-1d3d223af19f","parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"created_time":"2022-12-16T04:44:00.000Z","last_edited_time":"2022-12-16T04:44:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_change_model_title
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
