interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_icon (setup)",
      "text": {"content": "tests/test_orm.py::test_orm_icon (setup)"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Index": {"type": "number", "number":
      {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text": {}}, "Complete":
      {"type": "checkbox", "checkbox": {}}, "Due Date": {"type": "date", "date": {}},
      "Tags": {"type": "multi_select", "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"12944547-bf3e-4710-9cf5-00cf9806c760","cover":null,"icon":null,"created_time":"2022-12-30T22:46:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-30T22:46:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_icon
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_icon
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Index":{"id":"%3AmZn","name":"Index","type":"number","number":{"format":"number"}},"Tags":{"id":"Rb%7Cf","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Notes":{"id":"T~Z%7B","name":"Notes","type":"rich_text","rich_text":{}},"Complete":{"id":"dzZI","name":"Complete","type":"checkbox","checkbox":{}},"Due
      Date":{"id":"ssxy","name":"Due Date","type":"date","date":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/12944547bf3e47109cf500cf9806c760","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "12944547-bf3e-4710-9cf5-00cf9806c760"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"262aca1c-ae02-43c4-9047-5be5d9906eeb","created_time":"2022-12-30T22:46:00.000Z","last_edited_time":"2022-12-30T22:46:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"12944547-bf3e-4710-9cf5-00cf9806c760"},"archived":false,"properties":{"Index":{"id":"%3AmZn","type":"number","number":null},"Tags":{"id":"Rb%7Cf","type":"multi_select","multi_select":[]},"Notes":{"id":"T~Z%7B","type":"rich_text","rich_text":[]},"Complete":{"id":"dzZI","type":"checkbox","checkbox":false},"Due
      Date":{"id":"ssxy","type":"date","date":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/262aca1cae0243c490475be5d9906eeb"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83c\udf54"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/262aca1cae0243c490475be5d9906eeb
  response:
    content: "{\"object\":\"page\",\"id\":\"262aca1c-ae02-43c4-9047-5be5d9906eeb\",\"created_time\":\"2022-12-30T22:46:00.000Z\",\"last_edited_time\":\"2022-12-30T22:46:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F354\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"12944547-bf3e-4710-9cf5-00cf9806c760\"},\"archived\":false,\"properties\":{\"Index\":{\"id\":\"%3AmZn\",\"type\":\"number\",\"number\":null},\"Tags\":{\"id\":\"Rb%7Cf\",\"type\":\"multi_select\",\"multi_select\":[]},\"Notes\":{\"id\":\"T~Z%7B\",\"type\":\"rich_text\",\"rich_text\":[]},\"Complete\":{\"id\":\"dzZI\",\"type\":\"checkbox\",\"checkbox\":false},\"Due
      Date\":{\"id\":\"ssxy\",\"type\":\"date\",\"date\":null},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[]}},\"url\":\"https://www.notion.so/262aca1cae0243c490475be5d9906eeb\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/12944547-bf3e-4710-9cf5-00cf9806c760
  response:
    content: '{"object":"block","id":"12944547-bf3e-4710-9cf5-00cf9806c760","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-30T22:46:00.000Z","last_edited_time":"2022-12-30T22:46:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_icon
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
