interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_icon (setup)",
      "text": {"content": "tests/test_orm.py::test_orm_icon (setup)"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Index": {"type": "number", "number":
      {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text": {}}, "Complete":
      {"type": "checkbox", "checkbox": {}}, "Due Date": {"type": "date", "date": {}},
      "Tags": {"type": "multi_select", "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"5be9deca-9c5f-4be2-bc00-c2daf4a46337","cover":null,"icon":null,"created_time":"2022-12-30T21:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-30T21:50:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_icon
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_icon
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"F_y%3A","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Index":{"id":"%5EhoJ","name":"Index","type":"number","number":{"format":"number"}},"Notes":{"id":"kyZI","name":"Notes","type":"rich_text","rich_text":{}},"Due
      Date":{"id":"msFM","name":"Due Date","type":"date","date":{}},"Complete":{"id":"vJXs","name":"Complete","type":"checkbox","checkbox":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/5be9deca9c5f4be2bc00c2daf4a46337","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "5be9deca-9c5f-4be2-bc00-c2daf4a46337"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"cafe8e49-e927-40bd-83c4-836e84ba7eee","created_time":"2022-12-30T21:50:00.000Z","last_edited_time":"2022-12-30T21:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"5be9deca-9c5f-4be2-bc00-c2daf4a46337"},"archived":false,"properties":{"Tags":{"id":"F_y%3A","type":"multi_select","multi_select":[]},"Index":{"id":"%5EhoJ","type":"number","number":null},"Notes":{"id":"kyZI","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"msFM","type":"date","date":null},"Complete":{"id":"vJXs","type":"checkbox","checkbox":false},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/cafe8e49e92740bd83c4836e84ba7eee"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83c\udf54"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/cafe8e49e92740bd83c4836e84ba7eee
  response:
    content: "{\"object\":\"page\",\"id\":\"cafe8e49-e927-40bd-83c4-836e84ba7eee\",\"created_time\":\"2022-12-30T21:50:00.000Z\",\"last_edited_time\":\"2022-12-30T21:50:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F354\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"5be9deca-9c5f-4be2-bc00-c2daf4a46337\"},\"archived\":false,\"properties\":{\"Tags\":{\"id\":\"F_y%3A\",\"type\":\"multi_select\",\"multi_select\":[]},\"Index\":{\"id\":\"%5EhoJ\",\"type\":\"number\",\"number\":null},\"Notes\":{\"id\":\"kyZI\",\"type\":\"rich_text\",\"rich_text\":[]},\"Due
      Date\":{\"id\":\"msFM\",\"type\":\"date\",\"date\":null},\"Complete\":{\"id\":\"vJXs\",\"type\":\"checkbox\",\"checkbox\":false},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[]}},\"url\":\"https://www.notion.so/cafe8e49e92740bd83c4836e84ba7eee\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/5be9deca-9c5f-4be2-bc00-c2daf4a46337
  response:
    content: '{"object":"block","id":"5be9deca-9c5f-4be2-bc00-c2daf4a46337","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-30T21:50:00.000Z","last_edited_time":"2022-12-30T21:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_icon
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
