interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_query
      (setup)", "text": {"content": "tests/test_orm.py::test_orm_query (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"f8c1fb21-ef41-48ee-91cd-bffb7bb209d8","cover":null,"icon":null,"created_time":"2023-03-21T19:33:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-03-21T19:33:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_query
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_query
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"%3AK%3Al","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Notes":{"id":"%3Ck%7C%60","name":"Notes","type":"rich_text","rich_text":{}},"Complete":{"id":"RfQI","name":"Complete","type":"checkbox","checkbox":{}},"Index":{"id":"hfAF","name":"Index","type":"number","number":{"format":"number"}},"Due
      Date":{"id":"l%7Cbg","name":"Due Date","type":"date","date":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/f8c1fb21ef4148ee91cdbffb7bb209d8","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "f8c1fb21-ef41-48ee-91cd-bffb7bb209d8"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3e636fb7-c34d-4124-b160-5aee162b2109","created_time":"2023-03-21T19:33:00.000Z","last_edited_time":"2023-03-21T19:33:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"f8c1fb21-ef41-48ee-91cd-bffb7bb209d8"},"archived":false,"properties":{"Tags":{"id":"%3AK%3Al","type":"multi_select","multi_select":[]},"Notes":{"id":"%3Ck%7C%60","type":"rich_text","rich_text":[]},"Complete":{"id":"RfQI","type":"checkbox","checkbox":false},"Index":{"id":"hfAF","type":"number","number":null},"Due
      Date":{"id":"l%7Cbg","type":"date","date":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/3e636fb7c34d4124b1605aee162b2109"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Needle", "text": {"content": "Needle"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/3e636fb7c34d4124b1605aee162b2109
  response:
    content: '{"object":"page","id":"3e636fb7-c34d-4124-b160-5aee162b2109","created_time":"2023-03-[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/f8c1fb21-ef41-48ee-91cd-bffb7bb209d8/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3e636fb7-c34d-4124-b160-5aee162b2109","created_time":"2023-03-21T19:33:00.000Z","last_edited_time":"2023-03-21T19:33:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"f8c1fb21-ef41-48ee-91cd-bffb7bb209d8"},"archived":false,"properties":{"Tags":{"id":"%3AK%3Al","type":"multi_select","multi_select":[]},"Notes":{"id":"%3Ck%7C%60","type":"rich_text","rich_text":[]},"Complete":{"id":"RfQI","type":"checkbox","checkbox":false},"Index":{"id":"hfAF","type":"number","number":null},"Due
      Date":{"id":"l%7Cbg","type":"date","date":null},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Needle","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Needle","href":null}]}},"url":"https://www.notion.so/Needle-3e636fb7c34d4124b1605aee162b2109"}],"next_cursor":null,"has_more":false,"type":"page","page":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/f8c1fb21-ef41-48ee-91cd-bffb7bb209d8
  response:
    content: '{"object":"block","id":"f8c1fb21-ef41-48ee-91cd-bffb7bb209d8","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-03-21T19:33:00.000Z","last_edited_time":"2023-03-21T19:33:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_query
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
