interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_missing_property
      (setup)", "text": {"content": "tests/test_orm.py::test_missing_property (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"d0f48fd8-ceed-4b70-9fdb-3e37b1bfac23","cover":null,"icon":null,"created_time":"2022-12-12T04:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-12T04:07:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_missing_property
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_missing_property
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Due
      Date":{"id":"ILro","name":"Due Date","type":"date","date":{}},"Tags":{"id":"Jl%7BE","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Index":{"id":"fdth","name":"Index","type":"number","number":{"format":"number"}},"Notes":{"id":"xjJH","name":"Notes","type":"rich_text","rich_text":{}},"Complete":{"id":"%7BDM%3F","name":"Complete","type":"checkbox","checkbox":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/d0f48fd8ceed4b709fdb3e37b1bfac23","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "d0f48fd8-ceed-4b70-9fdb-3e37b1bfac23"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"f6d4d3f9-66c9-4536-a3a2-16f1f29d226b","created_time":"2022-12-12T04:07:00.000Z","last_edited_time":"2022-12-12T04:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"d0f48fd8-ceed-4b70-9fdb-3e37b1bfac23"},"archived":false,"properties":{"Due
      Date":{"id":"ILro","type":"date","date":null},"Tags":{"id":"Jl%7BE","type":"multi_select","multi_select":[]},"Index":{"id":"fdth","type":"number","number":null},"Notes":{"id":"xjJH","type":"rich_text","rich_text":[]},"Complete":{"id":"%7BDM%3F","type":"checkbox","checkbox":false},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/f6d4d3f966c94536a3a216f1f29d226b"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "MissingProp", "text": {"content": "MissingProp"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/f6d4d3f966c94536a3a216f1f29d226b
  response:
    content: '{"object":"page","id":"f6d4d3f9-66c9-4536-a3a2-16f1f29d226b","created_time"[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/d0f48fd8ceed4b709fdb3e37b1bfac23
  response:
    content: '{"object":"block","id":"d0f48fd8-ceed-4b70-9fdb-3e37b1bfac23","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-12T04:07:00.000Z","last_edited_time":"2022-12-12T04:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_missing_property
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
