interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_change_model_title
      (setup)", "text": {"content": "tests/test_orm.py::test_change_model_title (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"db30f664-53cd-4e76-ab89-af1fd6fc8a0d","cover":null,"icon":null,"created_time":"2023-01-19T00:58:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-01-19T00:58:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_change_model_title
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_change_model_title
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Index":{"id":"Jg%3AG","name":"Index","type":"number","number":{"format":"number"}},"Tags":{"id":"RzcI","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Complete":{"id":"hz%7BK","name":"Complete","type":"checkbox","checkbox":{}},"Due
      Date":{"id":"lfr%7B","name":"Due Date","type":"date","date":{}},"Notes":{"id":"l%7C%3EI","name":"Notes","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/db30f66453cd4e76ab89af1fd6fc8a0d","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "db30f664-53cd-4e76-ab89-af1fd6fc8a0d"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"48ed417e-9c44-46a8-a081-b1ad9f2bea1d","created_time":"2023-01-19T00:58:00.000Z","last_edited_time":"2023-01-19T00:58:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"db30f664-53cd-4e76-ab89-af1fd6fc8a0d"},"archived":false,"properties":{"Index":{"id":"Jg%3AG","type":"number","number":null},"Tags":{"id":"RzcI","type":"multi_select","multi_select":[]},"Complete":{"id":"hz%7BK","type":"checkbox","checkbox":false},"Due
      Date":{"id":"lfr%7B","type":"date","date":null},"Notes":{"id":"l%7C%3EI","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/48ed417e9c4446a8a081b1ad9f2bea1d"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/48ed417e9c4446a8a081b1ad9f2bea1d
  response:
    content: '{"object":"page","id":"48ed417e-9c44-46a8-a081-b1ad9f2bea1d","created_time":"2023-01-19[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/db30f664-53cd-4e76-ab89-af1fd6fc8a0d
  response:
    content: '{"object":"block","id":"db30f664-53cd-4e76-ab89-af1fd6fc8a0d","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-01-19T00:58:00.000Z","last_edited_time":"2023-01-19T00:58:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_change_model_title
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
