interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_icon (setup)",
      "text": {"content": "tests/test_orm.py::test_orm_icon (setup)"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Index": {"type": "number", "number":
      {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text": {}}, "Complete":
      {"type": "checkbox", "checkbox": {}}, "Due Date": {"type": "date", "date": {}},
      "Tags": {"type": "multi_select", "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"c763de4e-c34d-4c80-af06-c7eb352c2403","cover":null,"icon":null,"created_time":"2022-12-23T04:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-23T04:50:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_icon
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_icon
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Complete":{"id":"%5Df%60~","name":"Complete","type":"checkbox","checkbox":{}},"Notes":{"id":"nk%5DQ","name":"Notes","type":"rich_text","rich_text":{}},"Index":{"id":"uKgg","name":"Index","type":"number","number":{"format":"number"}},"Due
      Date":{"id":"%7BHLb","name":"Due Date","type":"date","date":{}},"Tags":{"id":"%7BPek","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/c763de4ec34d4c80af06c7eb352c2403","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "c763de4e-c34d-4c80-af06-c7eb352c2403"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"1d50541e-0c25-463b-bc77-1848e902492a","created_time":"2022-12-23T04:50:00.000Z","last_edited_time":"2022-12-23T04:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"c763de4e-c34d-4c80-af06-c7eb352c2403"},"archived":false,"properties":{"Complete":{"id":"%5Df%60~","type":"checkbox","checkbox":false},"Notes":{"id":"nk%5DQ","type":"rich_text","rich_text":[]},"Index":{"id":"uKgg","type":"number","number":null},"Due
      Date":{"id":"%7BHLb","type":"date","date":null},"Tags":{"id":"%7BPek","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/1d50541e0c25463bbc771848e902492a"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83c\udf54"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/1d50541e0c25463bbc771848e902492a
  response:
    content: "{\"object\":\"page\",\"id\":\"1d50541e-0c25-463b-bc77-1848e902492a\",\"created_time\":\"2022-12-23T04:50:00.000Z\",\"last_edited_time\":\"2022-12-23T04:50:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F354\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"c763de4e-c34d-4c80-af06-c7eb352c2403\"},\"archived\":false,\"properties\":{\"Complete\":{\"id\":\"%5Df%60~\",\"type\":\"checkbox\",\"checkbox\":false},\"Notes\":{\"id\":\"nk%5DQ\",\"type\":\"rich_text\",\"rich_text\":[]},\"Index\":{\"id\":\"uKgg\",\"type\":\"number\",\"number\":null},\"Due
      Date\":{\"id\":\"%7BHLb\",\"type\":\"date\",\"date\":null},\"Tags\":{\"id\":\"%7BPek\",\"type\":\"multi_select\",\"multi_select\":[]},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[]}},\"url\":\"https://www.notion.so/1d50541e0c25463bbc771848e902492a\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/c763de4e-c34d-4c80-af06-c7eb352c2403
  response:
    content: '{"object":"block","id":"c763de4e-c34d-4c80-af06-c7eb352c2403","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-23T04:50:00.000Z","last_edited_time":"2022-12-23T04:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_icon
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
