interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_change_model_title
      (setup)", "text": {"content": "tests/test_orm.py::test_change_model_title (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"0f656ff7-84bd-4407-83b5-3feaf6b872d6","cover":null,"icon":null,"created_time":"2022-12-14T04:32:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-14T04:32:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_change_model_title
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_change_model_title
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Index":{"id":"HFd%3E","name":"Index","type":"number","number":{"format":"number"}},"Notes":{"id":"pnA%7C","name":"Notes","type":"rich_text","rich_text":{}},"Due
      Date":{"id":"qeBs","name":"Due Date","type":"date","date":{}},"Tags":{"id":"tHCp","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Complete":{"id":"yOg%60","name":"Complete","type":"checkbox","checkbox":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/0f656ff784bd440783b53feaf6b872d6","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "0f656ff7-84bd-4407-83b5-3feaf6b872d6"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"e6ae52e1-a2cc-4cca-88ac-9c65f1c6f35b","created_time":"2022-12-14T04:32:00.000Z","last_edited_time":"2022-12-14T04:32:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"0f656ff7-84bd-4407-83b5-3feaf6b872d6"},"archived":false,"properties":{"Index":{"id":"HFd%3E","type":"number","number":null},"Notes":{"id":"pnA%7C","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"qeBs","type":"date","date":null},"Tags":{"id":"tHCp","type":"multi_select","multi_select":[]},"Complete":{"id":"yOg%60","type":"checkbox","checkbox":false},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/e6ae52e1a2cc4cca88ac9c65f1c6f35b"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/e6ae52e1a2cc4cca88ac9c65f1c6f35b
  response:
    content: '{"object":"page","id":"e6ae52e1-a2cc-4cca-88ac-9c65f1c6f35b","created_time":"2022-12-14[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/0f656ff784bd440783b53feaf6b872d6
  response:
    content: '{"object":"block","id":"0f656ff7-84bd-4407-83b5-3feaf6b872d6","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-14T04:32:00.000Z","last_edited_time":"2022-12-14T04:32:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_change_model_title
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
