interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_icon (setup)",
      "text": {"content": "tests/test_orm.py::test_orm_icon (setup)"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Index": {"type": "number", "number":
      {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text": {}}, "Complete":
      {"type": "checkbox", "checkbox": {}}, "Due Date": {"type": "date", "date": {}},
      "Tags": {"type": "multi_select", "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"2ff37580-c309-4fb1-81e4-963089955296","cover":null,"icon":null,"created_time":"2024-04-07T02:01:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2024-04-07T02:01:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_icon
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_icon
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"%3FnBo","name":"Notes","type":"rich_text","rich_text":{}},"Tags":{"id":"BSjf","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Complete":{"id":"_drO","name":"Complete","type":"checkbox","checkbox":{}},"Index":{"id":"h%7CO%7C","name":"Index","type":"number","number":{"format":"number"}},"Due
      Date":{"id":"yRJg","name":"Due Date","type":"date","date":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/2ff37580c3094fb181e4963089955296","public_url":null,"archived":false,"in_trash":false,"request_id":"2cfa8a64-b51a-4fda-bae8-a34431dee312"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "2ff37580-c309-4fb1-81e4-963089955296"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"764d1233-20c2-4d6a-9c18-42361bfba56c","created_time":"2024-04-07T02:01:00.000Z","last_edited_time":"2024-04-07T02:01:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"2ff37580-c309-4fb1-81e4-963089955296"},"archived":false,"in_trash":false,"properties":{"Notes":{"id":"%3FnBo","type":"rich_text","rich_text":[]},"Tags":{"id":"BSjf","type":"multi_select","multi_select":[]},"Complete":{"id":"_drO","type":"checkbox","checkbox":false},"Index":{"id":"h%7CO%7C","type":"number","number":null},"Due
      Date":{"id":"yRJg","type":"date","date":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/764d123320c24d6a9c1842361bfba56c","public_url":null,"request_id":"d4dd053c-17c1-43fe-9175-9b613aa68e13"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83c\udf54"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/764d123320c24d6a9c1842361bfba56c
  response:
    content: "{\"object\":\"page\",\"id\":\"764d1233-20c2-4d6a-9c18-42361bfba56c\",\"created_time\":\"2024-04-07T02:01:00.000Z\",\"last_edited_time\":\"2024-04-07T02:01:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F354\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"2ff37580-c309-4fb1-81e4-963089955296\"},\"archived\":false,\"in_trash\":false,\"properties\":{\"Notes\":{\"id\":\"%3FnBo\",\"type\":\"rich_text\",\"rich_text\":[]},\"Tags\":{\"id\":\"BSjf\",\"type\":\"multi_select\",\"multi_select\":[]},\"Complete\":{\"id\":\"_drO\",\"type\":\"checkbox\",\"checkbox\":false},\"Index\":{\"id\":\"h%7CO%7C\",\"type\":\"number\",\"number\":null},\"Due
      Date\":{\"id\":\"yRJg\",\"type\":\"date\",\"date\":null},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[]}},\"url\":\"https://www.notion.so/764d123320c24d6a9c1842361bfba56c\",\"public_url\":null,\"request_id\":\"b5938ca1-c2f5-49cf-9d85-2b53fff8883c\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/2ff37580-c309-4fb1-81e4-963089955296
  response:
    content: '{"object":"block","id":"2ff37580-c309-4fb1-81e4-963089955296","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-04-07T02:01:00.000Z","last_edited_time":"2024-04-07T02:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_icon
      (setup)"},"request_id":"67aa155f-4135-4d7d-b0b1-46c7e665fa2b"}'
    headers: {}
    status_code: 200
version: 1
