interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_query.py::test_query_database
      (setup)", "text": {"content": "tests/test_query.py::test_query_database (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"56cc9862-85d8-4c91-8b02-b9ef0d3191b1","cover":null,"icon":null,"created_time":"2023-01-19T00:59:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-01-19T00:59:00.000Z","title":[{"type":"text","text":{"content":"tests/test_query.py::test_query_database
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_query.py::test_query_database
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"%3Dyw%5B","name":"Notes","type":"rich_text","rich_text":{}},"Complete":{"id":"LNZt","name":"Complete","type":"checkbox","checkbox":{}},"Index":{"id":"asjZ","name":"Index","type":"number","number":{"format":"number"}},"Due
      Date":{"id":"c~%3Ew","name":"Due Date","type":"date","date":{}},"Tags":{"id":"sovc","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/56cc986285d84c918b02b9ef0d3191b1","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "56cc9862-85d8-4c91-8b02-b9ef0d3191b1"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Find Me!", "text": {"content": "Find Me!"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"4b0f0e4c-e8dc-4493-a3e0-76f81989c85f","created_time":"2023-01-19T0[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/56cc9862-85d8-4c91-8b02-b9ef0d3191b1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"4b0f0e4c-e8dc-4493-a3e0-76f81989c85f","created_time":"2023-01-19T00:59:00.000Z","last_edited_time":"2023-01-19T00:59:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"56cc9862-85d8-4c91-8b02-b9ef0d3191b1"},"archived":false,"properties":{"Notes":{"id":"%3Dyw%5B","type":"rich_text","rich_text":[]},"Complete":{"id":"LNZt","type":"checkbox","checkbox":false},"Index":{"id":"asjZ","type":"number","number":null},"Due
      Date":{"id":"c~%3Ew","type":"date","date":null},"Tags":{"id":"sovc","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Find
      Me!","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Find
      Me!","href":null}]}},"url":"https://www.notion.so/Find-Me-4b0f0e4ce8dc4493a3e076f81989c85f"}],"next_cursor":null,"has_more":false,"type":"page","page":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/56cc9862-85d8-4c91-8b02-b9ef0d3191b1
  response:
    content: '{"object":"block","id":"56cc9862-85d8-4c91-8b02-b9ef0d3191b1","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-01-19T00:59:00.000Z","last_edited_time":"2023-01-19T00:59:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_query.py::test_query_database
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
