interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_query.py::test_basic_number_constraint
      (setup)", "text": {"content": "tests/test_query.py::test_basic_number_constraint
      (setup)"}}], "properties": {"Name": {"type": "title", "title": {}}, "Index":
      {"type": "number", "number": {"format": "number"}}, "Notes": {"type": "rich_text",
      "rich_text": {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date":
      {"type": "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"8aa3e588-1927-4872-a931-294bd27fb47f","cover":null,"icon":null,"created_time":"2023-08-02T04:40:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-08-02T04:40:00.000Z","title":[{"type":"text","text":{"content":"tests/test_query.py::test_basic_number_constraint
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_query.py::test_basic_number_constraint
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Index":{"id":"%3Fg%60G","name":"Index","type":"number","number":{"format":"number"}},"Tags":{"id":"EaHQ","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Due
      Date":{"id":"GwAn","name":"Due Date","type":"date","date":{}},"Notes":{"id":"RUM%7C","name":"Notes","type":"rich_text","rich_text":{}},"Complete":{"id":"vJl%40","name":"Complete","type":"checkbox","checkbox":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/8aa3e58819274872a931294bd27fb47f","public_url":null,"archived":false}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/8aa3e588-1927-4872-a931-294bd27fb47f
  response:
    content: '{"object":"block","id":"8aa3e588-1927-4872-a931-294bd27fb47f","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-08-02T04:40:00.000Z","last_edited_time":"2023-08-02T04:40:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_query.py::test_basic_number_constraint
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
