interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_simple_model_with_children
      (setup)", "text": {"content": "tests/test_orm.py::test_simple_model_with_children
      (setup)"}}], "properties": {"Name": {"type": "title", "title": {}}, "Index":
      {"type": "number", "number": {"format": "number"}}, "Notes": {"type": "rich_text",
      "rich_text": {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date":
      {"type": "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"db163f8f-afad-4f62-a833-7fc968930fbf","cover":null,"icon":null,"created_time":"2022-12-23T04:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-23T04:50:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_simple_model_with_children
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_simple_model_with_children
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Due
      Date":{"id":"E%3EGE","name":"Due Date","type":"date","date":{}},"Tags":{"id":"NmA%3B","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Complete":{"id":"p%40JF","name":"Complete","type":"checkbox","checkbox":{}},"Notes":{"id":"uC%3En","name":"Notes","type":"rich_text","rich_text":{}},"Index":{"id":"%7Bz%3FV","name":"Index","type":"number","number":{"format":"number"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/db163f8fafad4f62a8337fc968930fbf","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "db163f8f-afad-4f62-a833-7fc968930fbf"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"114a2371-5d94-4976-a660-b004ba758bcc","created_time":"2022-12-23T04:50:00.000Z","last_edited_time":"2022-12-23T04:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"db163f8f-afad-4f62-a833-7fc968930fbf"},"archived":false,"properties":{"Due
      Date":{"id":"E%3EGE","type":"date","date":null},"Tags":{"id":"NmA%3B","type":"multi_select","multi_select":[]},"Complete":{"id":"p%40JF","type":"checkbox","checkbox":false},"Notes":{"id":"uC%3En","type":"rich_text","rich_text":[]},"Index":{"id":"%7Bz%3FV","type":"number","number":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/114a23715d944976a660b004ba758bcc"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/114a23715d944976a660b004ba758bcc
  response:
    content: '{"object":"page","id":"114a2371-5d94-4976-a660-b004ba758bcc","created_time":"2022-12-23[...]
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "archived": false, "heading_1": {"rich_text": [{"type": "text", "plain_text":
      "New Business", "text": {"content": "New Business"}}], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/114a2371-5d94-4976-a660-b004ba758bcc/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"539ae776-46ad-4be6-8106-2852a03fbc7c","parent":{"type":"page_id","page_id":"114a2371-5d94-4976-a660-b004ba758bcc"},"created_time":"2022-12-23T04:50:00.000Z","last_edited_time":"2022-12-23T04:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"New
      Business","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      Business","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/114a2371-5d94-4976-a660-b004ba758bcc/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"539ae776-46ad-4be6-8106-2852a03fbc7c","parent":{"type":"page_id","page_id":"114a2371-5d94-4976-a660-b004ba758bcc"},"created_time":"2022-12-23T04:50:00.000Z","last_edited_time":"2022-12-23T04:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"New
      Business","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      Business","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/db163f8f-afad-4f62-a833-7fc968930fbf
  response:
    content: '{"object":"block","id":"db163f8f-afad-4f62-a833-7fc968930fbf","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-23T04:50:00.000Z","last_edited_time":"2022-12-23T04:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_simple_model_with_children
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
