interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_query.py::test_basic_number_constraint
      (setup)", "text": {"content": "tests/test_query.py::test_basic_number_constraint
      (setup)"}}], "properties": {"Name": {"type": "title", "title": {}}, "Index":
      {"type": "number", "number": {"format": "number"}}, "Notes": {"type": "rich_text",
      "rich_text": {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date":
      {"type": "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"f9b643a1-711c-4e20-8943-83abc0b30207","cover":null,"icon":null,"created_time":"2023-01-26T05:34:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-01-26T05:34:00.000Z","title":[{"type":"text","text":{"content":"tests/test_query.py::test_basic_number_constraint
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_query.py::test_basic_number_constraint
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"NVPK","name":"Notes","type":"rich_text","rich_text":{}},"Tags":{"id":"%60PV%5E","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Complete":{"id":"qtGN","name":"Complete","type":"checkbox","checkbox":{}},"Due
      Date":{"id":"rgLl","name":"Due Date","type":"date","date":{}},"Index":{"id":"ybxg","name":"Index","type":"number","number":{"format":"number"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/f9b643a1711c4e20894383abc0b30207","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "f9b643a1-711c-4e20-8943-83abc0b30207"},
      "properties": {"Index": {"type": "number", "number": 0.0}, "title": {"type":
      "title", "title": [{"type": "text", "plain_text": "Item 0", "text": {"content":
      "Item 0"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"d59326c4-e266-44a7-a[...]
[...]
- request:
    body: '{"filter": {"property": "Index", "number": {"equals": 7.0}}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/f9b643a1-711c-4e20-8943-83abc0b30207/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"388d9aa0-abcb-43c5-a08d-bdfc7377bcc1","created_time":"2023-01-26T05:34:00.000Z","last_edited_time":"2023-01-26T05:34:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"f9b643a1-711c-4e20-8943-83abc0b30207"},"archived":false,"properties":{"Notes":{"id":"NVPK","type":"rich_text","rich_text":[]},"Tags":{"id":"%60PV%5E","type":"multi_select","multi_select":[]},"Complete":{"id":"qtGN","type":"checkbox","checkbox":false},"Due
      Date":{"id":"rgLl","type":"date","date":null},"Index":{"id":"ybxg","type":"number","number":7},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      7","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      7","href":null}]}},"url":"https://www.notion.so/Item-7-388d9aa0abcb43c5a08dbdfc7377bcc1"}],"next_cursor":null,"has_more":false,"type":"page","page":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/f9b643a1-711c-4e20-8943-83abc0b30207
  response:
    content: '{"object":"block","id":"f9b643a1-711c-4e20-8943-83abc0b30207","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-01-26T05:34:00.000Z","last_edited_time":"2023-01-26T05:34:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_query.py::test_basic_number_constraint
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
