interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_query.py::test_basic_number_constraint
      (setup)", "text": {"content": "tests/test_query.py::test_basic_number_constraint
      (setup)"}}], "properties": {"Name": {"type": "title", "title": {}}, "Index":
      {"type": "number", "number": {"format": "number"}}, "Notes": {"type": "rich_text",
      "rich_text": {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date":
      {"type": "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"dcdf3ac1-6147-48aa-aed9-89ea43cd0d3f","cover":null,"icon":null,"created_time":"2023-01-19T00:59:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-01-19T00:59:00.000Z","title":[{"type":"text","text":{"content":"tests/test_query.py::test_basic_number_constraint
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_query.py::test_basic_number_constraint
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"A%5CqY","name":"Notes","type":"rich_text","rich_text":{}},"Due
      Date":{"id":"Fk~C","name":"Due Date","type":"date","date":{}},"Tags":{"id":"Ou%5Dl","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Index":{"id":"sD%7DP","name":"Index","type":"number","number":{"format":"number"}},"Complete":{"id":"%7Dorm","name":"Complete","type":"checkbox","checkbox":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/dcdf3ac1614748aaaed989ea43cd0d3f","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "dcdf3ac1-6147-48aa-aed9-89ea43cd0d3f"},
      "properties": {"Index": {"type": "number", "number": 0.0}, "title": {"type":
      "title", "title": [{"type": "text", "plain_text": "Item 0", "text": {"content":
      "Item 0"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"fd4ec2c9-949f-46e9-a[...]
[...]
- request:
    body: '{"filter": {"property": "Index", "number": {"equals": 7.0}}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/dcdf3ac1-6147-48aa-aed9-89ea43cd0d3f/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"c0cc69db-7f38-4777-9e94-8a8c5af6c4ac","created_time":"2023-01-19T00:59:00.000Z","last_edited_time":"2023-01-19T00:59:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"dcdf3ac1-6147-48aa-aed9-89ea43cd0d3f"},"archived":false,"properties":{"Notes":{"id":"A%5CqY","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"Fk~C","type":"date","date":null},"Tags":{"id":"Ou%5Dl","type":"multi_select","multi_select":[]},"Index":{"id":"sD%7DP","type":"number","number":7},"Complete":{"id":"%7Dorm","type":"checkbox","checkbox":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      7","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      7","href":null}]}},"url":"https://www.notion.so/Item-7-c0cc69db7f3847779e948a8c5af6c4ac"}],"next_cursor":null,"has_more":false,"type":"page","page":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/dcdf3ac1-6147-48aa-aed9-89ea43cd0d3f
  response:
    content: '{"object":"block","id":"dcdf3ac1-6147-48aa-aed9-89ea43cd0d3f","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-01-19T00:59:00.000Z","last_edited_time":"2023-01-19T00:59:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_query.py::test_basic_number_constraint
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
