interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_simple_model_with_children
      (setup)", "text": {"content": "tests/test_orm.py::test_simple_model_with_children
      (setup)"}}], "properties": {"Name": {"type": "title", "title": {}}, "Index":
      {"type": "number", "number": {"format": "number"}}, "Notes": {"type": "rich_text",
      "rich_text": {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date":
      {"type": "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"202d35b4-649d-4980-a824-6620669ea4ba","cover":null,"icon":null,"created_time":"2023-01-19T01:20:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-01-19T01:20:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_simple_model_with_children
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_simple_model_with_children
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Index":{"id":"BCBz","name":"Index","type":"number","number":{"format":"number"}},"Complete":{"id":"HM%3A%7D","name":"Complete","type":"checkbox","checkbox":{}},"Tags":{"id":"YvBs","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Notes":{"id":"%5BP%7Cg","name":"Notes","type":"rich_text","rich_text":{}},"Due
      Date":{"id":"e%7Cw%7B","name":"Due Date","type":"date","date":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/202d35b4649d4980a8246620669ea4ba","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "202d35b4-649d-4980-a824-6620669ea4ba"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"22e9d539-8226-45aa-985d-c5f99061d4c4","created_time":"2023-01-19T01:20:00.000Z","last_edited_time":"2023-01-19T01:20:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"202d35b4-649d-4980-a824-6620669ea4ba"},"archived":false,"properties":{"Index":{"id":"BCBz","type":"number","number":null},"Complete":{"id":"HM%3A%7D","type":"checkbox","checkbox":false},"Tags":{"id":"YvBs","type":"multi_select","multi_select":[]},"Notes":{"id":"%5BP%7Cg","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"e%7Cw%7B","type":"date","date":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/22e9d539822645aa985dc5f99061d4c4"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/22e9d539822645aa985dc5f99061d4c4
  response:
    content: '{"object":"page","id":"22e9d539-8226-45aa-985d-c5f99061d4c4","created_time":"2023-01-19[...]
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "archived": false, "heading_1": {"rich_text": [{"type": "text", "plain_text":
      "New Business", "text": {"content": "New Business"}}], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/22e9d539-8226-45aa-985d-c5f99061d4c4/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"f3f275a2-3d95-486a-bc79-1a3f29554613","parent":{"type":"page_id","page_id":"22e9d539-8226-45aa-985d-c5f99061d4c4"},"created_time":"2023-01-19T01:20:00.000Z","last_edited_time":"2023-01-19T01:20:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"New
      Business","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      Business","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/22e9d539-8226-45aa-985d-c5f99061d4c4/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"f3f275a2-3d95-486a-bc79-1a3f29554613","parent":{"type":"page_id","page_id":"22e9d539-8226-45aa-985d-c5f99061d4c4"},"created_time":"2023-01-19T01:20:00.000Z","last_edited_time":"2023-01-19T01:20:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"New
      Business","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      Business","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/202d35b4-649d-4980-a824-6620669ea4ba
  response:
    content: '{"object":"block","id":"202d35b4-649d-4980-a824-6620669ea4ba","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-01-19T01:20:00.000Z","last_edited_time":"2023-01-19T01:20:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_simple_model_with_children
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
