interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_query
      (setup)", "text": {"content": "tests/test_orm.py::test_orm_query (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"6316a0c0-aedf-43aa-95e0-5c9f07d36c2d","cover":null,"icon":null,"created_time":"2022-12-30T22:46:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-30T22:46:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_query
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_query
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Complete":{"id":"LQiU","name":"Complete","type":"checkbox","checkbox":{}},"Tags":{"id":"aJ%7Dl","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Due
      Date":{"id":"gxTJ","name":"Due Date","type":"date","date":{}},"Index":{"id":"q%3BOm","name":"Index","type":"number","number":{"format":"number"}},"Notes":{"id":"u%7CZd","name":"Notes","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/6316a0c0aedf43aa95e05c9f07d36c2d","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "6316a0c0-aedf-43aa-95e0-5c9f07d36c2d"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"10b4e88e-fb7d-4adb-a449-d9fdbbb87d8a","created_time":"2022-12-30T22:46:00.000Z","last_edited_time":"2022-12-30T22:46:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"6316a0c0-aedf-43aa-95e0-5c9f07d36c2d"},"archived":false,"properties":{"Complete":{"id":"LQiU","type":"checkbox","checkbox":false},"Tags":{"id":"aJ%7Dl","type":"multi_select","multi_select":[]},"Due
      Date":{"id":"gxTJ","type":"date","date":null},"Index":{"id":"q%3BOm","type":"number","number":null},"Notes":{"id":"u%7CZd","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/10b4e88efb7d4adba449d9fdbbb87d8a"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Needle", "text": {"content": "Needle"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/10b4e88efb7d4adba449d9fdbbb87d8a
  response:
    content: '{"object":"page","id":"10b4e88e-fb7d-4adb-a449-d9fdbbb87d8a","created_time":"2022-12-[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/6316a0c0-aedf-43aa-95e0-5c9f07d36c2d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"10b4e88e-fb7d-4adb-a449-d9fdbbb87d8a","created_time":"2022-12-30T22:46:00.000Z","last_edited_time":"2022-12-30T22:46:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"6316a0c0-aedf-43aa-95e0-5c9f07d36c2d"},"archived":false,"properties":{"Complete":{"id":"LQiU","type":"checkbox","checkbox":false},"Tags":{"id":"aJ%7Dl","type":"multi_select","multi_select":[]},"Due
      Date":{"id":"gxTJ","type":"date","date":null},"Index":{"id":"q%3BOm","type":"number","number":null},"Notes":{"id":"u%7CZd","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Needle","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Needle","href":null}]}},"url":"https://www.notion.so/Needle-10b4e88efb7d4adba449d9fdbbb87d8a"}],"next_cursor":null,"has_more":false,"type":"page","page":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/6316a0c0-aedf-43aa-95e0-5c9f07d36c2d
  response:
    content: '{"object":"block","id":"6316a0c0-aedf-43aa-95e0-5c9f07d36c2d","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-30T22:46:00.000Z","last_edited_time":"2022-12-30T22:46:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_query
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
