interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_missing_property
      (setup)", "text": {"content": "tests/test_orm.py::test_missing_property (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"c354bebb-bf59-48f5-a18a-35df3b7f0cbc","cover":null,"icon":null,"created_time":"2022-12-23T04:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-23T04:50:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_missing_property
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_missing_property
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"%3ET%60A","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Notes":{"id":"Q%7BnX","name":"Notes","type":"rich_text","rich_text":{}},"Due
      Date":{"id":"osO%7D","name":"Due Date","type":"date","date":{}},"Complete":{"id":"tYQX","name":"Complete","type":"checkbox","checkbox":{}},"Index":{"id":"%7C%5CGI","name":"Index","type":"number","number":{"format":"number"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/c354bebbbf5948f5a18a35df3b7f0cbc","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "c354bebb-bf59-48f5-a18a-35df3b7f0cbc"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"82f1ded5-06bd-484b-9812-20e504ea3570","created_time":"2022-12-23T04:50:00.000Z","last_edited_time":"2022-12-23T04:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"c354bebb-bf59-48f5-a18a-35df3b7f0cbc"},"archived":false,"properties":{"Tags":{"id":"%3ET%60A","type":"multi_select","multi_select":[]},"Notes":{"id":"Q%7BnX","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"osO%7D","type":"date","date":null},"Complete":{"id":"tYQX","type":"checkbox","checkbox":false},"Index":{"id":"%7C%5CGI","type":"number","number":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/82f1ded506bd484b981220e504ea3570"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "MissingProp", "text": {"content": "MissingProp"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/82f1ded506bd484b981220e504ea3570
  response:
    content: '{"object":"page","id":"82f1ded5-06bd-484b-9812-20e504ea3570","created_time"[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/c354bebb-bf59-48f5-a18a-35df3b7f0cbc
  response:
    content: '{"object":"block","id":"c354bebb-bf59-48f5-a18a-35df3b7f0cbc","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-23T04:50:00.000Z","last_edited_time":"2022-12-23T04:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_missing_property
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
