interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_simple_model_with_children
      (setup)", "text": {"content": "tests/test_orm.py::test_simple_model_with_children
      (setup)"}}], "properties": {"Name": {"type": "title", "title": {}}, "Index":
      {"type": "number", "number": {"format": "number"}}, "Notes": {"type": "rich_text",
      "rich_text": {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date":
      {"type": "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"46fe43fe-49a5-43ba-888e-8b5666a6970b","cover":null,"icon":null,"created_time":"2022-12-30T22:45:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-30T22:45:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_simple_model_with_children
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_simple_model_with_children
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"C%5B%7DG","name":"Notes","type":"rich_text","rich_text":{}},"Index":{"id":"R%5BoX","name":"Index","type":"number","number":{"format":"number"}},"Complete":{"id":"%5CxnR","name":"Complete","type":"checkbox","checkbox":{}},"Due
      Date":{"id":"n%3E%3AD","name":"Due Date","type":"date","date":{}},"Tags":{"id":"o%60%3Ad","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/46fe43fe49a543ba888e8b5666a6970b","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "46fe43fe-49a5-43ba-888e-8b5666a6970b"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"b26c15df-6ddf-4344-975e-da2fa7997bfc","created_time":"2022-12-30T22:45:00.000Z","last_edited_time":"2022-12-30T22:45:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"46fe43fe-49a5-43ba-888e-8b5666a6970b"},"archived":false,"properties":{"Notes":{"id":"C%5B%7DG","type":"rich_text","rich_text":[]},"Index":{"id":"R%5BoX","type":"number","number":null},"Complete":{"id":"%5CxnR","type":"checkbox","checkbox":false},"Due
      Date":{"id":"n%3E%3AD","type":"date","date":null},"Tags":{"id":"o%60%3Ad","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/b26c15df6ddf4344975eda2fa7997bfc"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/b26c15df6ddf4344975eda2fa7997bfc
  response:
    content: '{"object":"page","id":"b26c15df-6ddf-4344-975e-da2fa7997bfc","created_time":"2022-12-30[...]
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "archived": false, "heading_1": {"rich_text": [{"type": "text", "plain_text":
      "New Business", "text": {"content": "New Business"}}], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/b26c15df-6ddf-4344-975e-da2fa7997bfc/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"213b85c3-3fe3-4e25-b442-1fbeb1b674ee","parent":{"type":"page_id","page_id":"b26c15df-6ddf-4344-975e-da2fa7997bfc"},"created_time":"2022-12-30T22:45:00.000Z","last_edited_time":"2022-12-30T22:45:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"New
      Business","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      Business","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/b26c15df-6ddf-4344-975e-da2fa7997bfc/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"213b85c3-3fe3-4e25-b442-1fbeb1b674ee","parent":{"type":"page_id","page_id":"b26c15df-6ddf-4344-975e-da2fa7997bfc"},"created_time":"2022-12-30T22:45:00.000Z","last_edited_time":"2022-12-30T22:45:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"New
      Business","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      Business","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/46fe43fe-49a5-43ba-888e-8b5666a6970b
  response:
    content: '{"object":"block","id":"46fe43fe-49a5-43ba-888e-8b5666a6970b","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-30T22:45:00.000Z","last_edited_time":"2022-12-30T22:45:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_simple_model_with_children
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
