interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_query.py::test_basic_number_constraint
      (setup)", "text": {"content": "tests/test_query.py::test_basic_number_constraint
      (setup)"}}], "properties": {"Name": {"type": "title", "title": {}}, "Index":
      {"type": "number", "number": {"format": "number"}}, "Notes": {"type": "rich_text",
      "rich_text": {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date":
      {"type": "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"cbb2afbd-b819-44f0-9ca9-550b3996f533","cover":null,"icon":null,"created_time":"2024-04-07T02:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2024-04-07T02:02:00.000Z","title":[{"type":"text","text":{"content":"tests/test_query.py::test_basic_number_constraint
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_query.py::test_basic_number_constraint
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"%3ChZ%3F","name":"Notes","type":"rich_text","rich_text":{}},"Tags":{"id":"%3DE%60%3F","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Index":{"id":"H%5Ez_","name":"Index","type":"number","number":{"format":"number"}},"Complete":{"id":"KGOA","name":"Complete","type":"checkbox","checkbox":{}},"Due
      Date":{"id":"hmqp","name":"Due Date","type":"date","date":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/cbb2afbdb81944f09ca9550b3996f533","public_url":null,"archived":false,"in_trash":false,"request_id":"5b8c3248-b789-47ba-bb5b-d3a37bcfb41a"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "cbb2afbd-b819-44f0-9ca9-550b3996f533"},
      "properties": {"Index": {"type": "number", "number": 0.0}, "title": {"type":
      "title", "title": [{"type": "text", "plain_text": "Item 0", "text": {"content":
      "Item 0"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"92a2a3bd-6893-44cb-9[...]
[...]
- request:
    body: '{"filter": {"property": "Index", "number": {"equals": 7.0}}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/cbb2afbd-b819-44f0-9ca9-550b3996f533/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"406cc1e6-3315-44a7-912c-8fb2fd1c595f","created_time":"2024-04-07T02:02:00.000Z","last_edited_time":"2024-04-07T02:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"cbb2afbd-b819-44f0-9ca9-550b3996f533"},"archived":false,"in_trash":false,"properties":{"Notes":{"id":"%3ChZ%3F","type":"rich_text","rich_text":[]},"Tags":{"id":"%3DE%60%3F","type":"multi_select","multi_select":[]},"Index":{"id":"H%5Ez_","type":"number","number":7},"Complete":{"id":"KGOA","type":"checkbox","checkbox":false},"Due
      Date":{"id":"hmqp","type":"date","date":null},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      7","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      7","href":null}]}},"url":"https://www.notion.so/Item-7-406cc1e6331544a7912c8fb2fd1c595f","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"478227f5-b694-41af-ab20-49ac7982ff9c"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/cbb2afbd-b819-44f0-9ca9-550b3996f533
  response:
    content: '{"object":"block","id":"cbb2afbd-b819-44f0-9ca9-550b3996f533","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-04-07T02:02:00.000Z","last_edited_time":"2024-04-07T02:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"tests/test_query.py::test_basic_number_constraint
      (setup)"},"request_id":"9f8af73c-46f3-46a9-9044-6b3c3c77cb3f"}'
    headers: {}
    status_code: 200
version: 1
