interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_query
      (setup)", "text": {"content": "tests/test_orm.py::test_orm_query (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"b903b706-3297-4d96-b418-cdf111047bbc","cover":null,"icon":null,"created_time":"2023-01-19T00:59:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-01-19T00:59:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_query
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_query
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Complete":{"id":"%3FMql","name":"Complete","type":"checkbox","checkbox":{}},"Tags":{"id":"HzqV","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Index":{"id":"M%7BxW","name":"Index","type":"number","number":{"format":"number"}},"Notes":{"id":"OYWb","name":"Notes","type":"rich_text","rich_text":{}},"Due
      Date":{"id":"T%5C%3Fo","name":"Due Date","type":"date","date":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/b903b70632974d96b418cdf111047bbc","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "b903b706-3297-4d96-b418-cdf111047bbc"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"0ebf1be3-24b7-4676-af01-6c8b0876e19e","created_time":"2023-01-19T00:59:00.000Z","last_edited_time":"2023-01-19T00:59:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"b903b706-3297-4d96-b418-cdf111047bbc"},"archived":false,"properties":{"Complete":{"id":"%3FMql","type":"checkbox","checkbox":false},"Tags":{"id":"HzqV","type":"multi_select","multi_select":[]},"Index":{"id":"M%7BxW","type":"number","number":null},"Notes":{"id":"OYWb","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"T%5C%3Fo","type":"date","date":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/0ebf1be324b74676af016c8b0876e19e"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Needle", "text": {"content": "Needle"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/0ebf1be324b74676af016c8b0876e19e
  response:
    content: '{"object":"page","id":"0ebf1be3-24b7-4676-af01-6c8b0876e19e","created_time":"2023-01-[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/b903b706-3297-4d96-b418-cdf111047bbc/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"0ebf1be3-24b7-4676-af01-6c8b0876e19e","created_time":"2023-01-19T00:59:00.000Z","last_edited_time":"2023-01-19T00:59:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"b903b706-3297-4d96-b418-cdf111047bbc"},"archived":false,"properties":{"Complete":{"id":"%3FMql","type":"checkbox","checkbox":false},"Tags":{"id":"HzqV","type":"multi_select","multi_select":[]},"Index":{"id":"M%7BxW","type":"number","number":null},"Notes":{"id":"OYWb","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"T%5C%3Fo","type":"date","date":null},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Needle","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Needle","href":null}]}},"url":"https://www.notion.so/Needle-0ebf1be324b74676af016c8b0876e19e"}],"next_cursor":null,"has_more":false,"type":"page","page":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/b903b706-3297-4d96-b418-cdf111047bbc
  response:
    content: '{"object":"block","id":"b903b706-3297-4d96-b418-cdf111047bbc","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-01-19T00:59:00.000Z","last_edited_time":"2023-01-19T00:59:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_query
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
