interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_missing_property
      (setup)", "text": {"content": "tests/test_orm.py::test_missing_property (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"65c3c178-6c1b-4785-aab2-f5acd761c815","cover":null,"icon":null,"created_time":"2022-12-23T02:05:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-23T02:05:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_missing_property
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_missing_property
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Due
      Date":{"id":"%3Bbis","name":"Due Date","type":"date","date":{}},"Complete":{"id":"HsZX","name":"Complete","type":"checkbox","checkbox":{}},"Tags":{"id":"hNcU","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Notes":{"id":"oLmn","name":"Notes","type":"rich_text","rich_text":{}},"Index":{"id":"~FcZ","name":"Index","type":"number","number":{"format":"number"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/65c3c1786c1b4785aab2f5acd761c815","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "65c3c178-6c1b-4785-aab2-f5acd761c815"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"148df1f2-d9d4-4161-b6dd-18e9870dad9c","created_time":"2022-12-23T02:05:00.000Z","last_edited_time":"2022-12-23T02:05:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"65c3c178-6c1b-4785-aab2-f5acd761c815"},"archived":false,"properties":{"Due
      Date":{"id":"%3Bbis","type":"date","date":null},"Complete":{"id":"HsZX","type":"checkbox","checkbox":false},"Tags":{"id":"hNcU","type":"multi_select","multi_select":[]},"Notes":{"id":"oLmn","type":"rich_text","rich_text":[]},"Index":{"id":"~FcZ","type":"number","number":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/148df1f2d9d44161b6dd18e9870dad9c"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "MissingProp", "text": {"content": "MissingProp"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/148df1f2d9d44161b6dd18e9870dad9c
  response:
    content: '{"object":"page","id":"148df1f2-d9d4-4161-b6dd-18e9870dad9c","created_time"[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/65c3c1786c1b4785aab2f5acd761c815
  response:
    content: '{"object":"block","id":"65c3c178-6c1b-4785-aab2-f5acd761c815","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-23T02:05:00.000Z","last_edited_time":"2022-12-23T02:05:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_missing_property
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
