interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_query.py::test_compound_filter
      (setup)", "text": {"content": "tests/test_query.py::test_compound_filter (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"067b8c70-22f4-49a6-975e-e32045b4969c","cover":null,"icon":null,"created_time":"2023-01-26T05:34:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-01-26T05:34:00.000Z","title":[{"type":"text","text":{"content":"tests/test_query.py::test_compound_filter
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_query.py::test_compound_filter
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Index":{"id":"%3DPDr","name":"Index","type":"number","number":{"format":"number"}},"Due
      Date":{"id":"%5COcE","name":"Due Date","type":"date","date":{}},"Notes":{"id":"gY%3Ez","name":"Notes","type":"rich_text","rich_text":{}},"Complete":{"id":"yIez","name":"Complete","type":"checkbox","checkbox":{}},"Tags":{"id":"~DHW","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/067b8c7022f449a6975ee32045b4969c","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "067b8c70-22f4-49a6-975e-e32045b4969c"},
      "properties": {"Index": {"type": "number", "number": 0.0}, "title": {"type":
      "title", "title": [{"type": "text", "plain_text": "Item 0", "text": {"content":
      "Item 0"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"5866ce5d-b6a0-422a-b[...]
[...]
- request:
    body: '{"filter": {"and": [{"property": "Index", "number": {"greater_than": 3.0}},
      {"property": "Index", "number": {"less_than_or_equal_to": 8.0}}, {"property":
      "Name", "rich_text": {"contains": "Item"}}]}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/067b8c70-22f4-49a6-975e-e32045b4969c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"9cfd63e4-f69c-406b-9d27-7926f6ee32fd","created_time":"2023-01-26T05:34:00.000Z","last_edited_time":"2023-01-26T05:34:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"067b8c70-22f4-49a6-975e-e32045b4969c"},"archived":false,"properties":{"Index":{"id":"%3DPDr","type":"number","number":8},"Due[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/067b8c70-22f4-49a6-975e-e32045b4969c
  response:
    content: '{"object":"block","id":"067b8c70-22f4-49a6-975e-e32045b4969c","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-01-26T05:34:00.000Z","last_edited_time":"2023-01-26T05:34:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_query.py::test_compound_filter
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
