interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_icon (setup)",
      "text": {"content": "tests/test_orm.py::test_orm_icon (setup)"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Index": {"type": "number", "number":
      {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text": {}}, "Complete":
      {"type": "checkbox", "checkbox": {}}, "Due Date": {"type": "date", "date": {}},
      "Tags": {"type": "multi_select", "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"c54844ba-8b4d-44f5-9424-eb9382e8f5e9","cover":null,"icon":null,"created_time":"2023-01-19T00:59:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-01-19T00:59:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_icon
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_icon
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"cNE%60","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Complete":{"id":"gbnJ","name":"Complete","type":"checkbox","checkbox":{}},"Notes":{"id":"k%3AZj","name":"Notes","type":"rich_text","rich_text":{}},"Due
      Date":{"id":"svc~","name":"Due Date","type":"date","date":{}},"Index":{"id":"~jS%3A","name":"Index","type":"number","number":{"format":"number"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/c54844ba8b4d44f59424eb9382e8f5e9","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "c54844ba-8b4d-44f5-9424-eb9382e8f5e9"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"cd4cd53e-fe49-462d-be84-68747e8219f0","created_time":"2023-01-19T00:59:00.000Z","last_edited_time":"2023-01-19T00:59:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"c54844ba-8b4d-44f5-9424-eb9382e8f5e9"},"archived":false,"properties":{"Tags":{"id":"cNE%60","type":"multi_select","multi_select":[]},"Complete":{"id":"gbnJ","type":"checkbox","checkbox":false},"Notes":{"id":"k%3AZj","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"svc~","type":"date","date":null},"Index":{"id":"~jS%3A","type":"number","number":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/cd4cd53efe49462dbe8468747e8219f0"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83c\udf54"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/cd4cd53efe49462dbe8468747e8219f0
  response:
    content: "{\"object\":\"page\",\"id\":\"cd4cd53e-fe49-462d-be84-68747e8219f0\",\"created_time\":\"2023-01-19T00:59:00.000Z\",\"last_edited_time\":\"2023-01-19T00:59:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F354\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"c54844ba-8b4d-44f5-9424-eb9382e8f5e9\"},\"archived\":false,\"properties\":{\"Tags\":{\"id\":\"cNE%60\",\"type\":\"multi_select\",\"multi_select\":[]},\"Complete\":{\"id\":\"gbnJ\",\"type\":\"checkbox\",\"checkbox\":false},\"Notes\":{\"id\":\"k%3AZj\",\"type\":\"rich_text\",\"rich_text\":[]},\"Due
      Date\":{\"id\":\"svc~\",\"type\":\"date\",\"date\":null},\"Index\":{\"id\":\"~jS%3A\",\"type\":\"number\",\"number\":null},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[]}},\"url\":\"https://www.notion.so/cd4cd53efe49462dbe8468747e8219f0\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/c54844ba-8b4d-44f5-9424-eb9382e8f5e9
  response:
    content: '{"object":"block","id":"c54844ba-8b4d-44f5-9424-eb9382e8f5e9","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-01-19T00:59:00.000Z","last_edited_time":"2023-01-19T00:59:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_icon
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
