interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/250662d9-783d-483c-b131-341ed479f96c/children?page_size=100
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"ebf94962-2c1a-4623-8fcd-c5d7c4fef9bb\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"250662d9-783d-483c-b131-341ed479f96c\"},\"created_time\":\"2022-01-31T03:42:00.000Z\",\"last_edited_time\":\"2022-12-23T00:18:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"ea74294e-d4c7-41f0-8929-805c80ea0d7f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"ea74294e-d4c7-41f0-8929-805c80ea0d7f\"},\"has_children\":false,\"archived\":false,\"type\":\"breadcrumb\",\"breadcrumb\":{}},{\"object\":\"block\",\"id\":\"8ad303fb-feb8-414f-b1dd-84d7fa0a99ee\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"250662d9-783d-483c-b131-341ed479f96c\"},\"created_time\":\"2021-08-03T13:22:00.000Z\",\"last_edited_time\":\"2021-08-03T13:22:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"ea74294e-d4c7-41f0-8929-805c80ea0d7f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"ea74294e-d4c7-41f0-8929-805c80ea0d7f\"},\"has_children\":false,\"archived\":false,\"type\":\"bookmark\",\"bookmark\":{\"caption\":[],\"url\":\"https://github.com/jheddings/notional\"}},{\"object\":\"block\",\"id\":\"fadc2daf-9f6c-4d45-aa22-11e666241b0b\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"250662d9-783d-483c-b131-341ed479f96c\"},\"created_time\":\"2022-03-11T04:12:00.000Z\",\"last_edited_time\":\"2022-12-23T00:17:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"ea74294e-d4c7-41f0-8929-805c80ea0d7f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"ea74294e-d4c7-41f0-8929-805c80ea0d7f\"},\"has_children\":false,\"archived\":false,\"type\":\"paragraph\",\"paragraph\":{\"rich_text\":[{\"type\":\"mention\",\"mention\":{\"type\":\"link_preview\",\"link_preview\":{\"url\":\"https://github.com/jheddings/notional\"}},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"https://github.com/jheddings/notional\",\"href\":\"https://github.com/jheddings/notional\"},{\"type\":\"text\",\"text\":{\"content\":\"
      is maintained by \",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"
      is maintained by \",\"href\":null},{\"type\":\"mention\",\"mention\":{\"type\":\"user\",\"user\":{\"object\":\"user\",\"id\":\"ea74294e-d4c7-41f0-8929-805c80ea0d7f\",\"name\":\"Jason
      Heddings\",\"avatar_url\":\"https://s3-us-west-2.amazonaws.com/public.notion-static.com/663cfc75-1d86-4663-9baa-8920c428971a/jheddings.jpg\",\"type\":\"person\",\"person\":{\"email\":\"jason@heddings.com\"}}},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"@Jason
      Heddings\",\"href\":null},{\"type\":\"text\",\"text\":{\"content\":\" (with
      \",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"
      (with \",\"href\":null},{\"type\":\"text\",\"text\":{\"con[...]
