interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "tests/test_records.py::test_restore_page (setup)", "text": {"content": "tests/test_records.py::test_restore_page
      (setup)"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2021-08-16'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"d2630280-b773-4807-a0b8-d9ba4e9b3cdb","created_time":"2022-04-25T02:41:00.000Z","last_edited_time":"2022-04-25T02:41:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_records.py::test_restore_page
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_records.py::test_restore_page
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_records-py-test_restore_page-setup-d2630280b7734807a0b8d9ba4e9b3cdb"}'
    headers: {}
    status_code: 200
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2021-08-16'
    method: PATCH
    uri: https://api.notion.com/v1/pages/d2630280b7734807a0b8d9ba4e9b3cdb
  response:
    content: '{"object":"page","id":"d2630280-b773-4807-a0b8-d9ba4e9b3cdb","created_time":"2022-04-25T02:41:00.000Z","last_edited_time":"2022-04-25T02:41:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_records.py::test_restore_page
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_records.py::test_restore_page
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_records-py-test_restore_page-setup-d2630280b7734807a0b8d9ba4e9b3cdb"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2021-08-16'
    method: PATCH
    uri: https://api.notion.com/v1/pages/5a4659c0aea74fe2ad94bc628e98a934
  response:
    content: '{"object":"page","id":"5a4659c0-aea7-4fe2-ad94-bc628e98a934","created_time":"2022-04-23T22:51:00.000Z","last_edited_time":"2022-04-23T22:51:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_records.py::test_restore_page
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_records.py::test_restore_page
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_records-py-test_restore_page-setup-5a4659c0aea74fe2ad94bc628e98a934"}'
    headers: {}
    status_code: 200
version: 1
