interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_simple_model
      (setup)", "text": {"content": "tests/test_orm.py::test_simple_model (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"75460bad-dc50-479c-b9ee-c12a77d16368","cover":null,"icon":null,"created_time":"2022-04-26T02:10:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-04-26T02:10:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_simple_model
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_simple_model
      (setup)","href":null}],"properties":{"Tags":{"id":"E%7DtR","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Notes":{"id":"IeP%7B","name":"Notes","type":"rich_text","rich_text":{}},"Due
      Date":{"id":"Yci%7D","name":"Due Date","type":"date","date":{}},"Complete":{"id":"i%5E%7Dr","name":"Complete","type":"checkbox","checkbox":{}},"Index":{"id":"ms%60D","name":"Index","type":"number","number":{"format":"number"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/75460baddc50479cb9eec12a77d16368","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "75460bad-dc50-479c-b9ee-c12a77d16368"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"aeb19a42-b0f2-45d3-9e93-8609639d37f6","created_time":"2022-04-26T02:10:00.000Z","last_edited_time":"2022-04-26T02:10:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"75460bad-dc50-479c-b9ee-c12a77d16368"},"archived":false,"properties":{"Tags":{"id":"E%7DtR","type":"multi_select","multi_select":[]},"Notes":{"id":"IeP%7B","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"Yci%7D","type":"date","date":null},"Complete":{"id":"i%5E%7Dr","type":"checkbox","checkbox":false},"Index":{"id":"ms%60D","type":"number","number":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/aeb19a42b0f245d39e938609639d37f6"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "One&Only", "text": {"content": "One&Only"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: PATCH
    uri: https://api.notion.com/v1/pages/aeb19a42b0f245d39e938609639d37f6
  response:
    content: '{"object":"page","id":"aeb19a42-b0f2-45d3-9e93-8609639d37f6","created_time":"2022[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/75460baddc50479cb9eec12a77d16368
  response:
    content: '{"object":"block","id":"75460bad-dc50-479c-b9ee-c12a77d16368","created_time":"2022-04-26T02:10:00.000Z","last_edited_time":"2022-04-26T02:11:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_simple_model
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
