interactions:
- request:
    body: '{"children": [{"type": "code", "object": "block", "has_children": false,
      "archived": false, "code": {"rich_text": [{"type": "text", "plain_text": "test_delete_block",
      "text": {"content": "test_delete_block"}}], "caption": [], "language": "plain
      text"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/42faa3d62b2e46e88565481c52fcd553/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"4a7aef63-80c9-4e61-b828-ffd07a17dbbd","parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"created_time":"2022-12-16T04:44:00.000Z","last_edited_time":"2022-12-16T04:44:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"code","code":{"caption":[],"rich_text":[{"type":"text","text":{"content":"test_delete_block","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"test_delete_block","href":null}],"language":"plain
      text"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/4a7aef6380c94e61b828ffd07a17dbbd
  response:
    content: '{"object":"block","id":"4a7aef63-80c9-4e61-b828-ffd07a17dbbd","parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"created_time":"2022-12-16T04:44:00.000Z","last_edited_time":"2022-12-16T04:44:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"code","code":{"caption":[],"rich_text":[{"type":"text","text":{"content":"test_delete_block","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"test_delete_block","href":null}],"language":"plain
      text"}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/4a7aef63-80c9-4e61-b828-ffd07a17dbbd
  response:
    content: '{"object":"block","id":"4a7aef63-80c9-4e61-b828-ffd07a17dbbd","parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"created_time":"2022-12-16T04:44:00.000Z","last_edited_time":"2022-12-16T04:44:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"code","code":{"caption":[],"rich_text":[{"type":"text","text":{"content":"test_delete_block","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"test_delete_block","href":null}],"language":"plain
      text"}}'
    headers: {}
    status_code: 200
version: 1
