interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_query
      (setup)", "text": {"content": "tests/test_orm.py::test_orm_query (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"1daf7940-4002-432c-88df-13a495d25d08","cover":null,"icon":null,"created_time":"2022-12-31T05:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-31T05:19:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_query
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_query
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"M%7D%3E%40","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Complete":{"id":"QlRn","name":"Complete","type":"checkbox","checkbox":{}},"Index":{"id":"TIZS","name":"Index","type":"number","number":{"format":"number"}},"Due
      Date":{"id":"bwo%7B","name":"Due Date","type":"date","date":{}},"Notes":{"id":"h%3FMY","name":"Notes","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/1daf79404002432c88df13a495d25d08","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "1daf7940-4002-432c-88df-13a495d25d08"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"dee90daf-c899-4dc9-adc4-cff582235977","created_time":"2022-12-31T05:19:00.000Z","last_edited_time":"2022-12-31T05:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"1daf7940-4002-432c-88df-13a495d25d08"},"archived":false,"properties":{"Tags":{"id":"M%7D%3E%40","type":"multi_select","multi_select":[]},"Complete":{"id":"QlRn","type":"checkbox","checkbox":false},"Index":{"id":"TIZS","type":"number","number":null},"Due
      Date":{"id":"bwo%7B","type":"date","date":null},"Notes":{"id":"h%3FMY","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/dee90dafc8994dc9adc4cff582235977"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Needle", "text": {"content": "Needle"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/dee90dafc8994dc9adc4cff582235977
  response:
    content: '{"object":"page","id":"dee90daf-c899-4dc9-adc4-cff582235977","created_time":"2022-12-[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/1daf7940-4002-432c-88df-13a495d25d08/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"dee90daf-c899-4dc9-adc4-cff582235977","created_time":"2022-12-31T05:19:00.000Z","last_edited_time":"2022-12-31T05:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"1daf7940-4002-432c-88df-13a495d25d08"},"archived":false,"properties":{"Tags":{"id":"M%7D%3E%40","type":"multi_select","multi_select":[]},"Complete":{"id":"QlRn","type":"checkbox","checkbox":false},"Index":{"id":"TIZS","type":"number","number":null},"Due
      Date":{"id":"bwo%7B","type":"date","date":null},"Notes":{"id":"h%3FMY","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Needle","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Needle","href":null}]}},"url":"https://www.notion.so/Needle-dee90dafc8994dc9adc4cff582235977"}],"next_cursor":null,"has_more":false,"type":"page","page":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/1daf7940-4002-432c-88df-13a495d25d08
  response:
    content: '{"object":"block","id":"1daf7940-4002-432c-88df-13a495d25d08","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-31T05:19:00.000Z","last_edited_time":"2022-12-31T05:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_query
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
