interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_simple_model
      (setup)", "text": {"content": "tests/test_orm.py::test_simple_model (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2021-08-16'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"5a715597-b1e3-4818-afe4-404671e950a9","cover":null,"icon":null,"created_time":"2022-04-25T02:40:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-04-25T02:40:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_simple_model
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_simple_model
      (setup)","href":null}],"properties":{"Due Date":{"id":"%3CaRS","name":"Due Date","type":"date","date":{}},"Notes":{"id":"NaQ%3C","name":"Notes","type":"rich_text","rich_text":{}},"Complete":{"id":"RCxy","name":"Complete","type":"checkbox","checkbox":{}},"Index":{"id":"XM%3Bo","name":"Index","type":"number","number":{"format":"number"}},"Tags":{"id":"aU%3AE","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/5a715597b1e34818afe4404671e950a9","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "5a715597-b1e3-4818-afe4-404671e950a9"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2021-08-16'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"35ac98f5-cfab-4523-89ee-2eeb92a436ea","created_time":"2022-04-25T02:40:00.000Z","last_edited_time":"2022-04-25T02:40:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"5a715597-b1e3-4818-afe4-404671e950a9"},"archived":false,"properties":{"Due
      Date":{"id":"%3CaRS","type":"date","date":null},"Notes":{"id":"NaQ%3C","type":"rich_text","rich_text":[]},"Complete":{"id":"RCxy","type":"checkbox","checkbox":false},"Index":{"id":"XM%3Bo","type":"number","number":null},"Tags":{"id":"aU%3AE","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/35ac98f5cfab452389ee2eeb92a436ea"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "One&Only", "text": {"content": "One&Only"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2021-08-16'
    method: PATCH
    uri: https://api.notion.com/v1/pages/35ac98f5cfab452389ee2eeb92a436ea
  response:
    content: '{"object":"page","id":"35ac98f5-cfab-4523-89ee-2eeb92a436ea","created_time":"2022[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2021-08-16'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/5a715597b1e34818afe4404671e950a9
  response:
    content: '{"object":"block","id":"5a715597-b1e3-4818-afe4-404671e950a9","created_time":"2022-04-25T02:40:00.000Z","last_edited_time":"2022-04-25T02:40:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_simple_model
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
