interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/250662d9-783d-483c-b131-341ed479f96c
  response:
    content: '{"object":"page","id":"250662d9-783d-483c-b131-341ed479f96c","created_time":"2021-08-03T13:21:00.000Z","last_edited_time":"2022-12-31T05:18:00.000Z","created_by":{"object":"user","id":"ea74294e-d4c7-41f0-8929-805c80ea0d7f"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":{"type":"external","external":{"url":"https://images.unsplash.com/photo-1562380156-9a99cd92484c?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb"}},"icon":null,"parent":{"type":"page_id","page_id":"931a3b8b-875e-462d-a31d-29b49475d922"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Notional","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Notional","href":null}]}},"url":"https://www.notion.so/Notional-250662d9783d483cb131341ed479f96c"}'
    headers: {}
    status_code: 200
- request:
    body: '{"children": [{"type": "code", "object": "block", "has_children": false,
      "archived": false, "code": {"rich_text": [{"type": "text", "plain_text": "\"\"\"Unit
      tests for Notional blocks.\"\"\"\n\nimport pytest\n\nfrom notional import blocks,
      types\n\n\ndef add_verify(notion, page, block):\n    \"\"\"Add the block to
      the give page and read it back.\"\"\"\n\n    notion.blocks.children.append(page,
      block)\n    new_block = notion.blocks.retrieve(block.id)\n\n    assert new_block
      == block\n\n    notion.blocks.delete(block.id)\n\n\ndef test_append_without_children_support():\n    \"\"[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/5f025d85-ae7f-4091-b52d-593a26ae95fc
  response:
    content: "{\"object\":\"block\",\"id\":\"5f025d85-ae7f-4091-b52d-593a26ae95fc\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"250662d9-783d-483c-b131-341ed479f96c\"},\"created_time\":\"2022-12-31T05:18:00.000Z\",\"last_edited_time\":\"2022-12-31T05:18:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"has_children\":false,\"archived\":false,\"type\":\"code\",\"code\":{\"caption\":[],\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"\\\"\\\"\\\"Unit
      tests for Notional blocks.\\\"\\\"\\\"\\n\\nimport pytest\\n\\nfrom notional
      import blocks, types\\n\\n\\ndef add_verify(notion, page, block):\\n    \\\"\\\"\\\"Add
      the block to the give page and read it back.\\\"\\\"\\\"\\n\\n    notion.blocks.children.append(page,
      block)\\n    new_block = notion.blocks.retrieve(block.id)\\n\\n    assert new_block
      == block\\n\\n    notion.blocks.delete(bl[...]
[...]
