interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_simple_model_with_children
      (setup)", "text": {"content": "tests/test_orm.py::test_simple_model_with_children
      (setup)"}}], "properties": {"Name": {"type": "title", "title": {}}, "Index":
      {"type": "number", "number": {"format": "number"}}, "Notes": {"type": "rich_text",
      "rich_text": {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date":
      {"type": "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a4be15d0-decc-4d9b-8aaf-9040d2a344fa","cover":null,"icon":null,"created_time":"2022-12-30T21:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-30T21:50:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_simple_model_with_children
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_simple_model_with_children
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"AcIu","name":"Notes","type":"rich_text","rich_text":{}},"Complete":{"id":"%5E_h%7B","name":"Complete","type":"checkbox","checkbox":{}},"Due
      Date":{"id":"o%3AUG","name":"Due Date","type":"date","date":{}},"Tags":{"id":"po%7CF","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Index":{"id":"swMT","name":"Index","type":"number","number":{"format":"number"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/a4be15d0decc4d9b8aaf9040d2a344fa","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "a4be15d0-decc-4d9b-8aaf-9040d2a344fa"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"995b1698-c3cd-4e5c-91a8-64517727c641","created_time":"2022-12-30T21:50:00.000Z","last_edited_time":"2022-12-30T21:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"a4be15d0-decc-4d9b-8aaf-9040d2a344fa"},"archived":false,"properties":{"Notes":{"id":"AcIu","type":"rich_text","rich_text":[]},"Complete":{"id":"%5E_h%7B","type":"checkbox","checkbox":false},"Due
      Date":{"id":"o%3AUG","type":"date","date":null},"Tags":{"id":"po%7CF","type":"multi_select","multi_select":[]},"Index":{"id":"swMT","type":"number","number":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/995b1698c3cd4e5c91a864517727c641"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/995b1698c3cd4e5c91a864517727c641
  response:
    content: '{"object":"page","id":"995b1698-c3cd-4e5c-91a8-64517727c641","created_time":"2022-12-30[...]
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "archived": false, "heading_1": {"rich_text": [{"type": "text", "plain_text":
      "New Business", "text": {"content": "New Business"}}], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/995b1698-c3cd-4e5c-91a8-64517727c641/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"972ed126-7e3a-494d-a146-f704a492ce89","parent":{"type":"page_id","page_id":"995b1698-c3cd-4e5c-91a8-64517727c641"},"created_time":"2022-12-30T21:50:00.000Z","last_edited_time":"2022-12-30T21:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"New
      Business","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      Business","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/a4be15d0-decc-4d9b-8aaf-9040d2a344fa
  response:
    content: '{"object":"block","id":"a4be15d0-decc-4d9b-8aaf-9040d2a344fa","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-30T21:50:00.000Z","last_edited_time":"2022-12-30T21:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_simple_model_with_children
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
