interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_query.py::test_query_database
      (setup)", "text": {"content": "tests/test_query.py::test_query_database (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"c3c8943a-ebbe-49dc-a725-b3849e35474e","cover":null,"icon":null,"created_time":"2023-01-19T01:21:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-01-19T01:21:00.000Z","title":[{"type":"text","text":{"content":"tests/test_query.py::test_query_database
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_query.py::test_query_database
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Complete":{"id":"OeZn","name":"Complete","type":"checkbox","checkbox":{}},"Index":{"id":"f%7CUC","name":"Index","type":"number","number":{"format":"number"}},"Due
      Date":{"id":"g%7C%3DS","name":"Due Date","type":"date","date":{}},"Tags":{"id":"hzRx","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Notes":{"id":"tbWt","name":"Notes","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/c3c8943aebbe49dca725b3849e35474e","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "c3c8943a-ebbe-49dc-a725-b3849e35474e"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Find Me!", "text": {"content": "Find Me!"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"c9a0a965-d19d-4079-8a52-4fa55ee0bbdd","created_time":"2023-01-19T0[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/c3c8943a-ebbe-49dc-a725-b3849e35474e/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"c9a0a965-d19d-4079-8a52-4fa55ee0bbdd","created_time":"2023-01-19T01:21:00.000Z","last_edited_time":"2023-01-19T01:21:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"c3c8943a-ebbe-49dc-a725-b3849e35474e"},"archived":false,"properties":{"Complete":{"id":"OeZn","type":"checkbox","checkbox":false},"Index":{"id":"f%7CUC","type":"number","number":null},"Due
      Date":{"id":"g%7C%3DS","type":"date","date":null},"Tags":{"id":"hzRx","type":"multi_select","multi_select":[]},"Notes":{"id":"tbWt","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Find
      Me!","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Find
      Me!","href":null}]}},"url":"https://www.notion.so/Find-Me-c9a0a965d19d40798a524fa55ee0bbdd"}],"next_cursor":null,"has_more":false,"type":"page","page":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/c3c8943a-ebbe-49dc-a725-b3849e35474e
  response:
    content: '{"object":"block","id":"c3c8943a-ebbe-49dc-a725-b3849e35474e","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-01-19T01:21:00.000Z","last_edited_time":"2023-01-19T01:21:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_query.py::test_query_database
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
