interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "tests/test_records.py::test_create_simple_page (call)", "text": {"content":
      "tests/test_records.py::test_create_simple_page (call)"}}]}}, "children": [{"type":
      "heading_1", "object": "block", "has_children": false, "archived": false, "heading_1":
      {"rich_text": [{"type": "text", "plain_text": "Welcome to the Matrix", "text":
      {"content": "Welcome to the Matrix"}}], "color": "default"}}, {"type": "divider",
      "object": "block", "has_children": false, "archived": false, "divider": {}},
      {"type": "paragraph", "object": "block", "has_children": false, "archived":
      false, "paragraph": {"rich_text": [{"type": "text", "plain_text": "There is
      no spoon...", "text": {"content": "There is no spoon..."}}], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"b785278e-668a-46d0-bb58-85c30a88636e","created_time":"2022-12-13T22:02:00.000Z","last_edited_time":"2022-12-13T22:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_records.py::test_create_simple_page
      (call)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_records.py::test_create_simple_page
      (call)","href":null}]}},"url":"https://www.notion.so/tests-test_records-py-test_create_simple_page-call-b785278e668a46d0bb5885c30a88636e"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/b785278e668a46d0bb5885c30a88636e/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"556fb91f-44d2-4ab2-b398-29d2aae66694","parent":{"type":"page_id","page_id":"b785278e-668a-46d0-bb58-85c30a88636e"},"created_time":"2022-12-13T22:02:00.000Z","last_edited_time":"2022-12-13T22:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"Welcome
      to the Matrix","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Welcome
      to the Matrix","href":null}],"is_toggleable":false,"color":"default"}},{"object":"block","id":"74ebdcff-aba7-4af7-86c6-9bf91b010f3d","parent":{"type":"page_id","page_id":"b785278e-668a-46d0-bb58-85c30a88636e"},"created_time":"2022-12-13T22:02:00.000Z","last_edited_time":"2022-12-13T22:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"divider","divider":{}},{"object":"block","id":"e3bfac17-d9cc-46a4-b4d6-f5173010934e","parent":{"type":"page_id","page_id":"b785278e-668a-46d0-bb58-85c30a88636e"},"created_time":"2022-12-13T22:02:00.000Z","last_edited_time":"2022-12-13T22:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"There
      is no spoon...","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"There
      is no spoon...","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/b785278e668a46d0bb5885c30a88636e
  response:
    content: '{"object":"page","id":"b785278e-668a-46d0-bb58-85c30a88636e","created_time":"2022-12-13T22:02:00.000Z","last_edited_time":"2022-12-13T22:02:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_records.py::test_create_simple_page
      (call)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_records.py::test_create_simple_page
      (call)","href":null}]}},"url":"https://www.notion.so/tests-test_records-py-test_create_simple_page-call-b785278e668a46d0bb5885c30a88636e"}'
    headers: {}
    status_code: 200
version: 1
