interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_query.py::test_compound_filter
      (setup)", "text": {"content": "tests/test_query.py::test_compound_filter (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"7d754cf9-cd62-4475-932a-6d0547576235","cover":null,"icon":null,"created_time":"2023-01-19T01:20:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-01-19T01:20:00.000Z","title":[{"type":"text","text":{"content":"tests/test_query.py::test_compound_filter
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_query.py::test_compound_filter
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"G%3Dwt","name":"Notes","type":"rich_text","rich_text":{}},"Tags":{"id":"QhMY","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Index":{"id":"UJyM","name":"Index","type":"number","number":{"format":"number"}},"Due
      Date":{"id":"XFsI","name":"Due Date","type":"date","date":{}},"Complete":{"id":"fYcU","name":"Complete","type":"checkbox","checkbox":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/7d754cf9cd624475932a6d0547576235","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "7d754cf9-cd62-4475-932a-6d0547576235"},
      "properties": {"Index": {"type": "number", "number": 0.0}, "title": {"type":
      "title", "title": [{"type": "text", "plain_text": "Item 0", "text": {"content":
      "Item 0"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"927c0fd5-7909-418c-8[...]
[...]
- request:
    body: '{"filter": {"and": [{"property": "Index", "number": {"greater_than": 3.0}},
      {"property": "Index", "number": {"less_than_or_equal_to": 8.0}}, {"property":
      "Name", "rich_text": {"contains": "Item"}}]}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/7d754cf9-cd62-4475-932a-6d0547576235/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"e604aee5-08c2-499d-8f71-0ff33d4644a3","created_time":"2023-01-19T01:20:00.000Z","last_edited_time":"2023-01-19T01:20:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"7d754cf9-cd62-4475-932a-6d0547576235"},"archived":false,"properties":{"Notes":{"id":"G%3Dwt","type":"rich_text","rich_text":[[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/7d754cf9-cd62-4475-932a-6d0547576235
  response:
    content: '{"object":"block","id":"7d754cf9-cd62-4475-932a-6d0547576235","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-01-19T01:20:00.000Z","last_edited_time":"2023-01-19T01:21:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_query.py::test_compound_filter
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
