interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_missing_property
      (setup)", "text": {"content": "tests/test_orm.py::test_missing_property (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"65c30a13-1940-4835-9433-41f19d8288a6","cover":null,"icon":null,"created_time":"2022-12-14T04:25:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-14T04:25:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_missing_property
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_missing_property
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"%3B%5DKs","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Index":{"id":"%5Es%7DK","name":"Index","type":"number","number":{"format":"number"}},"Due
      Date":{"id":"bv_n","name":"Due Date","type":"date","date":{}},"Complete":{"id":"kPl%60","name":"Complete","type":"checkbox","checkbox":{}},"Notes":{"id":"moJK","name":"Notes","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/65c30a1319404835943341f19d8288a6","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "65c30a13-1940-4835-9433-41f19d8288a6"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"5a9e7008-6b7e-4002-9964-74605eb173e3","created_time":"2022-12-14T04:25:00.000Z","last_edited_time":"2022-12-14T04:25:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"65c30a13-1940-4835-9433-41f19d8288a6"},"archived":false,"properties":{"Tags":{"id":"%3B%5DKs","type":"multi_select","multi_select":[]},"Index":{"id":"%5Es%7DK","type":"number","number":null},"Due
      Date":{"id":"bv_n","type":"date","date":null},"Complete":{"id":"kPl%60","type":"checkbox","checkbox":false},"Notes":{"id":"moJK","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/5a9e70086b7e4002996474605eb173e3"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "MissingProp", "text": {"content": "MissingProp"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/5a9e70086b7e4002996474605eb173e3
  response:
    content: '{"object":"page","id":"5a9e7008-6b7e-4002-9964-74605eb173e3","created_time"[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/65c30a1319404835943341f19d8288a6
  response:
    content: '{"object":"block","id":"65c30a13-1940-4835-9433-41f19d8288a6","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-14T04:25:00.000Z","last_edited_time":"2022-12-14T04:25:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_missing_property
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
