interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_query
      (setup)", "text": {"content": "tests/test_orm.py::test_orm_query (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a183c959-04c8-470e-9ec2-8ff1ff4b1daf","cover":null,"icon":null,"created_time":"2023-01-19T01:20:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-01-19T01:20:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_query
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_query
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"A%40o%3A","name":"Notes","type":"rich_text","rich_text":{}},"Tags":{"id":"IVix","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Due
      Date":{"id":"%5EQPF","name":"Due Date","type":"date","date":{}},"Complete":{"id":"%7C%40wX","name":"Complete","type":"checkbox","checkbox":{}},"Index":{"id":"%7CGLW","name":"Index","type":"number","number":{"format":"number"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/a183c95904c8470e9ec28ff1ff4b1daf","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "a183c959-04c8-470e-9ec2-8ff1ff4b1daf"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"c1f77809-952e-4a08-a0da-95fa621a866a","created_time":"2023-01-19T01:20:00.000Z","last_edited_time":"2023-01-19T01:20:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"a183c959-04c8-470e-9ec2-8ff1ff4b1daf"},"archived":false,"properties":{"Notes":{"id":"A%40o%3A","type":"rich_text","rich_text":[]},"Tags":{"id":"IVix","type":"multi_select","multi_select":[]},"Due
      Date":{"id":"%5EQPF","type":"date","date":null},"Complete":{"id":"%7C%40wX","type":"checkbox","checkbox":false},"Index":{"id":"%7CGLW","type":"number","number":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/c1f77809952e4a08a0da95fa621a866a"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Needle", "text": {"content": "Needle"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/c1f77809952e4a08a0da95fa621a866a
  response:
    content: '{"object":"page","id":"c1f77809-952e-4a08-a0da-95fa621a866a","created_time":"2023-01-[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/a183c959-04c8-470e-9ec2-8ff1ff4b1daf/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"c1f77809-952e-4a08-a0da-95fa621a866a","created_time":"2023-01-19T01:20:00.000Z","last_edited_time":"2023-01-19T01:20:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"a183c959-04c8-470e-9ec2-8ff1ff4b1daf"},"archived":false,"properties":{"Notes":{"id":"A%40o%3A","type":"rich_text","rich_text":[]},"Tags":{"id":"IVix","type":"multi_select","multi_select":[]},"Due
      Date":{"id":"%5EQPF","type":"date","date":null},"Complete":{"id":"%7C%40wX","type":"checkbox","checkbox":false},"Index":{"id":"%7CGLW","type":"number","number":null},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Needle","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Needle","href":null}]}},"url":"https://www.notion.so/Needle-c1f77809952e4a08a0da95fa621a866a"}],"next_cursor":null,"has_more":false,"type":"page","page":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/a183c959-04c8-470e-9ec2-8ff1ff4b1daf
  response:
    content: '{"object":"block","id":"a183c959-04c8-470e-9ec2-8ff1ff4b1daf","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-01-19T01:20:00.000Z","last_edited_time":"2023-01-19T01:20:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_query
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
