interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "42faa3d6-2b2e-46e8-8565-481c52fcd553"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "tests/test_pages.py::test_create_simple_page (call)", "text": {"content": "tests/test_pages.py::test_create_simple_page
      (call)"}}]}}, "children": [{"type": "heading_1", "object": "block", "has_children":
      false, "archived": false, "heading_1": {"rich_text": [{"type": "text", "plain_text":
      "Welcome to the Matrix", "text": {"content": "Welcome to the Matrix"}}], "color":
      "default"}}, {"type": "divider", "object": "block", "has_children": false, "archived":
      false, "divider": {}}, {"type": "paragraph", "object": "block", "has_children":
      false, "archived": false, "paragraph": {"rich_text": [{"type": "text", "plain_text":
      "There is no spoon...", "text": {"content": "There is no spoon..."}}], "color":
      "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"d351cc73-4795-482e-ae0c-beb602d3c510","created_time":"2022-12-19T22:11:00.000Z","last_edited_time":"2022-12-19T22:11:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_pages.py::test_create_simple_page
      (call)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_pages.py::test_create_simple_page
      (call)","href":null}]}},"url":"https://www.notion.so/tests-test_pages-py-test_create_simple_page-call-d351cc734795482eae0cbeb602d3c510"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/d351cc734795482eae0cbeb602d3c510/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"08d3302f-da28-4e56-ae1f-40dc6a6b9aef","parent":{"type":"page_id","page_id":"d351cc73-4795-482e-ae0c-beb602d3c510"},"created_time":"2022-12-19T22:11:00.000Z","last_edited_time":"2022-12-19T22:11:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"Welcome
      to the Matrix","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Welcome
      to the Matrix","href":null}],"is_toggleable":false,"color":"default"}},{"object":"block","id":"afb1e477-bab9-4780-937b-d04eab4c0929","parent":{"type":"page_id","page_id":"d351cc73-4795-482e-ae0c-beb602d3c510"},"created_time":"2022-12-19T22:11:00.000Z","last_edited_time":"2022-12-19T22:11:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"divider","divider":{}},{"object":"block","id":"88446968-e0d3-4c02-9ba9-56c295ce414a","parent":{"type":"page_id","page_id":"d351cc73-4795-482e-ae0c-beb602d3c510"},"created_time":"2022-12-19T22:11:00.000Z","last_edited_time":"2022-12-19T22:11:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"There
      is no spoon...","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"There
      is no spoon...","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/d351cc734795482eae0cbeb602d3c510
  response:
    content: '{"object":"page","id":"d351cc73-4795-482e-ae0c-beb602d3c510","created_time":"2022-12-19T22:11:00.000Z","last_edited_time":"2022-12-19T22:11:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"archived":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_pages.py::test_create_simple_page
      (call)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_pages.py::test_create_simple_page
      (call)","href":null}]}},"url":"https://www.notion.so/tests-test_pages-py-test_create_simple_page-call-d351cc734795482eae0cbeb602d3c510"}'
    headers: {}
    status_code: 200
version: 1
