interactions:
- request:
    body: '{"children": [{"type": "divider", "object": "block", "has_children": false,
      "archived": false, "divider": {}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/250662d9-783d-483c-b131-341ed479f96c/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"c16cdcaf-7440-4f6a-925e-632a8ef151e3","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-01-26T05:32:00.000Z","last_edited_time":"2023-01-26T05:32:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"divider","divider":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/c16cdcaf-7440-4f6a-925e-632a8ef151e3
  response:
    content: '{"object":"block","id":"c16cdcaf-7440-4f6a-925e-632a8ef151e3","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-01-26T05:32:00.000Z","last_edited_time":"2023-01-26T05:32:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"divider","divider":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/c16cdcaf-7440-4f6a-925e-632a8ef151e3
  response:
    content: '{"object":"block","id":"c16cdcaf-7440-4f6a-925e-632a8ef151e3","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-01-26T05:32:00.000Z","last_edited_time":"2023-01-26T05:32:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"divider","divider":{}}'
    headers: {}
    status_code: 200
version: 1
