interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_simple_model
      (setup)", "text": {"content": "tests/test_orm.py::test_simple_model (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"061365fb-bc19-43a4-a8bf-c25dbfe45e79","cover":null,"icon":null,"created_time":"2024-05-04T14:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2024-05-04T14:07:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_simple_model
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_simple_model
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Due
      Date":{"id":"%3FHvq","name":"Due Date","type":"date","date":{}},"Tags":{"id":"LQ%60%3E","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Index":{"id":"%5BvAr","name":"Index","type":"number","number":{"format":"number"}},"Complete":{"id":"dt%7D%3A","name":"Complete","type":"checkbox","checkbox":{}},"Notes":{"id":"mMEK","name":"Notes","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/061365fbbc1943a4a8bfc25dbfe45e79","public_url":null,"archived":false,"in_trash":false,"request_id":"38f7d653-19f0-4134-a6be-fd54bb4e085a"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "061365fb-bc19-43a4-a8bf-c25dbfe45e79"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"547d8038-d8f4-4858-baff-f1636f14649c","created_time":"2024-05-04T14:07:00.000Z","last_edited_time":"2024-05-04T14:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"061365fb-bc19-43a4-a8bf-c25dbfe45e79"},"archived":false,"in_trash":false,"properties":{"Due
      Date":{"id":"%3FHvq","type":"date","date":null},"Tags":{"id":"LQ%60%3E","type":"multi_select","multi_select":[]},"Index":{"id":"%5BvAr","type":"number","number":null},"Complete":{"id":"dt%7D%3A","type":"checkbox","checkbox":false},"Notes":{"id":"mMEK","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/547d8038d8f44858bafff1636f14649c","public_url":null,"request_id":"3d5d2815-2c20-47cf-bd4c-e21d7c6b8c55"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "One&Only", "text": {"content": "One&Only"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/547d8038d8f44858bafff1636f14649c
  response:
    content: '{"object":"page","id":"547d8038-d8f4-4858-baff-f1636f14649c","created_time":"2024[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/061365fb-bc19-43a4-a8bf-c25dbfe45e79
  response:
    content: '{"object":"block","id":"061365fb-bc19-43a4-a8bf-c25dbfe45e79","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-05-04T14:07:00.000Z","last_edited_time":"2024-05-04T14:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_simple_model
      (setup)"},"request_id":"2b49fbeb-5aa9-464a-8874-ceb03795ee5e"}'
    headers: {}
    status_code: 200
version: 1
