interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_change_model_title
      (setup)", "text": {"content": "tests/test_orm.py::test_change_model_title (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"20ea2b96-a3b7-42eb-8f8c-eb299362149d","cover":null,"icon":null,"created_time":"2022-12-31T05:18:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-31T05:18:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_change_model_title
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_change_model_title
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Index":{"id":"%3Fpsy","name":"Index","type":"number","number":{"format":"number"}},"Tags":{"id":"L%7BE%7B","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Notes":{"id":"WbIN","name":"Notes","type":"rich_text","rich_text":{}},"Due
      Date":{"id":"Z%3Du~","name":"Due Date","type":"date","date":{}},"Complete":{"id":"dh%5Cf","name":"Complete","type":"checkbox","checkbox":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/20ea2b96a3b742eb8f8ceb299362149d","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "20ea2b96-a3b7-42eb-8f8c-eb299362149d"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"cbaf1176-43bc-4c21-a392-0c72f546efe8","created_time":"2022-12-31T05:18:00.000Z","last_edited_time":"2022-12-31T05:18:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"20ea2b96-a3b7-42eb-8f8c-eb299362149d"},"archived":false,"properties":{"Index":{"id":"%3Fpsy","type":"number","number":null},"Tags":{"id":"L%7BE%7B","type":"multi_select","multi_select":[]},"Notes":{"id":"WbIN","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"Z%3Du~","type":"date","date":null},"Complete":{"id":"dh%5Cf","type":"checkbox","checkbox":false},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/cbaf117643bc4c21a3920c72f546efe8"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/cbaf117643bc4c21a3920c72f546efe8
  response:
    content: '{"object":"page","id":"cbaf1176-43bc-4c21-a392-0c72f546efe8","created_time":"2022-12-31[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/20ea2b96-a3b7-42eb-8f8c-eb299362149d
  response:
    content: '{"object":"block","id":"20ea2b96-a3b7-42eb-8f8c-eb299362149d","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-31T05:18:00.000Z","last_edited_time":"2022-12-31T05:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_change_model_title
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
