interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_query
      (setup)", "text": {"content": "tests/test_orm.py::test_orm_query (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"66903952-296b-430d-82cc-4102cd3e8b40","cover":null,"icon":null,"created_time":"2022-04-26T04:03:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-04-26T04:03:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_query
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_query
      (setup)","href":null}],"properties":{"Index":{"id":"%40MfH","name":"Index","type":"number","number":{"format":"number"}},"Due
      Date":{"id":"VwHC","name":"Due Date","type":"date","date":{}},"Tags":{"id":"Z%60%3Br","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Notes":{"id":"iKUV","name":"Notes","type":"rich_text","rich_text":{}},"Complete":{"id":"zDDH","name":"Complete","type":"checkbox","checkbox":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/66903952296b430d82cc4102cd3e8b40","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "66903952-296b-430d-82cc-4102cd3e8b40"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"ef3415bf-b49b-442a-95ea-35328c014311","created_time":"2022-04-26T04:03:00.000Z","last_edited_time":"2022-04-26T04:03:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"66903952-296b-430d-82cc-4102cd3e8b40"},"archived":false,"properties":{"Index":{"id":"%40MfH","type":"number","number":null},"Due
      Date":{"id":"VwHC","type":"date","date":null},"Tags":{"id":"Z%60%3Br","type":"multi_select","multi_select":[]},"Notes":{"id":"iKUV","type":"rich_text","rich_text":[]},"Complete":{"id":"zDDH","type":"checkbox","checkbox":false},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/ef3415bfb49b442a95ea35328c014311"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Needle", "text": {"content": "Needle"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: PATCH
    uri: https://api.notion.com/v1/pages/ef3415bfb49b442a95ea35328c014311
  response:
    content: '{"object":"page","id":"ef3415bf-b49b-442a-95ea-35328c014311","created_time":"2022-04-[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/databases/66903952-296b-430d-82cc-4102cd3e8b40/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"ef3415bf-b49b-442a-95ea-35328c014311","created_time":"2022-04-26T04:03:00.000Z","last_edited_time":"2022-04-26T04:03:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"66903952-296b-430d-82cc-4102cd3e8b40"},"archived":false,"properties":{"Index":{"id":"%40MfH","type":"number","number":null},"Due
      Date":{"id":"VwHC","type":"date","date":null},"Tags":{"id":"Z%60%3Br","type":"multi_select","multi_select":[]},"Notes":{"id":"iKUV","type":"rich_text","rich_text":[]},"Complete":{"id":"zDDH","type":"checkbox","checkbox":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Needle","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Needle","href":null}]}},"url":"https://www.notion.so/Needle-ef3415bfb49b442a95ea35328c014311"}],"next_cursor":null,"has_more":false,"type":"page","page":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/66903952296b430d82cc4102cd3e8b40
  response:
    content: '{"object":"block","id":"66903952-296b-430d-82cc-4102cd3e8b40","created_time":"2022-04-26T04:03:00.000Z","last_edited_time":"2022-04-26T04:03:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_query
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
