interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_missing_property
      (setup)", "text": {"content": "tests/test_orm.py::test_missing_property (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"010f60e8-4e94-4dc1-9823-88483ad035fc","cover":null,"icon":null,"created_time":"2023-01-19T01:20:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-01-19T01:20:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_missing_property
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_missing_property
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Complete":{"id":"%3E_iD","name":"Complete","type":"checkbox","checkbox":{}},"Index":{"id":"FO%3CL","name":"Index","type":"number","number":{"format":"number"}},"Tags":{"id":"YMFR","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Due
      Date":{"id":"%5Elqd","name":"Due Date","type":"date","date":{}},"Notes":{"id":"tqYx","name":"Notes","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/010f60e84e944dc1982388483ad035fc","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "010f60e8-4e94-4dc1-9823-88483ad035fc"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"1a97d94f-6f6b-46f2-b017-1de942d8ef02","created_time":"2023-01-19T01:20:00.000Z","last_edited_time":"2023-01-19T01:20:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"010f60e8-4e94-4dc1-9823-88483ad035fc"},"archived":false,"properties":{"Complete":{"id":"%3E_iD","type":"checkbox","checkbox":false},"Index":{"id":"FO%3CL","type":"number","number":null},"Tags":{"id":"YMFR","type":"multi_select","multi_select":[]},"Due
      Date":{"id":"%5Elqd","type":"date","date":null},"Notes":{"id":"tqYx","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/1a97d94f6f6b46f2b0171de942d8ef02"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "MissingProp", "text": {"content": "MissingProp"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/1a97d94f6f6b46f2b0171de942d8ef02
  response:
    content: '{"object":"page","id":"1a97d94f-6f6b-46f2-b017-1de942d8ef02","created_time"[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/010f60e8-4e94-4dc1-9823-88483ad035fc
  response:
    content: '{"object":"block","id":"010f60e8-4e94-4dc1-9823-88483ad035fc","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-01-19T01:20:00.000Z","last_edited_time":"2023-01-19T01:20:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_missing_property
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
