interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_simple_model
      (setup)", "text": {"content": "tests/test_orm.py::test_simple_model (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"ab00d26e-ca05-4b0b-b918-2477f1e4f937","cover":null,"icon":null,"created_time":"2023-01-19T00:58:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-01-19T00:58:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_simple_model
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_simple_model
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Index":{"id":"XPeO","name":"Index","type":"number","number":{"format":"number"}},"Complete":{"id":"Y%3FHb","name":"Complete","type":"checkbox","checkbox":{}},"Tags":{"id":"cGMQ","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Due
      Date":{"id":"osYV","name":"Due Date","type":"date","date":{}},"Notes":{"id":"%7Bwi%3A","name":"Notes","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/ab00d26eca054b0bb9182477f1e4f937","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "ab00d26e-ca05-4b0b-b918-2477f1e4f937"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"0b965ab8-0bea-4c46-bf78-0c4f269917b8","created_time":"2023-01-19T00:58:00.000Z","last_edited_time":"2023-01-19T00:58:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"ab00d26e-ca05-4b0b-b918-2477f1e4f937"},"archived":false,"properties":{"Index":{"id":"XPeO","type":"number","number":null},"Complete":{"id":"Y%3FHb","type":"checkbox","checkbox":false},"Tags":{"id":"cGMQ","type":"multi_select","multi_select":[]},"Due
      Date":{"id":"osYV","type":"date","date":null},"Notes":{"id":"%7Bwi%3A","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/0b965ab80bea4c46bf780c4f269917b8"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "One&Only", "text": {"content": "One&Only"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/0b965ab80bea4c46bf780c4f269917b8
  response:
    content: '{"object":"page","id":"0b965ab8-0bea-4c46-bf78-0c4f269917b8","created_time":"2023[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/ab00d26e-ca05-4b0b-b918-2477f1e4f937
  response:
    content: '{"object":"block","id":"ab00d26e-ca05-4b0b-b918-2477f1e4f937","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-01-19T00:58:00.000Z","last_edited_time":"2023-01-19T00:58:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_simple_model
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
