interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_icon (setup)",
      "text": {"content": "tests/test_orm.py::test_orm_icon (setup)"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Index": {"type": "number", "number":
      {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text": {}}, "Complete":
      {"type": "checkbox", "checkbox": {}}, "Due Date": {"type": "date", "date": {}},
      "Tags": {"type": "multi_select", "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a6d05b8e-e364-475d-992e-501e2e9c02d6","cover":null,"icon":null,"created_time":"2022-11-08T22:58:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-11-08T22:58:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_icon
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_icon
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Complete":{"id":"Oki%40","name":"Complete","type":"checkbox","checkbox":{}},"Tags":{"id":"S%5BS%3E","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Index":{"id":"Vx%3F~","name":"Index","type":"number","number":{"format":"number"}},"Due
      Date":{"id":"lI%7Dw","name":"Due Date","type":"date","date":{}},"Notes":{"id":"x%7B_w","name":"Notes","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/a6d05b8ee364475d992e501e2e9c02d6","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "a6d05b8e-e364-475d-992e-501e2e9c02d6"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"2e39feb3-83e4-4f8a-99c1-44e397705209","created_time":"2022-11-08T22:58:00.000Z","last_edited_time":"2022-11-08T22:58:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"a6d05b8e-e364-475d-992e-501e2e9c02d6"},"archived":false,"properties":{"Complete":{"id":"Oki%40","type":"checkbox","checkbox":false},"Tags":{"id":"S%5BS%3E","type":"multi_select","multi_select":[]},"Index":{"id":"Vx%3F~","type":"number","number":null},"Due
      Date":{"id":"lI%7Dw","type":"date","date":null},"Notes":{"id":"x%7B_w","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/2e39feb383e44f8a99c144e397705209"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83c\udf54"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: PATCH
    uri: https://api.notion.com/v1/pages/2e39feb383e44f8a99c144e397705209
  response:
    content: "{\"object\":\"page\",\"id\":\"2e39feb3-83e4-4f8a-99c1-44e397705209\",\"created_time\":\"2022-11-08T22:58:00.000Z\",\"last_edited_time\":\"2022-11-08T22:58:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F354\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"a6d05b8e-e364-475d-992e-501e2e9c02d6\"},\"archived\":false,\"properties\":{\"Complete\":{\"id\":\"Oki%40\",\"type\":\"checkbox\",\"checkbox\":false},\"Tags\":{\"id\":\"S%5BS%3E\",\"type\":\"multi_select\",\"multi_select\":[]},\"Index\":{\"id\":\"Vx%3F~\",\"type\":\"number\",\"number\":null},\"Due
      Date\":{\"id\":\"lI%7Dw\",\"type\":\"date\",\"date\":null},\"Notes\":{\"id\":\"x%7B_w\",\"type\":\"rich_text\",\"rich_text\":[]},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[]}},\"url\":\"https://www.notion.so/2e39feb383e44f8a99c144e397705209\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/a6d05b8ee364475d992e501e2e9c02d6
  response:
    content: '{"object":"block","id":"a6d05b8e-e364-475d-992e-501e2e9c02d6","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-11-08T22:58:00.000Z","last_edited_time":"2022-11-08T22:58:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_icon
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
