interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_icon (setup)",
      "text": {"content": "tests/test_orm.py::test_orm_icon (setup)"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Index": {"type": "number", "number":
      {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text": {}}, "Complete":
      {"type": "checkbox", "checkbox": {}}, "Due Date": {"type": "date", "date": {}},
      "Tags": {"type": "multi_select", "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"34cea095-2f1e-4884-95c9-fd7056a5aece","cover":null,"icon":null,"created_time":"2022-11-29T22:40:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-11-29T22:40:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_icon
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_icon
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"mmel","name":"Notes","type":"rich_text","rich_text":{}},"Tags":{"id":"pc~%3C","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Complete":{"id":"qpPP","name":"Complete","type":"checkbox","checkbox":{}},"Due
      Date":{"id":"tWfb","name":"Due Date","type":"date","date":{}},"Index":{"id":"~NBc","name":"Index","type":"number","number":{"format":"number"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/34cea0952f1e488495c9fd7056a5aece","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "34cea095-2f1e-4884-95c9-fd7056a5aece"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"445bdb10-b7b3-422a-8064-9a696ec0f450","created_time":"2022-11-29T22:40:00.000Z","last_edited_time":"2022-11-29T22:40:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"34cea095-2f1e-4884-95c9-fd7056a5aece"},"archived":false,"properties":{"Notes":{"id":"mmel","type":"rich_text","rich_text":[]},"Tags":{"id":"pc~%3C","type":"multi_select","multi_select":[]},"Complete":{"id":"qpPP","type":"checkbox","checkbox":false},"Due
      Date":{"id":"tWfb","type":"date","date":null},"Index":{"id":"~NBc","type":"number","number":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/445bdb10b7b3422a80649a696ec0f450"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83c\udf54"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: PATCH
    uri: https://api.notion.com/v1/pages/445bdb10b7b3422a80649a696ec0f450
  response:
    content: "{\"object\":\"page\",\"id\":\"445bdb10-b7b3-422a-8064-9a696ec0f450\",\"created_time\":\"2022-11-29T22:40:00.000Z\",\"last_edited_time\":\"2022-11-29T22:40:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F354\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"34cea095-2f1e-4884-95c9-fd7056a5aece\"},\"archived\":false,\"properties\":{\"Notes\":{\"id\":\"mmel\",\"type\":\"rich_text\",\"rich_text\":[]},\"Tags\":{\"id\":\"pc~%3C\",\"type\":\"multi_select\",\"multi_select\":[]},\"Complete\":{\"id\":\"qpPP\",\"type\":\"checkbox\",\"checkbox\":false},\"Due
      Date\":{\"id\":\"tWfb\",\"type\":\"date\",\"date\":null},\"Index\":{\"id\":\"~NBc\",\"type\":\"number\",\"number\":null},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[]}},\"url\":\"https://www.notion.so/445bdb10b7b3422a80649a696ec0f450\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/34cea0952f1e488495c9fd7056a5aece
  response:
    content: '{"object":"block","id":"34cea095-2f1e-4884-95c9-fd7056a5aece","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-11-29T22:40:00.000Z","last_edited_time":"2022-11-29T22:40:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_icon
      (setup)"}}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/f51e85a961e54833942bc14e62e89cbb
  response:
    content: '{"object":"block","id":"f51e85a9-61e5-4833-942b-c14e62e89cbb","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-10T20:56:00.000Z","last_edited_time":"2022-12-10T20:56:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_icon
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
