interactions:
- request:
    body: '{"children": [{"type": "to_do", "object": "block", "has_children": false,
      "archived": false, "to_do": {"rich_text": [{"type": "text", "plain_text": "Important
      Task", "text": {"content": "Important Task"}}], "checked": false, "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/250662d9-783d-483c-b131-341ed479f96c/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"b3cb6761-da63-4f01-b70c-74a0f2362695","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-05-04T14:06:00.000Z","last_edited_time":"2024-05-04T14:06:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"in_trash":false,"type":"to_do","to_do":{"rich_text":[{"type":"text","text":{"content":"Important
      Task","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Important
      Task","href":null}],"checked":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"a884970f-5d25-46c6-9238-7be68ce1291f"}'
    headers: {}
    status_code: 200
- request:
    body: '{"type": "to_do", "archived": false, "to_do": {"rich_text": [{"type": "text",
      "plain_text": "Important Task", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Important Task"}}], "checked": true, "color": "default"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/b3cb6761da634f01b70c74a0f2362695
  response:
    content: '{"object":"block","id":"b3cb6761-da63-4f01-b70c-74a0f2362695","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-05-04T14:06:00.000Z","last_edited_time":"2024-05-04T14:06:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"in_trash":false,"type":"to_do","to_do":{"rich_text":[{"type":"text","text":{"content":"Important
      Task","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Important
      Task","href":null}],"checked":true,"color":"default"},"request_id":"aae42bd6-2108-438a-83c3-c2f8c8e2f215"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/b3cb6761-da63-4f01-b70c-74a0f2362695
  response:
    content: '{"object":"block","id":"b3cb6761-da63-4f01-b70c-74a0f2362695","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-05-04T14:06:00.000Z","last_edited_time":"2024-05-04T14:06:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"in_trash":true,"type":"to_do","to_do":{"rich_text":[{"type":"text","text":{"content":"Important
      Task","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Important
      Task","href":null}],"checked":true,"color":"default"},"request_id":"8ed42d6d-08df-4c16-af6a-2215bface411"}'
    headers: {}
    status_code: 200
version: 1
