interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_missing_property
      (setup)", "text": {"content": "tests/test_orm.py::test_missing_property (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"436c39b3-0d4a-47c9-8c33-b6884b6d6d1a","cover":null,"icon":null,"created_time":"2024-04-07T02:01:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2024-04-07T02:01:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_missing_property
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_missing_property
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Complete":{"id":"%3C%3F%3CM","name":"Complete","type":"checkbox","checkbox":{}},"Due
      Date":{"id":"%40kWU","name":"Due Date","type":"date","date":{}},"Tags":{"id":"jng%3F","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Index":{"id":"zk%3Ef","name":"Index","type":"number","number":{"format":"number"}},"Notes":{"id":"~%7B%5E~","name":"Notes","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/436c39b30d4a47c98c33b6884b6d6d1a","public_url":null,"archived":false,"in_trash":false,"request_id":"286e7c88-b9cf-4b39-b2ed-5a4977112a54"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "436c39b3-0d4a-47c9-8c33-b6884b6d6d1a"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"5180d927-d5c3-4e56-b241-d55b8db49438","created_time":"2024-04-07T02:01:00.000Z","last_edited_time":"2024-04-07T02:01:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"436c39b3-0d4a-47c9-8c33-b6884b6d6d1a"},"archived":false,"in_trash":false,"properties":{"Complete":{"id":"%3C%3F%3CM","type":"checkbox","checkbox":false},"Due
      Date":{"id":"%40kWU","type":"date","date":null},"Tags":{"id":"jng%3F","type":"multi_select","multi_select":[]},"Index":{"id":"zk%3Ef","type":"number","number":null},"Notes":{"id":"~%7B%5E~","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/5180d927d5c34e56b241d55b8db49438","public_url":null,"request_id":"7bb92557-9e9f-4734-805a-98084a34d86c"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "MissingProp", "text": {"content": "MissingProp"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/5180d927d5c34e56b241d55b8db49438
  response:
    content: '{"object":"page","id":"5180d927-d5c3-4e56-b241-d55b8db49438","created_time"[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/436c39b3-0d4a-47c9-8c33-b6884b6d6d1a
  response:
    content: '{"object":"block","id":"436c39b3-0d4a-47c9-8c33-b6884b6d6d1a","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-04-07T02:01:00.000Z","last_edited_time":"2024-04-07T02:01:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_missing_property
      (setup)"},"request_id":"3e58762d-3c90-472f-baf4-23ece2a0a200"}'
    headers: {}
    status_code: 200
version: 1
