interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_change_model_title
      (setup)", "text": {"content": "tests/test_orm.py::test_change_model_title (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"f38bb4db-4f4e-426a-a96f-1586a10394b3","cover":null,"icon":null,"created_time":"2022-12-31T16:49:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-31T16:49:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_change_model_title
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_change_model_title
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Complete":{"id":"LMIR","name":"Complete","type":"checkbox","checkbox":{}},"Index":{"id":"OXDd","name":"Index","type":"number","number":{"format":"number"}},"Due
      Date":{"id":"%5Eky%3C","name":"Due Date","type":"date","date":{}},"Tags":{"id":"eCtx","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Notes":{"id":"fDXR","name":"Notes","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/f38bb4db4f4e426aa96f1586a10394b3","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "f38bb4db-4f4e-426a-a96f-1586a10394b3"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"c2145737-6a86-4dd4-b46e-10b220538702","created_time":"2022-12-31T16:49:00.000Z","last_edited_time":"2022-12-31T16:49:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"f38bb4db-4f4e-426a-a96f-1586a10394b3"},"archived":false,"properties":{"Complete":{"id":"LMIR","type":"checkbox","checkbox":false},"Index":{"id":"OXDd","type":"number","number":null},"Due
      Date":{"id":"%5Eky%3C","type":"date","date":null},"Tags":{"id":"eCtx","type":"multi_select","multi_select":[]},"Notes":{"id":"fDXR","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/c21457376a864dd4b46e10b220538702"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/c21457376a864dd4b46e10b220538702
  response:
    content: '{"object":"page","id":"c2145737-6a86-4dd4-b46e-10b220538702","created_time":"2022-12-31[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/f38bb4db-4f4e-426a-a96f-1586a10394b3
  response:
    content: '{"object":"block","id":"f38bb4db-4f4e-426a-a96f-1586a10394b3","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-31T16:49:00.000Z","last_edited_time":"2022-12-31T16:49:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_change_model_title
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
