interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "tests/test_pages.py::test_page_cover (setup)", "text": {"content": "tests/test_pages.py::test_page_cover
      (setup)"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"d01d3530-2674-4f9a-a92c-25770dee7360","created_time":"2024-05-04T14:08:00.000Z","last_edited_time":"2024-05-04T14:08:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_pages.py::test_page_cover
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_pages.py::test_page_cover
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_pages-py-test_page_cover-setup-d01d353026744f9aa92c25770dee7360","public_url":null,"request_id":"25534dc4-eef9-408d-ad56-337fe18f0d4f"}'
    headers: {}
    status_code: 200
- request:
    body: '{"cover": {"type": "external", "external": {"url": "https://raw.githubusercontent.com/jheddings/notional/main/tests/data/loved.png"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/d01d353026744f9aa92c25770dee7360
  response:
    content: '{"object":"page","id":"d01d3530-2674-4f9a-a92c-25770dee7360","created_time":"2024-05-04T14:08:00.000Z","last_edited_time":"2024-05-04T14:08:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":{"type":"external","external":{"url":"https://raw.githubusercontent.com/jheddings/notional/main/tests/data/loved.png"}},"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_pages.py::test_page_cover
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_pages.py::test_page_cover
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_pages-py-test_page_cover-setup-d01d353026744f9aa92c25770dee7360","public_url":null,"request_id":"12ebf112-1430-4e8c-a769-6c664e318d01"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/d01d3530-2674-4f9a-a92c-25770dee7360
  response:
    content: '{"object":"page","id":"d01d3530-2674-4f9a-a92c-25770dee7360","created_time":"2024-05-04T14:08:00.000Z","last_edited_time":"2024-05-04T14:08:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":{"type":"external","external":{"url":"https://raw.githubusercontent.com/jheddings/notional/main/tests/data/loved.png"}},"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_pages.py::test_page_cover
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_pages.py::test_page_cover
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_pages-py-test_page_cover-setup-d01d353026744f9aa92c25770dee7360","public_url":null,"request_id":"a56a1ce8-cb89-4846-941f-1de41833ec45"}'
    headers: {}
    status_code: 200
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/d01d353026744f9aa92c25770dee7360
  response:
    content: '{"object":"page","id":"d01d3530-2674-4f9a-a92c-25770dee7360","created_time":"2024-05-04T14:08:00.000Z","last_edited_time":"2024-05-04T14:08:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":{"type":"external","external":{"url":"https://raw.githubusercontent.com/jheddings/notional/main/tests/data/loved.png"}},"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":true,"in_trash":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_pages.py::test_page_cover
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_pages.py::test_page_cover
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_pages-py-test_page_cover-setup-d01d353026744f9aa92c25770dee7360","public_url":null,"request_id":"3ef64c5f-32d6-4c19-a1a2-4613971f5714"}'
    headers: {}
    status_code: 200
version: 1
