interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_change_model_title
      (setup)", "text": {"content": "tests/test_orm.py::test_change_model_title (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"d97c52cf-6ec7-4d63-b561-02a760e8046d","cover":null,"icon":null,"created_time":"2022-12-12T04:06:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-12T04:06:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_change_model_title
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_change_model_title
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"Q%3CLC","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Index":{"id":"ThPC","name":"Index","type":"number","number":{"format":"number"}},"Complete":{"id":"k_%7DO","name":"Complete","type":"checkbox","checkbox":{}},"Notes":{"id":"qIDG","name":"Notes","type":"rich_text","rich_text":{}},"Due
      Date":{"id":"toBx","name":"Due Date","type":"date","date":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/d97c52cf6ec74d63b56102a760e8046d","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "d97c52cf-6ec7-4d63-b561-02a760e8046d"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"56a5a793-0eca-4a64-8711-22f92112f411","created_time":"2022-12-12T04:06:00.000Z","last_edited_time":"2022-12-12T04:06:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"d97c52cf-6ec7-4d63-b561-02a760e8046d"},"archived":false,"properties":{"Tags":{"id":"Q%3CLC","type":"multi_select","multi_select":[]},"Index":{"id":"ThPC","type":"number","number":null},"Complete":{"id":"k_%7DO","type":"checkbox","checkbox":false},"Notes":{"id":"qIDG","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"toBx","type":"date","date":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/56a5a7930eca4a64871122f92112f411"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/56a5a7930eca4a64871122f92112f411
  response:
    content: '{"object":"page","id":"56a5a793-0eca-4a64-8711-22f92112f411","created_time":"2022-12-12[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/d97c52cf6ec74d63b56102a760e8046d
  response:
    content: '{"object":"block","id":"d97c52cf-6ec7-4d63-b561-02a760e8046d","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-12T04:06:00.000Z","last_edited_time":"2022-12-12T04:06:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_change_model_title
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
