interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_icon (setup)",
      "text": {"content": "tests/test_orm.py::test_orm_icon (setup)"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Index": {"type": "number", "number":
      {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text": {}}, "Complete":
      {"type": "checkbox", "checkbox": {}}, "Due Date": {"type": "date", "date": {}},
      "Tags": {"type": "multi_select", "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"fef29969-6afd-433e-9f95-5760cb9b84e8","cover":null,"icon":null,"created_time":"2022-04-26T03:30:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-04-26T03:30:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_icon
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_icon
      (setup)","href":null}],"properties":{"Notes":{"id":"NtHr","name":"Notes","type":"rich_text","rich_text":{}},"Due
      Date":{"id":"OR%7CM","name":"Due Date","type":"date","date":{}},"Complete":{"id":"vO%3F~","name":"Complete","type":"checkbox","checkbox":{}},"Tags":{"id":"v%5B%5BB","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Index":{"id":"~%7CT%5E","name":"Index","type":"number","number":{"format":"number"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/fef299696afd433e9f955760cb9b84e8","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "fef29969-6afd-433e-9f95-5760cb9b84e8"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"d61863b9-93e5-4d33-9b0c-94026de10221","created_time":"2022-04-26T03:30:00.000Z","last_edited_time":"2022-04-26T03:30:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"fef29969-6afd-433e-9f95-5760cb9b84e8"},"archived":false,"properties":{"Notes":{"id":"NtHr","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"OR%7CM","type":"date","date":null},"Complete":{"id":"vO%3F~","type":"checkbox","checkbox":false},"Tags":{"id":"v%5B%5BB","type":"multi_select","multi_select":[]},"Index":{"id":"~%7CT%5E","type":"number","number":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/d61863b993e54d339b0c94026de10221"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83d\ude0e"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: PATCH
    uri: https://api.notion.com/v1/pages/d61863b993e54d339b0c94026de10221
  response:
    content: "{\"object\":\"page\",\"id\":\"d61863b9-93e5-4d33-9b0c-94026de10221\",\"created_time\":\"2022-04-26T03:30:00.000Z\",\"last_edited_time\":\"2022-04-26T03:30:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F60E\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"fef29969-6afd-433e-9f95-5760cb9b84e8\"},\"archived\":false,\"properties\":{\"Notes\":{\"id\":\"NtHr\",\"type\":\"rich_text\",\"rich_text\":[]},\"Due
      Date\":{\"id\":\"OR%7CM\",\"type\":\"date\",\"date\":null},\"Complete\":{\"id\":\"vO%3F~\",\"type\":\"checkbox\",\"checkbox\":false},\"Tags\":{\"id\":\"v%5B%5BB\",\"type\":\"multi_select\",\"multi_select\":[]},\"Index\":{\"id\":\"~%7CT%5E\",\"type\":\"number\",\"number\":null},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[]}},\"url\":\"https://www.notion.so/d61863b993e54d339b0c94026de10221\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/fef299696afd433e9f955760cb9b84e8
  response:
    content: '{"object":"block","id":"fef29969-6afd-433e-9f95-5760cb9b84e8","created_time":"2022-04-26T03:30:00.000Z","last_edited_time":"2022-04-26T03:30:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_icon
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
