interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "42faa3d6-2b2e-46e8-8565-481c52fcd553"},
      "title": [{"type": "text", "plain_text": "tests/test_database.py::test_create_database
      (setup)", "text": {"content": "tests/test_database.py::test_create_database
      (setup)"}}], "properties": {"Name": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"4dd7d423-95d4-4804-91c6-251d0aa5a428","cover":null,"icon":null,"created_time":"2022-12-19T22:11:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-19T22:11:00.000Z","title":[{"type":"text","text":{"content":"tests/test_database.py::test_create_database
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_database.py::test_create_database
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"url":"https://www.notion.so/4dd7d42395d4480491c6251d0aa5a428","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/4dd7d423-95d4-4804-91c6-251d0aa5a428
  response:
    content: '{"object":"database","id":"4dd7d423-95d4-4804-91c6-251d0aa5a428","cover":null,"icon":null,"created_time":"2022-12-19T22:11:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-19T22:11:00.000Z","title":[{"type":"text","text":{"content":"tests/test_database.py::test_create_database
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_database.py::test_create_database
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"url":"https://www.notion.so/4dd7d42395d4480491c6251d0aa5a428","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/4dd7d42395d4480491c6251d0aa5a428/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/4dd7d42395d4480491c6251d0aa5a428
  response:
    content: '{"object":"block","id":"4dd7d423-95d4-4804-91c6-251d0aa5a428","parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"created_time":"2022-12-19T22:11:00.000Z","last_edited_time":"2022-12-19T22:11:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_database.py::test_create_database
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
