interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_query.py::test_basic_number_constraint
      (setup)", "text": {"content": "tests/test_query.py::test_basic_number_constraint
      (setup)"}}], "properties": {"Name": {"type": "title", "title": {}}, "Index":
      {"type": "number", "number": {"format": "number"}}, "Notes": {"type": "rich_text",
      "rich_text": {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date":
      {"type": "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"4778d880-db09-4416-aa20-7a0de135d56f","cover":null,"icon":null,"created_time":"2023-01-19T01:20:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-01-19T01:20:00.000Z","title":[{"type":"text","text":{"content":"tests/test_query.py::test_basic_number_constraint
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_query.py::test_basic_number_constraint
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Index":{"id":"KXpP","name":"Index","type":"number","number":{"format":"number"}},"Complete":{"id":"MR%7Cc","name":"Complete","type":"checkbox","checkbox":{}},"Due
      Date":{"id":"W%3Az%3E","name":"Due Date","type":"date","date":{}},"Tags":{"id":"aBV%60","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Notes":{"id":"o%3EzH","name":"Notes","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/4778d880db094416aa207a0de135d56f","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "4778d880-db09-4416-aa20-7a0de135d56f"},
      "properties": {"Index": {"type": "number", "number": 0.0}, "title": {"type":
      "title", "title": [{"type": "text", "plain_text": "Item 0", "text": {"content":
      "Item 0"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"22e0edfb-e7d9-44e3-9[...]
[...]
- request:
    body: '{"filter": {"property": "Index", "number": {"equals": 7.0}}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/4778d880-db09-4416-aa20-7a0de135d56f/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"960702f7-ec74-47e8-9a0e-343dd84e4972","created_time":"2023-01-19T01:20:00.000Z","last_edited_time":"2023-01-19T01:20:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"4778d880-db09-4416-aa20-7a0de135d56f"},"archived":false,"properties":{"Index":{"id":"KXpP","type":"number","number":7},"Complete":{"id":"MR%7Cc","type":"checkbox","checkbox":false},"Due
      Date":{"id":"W%3Az%3E","type":"date","date":null},"Tags":{"id":"aBV%60","type":"multi_select","multi_select":[]},"Notes":{"id":"o%3EzH","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      7","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      7","href":null}]}},"url":"https://www.notion.so/Item-7-960702f7ec7447e89a0e343dd84e4972"}],"next_cursor":null,"has_more":false,"type":"page","page":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/4778d880-db09-4416-aa20-7a0de135d56f
  response:
    content: '{"object":"block","id":"4778d880-db09-4416-aa20-7a0de135d56f","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-01-19T01:20:00.000Z","last_edited_time":"2023-01-19T01:20:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_query.py::test_basic_number_constraint
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
