interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_missing_property
      (setup)", "text": {"content": "tests/test_orm.py::test_missing_property (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"dbec2d58-3866-4a3e-acf0-4bcb20ba5eb7","cover":null,"icon":null,"created_time":"2023-01-19T00:59:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2023-01-19T00:59:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_missing_property
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_missing_property
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Index":{"id":"C%40%7D%5E","name":"Index","type":"number","number":{"format":"number"}},"Notes":{"id":"G%3EYi","name":"Notes","type":"rich_text","rich_text":{}},"Tags":{"id":"%5E%3DDW","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Due
      Date":{"id":"i%60Yk","name":"Due Date","type":"date","date":{}},"Complete":{"id":"yBWi","name":"Complete","type":"checkbox","checkbox":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/dbec2d5838664a3eacf04bcb20ba5eb7","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "dbec2d58-3866-4a3e-acf0-4bcb20ba5eb7"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"834acc62-9b5a-4b95-a8d1-71d1d0a3796d","created_time":"2023-01-19T00:59:00.000Z","last_edited_time":"2023-01-19T00:59:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"dbec2d58-3866-4a3e-acf0-4bcb20ba5eb7"},"archived":false,"properties":{"Index":{"id":"C%40%7D%5E","type":"number","number":null},"Notes":{"id":"G%3EYi","type":"rich_text","rich_text":[]},"Tags":{"id":"%5E%3DDW","type":"multi_select","multi_select":[]},"Due
      Date":{"id":"i%60Yk","type":"date","date":null},"Complete":{"id":"yBWi","type":"checkbox","checkbox":false},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/834acc629b5a4b95a8d171d1d0a3796d"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "MissingProp", "text": {"content": "MissingProp"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/834acc629b5a4b95a8d171d1d0a3796d
  response:
    content: '{"object":"page","id":"834acc62-9b5a-4b95-a8d1-71d1d0a3796d","created_time"[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/dbec2d58-3866-4a3e-acf0-4bcb20ba5eb7
  response:
    content: '{"object":"block","id":"dbec2d58-3866-4a3e-acf0-4bcb20ba5eb7","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2023-01-19T00:59:00.000Z","last_edited_time":"2023-01-19T00:59:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_missing_property
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
