interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_missing_property
      (setup)", "text": {"content": "tests/test_orm.py::test_missing_property (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"94a1ffb4-62c9-42cc-bdf4-0979afda653a","cover":null,"icon":null,"created_time":"2024-05-04T14:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2024-05-04T14:07:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_missing_property
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_missing_property
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Complete":{"id":"%3CMcA","name":"Complete","type":"checkbox","checkbox":{}},"Due
      Date":{"id":"Xm~F","name":"Due Date","type":"date","date":{}},"Notes":{"id":"ZInv","name":"Notes","type":"rich_text","rich_text":{}},"Index":{"id":"uz%3F%7D","name":"Index","type":"number","number":{"format":"number"}},"Tags":{"id":"~Zqn","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/94a1ffb462c942ccbdf40979afda653a","public_url":null,"archived":false,"in_trash":false,"request_id":"9ed054a6-ce44-41c4-9848-66df26aac3a7"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "94a1ffb4-62c9-42cc-bdf4-0979afda653a"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"dafff455-6356-4dfb-8d70-3adf11feb142","created_time":"2024-05-04T14:07:00.000Z","last_edited_time":"2024-05-04T14:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"94a1ffb4-62c9-42cc-bdf4-0979afda653a"},"archived":false,"in_trash":false,"properties":{"Complete":{"id":"%3CMcA","type":"checkbox","checkbox":false},"Due
      Date":{"id":"Xm~F","type":"date","date":null},"Notes":{"id":"ZInv","type":"rich_text","rich_text":[]},"Index":{"id":"uz%3F%7D","type":"number","number":null},"Tags":{"id":"~Zqn","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/dafff45563564dfb8d703adf11feb142","public_url":null,"request_id":"2730408f-28df-4f29-a554-089c5c44a638"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "MissingProp", "text": {"content": "MissingProp"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/dafff45563564dfb8d703adf11feb142
  response:
    content: '{"object":"page","id":"dafff455-6356-4dfb-8d70-3adf11feb142","created_time"[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/94a1ffb4-62c9-42cc-bdf4-0979afda653a
  response:
    content: '{"object":"block","id":"94a1ffb4-62c9-42cc-bdf4-0979afda653a","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-05-04T14:07:00.000Z","last_edited_time":"2024-05-04T14:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_missing_property
      (setup)"},"request_id":"cb564080-2157-4805-8ae9-c4dc4e4888de"}'
    headers: {}
    status_code: 200
version: 1
