interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_change_model_title
      (setup)", "text": {"content": "tests/test_orm.py::test_change_model_title (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a730df3d-69d2-4745-af63-1288286dd163","cover":null,"icon":null,"created_time":"2022-12-30T21:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-30T21:50:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_change_model_title
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_change_model_title
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Complete":{"id":"CX%7DR","name":"Complete","type":"checkbox","checkbox":{}},"Due
      Date":{"id":"Z%3FR%3A","name":"Due Date","type":"date","date":{}},"Notes":{"id":"eQ%3Dx","name":"Notes","type":"rich_text","rich_text":{}},"Index":{"id":"wKoc","name":"Index","type":"number","number":{"format":"number"}},"Tags":{"id":"zD%5B%7C","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/a730df3d69d24745af631288286dd163","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "a730df3d-69d2-4745-af63-1288286dd163"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"90fea45b-b5f5-4b12-8955-193d735eb57d","created_time":"2022-12-30T21:50:00.000Z","last_edited_time":"2022-12-30T21:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"a730df3d-69d2-4745-af63-1288286dd163"},"archived":false,"properties":{"Complete":{"id":"CX%7DR","type":"checkbox","checkbox":false},"Due
      Date":{"id":"Z%3FR%3A","type":"date","date":null},"Notes":{"id":"eQ%3Dx","type":"rich_text","rich_text":[]},"Index":{"id":"wKoc","type":"number","number":null},"Tags":{"id":"zD%5B%7C","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/90fea45bb5f54b128955193d735eb57d"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/90fea45bb5f54b128955193d735eb57d
  response:
    content: '{"object":"page","id":"90fea45b-b5f5-4b12-8955-193d735eb57d","created_time":"2022-12-30[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/a730df3d-69d2-4745-af63-1288286dd163
  response:
    content: '{"object":"block","id":"a730df3d-69d2-4745-af63-1288286dd163","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-30T21:50:00.000Z","last_edited_time":"2022-12-30T21:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_change_model_title
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
