interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/c0bdf627b59c4cf685dd4b3dad8d4755
  response:
    content: '{"object":"block","id":"c0bdf627-b59c-4cf6-85dd-4b3dad8d4755","parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"created_time":"2022-01-31T03:42:00.000Z","last_edited_time":"2022-12-16T04:27:00.000Z","created_by":{"object":"user","id":"ea74294e-d4c7-41f0-8929-805c80ea0d7f"},"last_edited_by":{"object":"user","id":"ea74294e-d4c7-41f0-8929-805c80ea0d7f"},"has_children":true,"archived":false,"type":"table","table":{"table_width":4,"has_column_header":true,"has_row_header":false}}'
    headers: {}
    status_code: 200
version: 1
