interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_change_model_title
      (setup)", "text": {"content": "tests/test_orm.py::test_change_model_title (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"3985503b-297f-41b7-9206-f463ff665e9f","cover":null,"icon":null,"created_time":"2024-04-07T02:01:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2024-04-07T02:01:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_change_model_title
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_change_model_title
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Due
      Date":{"id":"%3CRFs","name":"Due Date","type":"date","date":{}},"Index":{"id":"Ftnq","name":"Index","type":"number","number":{"format":"number"}},"Notes":{"id":"H%40d%3E","name":"Notes","type":"rich_text","rich_text":{}},"Tags":{"id":"OJdg","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Complete":{"id":"%7C%3EN%7B","name":"Complete","type":"checkbox","checkbox":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/3985503b297f41b79206f463ff665e9f","public_url":null,"archived":false,"in_trash":false,"request_id":"77a29d61-28e8-49b7-831a-55910a3a6a6d"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "3985503b-297f-41b7-9206-f463ff665e9f"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"55b27609-8b7d-4997-80e6-ff449eb5e4bc","created_time":"2024-04-07T02:01:00.000Z","last_edited_time":"2024-04-07T02:01:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"3985503b-297f-41b7-9206-f463ff665e9f"},"archived":false,"in_trash":false,"properties":{"Due
      Date":{"id":"%3CRFs","type":"date","date":null},"Index":{"id":"Ftnq","type":"number","number":null},"Notes":{"id":"H%40d%3E","type":"rich_text","rich_text":[]},"Tags":{"id":"OJdg","type":"multi_select","multi_select":[]},"Complete":{"id":"%7C%3EN%7B","type":"checkbox","checkbox":false},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/55b276098b7d499780e6ff449eb5e4bc","public_url":null,"request_id":"255e08c3-f81a-45bd-9593-5d01c403f81d"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/55b276098b7d499780e6ff449eb5e4bc
  response:
    content: '{"object":"page","id":"55b27609-8b7d-4997-80e6-ff449eb5e4bc","created_time":"2024-04-07[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/3985503b-297f-41b7-9206-f463ff665e9f
  response:
    content: '{"object":"block","id":"3985503b-297f-41b7-9206-f463ff665e9f","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-04-07T02:01:00.000Z","last_edited_time":"2024-04-07T02:01:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_change_model_title
      (setup)"},"request_id":"63b60af1-9e57-4cc2-af3a-d9600d6edb8f"}'
    headers: {}
    status_code: 200
version: 1
