interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_icon (setup)",
      "text": {"content": "tests/test_orm.py::test_orm_icon (setup)"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Index": {"type": "number", "number":
      {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text": {}}, "Complete":
      {"type": "checkbox", "checkbox": {}}, "Due Date": {"type": "date", "date": {}},
      "Tags": {"type": "multi_select", "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"5cc11ab2-b0fe-4d08-8c7e-4f34a21a1628","cover":null,"icon":null,"created_time":"2022-12-31T16:49:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-31T16:49:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_icon
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_icon
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Index":{"id":"%40IM%3F","name":"Index","type":"number","number":{"format":"number"}},"Notes":{"id":"LPe%60","name":"Notes","type":"rich_text","rich_text":{}},"Due
      Date":{"id":"U%60%3DF","name":"Due Date","type":"date","date":{}},"Tags":{"id":"fORo","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Complete":{"id":"w%5EDL","name":"Complete","type":"checkbox","checkbox":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/5cc11ab2b0fe4d088c7e4f34a21a1628","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "5cc11ab2-b0fe-4d08-8c7e-4f34a21a1628"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"fef763e0-022b-4aa2-9357-0953d0d42a22","created_time":"2022-12-31T16:49:00.000Z","last_edited_time":"2022-12-31T16:49:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"5cc11ab2-b0fe-4d08-8c7e-4f34a21a1628"},"archived":false,"properties":{"Index":{"id":"%40IM%3F","type":"number","number":null},"Notes":{"id":"LPe%60","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"U%60%3DF","type":"date","date":null},"Tags":{"id":"fORo","type":"multi_select","multi_select":[]},"Complete":{"id":"w%5EDL","type":"checkbox","checkbox":false},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/fef763e0022b4aa293570953d0d42a22"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83c\udf54"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/fef763e0022b4aa293570953d0d42a22
  response:
    content: "{\"object\":\"page\",\"id\":\"fef763e0-022b-4aa2-9357-0953d0d42a22\",\"created_time\":\"2022-12-31T16:49:00.000Z\",\"last_edited_time\":\"2022-12-31T16:49:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F354\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"5cc11ab2-b0fe-4d08-8c7e-4f34a21a1628\"},\"archived\":false,\"properties\":{\"Index\":{\"id\":\"%40IM%3F\",\"type\":\"number\",\"number\":null},\"Notes\":{\"id\":\"LPe%60\",\"type\":\"rich_text\",\"rich_text\":[]},\"Due
      Date\":{\"id\":\"U%60%3DF\",\"type\":\"date\",\"date\":null},\"Tags\":{\"id\":\"fORo\",\"type\":\"multi_select\",\"multi_select\":[]},\"Complete\":{\"id\":\"w%5EDL\",\"type\":\"checkbox\",\"checkbox\":false},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[]}},\"url\":\"https://www.notion.so/fef763e0022b4aa293570953d0d42a22\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/5cc11ab2-b0fe-4d08-8c7e-4f34a21a1628
  response:
    content: '{"object":"block","id":"5cc11ab2-b0fe-4d08-8c7e-4f34a21a1628","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-31T16:49:00.000Z","last_edited_time":"2022-12-31T16:49:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_icon
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
