interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "42faa3d6-2b2e-46e8-8565-481c52fcd553"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_icon (setup)",
      "text": {"content": "tests/test_orm.py::test_orm_icon (setup)"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Index": {"type": "number", "number":
      {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text": {}}, "Complete":
      {"type": "checkbox", "checkbox": {}}, "Due Date": {"type": "date", "date": {}},
      "Tags": {"type": "multi_select", "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"db5e1a5c-13dd-421b-92e8-c4657c3cdd1a","cover":null,"icon":null,"created_time":"2022-12-19T22:11:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-19T22:11:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_icon
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_icon
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Due
      Date":{"id":"%3EL%5Eo","name":"Due Date","type":"date","date":{}},"Complete":{"id":"Oc%5Du","name":"Complete","type":"checkbox","checkbox":{}},"Tags":{"id":"YGdc","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Index":{"id":"%5BIo%3D","name":"Index","type":"number","number":{"format":"number"}},"Notes":{"id":"kefV","name":"Notes","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"url":"https://www.notion.so/db5e1a5c13dd421b92e8c4657c3cdd1a","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "db5e1a5c-13dd-421b-92e8-c4657c3cdd1a"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"7a07808c-e650-440e-9871-59804d19f787","created_time":"2022-12-19T22:11:00.000Z","last_edited_time":"2022-12-19T22:11:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"db5e1a5c-13dd-421b-92e8-c4657c3cdd1a"},"archived":false,"properties":{"Due
      Date":{"id":"%3EL%5Eo","type":"date","date":null},"Complete":{"id":"Oc%5Du","type":"checkbox","checkbox":false},"Tags":{"id":"YGdc","type":"multi_select","multi_select":[]},"Index":{"id":"%5BIo%3D","type":"number","number":null},"Notes":{"id":"kefV","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/7a07808ce650440e987159804d19f787"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83c\udf54"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/7a07808ce650440e987159804d19f787
  response:
    content: "{\"object\":\"page\",\"id\":\"7a07808c-e650-440e-9871-59804d19f787\",\"created_time\":\"2022-12-19T22:11:00.000Z\",\"last_edited_time\":\"2022-12-19T22:11:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F354\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"db5e1a5c-13dd-421b-92e8-c4657c3cdd1a\"},\"archived\":false,\"properties\":{\"Due
      Date\":{\"id\":\"%3EL%5Eo\",\"type\":\"date\",\"date\":null},\"Complete\":{\"id\":\"Oc%5Du\",\"type\":\"checkbox\",\"checkbox\":false},\"Tags\":{\"id\":\"YGdc\",\"type\":\"multi_select\",\"multi_select\":[]},\"Index\":{\"id\":\"%5BIo%3D\",\"type\":\"number\",\"number\":null},\"Notes\":{\"id\":\"kefV\",\"type\":\"rich_text\",\"rich_text\":[]},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[]}},\"url\":\"https://www.notion.so/7a07808ce650440e987159804d19f787\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/db5e1a5c13dd421b92e8c4657c3cdd1a
  response:
    content: '{"object":"block","id":"db5e1a5c-13dd-421b-92e8-c4657c3cdd1a","parent":{"type":"page_id","page_id":"42faa3d6-2b2e-46e8-8565-481c52fcd553"},"created_time":"2022-12-19T22:11:00.000Z","last_edited_time":"2022-12-19T22:11:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_icon
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
