interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_query
      (setup)", "text": {"content": "tests/test_orm.py::test_orm_query (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"92e92e0d-7f3d-4f59-ab5e-a8d8247af614","cover":null,"icon":null,"created_time":"2022-12-12T04:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-12T04:07:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_query
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_query
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Due
      Date":{"id":"GCzi","name":"Due Date","type":"date","date":{}},"Notes":{"id":"PIQM","name":"Notes","type":"rich_text","rich_text":{}},"Tags":{"id":"fNW%5E","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Complete":{"id":"glx%3A","name":"Complete","type":"checkbox","checkbox":{}},"Index":{"id":"m%5E%7DJ","name":"Index","type":"number","number":{"format":"number"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/92e92e0d7f3d4f59ab5ea8d8247af614","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "92e92e0d-7f3d-4f59-ab5e-a8d8247af614"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"68de0a3d-aaad-4095-afd4-6ca8fef610dd","created_time":"2022-12-12T04:07:00.000Z","last_edited_time":"2022-12-12T04:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"92e92e0d-7f3d-4f59-ab5e-a8d8247af614"},"archived":false,"properties":{"Due
      Date":{"id":"GCzi","type":"date","date":null},"Notes":{"id":"PIQM","type":"rich_text","rich_text":[]},"Tags":{"id":"fNW%5E","type":"multi_select","multi_select":[]},"Complete":{"id":"glx%3A","type":"checkbox","checkbox":false},"Index":{"id":"m%5E%7DJ","type":"number","number":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/68de0a3daaad4095afd46ca8fef610dd"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Needle", "text": {"content": "Needle"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/68de0a3daaad4095afd46ca8fef610dd
  response:
    content: '{"object":"page","id":"68de0a3d-aaad-4095-afd4-6ca8fef610dd","created_time":"2022-12-[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/92e92e0d-7f3d-4f59-ab5e-a8d8247af614/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"68de0a3d-aaad-4095-afd4-6ca8fef610dd","created_time":"2022-12-12T04:07:00.000Z","last_edited_time":"2022-12-12T04:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"92e92e0d-7f3d-4f59-ab5e-a8d8247af614"},"archived":false,"properties":{"Due
      Date":{"id":"GCzi","type":"date","date":null},"Notes":{"id":"PIQM","type":"rich_text","rich_text":[]},"Tags":{"id":"fNW%5E","type":"multi_select","multi_select":[]},"Complete":{"id":"glx%3A","type":"checkbox","checkbox":false},"Index":{"id":"m%5E%7DJ","type":"number","number":null},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Needle","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Needle","href":null}]}},"url":"https://www.notion.so/Needle-68de0a3daaad4095afd46ca8fef610dd"}],"next_cursor":null,"has_more":false,"type":"page","page":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/92e92e0d7f3d4f59ab5ea8d8247af614
  response:
    content: '{"object":"block","id":"92e92e0d-7f3d-4f59-ab5e-a8d8247af614","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-12T04:07:00.000Z","last_edited_time":"2022-12-12T04:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_query
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
