interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_change_model_title
      (setup)", "text": {"content": "tests/test_orm.py::test_change_model_title (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"3673d1f9-a1f5-49ad-bd6e-2ea73b47c510","cover":null,"icon":null,"created_time":"2022-12-31T19:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-31T19:19:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_change_model_title
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_change_model_title
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Complete":{"id":"%3CYkf","name":"Complete","type":"checkbox","checkbox":{}},"Notes":{"id":"XH%3Cx","name":"Notes","type":"rich_text","rich_text":{}},"Index":{"id":"Zz%3Ee","name":"Index","type":"number","number":{"format":"number"}},"Tags":{"id":"kE%5DA","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Due
      Date":{"id":"rhKe","name":"Due Date","type":"date","date":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/3673d1f9a1f549adbd6e2ea73b47c510","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "3673d1f9-a1f5-49ad-bd6e-2ea73b47c510"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"846045f0-3171-4e96-a661-fdd55c3cc034","created_time":"2022-12-31T19:19:00.000Z","last_edited_time":"2022-12-31T19:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"3673d1f9-a1f5-49ad-bd6e-2ea73b47c510"},"archived":false,"properties":{"Complete":{"id":"%3CYkf","type":"checkbox","checkbox":false},"Notes":{"id":"XH%3Cx","type":"rich_text","rich_text":[]},"Index":{"id":"Zz%3Ee","type":"number","number":null},"Tags":{"id":"kE%5DA","type":"multi_select","multi_select":[]},"Due
      Date":{"id":"rhKe","type":"date","date":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/846045f031714e96a661fdd55c3cc034"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/846045f031714e96a661fdd55c3cc034
  response:
    content: '{"object":"page","id":"846045f0-3171-4e96-a661-fdd55c3cc034","created_time":"2022-12-31[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/3673d1f9-a1f5-49ad-bd6e-2ea73b47c510
  response:
    content: '{"object":"block","id":"3673d1f9-a1f5-49ad-bd6e-2ea73b47c510","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-31T19:19:00.000Z","last_edited_time":"2022-12-31T19:19:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_change_model_title
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
