interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_change_model_title
      (setup)", "text": {"content": "tests/test_orm.py::test_change_model_title (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"90b5617f-1769-4c58-a6d4-35b9de501bd3","cover":null,"icon":null,"created_time":"2022-12-23T04:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-23T04:50:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_change_model_title
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_change_model_title
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Complete":{"id":"%3Dj%3B%3D","name":"Complete","type":"checkbox","checkbox":{}},"Due
      Date":{"id":"GvCk","name":"Due Date","type":"date","date":{}},"Tags":{"id":"NOos","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Notes":{"id":"nAim","name":"Notes","type":"rich_text","rich_text":{}},"Index":{"id":"o%7Bws","name":"Index","type":"number","number":{"format":"number"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/90b5617f17694c58a6d435b9de501bd3","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "90b5617f-1769-4c58-a6d4-35b9de501bd3"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"918a4f35-4162-4d7d-8447-fc1ddb12632a","created_time":"2022-12-23T04:50:00.000Z","last_edited_time":"2022-12-23T04:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"90b5617f-1769-4c58-a6d4-35b9de501bd3"},"archived":false,"properties":{"Complete":{"id":"%3Dj%3B%3D","type":"checkbox","checkbox":false},"Due
      Date":{"id":"GvCk","type":"date","date":null},"Tags":{"id":"NOos","type":"multi_select","multi_select":[]},"Notes":{"id":"nAim","type":"rich_text","rich_text":[]},"Index":{"id":"o%7Bws","type":"number","number":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/918a4f3541624d7d8447fc1ddb12632a"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/918a4f3541624d7d8447fc1ddb12632a
  response:
    content: '{"object":"page","id":"918a4f35-4162-4d7d-8447-fc1ddb12632a","created_time":"2022-12-23[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/90b5617f-1769-4c58-a6d4-35b9de501bd3
  response:
    content: '{"object":"block","id":"90b5617f-1769-4c58-a6d4-35b9de501bd3","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-23T04:50:00.000Z","last_edited_time":"2022-12-23T04:50:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_change_model_title
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
