interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_simple_model_with_children
      (setup)", "text": {"content": "tests/test_orm.py::test_simple_model_with_children
      (setup)"}}], "properties": {"Name": {"type": "title", "title": {}}, "Index":
      {"type": "number", "number": {"format": "number"}}, "Notes": {"type": "rich_text",
      "rich_text": {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date":
      {"type": "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"633cf936-a178-4e55-9410-1b129eac7a21","cover":null,"icon":null,"created_time":"2022-12-14T04:25:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-12-14T04:25:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_simple_model_with_children
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_simple_model_with_children
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"%3CYkR","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Index":{"id":"Cd%40%5D","name":"Index","type":"number","number":{"format":"number"}},"Complete":{"id":"OF%3A%7D","name":"Complete","type":"checkbox","checkbox":{}},"Notes":{"id":"r%3Ew%3F","name":"Notes","type":"rich_text","rich_text":{}},"Due
      Date":{"id":"wM%3De","name":"Due Date","type":"date","date":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/633cf936a1784e5594101b129eac7a21","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "633cf936-a178-4e55-9410-1b129eac7a21"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"d39c7dd9-2a69-4db5-9da9-0ba47dc24f4f","created_time":"2022-12-14T04:25:00.000Z","last_edited_time":"2022-12-14T04:25:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"633cf936-a178-4e55-9410-1b129eac7a21"},"archived":false,"properties":{"Tags":{"id":"%3CYkR","type":"multi_select","multi_select":[]},"Index":{"id":"Cd%40%5D","type":"number","number":null},"Complete":{"id":"OF%3A%7D","type":"checkbox","checkbox":false},"Notes":{"id":"r%3Ew%3F","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"wM%3De","type":"date","date":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/d39c7dd92a694db59da90ba47dc24f4f"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/d39c7dd92a694db59da90ba47dc24f4f
  response:
    content: '{"object":"page","id":"d39c7dd9-2a69-4db5-9da9-0ba47dc24f4f","created_time":"2022-12-14[...]
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "archived": false, "heading_1": {"rich_text": [{"type": "text", "plain_text":
      "New Business", "text": {"content": "New Business"}}], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/d39c7dd92a694db59da90ba47dc24f4f/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"26d78db3-17f4-4f92-bdf2-4f50d7b17bf3","parent":{"type":"page_id","page_id":"d39c7dd9-2a69-4db5-9da9-0ba47dc24f4f"},"created_time":"2022-12-14T04:25:00.000Z","last_edited_time":"2022-12-14T04:25:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"New
      Business","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      Business","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/d39c7dd92a694db59da90ba47dc24f4f/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"26d78db3-17f4-4f92-bdf2-4f50d7b17bf3","parent":{"type":"page_id","page_id":"d39c7dd9-2a69-4db5-9da9-0ba47dc24f4f"},"created_time":"2022-12-14T04:25:00.000Z","last_edited_time":"2022-12-14T04:25:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"New
      Business","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      Business","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/633cf936a1784e5594101b129eac7a21
  response:
    content: '{"object":"block","id":"633cf936-a178-4e55-9410-1b129eac7a21","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-12-14T04:25:00.000Z","last_edited_time":"2022-12-14T04:25:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_simple_model_with_children
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
