interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_query
      (setup)", "text": {"content": "tests/test_orm.py::test_orm_query (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"8e448307-00be-4a34-9de5-09fb890f088d","cover":null,"icon":null,"created_time":"2024-05-04T14:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2024-05-04T14:07:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_query
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_query
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"A%7CKc","name":"Notes","type":"rich_text","rich_text":{}},"Due
      Date":{"id":"Ckq%7C","name":"Due Date","type":"date","date":{}},"Tags":{"id":"Z%7Cle","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Complete":{"id":"c%3DJz","name":"Complete","type":"checkbox","checkbox":{}},"Index":{"id":"nr%5Cj","name":"Index","type":"number","number":{"format":"number"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/8e44830700be4a349de509fb890f088d","public_url":null,"archived":false,"in_trash":false,"request_id":"b224ce57-0fde-454c-a279-4c1311bb76e3"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "8e448307-00be-4a34-9de5-09fb890f088d"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3c7429ad-320b-4332-b3c5-9eec91ec048e","created_time":"2024-05-04T14:07:00.000Z","last_edited_time":"2024-05-04T14:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"8e448307-00be-4a34-9de5-09fb890f088d"},"archived":false,"in_trash":false,"properties":{"Notes":{"id":"A%7CKc","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"Ckq%7C","type":"date","date":null},"Tags":{"id":"Z%7Cle","type":"multi_select","multi_select":[]},"Complete":{"id":"c%3DJz","type":"checkbox","checkbox":false},"Index":{"id":"nr%5Cj","type":"number","number":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/3c7429ad320b4332b3c59eec91ec048e","public_url":null,"request_id":"b7e4e73e-a4bd-4836-9382-168e95a64d44"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Needle", "text": {"content": "Needle"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/3c7429ad320b4332b3c59eec91ec048e
  response:
    content: '{"object":"page","id":"3c7429ad-320b-4332-b3c5-9eec91ec048e","created_time":"2024-05-[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/8e448307-00be-4a34-9de5-09fb890f088d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3c7429ad-320b-4332-b3c5-9eec91ec048e","created_time":"2024-05-04T14:07:00.000Z","last_edited_time":"2024-05-04T14:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"8e448307-00be-4a34-9de5-09fb890f088d"},"archived":false,"in_trash":false,"properties":{"Notes":{"id":"A%7CKc","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"Ckq%7C","type":"date","date":null},"Tags":{"id":"Z%7Cle","type":"multi_select","multi_select":[]},"Complete":{"id":"c%3DJz","type":"checkbox","checkbox":false},"Index":{"id":"nr%5Cj","type":"number","number":null},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Needle","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Needle","href":null}]}},"url":"https://www.notion.so/Needle-3c7429ad320b4332b3c59eec91ec048e","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"44b9f90c-0cdb-4b74-b792-6dad57d67618"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/8e448307-00be-4a34-9de5-09fb890f088d
  response:
    content: '{"object":"block","id":"8e448307-00be-4a34-9de5-09fb890f088d","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2024-05-04T14:07:00.000Z","last_edited_time":"2024-05-04T14:07:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_query
      (setup)"},"request_id":"b3add787-eb40-455c-be8a-337b10300164"}'
    headers: {}
    status_code: 200
version: 1
