---
name: Publish Site Docs

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
      - name: Install Poetry
        uses: abatilo/actions-poetry@v2.2.0
      - run: poetry install
      - run: poetry run mkdocs gh-deploy
